[2022-10-23 19:33] fernandolucchesi commented on #1286
this solution won't work: https://nextjs.org/docs/going-to-production#caching
<img width="690" alt="image" src="https://user-images.githubusercontent.com/23337266/197414107-6bfb2caa-a57f-4c74-a34f-68727b551f57.png">

[2022-10-23 19:34] fernandolucchesi commented on #1286
@nilsml @SvSven what do you think we should do here?

[2022-10-23 19:35] fernandolucchesi commented on #1307
Ideally to be done with upgrading studio, since newest studio version has a search bar that removes the need for the experimental feature.

When upgrading studio we should downgrade rxjs to ^6, follow 🧵 : https://equinor.slack.com/archives/C01A4BGNRMJ/p1665678355962029

[2022-10-23 20:32] fernandolucchesi commented on #1318
Hi @SvSven, thought about a really simple solution that worked like a charm:
<img width="1097" alt="image" src="https://user-images.githubusercontent.com/23337266/197416793-b9bf673b-6ecc-4208-80e4-d8a847bea519.png">

maybe we should go with this instead of over-engineering? 😅

[2022-10-24 06:02] SvSven commented on #1318
I considered that, but have always been told that DOM selectors should be avoided in favor of using a `ref` in React 🤷‍♂️
The newsroom is also SSR, not sure if it would work there because of that?

Having a context in place for the pagination specifically might also not be a bad thing either since we can use it to store some other values as well; like the previous refinement (currently use a ref f

[2022-10-24 06:54] SvSven commented on #741
Looks good to me ✅

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/79e11e0d-964d-49f1-8aa8-4e310edf1793)

@meols @NickHaggerty1 strikethrough is a new formatting option that we haven't used before - is it needed anywhere else as well?

[2022-10-24 07:09] #1184 closed

[2022-10-24 09:21] SvSven opened #1329 "inform IE users that browser is not supported"
Internet Explorer is currently not supported on equinor.com - and the experience when trying to access equinor.com with IE11 is pretty shitty:

![image(1).png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/5d4a0905-ca54-43a0-ac83-8b6f37814258)

Despite IE officially no longer being supported, we still get the occasional visitor using IE (6235 in 2022 at the time of writing accordin

[2022-10-24 09:22] meols commented on #1304
@padms - any other clarifications I should track down before we can prioritize this task?

[2022-10-24 09:29] SvSven commented on #1329
Created a page with some basic styling informing users that their browser is not supported and to use a more up to date one.

It works on my end for localhost when trying to view the site using IE11

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/dfe25c05-d345-4378-b0c2-c3edd30be892)

[2022-10-24 10:56] SvSven commented on #1306
Hi @meols @NickHaggerty1

With this issue we are adding a change to how cards work with images; because a hero image is not a mandatory field in Sanity, we chose to not render cards for topic pages/magazine articles/news articles if said page does not have a hero image when we first added cards - since it would look very weird.

This issue adds functionality that if there is no hero image, it will

[2022-10-24 11:04] SvSven commented on #1286
Not sure I'm following - does this mean `unstable_revalidate()` does not work because we don't have proper caching set up for this on Radix?

[2022-10-24 11:07] SvSven commented on #1309
Left a comment in the code: https://github.com/equinor/energyvision/commit/f7f88cff79182a171c510c83232bba3d5e581345#comments

[2022-10-24 11:35] fernandolucchesi commented on #1318
Good point. If we are going with use context I believe the ref used should be the one from MagazineTagBar. Also, the context provider is exposing ref and setRef which are never being used, only defaultRef is being used

[2022-10-24 12:06] fernandolucchesi commented on #1322
Hi @bhavi25, left a comment

[2022-10-24 12:12] fernandolucchesi commented on #1309
I like the suggestion! Just refactored =)

[2022-10-24 13:19] SvSven commented on #1318
Ah yeah, I forgot to remove those - I had initially done it different with a pre-made context that included that setRef function; but then I would have had to put the ContextProvider 1 level up for it to work. I'll get rid of the unnecessary leftovers.

[2022-10-24 15:47] meols commented on #1302
@padms - please find the translation here: [https://app.zenhub.com/files/224120954/9fbf804a-a57a-448c-a3d3-782fe1a02ce6/download](https://app.zenhub.com/files/224120954/9fbf804a-a57a-448c-a3d3-782fe1a02ce6/download)

[2022-10-25 08:05] meols commented on #1302
@padms @fernandolucchesi - was the domain in place for this one, and shouldn't a redirect be set up for it? I didn't see a redirect in the Settings for the site.

[2022-10-25 10:22] SvSven commented on #1329
Right, forgot about the security headers. Should be fixed now.

[2022-10-25 10:41] fernandolucchesi commented on #1302
This is a dns redirect, so should be done in the code. That is also the reason why it is not working, because we need to deploy it and we are on a deployment freeze. Too risky to release it now since other issues would also be released together with this one.

[2022-10-25 11:49] meols commented on #1295
@fernandolucchesi - I have tested with this page - with some issues: https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/news;01fbe898-9f55-45f8-959e-8c0652d359ee
- Duplication worked
- It took 11-12 minutes for it to show in the news promotion on the front pages
- After 20 minutes it is still not visible on the Newsroom pages

Please look into this - this gives some

[2022-10-25 12:43] meols commented on #1302
@fernandolucchesi - thanks for reminding me - and of course agree to wait :smile:

[2022-10-25 15:01] meols commented on #1295
@fernandolucchesi - my test news are still not visible on the dev newsroom pages (after 3,5 hours). Are newsroom pages set up differently on dev - shouldn't they be visible there almost immediately?

[2022-10-26 07:40] SvSven commented on #1295
Hi @meols - the newsroom is dependent on Algolia data, and we don't automatically update that in the development environment; we need to do that manually, so that explains why it isn't showing in the newsroom.

The news promotion is (to me) the concerning one that we need to resolve.

[2022-10-26 11:09] meols commented on #1295
Thanks @SvSven

[2022-10-26 12:13] SvSven opened #1330 "display list of documents using selected tag in Studio"
Add the "connected routes" tab to the different tags in the Studio.

I needed a quick way to see which documents were using specific tags while working on something else, and noticed this tab was missing. Figured we should enable it for these documents since it adds value.

[2022-10-26 12:16] SvSven commented on #1330
@fernandolucchesi this is a minor thing, but I wanted to capture it in an issue so that we can include it in the release log

[2022-10-27 08:09] SvSven opened #1331 "integrate thumbnail functioanlity from Mux for video banner"
relates to #1133

[2022-10-27 11:50] padms commented on #628
@SvSven I see two different results for same event promotion configuration.  Test content here https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/topicContent;f2969c65-a7eb-4b3e-aef2-c8c9a00314be

[2022-10-27 11:53] padms commented on #1304
This would be a new endpoint for this category:
https://equinor.service-now.com/api/stasa/statoildotcomproject/ContactUs/e8139ed7db2a6200aa5ff1eabf961987/49f29a93dbb2ac10f42b2208059619a7

This will assign the ticket to the following CI: SWITCHBOARD IT, which will set Service Offering and Assignment Group(SERVICE DESK IT)

[2022-10-27 12:49] padms commented on #1330
Looks good to me, but Settings can be accessible only by editors but not sub-editors (who have access to local news, news, magazine and events ) so they cannot use this feature which might help them.

[2022-10-27 12:50] SvSven opened #1332 "fix Storybook CI task"
The Storybook GitHub Action currently does not work. Problem is with the upload task.
See: https://github.com/equinor/energyvision/actions/runs/3337486809/jobs/5523888891

[2022-10-27 14:01] fernandolucchesi commented on #610
https://equinor.service-now.com/selfservice?id=ticket&table=sc_req_item&sys_id=2b6823b5871ed590a9faa9383cbb3575

[2022-10-28 04:28] padms commented on #1304
@meols We are good to go

[2022-10-28 08:01] SvSven opened #1333 "use SWR for news promotion component"
Experiment with using the `useSWR` hook for the news promotion component to ensure we always have the latest up to date data from Sanity.

Relates to #1286 regarding the caching issue

https://swr.vercel.app

[2022-10-28 14:02] #1295 closed

[2022-10-31 09:07] SvSven opened #1335 "Experiment with Sanity Studio version 3"
The next big version of the Studio is "right around the corner" and currently available in developer preview. Some of our issues/feature requests have been pushed to v3 of the Studio.

We should try out the developer preview of v3 to see what has changed and try to get a feel for how difficult it will be to upgrade our project to it.

[2022-10-31 09:13] fernandolucchesi commented on #1305
https://equinor.service-now.com/nav_to.do?uri=sc_req_item.do%3Fsys_id=a38786a987b61150a9faa9383cbb3598

[2022-10-31 09:15] NickHaggerty1 commented on #1133
Hey, I see this is working well in the testing environment. Obviously depends on when we get the Mux contract in place. We would require some features on this banner that I dont think are in place now. Is this to card to add some acceptance criteria or will we work more on the video banner once we have Mux in place? Im thinking Autoplay (with a muted video) and Looping, would need to be options fo

[2022-10-31 09:20] SvSven opened #1336 "upgrade Sanity Studio"
We have some pending issues that should be fixed in the most recent version of the Studio according to Sanity.
It's been a while since we upgraded, so we should do that.

[2022-10-31 09:29] fernandolucchesi commented on #1336
related to #1307

[2022-10-31 09:29] SvSven commented on #1328
We currently use Azure Functions to act as a proxy for interacting with Fotoware where we can't do so from the client (authentication, CORS issue with fetching images) - we may be able to use that same approach for this.

The way I see it is that we need to register an integration that uses the API; we can still use the Select widget, but then when we get the "asset representation" we send that to

[2022-10-31 15:54] meols commented on #1304
Thanks @padms :smile:
@fernandolucchesi - can we please prioritize this (hopefully not to big) task?

[2022-11-01 09:48] nilsml commented on #1077
I think this should be prioritised, and would also add to create dashboard for monitoring the health of the different sites.

[2022-11-01 09:54] nilsml commented on #1077
We need to prioritise this issue. I think we should also create a dashboard for monitoring the health of our sites.

[2022-11-01 10:41] SvSven commented on #628
@padms preview should be fixed now

[2022-11-01 10:49] SvSven commented on #1318
@fernandolucchesi have removed the setter function and moved the ref to the magazine tag bar

[2022-11-01 11:02] padms commented on #628
@SvSven Preview error is fixed. But there are no cards when tag filters are not applied.

[2022-11-01 11:10] fernandolucchesi opened #1338 "Create Feature Request template"

[2022-11-01 15:47] #1128 closed

[2022-11-01 17:45] SvSven commented on #628
@padms The problem seemed to be that the promotion had event tags before, but were then removed - which meant that Sanity still had the `tags` array defined, but it was empty. Not the first time we've had that annoying problem.

Since GROQ doesn't seem to have a way of checking for length of the array, I added another toggle that the users will have to select in order to add a tag filter - that gi

[2022-11-02 06:38] #1293 closed

[2022-11-02 06:38] #1261 closed

[2022-11-02 07:06] SvSven commented on #1309
Looks good, it now also doesn't crash anymore with adblock enabled ✅

[2022-11-02 08:49] NickHaggerty1 opened #1339 "As editors we see a need to a simple image carousel component to communicate a image story or timeline"
## Acceptance criteria
1. Editor can add images (with same upload settings as Image component - fotoware/upload etc)
1. Size should display 2:1 same as default banner on topic page
1. Editor can add SVGs
1. Editor can Crop/hotspot on images
1. Editor can add optional image text per image added in same style as image component
1. Carousel should auto rotate, editor can set transition speed in secon

[2022-11-02 08:49] NickHaggerty1 commented on #1339
@meols fyi, and please add any acceptance criteria

[2022-11-02 08:56] fernandolucchesi commented on #1300
Webpack Bundle Analyser is setup correctly. Closing this.

[2022-11-02 08:56] #1300 closed

[2022-11-02 09:24] NickHaggerty1 opened #1340 "We would like to make some visual adjustments the news template ´feed´"
Particularly on desktop the news template ´news feed´ at the bottom of the page, the promo card display is quite large compared to our other promo cards. We would like to refine the presentation of these and also add some elements to make the content scrollable on desktop and mobile instead of stacking (on mobile)

**Acceptance Criteria:**
1. Reduce the column width promotion cards (currently its

[2022-11-02 11:39] fernandolucchesi commented on #1329
LGTM!

[2022-11-02 11:40] fernandolucchesi commented on #1322
LGTM!

[2022-11-02 11:41] fernandolucchesi commented on #1318
Noice! Looks good!

[2022-11-02 11:55] bhavi25 commented on #1322
@meols @NickHaggerty1 Can you please test this?
Magazine Tag bar in no more in between header components.

https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine/test1_magazine

[2022-11-02 11:57] #1309 closed

[2022-11-02 12:14] #1329 closed

[2022-11-02 12:14] #1319 closed

[2022-11-02 12:27] fernandolucchesi commented on #1138
@nilsml have you reviewed? Can we deploy this? @padms

[2022-11-02 13:08] meols opened #1343 "Update prompt text for unpublish"

[2022-11-02 13:10] meols commented on #1343
When editors want to unpublish a page, the prompt/warning text is a bit misleading. Can we please replace "delete" with "unpublish". ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/589acd81-79d5-4d0e-9880-5f9275e3e643)

[2022-11-02 13:16] NickHaggerty1 commented on #1322
@bhavi25 thanks. Looks good. One issue though, if the first component after the banner is set to have a coloured background the Title above it doesnt reflect that colour choice (as its not part of the component) so the colour extends a little behind the title. I have tested on the page you provided so please take a look... Is there a way an editor can adjust the colour/spacing behind the title als

[2022-11-02 13:22] SvSven commented on #1318
@meols @NickHaggerty1

You should not automatically scroll to the top of the list when navigating between pagination in the newsroom, search, and magazine index page

[2022-11-02 13:28] SvSven commented on #1331
We have a challenge here in that all of our images are set up to use a reference object from Sanity. The thumbnail we get from Mux is a string, so we either need to refactor the cards to handle both a reference object and a string (and make sure that the image is optimized correctly when using the string), or upload it to Sanity somehow.

[2022-11-02 13:49] NickHaggerty1 commented on #1318
@SvSven thanks, tested on the search in stage at least and looks great. I would say approved

[2022-11-02 14:28] meols commented on #1339
Looks good @NickHaggerty1 - nothing to add :smile:

[2022-11-02 14:38] meols commented on #741
Thanks @SvSven :thumbsup: Can we add this to the header title (H1) and also to all components where we have rich text titles (incl. hero title for 50-50 banner)? @NickHaggerty1 - any comments, or is this OK as per our discussion?

[2022-11-02 14:52] meols commented on #1330
Good idea @SvSven - and good comment @padms
So far I don't think we have any sub-editors, so I don't think we need to handle this for them (at this point at least)
Approved :smile:

[2022-11-03 10:43] NickHaggerty1 commented on #1306
@SvSven approved

[2022-11-03 10:44] NickHaggerty1 commented on #741
@meols @SvSven no additional comments from me

[2022-11-03 10:48] padms commented on #833
Safe to deploy as webhook for prod is not set up yet.

[2022-11-03 10:49] padms commented on #1138
Safe to deploy, webhook for prod is not setup yet

[2022-11-03 10:57] NickHaggerty1 commented on #1322
@meols @fernandolucchesi @bhavi25 I guess we could also create a bug for the above issue? And push the deploy with this card included? Dont want this issue to hold up getting the magazine changes published. It can be controlled / Managed by editors not selecting a background in the first text component. But should be looked at.

[2022-11-03 11:30] fernandolucchesi commented on #1307
Hi @millianapia! Changes look good, however, I can see that your `.prettierrc.js` configuration file is not being applied. That justifies the number of changes to the yarn.lock file and not add a new line at the end of the files on your changes:

![image](https://user-images.githubusercontent.com/23337266/199709662-299b3664-7c7f-4f94-be03-87cecf2a2431.png)
<img width="1032" alt="image" src="https:

[2022-11-03 12:48] NickHaggerty1 commented on #1340
![newsroom scroll.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/79c200f7-18f0-4c3f-b786-4df6453d414e)

[2022-11-03 13:23] fernandolucchesi commented on #1307
Looks good!

[2022-11-03 13:30] millianapia commented on #1307
@meols  @NickHaggerty1  Can you please test this?
Should be able to search for content in sanity:
https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/homePage;homepage-english

before:
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/21845545/199733671-3bf5cdf6-ddac-48a8-b6c6-74bb727b38e8.png">

how it should work:
![Screenshot 2022-11-02 a

[2022-11-03 13:39] SvSven opened #1344 "can't preview unpublished magazine articles with slug"
The preview for magazine articles does not work for unpublished articles that have a slug defined. It works fine for published articles as well as unpublished articles without a slug.

[2022-11-03 13:43] SvSven commented on #1344
@fernandolucchesi can you have a look?

[2022-11-03 14:31] millianapia commented on #1336
@meols @NickHaggerty1 can you also test this. Sanity was updated, and it should not have any breaking changes, just check that it still works as usual. It was updated due to #1307

[2022-11-03 14:50] padms commented on #741
@SvSven Small changes to allow these new options for all rich text titles.

[2022-11-03 15:08] nilsml opened #1345 "Replace deprecated code in GH actions"
Ref: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-11-03 15:12] nilsml commented on #1070
Not sure how to solve it with rollback. Depends on how many versions you want to go back. For now I believe we are keeping the last three versions.

Runbook probably needs to be updated still.

[2022-11-03 15:26] padms commented on #628
@SvSven Does not work now for Past events without tag filters.
Test content here https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/topicContent;f2969c65-a7eb-4b3e-aef2-c8c9a00314be

[2022-11-03 15:50] fernandolucchesi commented on #1322
Hi Nick, I thought this would be a requirement just for the magazineIndexPage, I will extend the functionality

[2022-11-04 08:09] SvSven commented on #741
@padms Looks good to me!

[2022-11-04 08:10] SvSven commented on #628
This issue is going to be the end of me 🙈

[2022-11-04 09:50] meols commented on #1336
@millianapia - haven't seen anything unusual, so if there's nothing specific to test this is OK

[2022-11-04 09:54] SvSven commented on #628
@padms I think everything should be working now? Looks like I missed adding the new `useTags` conditional for past events.

Everything looks to work here: https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/event-promotion

[2022-11-04 10:16] SvSven opened #1350 "upgrade to Next 13"
Next 13 has a lot of nice new features, we should upgrade 🎉

https://nextjs.org/blog/next-13

[2022-11-04 10:59] padms commented on #741
@meols New options enabled for all titles with rich text options.

[2022-11-04 12:57] SvSven commented on #1304
Left a comment about the catelog identifier. I'm not very familiar with the forms, but code wise it looks good I think?

[2022-11-04 13:39] padms commented on #628
@SvSven Perfect

[2022-11-04 13:44] SvSven commented on #1133
Getting a lot of errors when trying to browse for videos

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/5c627c70-e90b-4f3b-83d0-0271787c5ca2)

Looks to be related to the thumbnails from Mux - getting lots of 404's on Mux URLs as well.
Might be this is a network issue?

Getting a 404 error on the front end as well, with response:

[code]

I just randomly clicked a broke

[2022-11-04 13:59] nilsml opened #1351 "Plan activities for disaster recovery"
## Things to keep in mind
- Kan vi simulere at Sanity er nede? Hvem kontakter vi og hvordan?
- How can we know that Sanity's backup restoration works? Can we do simulations with them?
- Who to contact in Sanity? Should be in our contract.
- What happens if Sanity is down for a short period? Will pages be cashed? For how long?
- What kind of response time is to be expected by Sanity and internally?

[2022-11-04 13:59] SvSven commented on #628
@meols @NickHaggerty1 Tags! For events! Event tags! It's only taken 11 months 😅

You can test the tags for the event promotion here:

studio: https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/topicContent;fdd230ac-17f6-4f93-8d36-e486496047bc%2Ctype%3Dpage

web: https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/event-promotion

And you ca

[2022-11-04 14:27] nilsml opened #1352 "Provide html for backup site in Radix"
**In order to give the user a proper message when our pods are down, we need to come up with design/markup for a backup page**

This page will be shown whenever none of our pods for equinor.com are working

[2022-11-06 23:00] fernandolucchesi opened #1353 "Remove celticsea redirect to equinor.com"

[2022-11-07 06:10] #1305 closed

[2022-11-07 06:22] padms commented on #1304
@SvSven  The catalog identifier is same for all environments, so I hardcoded them

[2022-11-07 06:26] padms commented on #1292
For most customers, nothing will change. However, if you've previously been advised by Siteimprove to include our service's IP addresses to your allow list, you will now also need to add our new IP addresses. The new IP addresses are listed below.

Based on this, if someone can confirm that we were not asked by siteimprove to add the IP addresses, we can consider to close this issue.

[2022-11-07 08:53] #1243 closed

[2022-11-07 08:54] SvSven commented on #1304
@padms Makes sense, looks good to me ✅

[2022-11-07 09:02] #1302 closed

[2022-11-07 09:08] fernandolucchesi opened #1354 "Investigate the best way to flag upgrades"
If there is no good way, we probably should consider using branches for upgrades

[2022-11-07 09:18] SvSven opened #1355 "cleanup useNewsPromotion SWR code"
Relates to #1333

`useNewsPromotion` hook was created to bypass the caching issues we had, and disabled for the time being. If it turns out we don't want to re-enable this in the future we can safely remove the associated code.

[2022-11-07 09:18] SvSven commented on #1333
disabled for the time being, potentially permanently in favor of #1286

[2022-11-07 09:18] #1333 closed

[2022-11-07 09:19] fernandolucchesi commented on #1352
Duplicate of #1278 https://github.com/equinor/radix-platform/issues/747, I'll close the first one since this has better description

[2022-11-07 09:19] #1278 closed

[2022-11-07 09:19] fernandolucchesi commented on #1278
duplicated

[2022-11-07 09:20] fernandolucchesi commented on #1352
@NickHaggerty1

[2022-11-07 09:20] padms commented on #1304
@meols Added new option " Login issues". You can use this page to test https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/contact-equinor

[2022-11-07 09:28] fernandolucchesi opened #1357 "Create a nice and useful monitoring dashboard in Dynatrace"

[2022-11-07 10:06] NickHaggerty1 commented on #1352
@fernandolucchesi @nilsml
No idea on this...
Sizes?
Requirements?
Text?
Image?
And I assume you guys great the html?!

[2022-11-07 10:06] NickHaggerty1 commented on #1352
@fernandolucchesi @nilsml
No idea on this...
Sizes?
Requirements?
Text?
Image?
And I assume you guys great the html?!

[2022-11-07 10:14] nilsml commented on #1352
There is no specific requirements other than having a nice page with a message to the user.

Something in the lines of:

"It seems like we are having some issues with our site. Our deepest apologies! Please try again in a few minutes, and hopefully we have sorted out our problems by then" 🤷🏻‍♂️

[2022-11-07 10:21] NickHaggerty1 commented on #1352
Could you build in Sanity like 404 page, so editor adds image and text in? If so, cant we just base it on the 404 set up and we manually add the text and image?

Or is this something different?, if so, I would need answers for the other 4 questions...

[2022-11-07 10:21] fernandolucchesi opened #1358 "Allow crawling for Celtic Sea"
This was forgotten to be done during the launch of the website

[2022-11-07 10:25] fernandolucchesi commented on #1352
This is the page to be shown up when our website/infra is down. From what I can remember that was discussed during the disaster recovery meetings, there should be links to our social media communication channels, because in case of a black screen users would be able to find more information through these channels

[2022-11-07 10:26] fernandolucchesi commented on #1352
this shouldnt be a sanity page... is a page for when everything breaks (including sanity) 😬

[2022-11-07 10:29] fernandolucchesi commented on #1352
I think it should have a "Keep calm" message approach, more of a copywriting than design to be done here IMO. On the feature request to radix I explained a bit of the context:

Equinor.com is a business critical application. It might happen, as it has happened on the incident of 30th August, that the website has a downtime due to different reasons (azure, radix, our own code etc). With the current

[2022-11-07 11:19] SvSven commented on #1358
✅

[2022-11-07 11:57] NickHaggerty1 commented on #1352
![image.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/bf3dead1-0eee-452a-9f74-7bef4a9625cc)

[2022-11-07 11:59] NickHaggerty1 commented on #1352
Just to get the ball rolling here. Something like this?
Optional to have logo? Make it look a little more correct.
Suggestion on text.
As you mentioned above in the dialogue, provide links to some....

[2022-11-07 12:00] #1306 closed

[2022-11-07 12:01] #1318 closed

[2022-11-08 06:58] padms commented on #833
@Mette This can be tested now. Upon publishing ( new content or updates) news, local news, magazine, topic content, events or routes should be immediately visible on search, newsroom and magazine.
This can be tested on dev.

This also fixes the problem of dev content not visible on search unless some one from dev team manually update it.

[2022-11-08 07:03] padms commented on #1138
@Mette This also can be tested on dev. Content previously visible under search, newsroom or magazine index page should not be visible

- When news, magazine, local news , topic routes are unpublished or deleted.

- When content is updated with "exclude from search" option enabled when it was previously disabled

[2022-11-08 09:55] SvSven opened #1361 "upgrade CodeQL action to v2"
v1 is being deprecated 2022-12-07

https://github.blog/changelog/2022-04-27-code-scanning-deprecation-of-codeql-action-v1/

[2022-11-08 17:39] SvSven commented on #1345
@nilsml @fernandolucchesi ready for review - we can't really feature flag this, so it's in "production" so to say

[2022-11-09 07:22] SvSven opened #1363 "update GitHub Actions using deprecated node12"
These include at least actions/checkout and actions/setup-node

https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/

[2022-11-09 08:41] SvSven commented on #1338
Think the link in the description is wrong 😬
I'm assuming this is the feature request: https://github.com/equinor/energyvision/blob/main/.github/ISSUE_TEMPLATE/feature-request.md

Looks good enough to me - not sure what more we would need. I'm assuming this is mostly for external people to make feature requests, not COM?

[2022-11-09 08:43] SvSven commented on #1292
@meols see comment above

[2022-11-09 08:47] #1266 closed

[2022-11-09 08:47] #1330 closed

[2022-11-09 08:47] #1307 closed

[2022-11-09 08:47] #1336 closed

[2022-11-09 08:59] millianapia opened #1364 "Upgrade Next Image components to newest"
When we upgraded to next 13, we put the next image component import as `'next/legacy/image'` to not create any breaking changes. Each mention of the image component should to be upgraded to next/image so we can use the newest image functionalities in next 13

[2022-11-09 13:18] SvSven opened #1365 "fix check-code CodeQL warnings for web & studio"
We're getting some warnings in the check-code action in the CI. We should have a look at them and fix the ones we can (e.g. unused imports, unexpected any, etc).

[2022-11-09 13:31] SvSven opened #1366 "fix padding on search button in topbar"
The padding around the icon for the search button in the topbar is not correct:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/0d52b440-8b00-489d-b5fb-0350e27fe335)

The padding should look like this according to EDS:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/65993a7f-5d8e-49ca-9214-3b168420f462)

https://eds-storybook-react.azurewebsi

[2022-11-09 13:35] meols commented on #1304
Thanks @padms - looks great :thumbsup:
I didn't receive an email (Equinor or private email). Should I expect that when in test/dev,, and have we confirmed that tests are received by the correct assignment group?

[2022-11-09 13:35] meols commented on #1304
Thanks @padms - looks great :thumbsup:
I didn't receive an email (Equinor or private email). Should I expect that when in test/dev,, and have we confirmed that tests are received by the correct assignment group?

[2022-11-09 13:35] meols commented on #1304
Thanks @padms - looks great :thumbsup:
I didn't receive an email (Equinor or private email). Should I expect that when in test/dev,, and have we confirmed that tests are received by the correct assignment group?

[2022-11-09 13:51] padms commented on #1304
@meols Yes, I could verify it was assigned to service desk it ![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/f9038945-85e5-4e4a-abbe-2af8176ef6ba)

[2022-11-09 14:30] meols commented on #1304
Great @padms - then this is approved and moved :smile:

[2022-11-09 14:37] meols commented on #628
Thanks @SvSven - great, fantastic, amazing and approved - and you can now stop dreaming about event tags in nightmares :smile:

[2022-11-09 14:37] meols commented on #628
Thanks @SvSven - great, fantastic, amazing and approved - and you can now stop dreaming about event tags in nightmares :smile:

[2022-11-09 14:53] meols commented on #833
@padms - this doesn't seem to work as expected. ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/15960bc7-0b2f-4e66-b8a1-7939297cc077)

[2022-11-09 14:59] SvSven opened #1367 "fix duplicate route indexing in search"
Because of our routing system in Sanity, some routes may get indexed in Algolia multiple times whenever the referenced topic content gets changed. This is because the `objectID` used in Algolia is based on both the route document ID and its referenced content. One of the pages where this can and has happened is the homepage, since the editors will prepare a new topic content to use as homepage ahe

[2022-11-09 15:23] meols commented on #833
@padms - when testing updates on the title of a topic page the English was visible in search immediately, but the Norwegian is still not visible after 24 minutes![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/c3b85935-f955-4684-b5fc-32c970611459)

[2022-11-09 15:35] meols commented on #833
For English event, title update wasn't visible in search after 6 minutes ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/4ba30b0c-f8b5-41e8-94d1-7f635bc4fb2c)

[2022-11-10 07:46] NickHaggerty1 opened #1368 "Link changes for preview mode"
When sending a preview link to a client for an unpublished page... When editor copies the link for preview (blue button) - correct link - is produced. When the editor copies in the link to a browser to check its correct, the link in the browser changes:

**Correct link:**
https://web-equinor-web-sites-prod.c2.radix.equinor.com/api/preview?secret=jlskdjfkj4323lk4jlkjlksdf&id=drafts.2e8cd5bb-2493-49

[2022-11-10 07:46] NickHaggerty1 commented on #1368
@meols FYI

[2022-11-10 10:00] millianapia opened #1369 "Rewrite how we use Next/link to avoid using LegacyBehaviour"
When upgrading to next 13, we added LegacyBehaviour on each NextLink so we could continue to pass <a>-links that are styled inside of the nextlinks without triggering an error. This needs to be rewritten in the future, adding LegacyBehaviour gives us some time.

[2022-11-10 11:27] SvSven commented on #1080
@nilsml @fernandolucchesi @padms @millianapia @bhavi25

I have updated the following readme files:

- main: https://github.com/equinor/energyvision/blob/main/README.md
- web: https://github.com/equinor/energyvision/blob/main/web/README.md
- studio: https://github.com/equinor/energyvision/blob/main/studio/README.md
- legacy: https://github.com/equinor/energyvision/tree/main/legacy/README.md

Don't

[2022-11-10 12:22] millianapia commented on #1366
its on the closing button too

![Screenshot 2022-11-10 at 13 22 28](https://user-images.githubusercontent.com/21845545/201090558-9517f805-4d0d-436b-9a27-4b690ad86f0c.png)

[2022-11-10 12:35] SvSven opened #1371 "fix alignment of promotion cards"
For certain screen sizes, the event promotion cards are aligned to the left even when there are less than 3 cards being rendered.

See example below:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/73656d02-0e62-446d-a670-08f7a69049a4)

We should fix this so that the cards are always center aligned regardless of the number of cards.

[2022-11-10 12:36] SvSven commented on #1371
Problem is visible on this page https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/event-promotion

[2022-11-10 13:44] SvSven commented on #1365
@equinor/envis-devs fixed a number of different warnings that were popping up from the `check-code` action. Unfortunately that action ignores the `@typescript-eslint/no-explicit-any` comments, so it will keep showing this warning in a number of places where we can't or don't want to add explicit types

[2022-11-11 09:47] NickHaggerty1 opened #1372 "As editors we see a need to promote images when using the Accordion component for CVs"
## Acceptance criteria
1. Add an optional image component to Accordion component
1. Design / sizing / options would be based on the Quote component image options
1. Image would need to appear first in order (image / title / ingress / accordion element)

[2022-11-11 09:47] NickHaggerty1 commented on #1372
![image-to-accordion.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/f6428192-fc20-4bc7-91e7-9b6010726bde)

[2022-11-11 10:01] NickHaggerty1 opened #1373 "As editors we would like to use a horizontal scroll for our promotion components on desktop and mobile to promote more content and take up less vertical real estate"
## Acceptance criteria
1. Optional horizontal scroll option for all Promotion component options (NEWS / PEOPLE / TOPIC / MAGAZINE / EVENTS)
1. Also should be used for NEWS article template newsfeed (at bottom of the page) #1340
1. Horizontal should work on all devices / screen sizes.
1. Explore whether same implementation should apply to PROMO TILES components....
1. Discussion/meeting required on

[2022-11-11 12:37] NickHaggerty1 commented on #741
@meols @SvSven @padms One issue I notice is that we dont have a rich text title on the PROMO Tile component. I know this is set up a little differently but it would be good to have the same options there too. I suggest we capture that in a separate card.

[2022-11-11 14:15] millianapia commented on #1080
Looks very good!

[2022-11-11 14:20] fernandolucchesi opened #1374 "Refactor how news and localNews are fetched"
The way news is currently being fetched is not optimal because it always require an extra check and additional logic to manipulate the news data.

We should standardise the way different documents are fetched to simplify our code and make it easier to understand.

[2022-11-11 15:00] padms commented on #833
@meols Please test now.

[2022-11-14 09:12] #1361 closed

[2022-11-14 09:14] #1363 closed

[2022-11-14 09:31] nilsml commented on #833
Let's have a small workshop do make sure we are covering all scenarios

[2022-11-14 09:50] #1252 closed

[2022-11-14 11:48] meols opened #1376 "Bug when updating time/date on an event page"

[2022-11-14 11:49] meols commented on #1376
When changing the time from 16:30 to 16:15 (on a published event page for the autumn conference), the new time (and date) disappears when changing to Norwegian, and the updated Norwegian time/date changes when changing back to English. But if we publish the English page and then change to Norwegian and publish that it works as expected.

[2022-11-15 07:52] padms opened #1377 "Rich text title for promotile component."
Title for Promo tile component should have rich text options.

[2022-11-15 07:53] padms commented on #741
Created #1377 for promo tile.

[2022-11-15 08:50] SvSven commented on #1366
Looks good to ✅

[2022-11-15 08:55] nilsml commented on #1251
Can we move this to acceptance @fernandolucchesi ?

[2022-11-15 09:09] SvSven commented on #1323
Currently the internal link can only reference documents of the same language. We should have an additional option that allows for cross-language referencing.

[2022-11-15 09:13] SvSven commented on #1197
Is this captured by #1138?

[2022-11-15 09:15] SvSven commented on #1006
Not sure if this is still needed

[2022-11-15 09:15] SvSven commented on #915
Relates to #896

[2022-11-15 09:21] SvSven commented on #1219
All relevant files will have a news article or other page attached which is indexed, this is not needed

[2022-11-15 09:21] #1219 closed

[2022-11-15 09:27] SvSven commented on #1311
Main question is where to place it in the layout, which column width should it follow

[2022-11-15 09:29] #1214 closed

[2022-11-15 09:32] SvSven commented on #1282
## Things to keep in mind
- Kan vi simulere at Sanity er nede? Hvem kontakter vi og hvordan?
- How can we know that Sanity's backup restoration works? Can we do simulations with them?
- Who to contact in Sanity? Should be in our contract.
- What happens if Sanity is down for a short period? Will pages be cashed? For how long?
- What kind of response time is to be expected by Sanity and internally?

[2022-11-15 09:32] #1351 closed

[2022-11-15 09:33] SvSven commented on #1352
Looks beautiful ♥

[2022-11-15 09:35] SvSven commented on #1224
Maybe Next13 made it easier?

[2022-11-15 09:37] SvSven commented on #1372
Should not be in the accordion content, but with the title and ingress

[2022-11-15 09:40] SvSven commented on #1312
Relates to #1373

[2022-11-15 10:58] millianapia commented on #1374
Looks good! love the refactoring, easier to follow how it is fetched

[2022-11-15 11:14] millianapia commented on #1366
can either @meols or @NickHaggerty1 verify if the buttons looks good and centered?

[2022-11-15 11:17] millianapia commented on #1371
super weird, will look at that

[2022-11-15 11:45] millianapia commented on #1371
@SvSven should be working correctly now

[2022-11-15 11:48] NickHaggerty1 commented on #1366
@millianapia Thanks Malin Looks good on both. Approved. Good catch on seeing this too.. FYI @SvSven

[2022-11-15 12:34] SvSven commented on #1376
Seems like you don't have to change anything in the time - just switching between the different languages seems to reset the date and time fields to blank...

[2022-11-16 08:27] SvSven commented on #1371
That fixed it, yes! However the cards are no longer all the same size 🤔 I remember having issues with that before as well; not sure how we ended up fixing it.

@NickHaggerty1 what do you think? This page has a bunch of event promotion cards to test with: https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/event-promotion

[2022-11-16 09:35] #1344 closed

[2022-11-16 10:15] SvSven commented on #1376
@fernandolucchesi @padms @millianapia

Should be fixed now, can't really feature flag it but everything looks to work again

[2022-11-16 10:18] #1080 closed

[2022-11-16 10:21] #1345 closed

[2022-11-16 10:29] NickHaggerty1 commented on #1371
@SvSven looks good to me... One small issue I noticed, on Safari browser and full screen, the CTA buttons increase in height. This does not happen on chrome![Screenshot 2022-11-16 at 11.11.50.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/f4f3ffaa-5679-47ad-aea8-313b30cc3f41).

[2022-11-16 10:41] fernandolucchesi commented on #1350
Looks good!

[2022-11-16 10:43] fernandolucchesi commented on #1251
@nilsml, nobody has technical reviewed it yet, but if your comment is a "this looks good", yes we can :D

[2022-11-16 10:55] meols commented on #1374
@fernandolucchesi - today I am at the office, and preview doesn't work:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/9d1471fb-a33e-403f-9e6d-da415752158a) ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/22df8776-5422-482e-b27f-9059d3d744d6) ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/6a9105e7-b765-46bc-af3d-1a0

[2022-11-16 10:56] meols commented on #1374
And FYI @fernandolucchesi Knut Jarle will escalate the ticket in ServiceNow (RITM2624670)

[2022-11-16 11:07] nilsml commented on #1251
I thought this was more of a collection of tasks where all of these are done

[2022-11-16 11:07] NickHaggerty1 commented on #1311
@SvSven  Lets use the same column placement as the full width top banner image text.....![Screenshot 2022-11-16 at 12.06.20.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/242c8a6e-2a7d-46df-8440-98896c3cd225).

[2022-11-16 11:08] SvSven commented on #1376
@meols Should be fixed on the dev dataset now https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk

[2022-11-16 11:19] NickHaggerty1 commented on #1251
@nilsml this is something that Mette and I should look - along with the epic - to just ensure all elements have been covered in other issues. Once we are done, we can close this

[2022-11-16 11:33] millianapia commented on #1371
found new weird bug with the same components. They start to left align themselves between the width of 1901-1969, and only between those. Will look at this and the weird increase of button heights. Might separate the button bug into a new issue if it is a larger task

![Screenshot 2022-11-16 at 12 30 45](https://user-images.githubusercontent.com/21845545/202169341-212ae89d-a95b-45a6-ae35-f0fc2509b

[2022-11-16 11:53] millianapia commented on #1371
The button issue is present on other browsers as well

[2022-11-16 11:57] NickHaggerty1 commented on #1251
@fernandolucchesi @nilsml Hey, we think this is good to close. But there is one issue that hasnt been looked or captured in a separate issue (its not on #1268 for example). That is the comment in the above description: T**ag list should be scrolling horizontally (left to right) on mobile (see behaviour inspiration from Hydro)**  Now on Mobile the tags just stack. Should you create a separate card

[2022-11-16 11:58] #1146 closed

[2022-11-16 11:59] NickHaggerty1 commented on #1371
Sounds good, thanks Malin

[2022-11-16 13:14] millianapia opened #1378 "Replace Reach UI components with something maintained"
[Reach UI is currently not maintained](https://github.com/reach/reach-ui/issues/972), they suggest using one of the following libraries instead:
- Radix UI
- Ariakit
- React Aria

The following components needs to be refactored to a new library:

- [x] Accordion
- [x] Skip-nav
- [x] tabs
- [x] window-size

[2022-11-16 14:19] SvSven commented on #1352
Should be said that hopefully no one ever gets to see this page - it's purely to replace the default one that would site in the (mostly unlikely) scenario that the whole site crashes.

[2022-11-16 14:23] SvSven commented on #1352
Also, limitations as mentioned by the Radix team:

Hence why the favicon, the logo, and icons are all inline SVG (with the favicon being a URL encoded SVG - never knew that was possible)

[2022-11-16 14:57] millianapia commented on #1350
@meols @NickHaggerty1 FYI we recently upgraded to next 13, it has been active in our dev/test environment the last week and has not shown any breaking changes; as we are aware of. So if there are some new unexplainable issues that starts to appear, this might be the reason why. So if either of you can verify that nothing unusual has started to appear, that would be great:)

[2022-11-17 08:25] SvSven commented on #1108
We may be able to get a dashboard for this on Dynatrace set up

[2022-11-17 09:53] millianapia commented on #1352
Nice workaround! looks good

[2022-11-17 11:27] fernandolucchesi commented on #1224
The culprit was a legacy tag "Google Ads - equinor.com.br" set up through our google tag manager console. I just paused it on production and the error is gone. =)

[2022-11-17 11:27] fernandolucchesi commented on #1224
<img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCACyAyADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRo

[2022-11-17 11:30] fernandolucchesi opened #1379 "Preview for algolia pages"
Newsroom preview and Magazine Index preview do not work when opening in a new tab, and cannot be shared.

[2022-11-17 12:26] SvSven commented on #1224
Looks to be working now from what I can see 👍

[2022-11-17 12:42] meols commented on #1376
Thanks @SvSven - looks great!

[2022-11-17 13:21] fernandolucchesi commented on #1251
Hi @NickHaggerty1, I will add it to #1268

[2022-11-17 13:22] fernandolucchesi opened #1380 "Horizontal scroll for MAGAZINE TAGS component on Mobile view"

[2022-11-17 13:23] #1224 closed

[2022-11-17 14:23] fernandolucchesi commented on #1259
[KB0050096](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fequinor.service-now.com%2Fselfservice%3Fid%3Dkb_article%26sys_id%3D1a242fe78747d510c83765390cbb35bc&data=05%7C01%7CPADMS%40equinor.com%7Cf85a4eb62458420309cd08dac7eaeebd%7C3aa4a235b6e248d591957fcf05b459b0%7C0%7C0%7C638042109091736927%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%

[2022-11-17 14:24] fernandolucchesi commented on #1374
these are not working from the office because of #1244 😅

[2022-11-17 14:38] fernandolucchesi opened #1381 "Encode pathname in middleware for redirects"
When a slug is added using special characters in the redirect tab, the middleware captures it as utf8. So special characters such as åøæ will be replaced by their respective codes. This should not happen otherwise the redirect path will not be found.

[2022-11-17 14:57] padms opened #1382 "CTASK0288683: ServiceNow upgrade testing"

[2022-11-18 08:12] SvSven commented on #1379
I like the refactoring, especially with the `sameLang` and `noDrafts`, and the preview for the magazine index and newsroom now work - but the magazine preview problem from #1344 is now back 😅

[2022-11-18 08:15] SvSven commented on #1311
I hereby acknowledge the snake drone arrow 🐍 😂
Also those drones are cool!

[2022-11-18 08:23] NickHaggerty1 commented on #1251
Nice. Closing this one then. @meols

[2022-11-18 08:23] #1251 closed

[2022-11-18 12:07] fernandolucchesi commented on #1379
@SvSven, can you please check it again?

[2022-11-18 12:29] SvSven commented on #1379
Issue still persists for unpublished magazine article with a slug. It is however now saying it needs a slug to preview when it doesn't have one yet

https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/magazine;6c1c14fe-b728-4082-8a8d-dfa5e64a6c77%2Ctemplate%3Dmagazine

[2022-11-18 12:47] fernandolucchesi commented on #1381
Left a comment @padms

[2022-11-18 13:25] padms commented on #1381
@fernandolucchesi Done

[2022-11-18 13:35] NickHaggerty1 commented on #268
Im pretty sure this isnt relevant I suggest closing @meols

[2022-11-18 13:39] NickHaggerty1 commented on #119
Think we can close this @meols ? Any future plans for newsroom can be created separately

[2022-11-18 13:40] NickHaggerty1 commented on #151
Closiing this. Any future UI components will be created as separate issues FYI @meols @nilsml

[2022-11-18 13:40] #151 closed

[2022-11-18 13:42] NickHaggerty1 commented on #326
Closing this as we have separate issues covering this need FI @meols @nilsml

[2022-11-18 13:42] #326 closed

[2022-11-19 14:20] fernandolucchesi commented on #1379
Found the error. Should be fixed now 😬 @SvSven

[2022-11-21 07:20] SvSven commented on #1379
Perfect, that fixed it! Can't say I fully understand _why_ that fixed it; but it works 😬

[2022-11-21 07:25] SvSven commented on #1367
I'm gonna go ahead and tag @nilsml to have a look at this since he understands the functional code much better than me 😅

[2022-11-21 09:42] fernandolucchesi commented on #1381
@padms looks good!

[2022-11-21 09:46] padms commented on #1381
@meols This is ready to be tested in dev

[2022-11-21 09:50] padms commented on #1133
Added toggles for loop and auto play options for hero video.

[2022-11-21 15:15] meols commented on #1304
@padms @fernandolucchesi - when will this one be deployed?

[2022-11-22 07:48] padms commented on #1338
I added the relevant service-now link ( https://equinor.service-now.com/selfservice?id=sc_cat_item&sys_id=288f37ce6fb455001f6446916e3ee418# ) in the KB which can be used by internals.

[2022-11-22 08:51] fernandolucchesi commented on #1379
@meols can you review this one please?

[2022-11-22 08:51] #1259 closed

[2022-11-22 11:02] millianapia commented on #1371
in need of a new technical review

[2022-11-22 11:13] millianapia commented on #1367
Commented on someplaces where the code could be reused - if that is possible

[2022-11-22 11:19] nilsml commented on #1367
Isn't this what we discussed last week at the office @SvSven? If we should use the slug instead. This `_id`, is that some new field we've added?

[2022-11-22 11:19] meols commented on #1292
@SvSven - I have read the article, but don't know if it is neccessary or not. Can you please check with Siteimprove Support <help@siteimprove.com>?

[2022-11-22 11:52] nilsml commented on #1367
I had a look at the code. I think @padms has done a great job with the functional code! A couple of small improvements suggested in comments. One being to extract some of the code that is common .

To get the bugfix out, we could create a new issue to refactor this a little bit later on.

[2022-11-22 12:39] SvSven commented on #1371
LGTM ✔

[2022-11-22 12:49] SvSven commented on #1133
The errors seem to be gone for me, and I am able to upload a new video. The autoplay and loop seem to work as well. Left a comment on the commit about the `playbackId` which needs to be fixed.

Also - do we want the controls to be visible? Not sure if that was discussed at any point, but it's probably nicest to hide them?

[2022-11-22 13:55] SvSven commented on #1331
Left some comments on the commit

[2022-11-22 16:07] meols commented on #1379
@fernandolucchesi - preview without a slug doesn't seem to work for news or magazine. (tested at the Fornebu office) ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/8ee2eb88-8868-44f8-a203-f60a01a42250) ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/f51d34ba-2de8-4dc1-a08c-d3c8050ac046) ![image.png](https://images.zenhubusercontent.com/5fbbf4f

[2022-11-22 16:13] meols commented on #1374
@fernandolucchesi - there is preview (tab) and then there is preview (image) :smile: - but neither are working. Assuming this was related to the preview tab then (and #1379)

[2022-11-22 16:22] meols commented on #1381
Thanks @padms - this looks good :thumbsup: But I wonder why we get the red warning at the same time as it is published?

[2022-11-23 09:04] padms commented on #1133
@SvSven  Fixed the playbackId issue. I tried to hide the controls, but it shows up on hover or focus.

[2022-11-23 09:51] fernandolucchesi commented on #1379
Hi @meols, the magazine, news, and local news will need a slug to be previewed properly (no need to publish it)

[2022-11-23 09:56] meols commented on #1379
@fernandolucchesi - then it's OK. Not crystal clear what should be tested and what the acceptance criteria were for this one (at least not to me).

[2022-11-23 10:42] fernandolucchesi commented on #1379
this is the preview for misc > newsroom and magazineIndex

[2022-11-23 10:42] fernandolucchesi commented on #1379
it didn't exist before

[2022-11-23 11:13] SvSven opened #1383 "create functionality to index dev dataset in Algolia"
Currently we need to build and run the search indexers locally with the correct env variables, and then manually trigger the function in order to index the dev dataset. We should set something up to make this easier and robust

[2022-11-23 12:58] fernandolucchesi opened #1384 "Improve menu links performance"
All menu links are prefetched when menu is opened. This impacts performance considerably. We should disable prefetching for menu links in order to provide better user experience.

[2022-11-23 13:50] fernandolucchesi commented on #1331
I left a comment there too

[2022-11-24 06:24] padms commented on #1133
@SvSven I was able to hide it completely by setting the attribute to undefined. Now if autoplay is enabled controls are hidden otherwise controls are shown.

[2022-11-24 06:48] nilsml commented on #1384
Are we using latest link component? We don't see this issue in Data Marketplace as far as I know. Or is it actually a bug in the new Next version?

[2022-11-24 06:57] padms commented on #1381
@meols I am not able to replicate the above issue.

[2022-11-24 06:57] padms commented on #1382
closing this as this is done

[2022-11-24 06:57] #1382 closed

[2022-11-24 08:50] SvSven commented on #1133
Perfect! Looks good ✅

[2022-11-24 09:08] padms commented on #1133
@NickHaggerty1 Please check the new options (Loop and Autoplay). If autoplay is enabled the controls for the video is hidden otherwise it is shown.

[2022-11-24 09:48] meols commented on #1244
@padms - are there any updates to these requests? If not, can you please ask for an update and an estimate for when they will be solved?

[2022-11-24 10:49] fernandolucchesi commented on #1384
We are using next 12 link

[2022-11-24 10:49] #1384 closed

[2022-11-24 10:49] #1350 closed

[2022-11-24 10:49] #1374 closed

[2022-11-24 10:49] #1379 closed

[2022-11-24 10:50] #1376 closed

[2022-11-24 10:50] #1304 closed

[2022-11-24 10:50] #1366 closed

[2022-11-24 10:50] #628 closed

[2022-11-24 10:50] #741 closed

[2022-11-24 10:50] #1121 closed

[2022-11-24 13:15] fernandolucchesi opened #1386 "Fix preview by id"
When previewing documents by ID the locale is not being set.

(Fixes problem with promotion cards preview)

[2022-11-25 05:47] padms opened #1387 "Remove content archiver azure function"
We need to remove equinor-content-archiver function, as this is no longer used.

[2022-11-25 11:56] millianapia commented on #1331
Made some refactoring, would be great if either of you could verify if it looks good @SvSven @fernandolucchesi

[2022-11-25 12:15] #1006 closed

[2022-11-25 12:33] padms commented on #1138
@meols This can be tested

[2022-11-25 12:33] padms commented on #833
@meols This can be tested

[2022-11-25 13:31] SvSven opened #1388 "whitelist URL for autumn conference signup page"
URL: https://eac.plaii.no/embed/

[2022-11-25 13:42] fernandolucchesi opened #1389 "Improve rollback scripts"
There is room for improvement in our actions:

- [x] Validate if image SHA really exists (and has the same amount of characters)
- [x] Rollback all at once (no need for rolling back each at a time)
- [ ] Optimize repo installation when rolling back global and secret studios (yarn install only /studio, sparse checkout)
- [x] Investigate with sanity if they have a rollback solution for their hosted

[2022-11-26 15:29] fernandolucchesi commented on #1377
Hi @padms, keeping 2 fields for the title doesn't sound like the best solution here. We should migrate the string to text blocks using a script. I found this one for textblock that might be interesting looking into: https://www.sanity.io/schemas/migrate-plain-text-field-to-portable-text-a05f0300

[2022-11-26 15:51] fernandolucchesi commented on #1331
@millianapia left a new comment

[2022-11-26 15:54] fernandolucchesi commented on #1071
Rolling back studios is working now, thus closing this.

[2022-11-26 15:54] #1071 closed

[2022-11-26 15:54] fernandolucchesi commented on #1365
Looks good!

[2022-11-26 16:28] fernandolucchesi commented on #1381
Hi @meols, there was a tiny bug in the validation. I have just fixed it, can you please test again?

[2022-11-26 16:34] fernandolucchesi commented on #1321
I assume this will happen automatically due to the webhook @padms?

[2022-11-28 06:49] padms commented on #1321
This task is to clean up stale data once before going forward with the webhook solution.

[2022-11-28 09:17] fernandolucchesi opened #1391 "CSR Generator"
This issue aims to create a tool that facilitates requesting an SSL certificate. Currently, we need to create a conf file and run a bash command to generate two other files (process described on 'user story 4' [on this doc](https://statoilsrm.sharepoint.com/:w:/r/sites/DNSrequestsfromCommunication/_layouts/15/Doc.aspx?sourcedoc=%7B8A580D7C-E09C-4AE1-95F8-7C86E8A93ADD%7D&file=DNS-requests-general.d

[2022-11-28 09:46] fernandolucchesi opened #1393 "Point preview to correct environments"
We should improve resolveProductionUrl.js file. Currently all previews are done in prod. We should differentiate previews between preprod and prod

[2022-11-28 09:49] #1365 closed

[2022-11-28 10:09] nilsml commented on #1393
There is a reason for having it this way, so we need to have a proper discussion before moving on with this task. Extra environments and datasets will add cost and complexity.

[2022-11-28 10:59] NickHaggerty1 commented on #1133
@padms @SvSven Looking really good nice work.  And yes agree to the earlier question about hiding the controls. I uploaded a video here. Obviously as mux is integrated the 'watermark' is visible. Not sure if that is something we can also get rid of? ref the question earlier.....
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/api/preview?type=magazine&locale=en&slug=%2Fma

[2022-11-28 12:36] #1388 closed

[2022-11-29 08:00] meols commented on #1381
Thanks @fernandolucchesi for fixing the bug

[2022-11-29 08:03] meols commented on #1352
@SvSven - is there anything to be tested for this one, and if so, any acceptance criteria?

[2022-11-29 08:22] meols commented on #833
Thanks @padms - this is great :thumbsup:

[2022-11-29 09:18] #1368 closed

[2022-11-29 09:22] fernandolucchesi opened #1394 "Handover external websites responsibilities"
[KB0050096](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fequinor.service-now.com%2Fselfservice%3Fid%3Dkb_article%26sys_id%3D1a242fe78747d510c83765390cbb35bc&data=05%7C01%7CPADMS%40equinor.com%7Cf85a4eb62458420309cd08dac7eaeebd%7C3aa4a235b6e248d591957fcf05b459b0%7C0%7C0%7C638042109091736927%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%

[2022-11-29 09:31] fernandolucchesi opened #1395 "Enhance alerts and logging about the health of our apps"
- [x] can we make Dynatrace alert slack?
- [ ] Persist logs in radix

[2022-11-29 09:33] fernandolucchesi commented on #1357
Cecilie Fosbo (Kanari AS) has solved it for us :)

[2022-11-29 09:33] #1357 closed

[2022-11-29 09:44] fernandolucchesi opened #1396 "Investigate/make a plan for using azure as blob storage for videos"

[2022-11-29 09:54] #1122 closed

[2022-11-29 09:55] #1314 closed

[2022-11-29 09:56] fernandolucchesi commented on #1339
#1313

[2022-11-29 09:57] fernandolucchesi commented on #1197
duplicate

[2022-11-29 09:57] #1197 closed

[2022-11-29 10:00] #1161 closed

[2022-11-29 10:01] #1225 closed

[2022-11-29 10:09] SvSven commented on #1355
@fernandolucchesi code gone 🔥

[2022-11-29 10:11] SvSven commented on #1352
@meols @NickHaggerty1 Nothing to be tested - just need to be confirmed that the text and the design on the screenshot I posted above is good.

[2022-11-29 10:53] millianapia commented on #1386
LGTM!

[2022-11-29 11:14] fernandolucchesi commented on #1386
@meols can you test this on dev environment? =)

[2022-11-29 11:15] fernandolucchesi commented on #1386
@meols can you test this on dev environment?

[2022-11-29 11:21] fernandolucchesi commented on #1291
Types "eventTag", "event", "magazine" and "magazineTag" were added to the missing content resourcers in the project:

![image](https://user-images.githubusercontent.com/23337266/204516141-b55e7ae3-ed8a-4020-9ed0-2facab2ea5d0.png)

[2022-11-29 12:12] NickHaggerty1 commented on #1352
Great Sven, good to goooooooo

[2022-11-29 12:13] SvSven commented on #1352
Perfect

@fernandolucchesi how do we get this to the Radix team - you have a contact with them I believe?

[2022-11-29 13:19] SvSven commented on #1316
@fernandolucchesi @padms @millianapia

This is ready for review. I could have solved this with existing flags like `IS_GLOBAL_PROD || IS_DEV` - but this seemed more elegant and may be useful in the future.

[2022-11-29 21:34] fernandolucchesi commented on #1316
left a comment :d

[2022-11-29 21:34] fernandolucchesi commented on #1338
This looks good, hence closing it!

[2022-11-30 07:29] #1313 closed

[2022-11-30 07:34] NickHaggerty1 commented on #1339
I have made some sketches in Figma. The page TOP BANNER has a carousel ++ artboard. Im open for input in how best to solve the scroll left and right and display how many options there are. I have some different design options. We have to consider that the same functionality needs to be applied to horizontal scroll on promotion components etc too.

[2022-11-30 07:57] nilsml commented on #1352
#omnia_radix_support channel on Slack is the easiest way to reach them @SvSven

[2022-11-30 09:14] padms commented on #1377
@fer Please check the migration script

[2022-11-30 10:37] SvSven commented on #1316
Fixed!

[2022-11-30 10:38] SvSven commented on #1291
We should probably have this as a standard acceptance criteria whenever we make a new document type - I had not thought of this before 🤔

[2022-11-30 11:04] fernandolucchesi commented on #1286
yes, it has.. this issue is a hard one to solve, especially because the revalidate should only bypass the revalidate time from staticProps and not give a super hard refresh. However I believe this solves the case when a news is published and it doesn't show up in the latest news component on the homepage, which I believe was the most important thing to get fixed.

[2022-11-30 13:10] SvSven commented on #1286
Seems to take around 2 mins for newly created articles (with the correct tag) to show up in the news promotion on the front page. Better than 10+ minutes at least 🤷‍♂️