[2021-06-16 08:47] SvSven opened #378 "update Next.js to v11"
v11 of Next.js has been released introducing amongst which some performance improvements

See: https://nextjs.org/blog/next-11
See: https://nextjs.org/docs/upgrading

Our current version of TypeScript is below the recommended minimum for v11 of Next.js
Updating that has some complications. See: #377

[2021-06-16 08:48] #357 closed

[2021-06-16 09:05] kalyanvaranasi commented on #293
We started to look into this in AEM

[2021-06-16 09:39] #296 closed

[2021-06-16 09:39] #297 closed

[2021-06-16 09:39] #358 closed

[2021-06-16 09:39] #362 closed

[2021-06-16 09:39] #366 closed

[2021-06-16 09:39] #372 closed

[2021-06-16 10:18] BirteThornquist commented on #365
Feel they are a bit too large, yes. Let's do 40x40.

[2021-06-16 10:22] wenche commented on #365
Done. :thumbsup:

When Radix is up and running again, this can be tested Sanity

[2021-06-16 15:53] kalyanvaranasi commented on #243
@nilsml Radix build is success and archive pages are loading with the styles. But i have observed couple of issues for which i will create new issues.

@vnys FYI

[2021-06-16 16:09] kalyanvaranasi commented on #374
@nilsml I have added WIP pro's and con's going with this approach. I think we should collectively discuss this and come to conclusion whether it's the right to implement this.

[2021-06-17 07:01] nilsml commented on #274
@wenche talk to @BirteThornquist to get this issue ready for QA and then closed.
It should not lay around for design review any longer.

[2021-06-17 07:16] wenche commented on #274
Let's fix the header in the next banner iteration.

[2021-06-17 08:25] kalyanvaranasi opened #379 "Migration : Fix image issues in archived news pages"

[2021-06-17 10:17] wenche opened #380 "As an editor I need an easy way to link new content to a route"
Look more into the incoming references. Simeon  suggested a workflow like this:

- If a route has a reference to this content, list it in the pane (the way the incoming references plugin works out of the box). If you click on the reference, it will take you to the Route document.
- If no routes have references to this content, provide a button like "Use in a Route" . If the editor clicks on this b

[2021-06-17 10:26] wenche commented on #380
The plugin out of the box
![Skjermbilde 2021-06-16 kl. 10.32.12.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/21e30cc7-5755-472d-a468-b9956edafe4a)

[2021-06-17 10:43] SvSven commented on #279
Add guards for preview when creating content and no content has been added yet.

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/089c5bbc-de0c-4add-a8e2-334712037a5e)

[2021-06-17 11:15] #365 closed

[2021-06-17 11:16] nicholas-haggerty commented on #274
Agree, we should take another look at the titles when we have the revised font in place.

[2021-06-17 11:16] #274 closed

[2021-06-17 11:16] #281 closed

[2021-06-17 11:19] nicholas-haggerty commented on #278
Based on the discussions/feedback provided and also the specific issues created as a result. I think we can close this issue.

@meols we should discuss the need to L / C / R text as options with the rest of the editorial team. Im leaning towards no longer having that as option for consistency reasons.

[2021-06-17 11:19] #278 closed

[2021-06-17 11:27] nicholas-haggerty commented on #273
Approved. Closing....... Now.

[2021-06-17 11:27] #273 closed

[2021-06-17 12:02] wenche commented on #364
Follow up in [#380](https://app.zenhub.com/workspaces/energy-vision-5fb6386c578f1200222dd6c2/issues/equinor/energyvision/364)

[2021-06-17 13:50] wenche commented on #377
With the use of rc 9 we see a lot of runtime errors. We opened an issue in [the Storybook repository](https://github.com/storybookjs/storybook/issues/15282) In the meantime we _could_ stop the use of <code>Code blocks in text</code> but let's see if it's an easy fix on their side first

[2021-06-18 07:06] wenche commented on #377
Let's wait and see for a couple of days. Since this was added in the `package.json` file, the action didn't trigger a build on Radix so production Storybook is still running fine on the old version.

[2021-06-18 09:12] nilsml opened #382 "Automate cleanup of blob storage"

[2021-06-18 10:54] wenche opened #383 "Add eslint rule for hooks"
Since we looked at EDS eslint rules when we started, we don't have the hooks linting rules. We need to add them, as we have some errors with that and that's a code smell. (EDS added it a couple of months ago, was probably just a miss?)

[2021-06-18 11:00] wenche opened #384 "Support for different characters in the URLs"
Does it makes sense to support both
`/no/karriere/hva-vi-gjør` and `/no/karriere/hva-vi-gjoer`?

Probably, by the use of canonicals in the web. Figure out who's responsibility this should be (Sanity, the web) [The slugify library](https://www.npmjs.com/package/slugify) supports a locale parameter, can be an idea to look into as well.

## Acceptance criteria
1. [Criteria 1]
1. [Criteria 2]

## In o

[2021-06-18 11:31] #378 closed

[2021-06-18 15:45] kalyanvaranasi commented on #379
@nilsml This is fixed and can be closed

[2021-06-18 15:47] kalyanvaranasi opened #385 "Fix fontawesome file loading issue in archive pages"

[2021-06-21 06:41] kalyanvaranasi opened #386 "Add support for stage in content-archiver utility & azure function"
Add support for stage environment for content archiver utility and azure function. This is required as AEM stage webhook should point and ingest the news archive content to the azure stage storage container.

[2021-06-21 06:42] wenche opened #387 "Fix Storybook at CI"
**Describe the bug**
Storybook doesn't build in CI. Seems to be something with the blog storage

![image (10).png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/601aa05f-2f21-47a3-a61a-af8d199d0e9b)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please c

[2021-06-21 06:55] kalyanvaranasi commented on #374
Moving this back to the backlog as the developer team has decided to take this once the hosting service(Vercel/Radix) is decided.

[2021-06-21 07:00] kalyanvaranasi commented on #386
Updated the content archiver code, documentation and added a new release

[2021-06-21 07:04] wenche opened #388 "Test to migrate content from AEM using the automation script"
https://github.com/equinor/equinor-dot-com-migration

Before Kalyan leaves, we should test the script to ensure that it works and that we are able to use it.

[2021-06-21 08:50] #379 closed

[2021-06-21 08:50] #243 closed

[2021-06-21 11:53] vnys commented on #387
Azure Blob Github action updated. Also added a “Built at…” string on the front page (Introduction). This uses an environment variable that’s generated in the webpack config, and is only available in the preview part of the Storybook – meaning inside the iframe in the main content area. This makes it easier to see if the version of the storybook we’re actually looking it is the one we expect.

Ther

[2021-06-21 13:13] vnys commented on #377
…but now that I’ve fixed the Github action that prevented the Storybook to be deployed we have [blank stories](https://envis-storybook.azureedge.net/?path=/docs/components-card--default) 😎

The storybook runs in Azure btw, it’s uploaded to an Azure Blob Storage (https://envisstoragedev.z16.web.core.windows.net) which is served through Azure CDN (https://envis-storybook.azureedge.net).

[2021-06-22 05:55] #364 closed

[2021-06-22 06:26] wenche commented on #375
- Topic contents have page level translations using the intl-input plugin
- Topic contents are linked to routes by references
- At the moment we have one reference for the English content and one reference for the Norwegian one to make it easier to understand, both in code and for editors. We might be able to do something more automagic at some point and select the Norwegian content that belongs t

[2021-06-22 06:50] SvSven opened #390 "public folder in nextjs inaccessible on radix"
**Describe the bug**
A clear and concise description of what the bug is.

[2021-06-22 06:59] SvSven opened #391 "investigate how to filter internal links select based on language"

[2021-06-22 07:00] SvSven commented on #391
Related to #375

[2021-06-22 07:20] #306 closed

[2021-06-22 10:45] nicholas-haggerty commented on #279
@wenche @SvSven

1. We think none of the fields (title/text/ALT) should be mandatory, they should all be optional. So editors can in theory just add an icon with no title or text field.
2. If editor doesn't add ALT text in then default should be two hyphens in the code to indicate illustrative to screen readers.
3. Currently the icons do not arrange as per the POC (algorithmic design) Is this to b

[2021-06-22 14:15] wenche commented on #375
@nicholas-haggerty  I'm not sure exactly how this can be verified on your end since this is a pretty technical issue, and also a concept that may be improved later on.

Maybe we should take a short walkthrough tomorrow?

You should now be able to visit [the English](https://energyvision.app.radix.equinor.com/en/careers) and [Norwegian](https://energyvision.app.radix.equinor.com/no/karriere) versio

[2021-06-23 06:02] nicholas-haggerty commented on #375
@wenche Great lets have a walk through as part of todays meeting at 10.45. Ok for me to extend a bit if needed

[2021-06-23 07:02] wenche opened #392 "Follow up on Storybook release"
We currently run on a release candidate that has a known bug with the use of <code></code>

Check if this is still a problem when Storybook releases the version. If it's not we can add the code tags back in as it's easier to read the documentation in Storybook with them.

Related to #377

[2021-06-23 07:03] #377 closed

[2021-06-23 08:38] kalyanvaranasi commented on #385
This is fixed in local but its not working in radix application but it gets fixed along with #390

[2021-06-23 08:39] kalyanvaranasi commented on #293
We are almost done with the implementation in AEM and currently testing this in stage

[2021-06-23 08:56] wenche commented on #279
Issue with alt #369

[2021-06-23 08:57] SvSven opened #393 "Text with icon array should use algorithmic design from POC"
Related to #279

See: https://github.com/equinor/energyvision/issues/279#issuecomment-865875046

The group of icons should dynamically adapt to the available space.

Ideally it should be that if there are for example 4 items, all 4 should be on the same line if enough space is available.
If there is not enough space, it should split into 2 rows with 2 items per row.

[2021-06-23 08:58] SvSven commented on #279
Issue for algorithmic design #393

[2021-06-23 09:13] #269 closed

[2021-06-24 07:52] nicholas-haggerty opened #394 "As an editor I need to be able to create a vanity/short url to use in promotion/communication"
## Acceptance criteria
- An editor can create vanity url for a page
- Vanity url is registered by dns to be permanent

[2021-06-24 13:18] wenche commented on #383
I'm somewhat banging my head against the wall on this one. I'm having a hard time to satisfy both the hooks rule of no conditionally rendering and making the previews to work. The way we have solved components without content (yet) for previews are by returning null `if (!image) return null` But this will ofc play bad with hooks eslint rules since it is a conditionally rendering.

If we don't do t

[2021-06-25 06:49] BirteThornquist opened #395 "Usability testing"
Perform a usability test of the create content topic page and news article

[2021-06-25 06:51] SvSven opened #396 "synchronize next.js locale with react-intl provider"

[2021-06-25 07:12] SvSven opened #397 "fix padding on quote for topic page"
Should have the same padding structure as the rest of the components, currently using margin/padding from news article.

[2021-06-28 11:31] SvSven opened #398 "Remove empty paragraph tags from rich text editor"
Line breaks in the rich text editor generate an empty `<p>` on the web. We should filter these empty tags out so as to not clutter the rendered web with them.

[2021-06-29 11:22] wenche commented on #378
https://github.com/vercel/next.js/issues/26348

[2021-06-29 11:22] wenche opened #399 "Disable eslint during Next.js builds"

[2021-06-29 11:29] wenche commented on #399
Because of https://github.com/vercel/next.js/issues/26348 we will disable eslint during next.js builds until this is fixed. We use the plugin instead of the config, so we don't actually need the config.

[2021-06-29 12:28] kalyanvaranasi opened #400 "Migration: Fix list transformation image issue"
Content archiver utility is not downloading the image with list transformations when image name contains spaces

[2021-06-29 14:15] SvSven opened #401 "(news) preview does not work until article has been published"
Steps to reproduce:

1. Create a new news article
2. Add a slug
3. Click the preview tab
4. Next.js returns a 404 error due to `news` in `getStaticProps` being `null`
5. Go back to editor tab, click "Publish"
6. Click preview tab again, preview is now working

Have checked the full query with the same param (unpublished slug) in Vision, and there it does return results.
Might be related to not bei

[2021-06-29 14:25] #279 closed

[2021-06-30 05:12] kalyanvaranasi commented on #400
This issue is fixed in release v1.2.1

[2021-06-30 05:13] kalyanvaranasi commented on #293
Tested this in stage and it is working as expected

[2021-06-30 05:14] kalyanvaranasi opened #402 "Fix legacy table style issues"

[2021-06-30 06:15] #387 closed

[2021-06-30 06:15] #375 closed

[2021-06-30 06:15] #399 closed

[2021-06-30 06:43] #386 closed

[2021-06-30 06:43] #385 closed

[2021-06-30 06:43] #400 closed

[2021-06-30 06:43] #293 closed

[2021-06-30 06:43] #383 closed

[2021-06-30 06:48] #219 closed

[2021-06-30 06:49] SvSven commented on #220
The conclusion from various meetings has been to translate URLs as recommended for UX and SEO purposes.

[2021-06-30 06:49] #220 closed

[2021-06-30 06:50] #218 closed

[2021-06-30 07:10] SvSven commented on #360
In our meeting with Sanity we discussed how to handle this.
They suggested two different approaches;
- Adding the ability to copy-paste individual components between the English and Norwegian documents, which could be as simple as just using `ctrl` + `c` and `ctrl` + `v`
- Having a complete "copy document" functionality that copies all components over to the Norwegian document, similar to how it w

[2021-06-30 07:25] #360 closed

[2021-06-30 08:40] SvSven commented on #368
I think we can turn this into a larger issue actually, and incorporate it into updating the labels and descriptions for menu items and input fields.
The user testing sessions we had this week have given some good feedback specifically on that.

My impression from that is that the difference between "Topic content" and "Topic routes" is actually understood, but we'll have to wait for the summary an

[2021-06-30 09:17] nicholas-haggerty commented on #368
It was good to see the examples sent over from Sanity the other day of the set up of a couple client structures. Very logical naming policy for the estate agents one and easy journey into the content you would want to change/update. A good editor has been involved there!
Agree @sven the Topic pages and routes seemed to be understood during the tests, so It might just be me that struggles with thes

[2021-06-30 09:18] wenche commented on #388
We will look into this in the morning meeting tomorrow, July 1.

https://www.oracle.com/java/technologies/javase-jdk11-downloads.html

[2021-06-30 09:21] wenche commented on #337
Since Equinor might be moving away from the current DAM solution at some point, we decided that we should not spend a lot of time on this. We'll reuse the POC plugin, but try to reduce the amount of hard coded value and lift it to using TypeScript.

[2021-06-30 13:06] wenche commented on #352
We have added the 1. version for the accordion component to Sanity. Birte looks into which icon to use in the list to better reflect the accordion, but EDS might not have a good fit for us here.
![Skjermbilde 2021-06-30 kl. 15.04.04.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/73ee5354-9d5d-4daa-847f-4f2b8cbdd908)

![Skjermbilde 2021-06-30 kl. 15.04.57.png](https://images.zen

[2021-07-01 06:44] SvSven opened #403 "give padmaja access to everything"
- zenhub
- azure containers
- etc.

check why she can't push to Azure

[2021-07-01 06:46] #388 closed

[2021-07-01 12:33] wenche commented on #350
We started out by using the EDS component, but it turned out to be somewhat difficult and would need a lot of style overrides since EDS has a white background. The hover effects doesn't play well with coloured backgrounds as well, and the use of the grey border around both the header and the panel doesn't play well with the rest of the Envis design.

[2021-07-01 13:54] kalyanvaranasi commented on #354
@wenche Here is the details about the end point for stock information.

Endpoint/feed url: https://tools.eurolandir.com/tools/pricefeed/xmlirmultiiso5.aspx?companyid=9053

We are polling this information every 60 seconds and parsing the xml to store it in a AEM way and we read this data in **stock importer** component.

Component has two configurations either to show Oslo stock exchange or New Yor

[2021-07-02 06:32] SvSven opened #404 "@sanity/form-builder v2.12.2 does not work with pnpm"
Upgrading `@sanity/form-builder` to 2.12.2 causes the desk tool to crash

[2021-07-02 06:37] SvSven commented on #404
After a discussion with Sanity, it seems that having `@sanity/ui` as a direct dependency is causing the desk tool to crash.
We no longer need `@sanity/ui` as a listed dependency because it is included in `@sanity/base`.

However trying to run the studio after removing `@sanity/ui` and reinstalling, our imports from `@sanity/ui` cannot be resolved. The problem seems to be with PNPM - when installin

[2021-07-02 08:17] #361 closed

[2021-07-02 10:33] #153 closed

[2021-07-02 10:36] wenche commented on #352
We added an icon

![Skjermbilde 2021-07-02 kl. 12.34.26.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8bfa1daf-3d90-4902-9bbe-751f02e3839f)

Can be seen at https://equinor.sanity.studio/desk/topicContent;838935d4-6139-48c6-b99c-4aeb4a4fb5f4.

You could probably verify in Sanity @nicholas-haggerty even if the component itself in the web is not ready. :)

[2021-07-02 11:04] nicholas-haggerty commented on #352
@wenche great. Set up looks good. Cannot preview yet.

[2021-07-02 11:09] wenche commented on #352
@nicholas-haggerty Yes, no preview since the web is not made yet

[2021-07-05 07:27] wenche opened #405 "Resolve the reference for internal urls"
**Describe the bug**
We don't query for the internal slug references in most of our queries. This causes an error when the serializer tries to render the link.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an internal link into an ingress og text block
2. Go to the web
3. Open dev tools
4. See error

**Expected behavior**
We need to resolve the reference in the query
[code]

[2021-07-05 07:32] SvSven commented on #404
Seems like the problem runs a little deeper than just the `@sanity/ui` dependency.

Installing the dependencies with either `yarn` or `npm` (both with and without `@sanity/ui`) makes the problem magically go away.
Similarly, using `pnpm` to build and run the studio, but using dependencies installed by `yarn`, makes the problem go away.

Attempted to fix the problem by using the `shamefully-hoist`

[2021-07-05 07:32] wenche opened #406 "Filter pages in internal link list to only those that has a reference"
When the publisher select an item in the internal link reference list, it is possible to select a page that has not yet been connected to a route because type is of type `page` and not `route`. The actual reference has to be to a route, and we should make the preview as good as possible to make it easy for publishers to understand what they are referencing.

[2021-07-05 07:41] wenche commented on #405
If both news and routes have the full slug, we might be able to do just
[code]

[2021-07-06 08:06] #352 closed

[2021-07-06 12:26] #397 closed

[2021-07-06 12:29] SvSven commented on #337
Implementing the brandmaster asset source is causing a problem with the build to fail:

[code]

Published asset-source packages (like Cloudinary and Unsplash) work fine, but those are compiled with an older version of Sanity.
Waiting to hear back from Sanity about the issue before we can proceed.

[2021-07-06 12:31] SvSven commented on #404
For the sake of not wasting more time on this during holidays, we will put this on hold and postpone the update until people are back from vacation when we have more eyes and brains to look into it.

[2021-07-06 13:35] wenche commented on #350
Example in the web: https://energyvision.app.radix.equinor.com/careers/experienced-professionals?742af0675f87=0
Storybook: https://energyvision.app.radix.equinor.com/careers/experienced-professionals?742af0675f87=0

[2021-07-07 06:41] wenche commented on #392
Seems like someone has created a PR, let's monitor that
https://github.com/storybookjs/storybook/pull/15492

[2021-07-07 08:19] wenche commented on #350
We need to review this and complete the design when Birte is back from vacation. :)

[2021-07-07 11:28] SvSven commented on #393
Should now behave similar to the proof of concept with some minor tweaks.

- If there are 4 items and the screen size is 1300px wide or greater, they will be displayed in 4 columns.
- If there are 4 items and screen size is below 1300px wide, they will be displayed in 2 columns.
- If there are 2 items, there will be 2 columns that each take 50% of the available width.

In other cases there are a m

[2021-07-08 09:42] SvSven commented on #368
Putting this "on hold" pending the results/summary of the user tests from @BirteThornquist
Once we have those we should plan a meeting or workshop to get a consensus.Need to put good thought into the naming based on feedback before we start changing things.

[2021-07-08 09:46] SvSven commented on #371
Related: #371

[2021-07-12 12:33] SvSven commented on #351
Things we need to discuss once @BirteThornquist is back from holiday:
- Should the promo tile component have an ingress/body text instead of only a title
- Which fields should be required
- Figma states "always a pair of tiles", does this mean the component should have a minimum and maximum of 2?

[2021-07-14 12:29] padms opened #407 "Style issues in news pages from AEM"

[2021-07-14 12:52] nilsml commented on #370
This is working now. No versioning for now, only `main-latest`. Might be a bit difficult to set up versioning on Radix while using trunk-based dev. We'll see if it becomes important.

[2021-07-15 12:35] SvSven opened #408 "Refactor Card component to support BackgroundContainer"
The EDS Card component has a background color applied from EDS.
We should refactor the Card component to support our BackgroundContainer component so that we can set different background colors and support the "inverted" option for darker backgrounds.

[2021-07-15 12:48] SvSven commented on #353
There are some unknowns at the time of writing, but based on what is available now this is "done".

Solving #408 would fix some issues, such as text color when using a dark background.
Similarly I'm not sure how the responsive behavior should be. It currently is a single column layout up to 750px width, where it switches to a 2 column layout. We can revisit this when @BirteThornquist is back from

[2021-07-19 11:28] nilsml opened #409 "Set up basic logging to ApplicationInsights"
**In order to detect issues we need to track errors and metrics**

## Acceptance criteria
1. Basic setup for logging to Azure ApplicationInsights

[2021-07-20 06:40] SvSven opened #410 "investigate issue with unicode characters in archive"
Some characters like apostrophes and Norwegian characters are not rendering correctly.
Example: https://energyvision.app.radix.equinor.com/news/archive/20210719-equinor-ready-to-further-develop-floating-offshore-wind-in-scotland

[2021-07-21 09:17] SvSven commented on #332
Due to lack of description and designs in Figma, it's difficult to tell exactly what we needed here.
What I've done is that I have added the option to add either an internal or external link, a downloadable image, or a downloadable file similar to how we have the call to actions for the text block component.

Took a slightly different approach in the studio:

![image](https://user-images.githubuse

[2021-07-21 09:20] SvSven opened #411 "Investigate how to handle download links"
We added support for creating download links (for images and PDFs) on certain components.
Currently these links open up in the same tab, which is not ideal.

The anchor tag has a `download` attribute which if set will download the file when a user clicks the link - however this only works for same-origin URLs, which in our case is a problem since we use a CDN.

https://developer.mozilla.org/en-US/

[2021-07-21 14:04] nilsml opened #412 "Run accessibility tests on CI"
**In order to detect accessibility issues, we need to run tests on CI and report back the results**

## Sub tasks
- [x] Create GH action for running tests
- [x] Make sample test to verify that it works
- [x] Create GH Javascript Action App for reporting result to Slack

[2021-07-22 12:22] SvSven opened #413 "usePreviewSubscription causing unnecessary re-renders with different page data"
The `usePreviewSubscription` hook in `[slug].tsx` and `[[...slug]].tsx` is causing unnecessary re-renders. Seems to be re-rendering the page component 4-5 times.

I noticed when implementing #406 that the last (delayed) re-render caused by `usePreviewSubscription` has different page content from the initial render.
This is noticeable by the fact that slug to an internal page/route on the teaser co

[2021-07-22 12:23] SvSven commented on #406
Switching to `route` instead of `page` was fairly straightforward, and the preview for editors is actually better than what we had out of the box.

There is however a problem with the slugs for internal links as described in #413

[2021-07-30 07:42] padms commented on #407
Fixed the following for pages from 2016 till 30 June 2021.

1) Missing images for Image tiles and carousel
2) Norwegian characters shown as unsupported character.

[2021-08-05 07:00] #395 closed

[2021-08-05 08:58] nilsml commented on #304
We have something running in both Vercel and Radix now. Let's evaluate which one. If Vercel is technically much better, we can continue setting up a cost/benefit document.

[2021-08-05 10:29] wenche commented on #332
It's problematic that it's no feedback/validation for missing link? I didn't quite catch why one of the two original  teasers didn't show up in the web. The first one wasn't updated with the new link format, but no warnings

![Skjermbilde 2021-08-05 kl. 12.28.45.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/213e2270-7c74-44f1-8e6a-1c00c2f61007)

[2021-08-05 10:34] wenche commented on #351
Add more guards for live preview while adding tiles

![Skjermbilde 2021-08-05 kl. 12.33.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f3f2a1d5-0ab8-42b1-ba1a-e35524473722)

[2021-08-05 12:37] wenche commented on #353
![Skjermbilde 2021-08-05 kl. 14.30.05.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/d0e3ac16-f8e1-4e40-a8ca-665321df79a1)

We need to figure out how to solve the issue of long button texts. The problem with the EDS button is that it doesn't allow for line wrap. The height is 36px and you are supposed to [scale the width.](https://zeroheight.com/0b0c666ab/p/83185a-button/t/03eb

[2021-08-05 12:39] wenche commented on #353
![Skjermbilde 2021-08-05 kl. 14.37.27.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/b933ef54-6b21-489f-832b-f8b89b527777)

This is how the promo tiles behaves if the text of the buttons is not of the same length. Should it rather be a 50%?
In that case, the length of the link must be very restricted to avoid overflow

![Skjermbilde 2021-08-05 kl. 14.39.01.png](https://images.z

[2021-08-06 06:25] wenche commented on #353
Example with multiline

![Skjermbilde 2021-08-06 kl. 08.25.08.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/898f119a-d2ca-4592-9543-9ef31448e240)

[2021-08-09 06:20] #370 closed

[2021-08-09 06:21] #371 closed

[2021-08-09 06:27] wenche commented on #396
![Skjermbilde 2021-08-09 kl. 08.27.22.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/3b9d2502-a5e1-4466-80af-fbaf214e82b3)

I don't think all the necessary things are done here to make this work?

[2021-08-09 06:28] #406 closed

[2021-08-09 07:09] padms commented on #402
This issue has been fixed with @equinor/energyvision-legacy-css:1.0.0 version.

[2021-08-09 07:09] #402 closed

[2021-08-09 08:23] BirteThornquist commented on #350
Great job - looking good! On hover the text should get bold.

[2021-08-09 10:33] wenche commented on #350
Had a discussion with @BirteThornquist  on the hover effect. The issue is that when you change the font weight, the width of the text changes as well (since it is well, more bold). This will cause a "flicker" effect and this might or might not be something we can live with.

We could tweak the animations slightly, but added only the  font weight 500 to test and see how that feels

https://envis-st

[2021-08-09 11:00] wenche commented on #351
On todays meeting we discussed a proposal for splitting the label field into two fields, one for a visible label and one for an aria label. By using this pattern, we can allow for catchy link texts like "Read more" while still creating usable content for all users.

`<a href="/" aria-label="Read more about our recruitment policy">Read more</a>`

![Skjermbilde 2021-08-09 kl. 12.54.32.png](https://i

[2021-08-09 11:03] BirteThornquist commented on #350
@wenche After testing this I see that in some cases the text will change from one to two lines on hover when we use the hover state bold on text - that is a bit too much. So, no bold effect on hover is the conclusion.

[2021-08-09 11:15] wenche commented on #353
![Skjermbilde 2021-08-09 kl. 13.15.01.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/7dc0891c-b506-4133-9d5a-bf68ecf754f3)

The result with aria label

[2021-08-09 11:18] wenche commented on #353
The C2A button link does not have any styles for hover and more yet, will do this as a part of#363

[2021-08-09 14:14] wenche commented on #353
@nicholas-haggerty  We tried the approach with 700px fixed height - didn't look good. This is also a bad fit technically with fluid typography. We decided to to instead aim for equal height for all promo tiles within a promo tile group, like in this image. What do you think that approach?

![Skjermbilde 2021-08-09 kl. 16.12.41.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/d591

[2021-08-10 05:54] wenche commented on #392
Still waiting for this PR to be accepted, some additional examples are asked for...

[2021-08-10 06:34] nilsml commented on #393
Can you have a look at this @nicholas-haggerty?

[2021-08-10 06:35] nilsml commented on #350
@nicholas-haggerty

[2021-08-10 06:40] #409 closed

[2021-08-10 06:43] nilsml commented on #332
Waiting for @SvSven's answer

[2021-08-10 06:49] vnys commented on #350
@BirteThornquist This can probably be solved similarly to how Frida solved the menu item component in the EDS, by using an invisible element (a css pseudo element) where the text is bold so the text already takes up the place it needs when it’s bold.

[2021-08-10 06:51] nicholas-haggerty commented on #353
@wenche Looks good. Lets go with that

[2021-08-10 06:57] nicholas-haggerty commented on #350
@BirteThornquist @wenche @vnys I can certainly live without the title/question going bold. I think with the animation on the + / - button and the expanding line, its enough.

[2021-08-10 07:05] wenche commented on #353
Great @nicholas-haggerty ! It feels like this is ready for review and acceptance? :thinking_face: I mean, we could go on and on with tiny adjustments but I think it's ready for the next stage

[2021-08-10 07:08] wenche commented on #351
We should fix the runtime error with preview while adding promo tiles. After that, it should be ready for testing

[2021-08-10 07:15] wenche opened #414 "Fix LinkSelector component"

[2021-08-10 07:37] wenche commented on #351
I think this is ready for your review as well @nicholas-haggerty

[2021-08-10 07:56] nicholas-haggerty commented on #353
@wenche @BirteThornquist Yup great, I think its good to move. Only issue is the Dark blue background /white text. I cant remember if this is part of a bigger task thats being worked on.![promo-dark-blue.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/201237db-26c2-47ac-8d13-8878006895b4)

[2021-08-10 07:59] wenche commented on #353
@nicholas-haggerty Yes, part of #408, working on it as we speak, will be done in approx. 5 minutes :)

[2021-08-10 08:00] wenche commented on #353
But still waiting for #363 for the button hover effects btw

[2021-08-10 08:08] wenche commented on #408
This is more of a technical issue, let's wait for Sven's approval

[2021-08-10 08:16] wenche commented on #353
@nicholas-haggerty Should be OK now, you may see it on the [careers page at the bottom](https://energyvision.app.radix.equinor.com/en/careers)

Please feel free to drag this card into "Acceptance" column if it's good enough :)

[2021-08-10 08:24] wenche commented on #337
Related conversation https://equinor.slack.com/archives/C01A4BGNRMJ/p1625487316003300

[2021-08-10 08:25] wenche commented on #404
Related conversation https://equinor.slack.com/archives/C01A4BGNRMJ/p1625141094119900

[2021-08-10 08:40] nicholas-haggerty commented on #353
@wenche Thanks Wenche, virtual high five. Fast work :-)

[2021-08-10 09:48] wenche commented on #414
It's hard to see the pattern on this one :/

[2021-08-10 09:52] wenche commented on #413
Is this related to the [previous issue](https://equinor.slack.com/archives/C01A4BGNRMJ/p1624021582096700) we had with the lang param? We didn't receive the conclusion for this from Sanity.

[2021-08-10 10:32] nilsml commented on #390
Can you check if this is good now @wenche?

[2021-08-10 10:54] nicholas-haggerty commented on #393
@SvSven @nilsml Looks great. Works as expected. Good stuff Sven.

[2021-08-10 11:06] wenche commented on #390
I'm not sure if I understand exactly what's going on. Short story: I doesn't seems to work.

**Radix: (Some examples)** Missing favicon and fontawesome calendar symbol
![Skjermbilde 2021-08-10 kl. 13.02.35.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/baf38ca3-0eae-4217-b913-712fdc8e9f5c)![Skjermbilde 2021-08-10 kl. 13.02.40.png](https://images.zenhubusercontent.com/5fb7aa9b65

[2021-08-10 12:30] padms opened #415 "Archive News Pages: Carousel not working as expected because of missing JavaScript"

[2021-08-10 12:35] #410 closed

[2021-08-10 12:35] padms commented on #410
The issue is fixed in the Archiver Tool.

[2021-08-10 12:58] padms opened #416 "Archive News Pages: Iframe component does not load video/url as cookiebot integration is pending"
Until cookiebot has been implemented in new solution, video through iFrame will not work.
Revisit this issue once cookie handling is working.

Related to #407

[2021-08-10 13:37] wenche commented on #390
This tiny little ~~bug~~ feature was caused by that we don't listen to changes in the Dockerfile.

Everything is working as expected now :)

[2021-08-10 13:37] #390 closed

[2021-08-11 05:37] wenche commented on #398
We [discussed this with Sanity](https://equinor.slack.com/archives/C01A4BGNRMJ/p1620069362044400) a couple of months ago.

[2021-08-11 06:46] #412 closed

[2021-08-11 08:29] BirteThornquist commented on #363
Updated the color specifications for buttons and links [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=1511%3A948)

[2021-08-11 09:06] nilsml commented on #354
@nicholas-haggerty to follow up with AEM team

[2021-08-11 12:12] #393 closed

[2021-08-11 12:12] #353 closed

[2021-08-12 08:44] vnys commented on #404
I made a pull request a year ago about missing dependencies in Studio → https://github.com/sanity-io/sanity/pull/1965

[2021-08-12 10:33] nicholas-haggerty commented on #350
Following up. Victor mentioned that the new font provides some better solutions for animation between reg and bold so maybe that resolves this and we can feature the bold on hover without extending the text (posssibly on to two lines)

[2021-08-12 12:16] vnys commented on #404
I think the sad conclusion after spending most of the day wrestling with Sanity Studio, is that it does not work with pnpm. Another thing is as long as we don’t host Sanity Studio ourselves, it doesn’t really make sense to have a lock-file from a different package manager than the one that’s used in production.

I suggest we do the following: Install `@sanity/cli` as a dependency in Studio, and th

[2021-08-13 07:55] #351 closed

[2021-08-13 12:00] nilsml opened #417 "Build example pages in Sanity to use for testing"
**In order to have a stable environment for testing, we need to set up one or more example pages in Sanity**

- [ ] Identify what kind of pages are needed
- [ ] Build the pages
- [ ] Document the pages

Related to #419 and to some degree #418.

[2021-08-13 12:00] nilsml opened #418 "Investigate what siteimprove can do compared to axe-core"
**In order to automate a11y testing, we need to evaluate different tools, like siteimprove**

What can siteimprove do compared to axe-core?

[2021-08-13 12:01] nilsml opened #419 "Look at the possibility of getting external help for setting up testing strategy"
**To ensure that EnergyVision is accessible to anyone, and follows the guidelines from Difi, we should look at the possibility of getting external help**

We need a testing strategy for a11y-testing. Who can we use for this?

[2021-08-13 12:04] padms opened #420 "Set up github action for deploying content archiver function app"

[2021-08-13 12:18] wenche commented on #404
Nils Magne and I _think_ this works now. Let's have the final test when Sven is back from his vacation!

We did what @vnys  suggested, with a few additional steps.

[2021-08-13 12:22] #420 closed

[2021-08-13 12:37] nilsml commented on #419
https://www.uutilsynet.no/regelverk/testprosedyrar-nettstader/709

[2021-08-13 13:21] wenche commented on #292
Atm this is Google font only. But it seems like we can expect improvements here in laters Next.js versions

[2021-08-13 13:23] wenche commented on #232
We decided to not go with this.

[2021-08-13 13:24] wenche commented on #356
Duplicate of #374?

[2021-08-13 13:26] wenche commented on #238
Closing this one, as it is old and not that relevant anymore. See also #334 for a more general take on theming

[2021-08-13 13:26] #238 closed

[2021-08-16 05:57] wenche commented on #396
https://github.com/formatjs/formatjs/issues/1776

[2021-08-16 06:30] wenche commented on #276
We and Sanity have verified that this works perfect for fields that are added directly to a document. But in our case with the meta description and document title added as an object, this still doesn't work. Might be because of
a) The wrapping as a type `object` for reusability (less likely?)
b) Issues with the input component we created ourselves (the text area with the char counter). However, th

[2021-08-16 07:18] SvSven commented on #404
Following these steps:

[code]

and everything works for me - so looks good?

[2021-08-16 07:19] SvSven commented on #332
Hmm, strange. Might be I missed the validation - will have a look

[2021-08-16 07:38] SvSven commented on #408
Looks good 👍
Just wondering if this is something we should fix upstream in the EDS as well?

[2021-08-16 08:50] #403 closed

[2021-08-16 09:09] wenche commented on #396
It seems to be an issue with Chrome 92 and the Norwegian Date format. It works with other browsers (or engines, same with Edge) including Chrome Canary (v95)

Canary
![Skjermbilde 2021-08-16 kl. 10.46.42.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ea02d835-5776-41a3-9d77-89bbacff6b19)

Production Chrome
![Skjermbilde 2021-08-16 kl. 11.08.41.png](https://images.zenhubusercont

[2021-08-16 09:29] #396 closed

[2021-08-16 09:30] #404 closed

[2021-08-16 09:31] nicholas-haggerty commented on #325
@meols Can you add dependencies here

[2021-08-16 09:35] wenche commented on #413
According to Simeon, some work has been done at Sanity's end regarding lang param and stuff, but it's not released yet.

[2021-08-16 10:33] wenche commented on #186
### Some comments on today's solution

The large version of the menu (desktop version) uses to actual navigation elements for each menu item. One for the actual link for a landing page ("What we are" in the image below) and one for arrow that toggles the actual sub menu. In addition, there's a hover effect on the list item that opens or closes the sub menu. The link to the landing page is also dup

[2021-08-16 10:41] SvSven commented on #398
Looks good, though this should really be something that we can configure from Sanity's end

[2021-08-16 10:49] nilsml commented on #334
Is this still relevant? Do this for other components too? Other ways of achieving this?

[2021-08-16 11:48] SvSven commented on #332
Fixed in https://github.com/equinor/energyvision/commit/b0fb024c44dc1ef73f484531cb6974d63b7defdc

[2021-08-16 13:03] #408 closed

[2021-08-16 13:03] #398 closed

[2021-08-16 13:04] SvSven commented on #337
Checked to see if the issue may have magically been solved by updated dependencies, but the problem persists.
Awaiting meeting with Sanity to discuss it sometime next week.

[2021-08-16 13:09] vnys opened #421 "Create a variable font hover example"
Related to #350

[2021-08-16 13:13] nilsml commented on #337
What to do we do with meta data?

[2021-08-16 13:24] nilsml commented on #334
Revisit this card. Decide what to do. Rewrite description and acceptance criteria if necessary.

[2021-08-16 13:26] nilsml commented on #368
@BirteThornquist to schedule workshop

[2021-08-17 06:38] SvSven opened #422 "Follow up on fix for array field validation from Sanity"
Related: #332

Array fields where the items are removed have the value `[]` instead of `undefined`, breaking the `required()` validation

[2021-08-17 07:09] SvSven commented on #413
On holding pending update for Sanity studio

[2021-08-17 08:42] nilsml opened #423 "Set up basic Prometheus logging"
**In order to get metrics from production environment, we need to set up basic Prometheus logging to Radix**

## Acceptance criteria
1. It is possible to publish metrics through Prometheus to Grafana

[2021-08-17 09:52] #350 closed

[2021-08-17 09:56] #332 closed

[2021-08-17 09:58] nicholas-haggerty commented on #363
All good. Only issue is with spruce wood background with hover on button as light pink. @BirteThornquist lets chat to finalize.

[2021-08-17 10:12] meols commented on #325
Will the current Brandmaster subscription solution be used or a new one?
This solution was made for Equinor to solve a problem when changing CMS to AEM, and is not an out of the box Brandmaster product. The email has poor quality email display, and should be emprived (compared to e.g. BP and other).

Investigation task:
Is there a better tool, API based, to use for subscriptions (where we need to

[2021-08-17 12:58] SvSven commented on #355
As a start we added a basic "placeholder" component to add stock info, where you don't have to configure anything but can select a background colour.

[2021-08-17 13:06] nicholas-haggerty opened #424 "Topic page version 4"
Moved from Topic page 3.

1. Anchor link
1. Horizontal Menu?
1. Localization phase 2
1. Footer

[2021-08-17 13:08] nicholas-haggerty opened #425 "As an editor i would like an iframe component to host events and third party content"
I frame attributes from current set up:

Link title which is for accessibility only (not visible in UI)
Link placement
Option to add cookie policy NONE / MARKETING / STATISTICS
Option to have different aspect ratios (16:9 - 1:1)
Option to specify height by pixel

![iframe equinor.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/418d6656-b3c4-42c1-94e1-af593653e4bc)

[2021-08-17 13:16] nicholas-haggerty commented on #217
@BirteThornquist Yo. Lets discuss this when you have time

[2021-08-18 11:52] nilsml commented on #334
Highlight text should be solved. Some UX work is needed. @BirteThornquist

[2021-08-18 11:55] #295 closed

[2021-08-19 10:47] nilsml opened #427 "copy lables"

[2021-08-19 11:53] nilsml commented on #349
I have done some research today. My findings:

- It may be possible to use Brandmaster together with [screen9](https://screen9.com/) as they already have an integration. Then the assets will stay in Brandmaster but be served by screen9. Very little documentation on how this will work though.
- MUX has the ability to pull for assets. That means we can provide URL's for all the videos we want availa

[2021-08-19 11:54] nilsml commented on #349
Waiting for Brandmaster to answer my email with questions atm.

[2021-08-20 06:14] wenche opened #428 "Reintroduce linting during builds"
We had to disable [linting during builds](https://github.com/equinor/energyvision/commit/5bcd6bfa2f130e94efd93543d65ec9540a741fca) because of issues with Next.js new linting features, monorepos and excisting lint configuration.

Check if [this issue](https://github.com/vercel/next.js/issues/26348) will fix it.

Also see https://sanity-io-land.slack.com/archives/C013NG0UF0B/p1624354835143700

[2021-08-20 07:19] wenche commented on #392
Still waiting. This is stupid.

[2021-08-20 07:19] nilsml commented on #423
Issues setting up metrics endpoint at expected path, `/metrics`.
Added an issue for Radix to make this path configurable: https://github.com/equinor/radix-platform/issues/468

For now we have metrics running on `/api/metrics`. Waiting for Radix team's response.

[2021-08-20 09:48] wenche commented on #428
It seems like the original issue is fixed. But our monorepo is still causing a lot of issues with the path inside the web folder. Let's stick with the linting as a separate task and still disable it during builds. Sigh.

[2021-08-20 09:48] #428 closed

[2021-08-20 11:22] nilsml opened #429 "Investigate "overlay panel" concept and how it should be used"

[2021-08-20 11:23] nilsml opened #430 "Conduct workshop for discussing Plan B"

[2021-08-20 11:24] nilsml opened #431 "Investigate implications with changing the information structure (ref new menu)"
Workshop devs, UX and Nick

[2021-08-20 11:27] nilsml opened #432 "Create schema for "overlay panel" content"

[2021-08-20 11:29] nilsml opened #433 "Create web component for the "overlay panel""

[2021-08-20 11:32] nilsml opened #434 "Update components to use ne "overlay panel" schema"

[2021-08-20 11:37] nilsml opened #435 "Prototype a menu builder in Sanity"

[2021-08-20 11:39] nilsml opened #436 "First version of menu for the web"
Query menu builder from #435

We need to solve the problem of fetching data once with statically regenerated pages - and that's a though one.

- [x] Fetch data
- [x] Create dummy menu component

[2021-08-20 11:52] wenche opened #437 "Figure out if we should have language on route/menu level instead of at field level"

[2021-08-23 08:27] nilsml commented on #356
This seems indeed to be a duplicate of #374. We need to make a decision. In the meantime I close this one, and we may tack history in 374 instead.

[2021-08-23 08:28] #356 closed

[2021-08-23 08:32] nilsml commented on #423
Closing this as the work is done from our side. Once Radix supports changing path, we are ready to go!

[2021-08-23 08:32] #423 closed

[2021-08-23 08:34] nilsml opened #438 "Enable Prometheus logging for Radix"
Once the Radix team has enabled customizable path (equinor/radix-platform#468), we may enable logging in the solution.
Related to #423

[2021-08-23 08:51] #355 closed

[2021-08-23 10:08] BirteThornquist commented on #435
In a workshop August 19th (Nicholas, Sven, Birte) 2 scenarios for structuring the menu in Sanity were discussed

A) Create the menu as part of the routes

![Skjermbilde 2021-08-23 kl. 11.37.13.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/43441809-08af-46f8-a5e0-8aabefb238cb)

B) A separate menu builder

![Skjermbilde 2021-08-23 kl. 11.41.36.png](https://images.zenhubuserconte

[2021-08-23 11:11] wenche commented on #436
The challenging part is the data fetching part where we want to fetch data only once. While Next.js probably will solve this in a future update, for now there are some tradeoffs. The current status is described in [this issue.](https://github.com/vercel/next.js/discussions/10949#discussioncomment-958694)

[This blogpost](https://flaviocopes.com/nextjs-cache-data-globally/) describes the recommende

[2021-08-23 12:51] nilsml commented on #301
The rest of this epic is really about Plan B. Perhaps create a new Epic for that with more specific content.

[2021-08-23 12:53] nilsml commented on #415
Carousel removed from pages, so this is no longer relevant.

[2021-08-23 12:53] #415 closed

[2021-08-23 13:03] nilsml commented on #407
@nicholas-haggerty Ready to be tested

[2021-08-23 13:20] nilsml commented on #374
This issue is talking about archived news articles, but what about other static content. In a situation where we will need to make static pages of everything in AEM, this will probably also be an issue.

[2021-08-23 16:02] nicholas-haggerty commented on #407
@nilsml  And where do I test this?

[2021-08-23 16:04] nicholas-haggerty commented on #354
@nilsml We discussed in this mornings meeting. Sven has gone ahead with this task and implemented the component in Sanity already. Input wasnt required. Until we see it in the web its a little hard to see if we have delivered on the task.

[2021-08-24 07:42] nicholas-haggerty commented on #407
@padms @meols Hi Padmaja. How would we test this? Something we would need to have a meeting/demo on?

[2021-08-24 10:41] wenche opened #439 "Fix missing border radius for Cards with a background color"
When we migrated the Cards component to use the BackgroundContainer for background colors, we missed the issue with rounded corners on Cards. The background container needs to respect this.

This is the issue: Only the images have rounded corners, not the container
![Skjermbilde 2021-09-20 kl. 14.02.54.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/2a8e08e0-8ade-431a-9100-23b6f

[2021-08-24 13:49] nilsml commented on #304
## Requirements for production environment
1. Easy to deploy
2. Easy to scale
3. Monitoring capabilities
4. Good™ Performance*
5. Acceptable Uptime**

### *Performance
We don't have defined metrics for performance yet. This will be worked on when solution is more complete.
For now performance has been measured by comparing Vercel to Radix.

### *Uptime
Solutions compared by looking at actual uptim

[2021-08-25 08:49] #363 closed

[2021-08-25 12:24] nilsml commented on #304
Any other parameter we should compare for these two hosting platforms @SvSven @wenche?

[2021-08-25 12:31] nicholas-haggerty opened #440 "As a editor we would like have an event template to provide users with a standardized page to view events both as upcoming and passed events"
## Acceptance criteria
1. New EVENT template based on NEWS template setup

1. Title
1. Date
1. Add to calendar button (remove/disable button post event date)
1. Ingress
1. Text
1. Iframe - (optional, doesn't display until link is added)
1. People promo - providing contacting details of stakeholder(s)
1. Basic table component
1. Links & Downloads

[2021-08-25 13:12] nicholas-haggerty opened #441 "As an editor I need to display details of employees in a promotional component"
## Acceptance criteria
1. Editor can add one to several promo elements.
1. Needs optional fields to:
Display either contact info (telephone number and email) that is clickable for user.
Display a CTA to find out more.
1. Component for TOPIC template and also EVENTS template

## In order to ensure good quality we should (Keep the ones we need for this US)
Add image
Title
Job description line 1
Job

[2021-08-25 13:20] nicholas-haggerty opened #442 "Investigate solutions to solve certain pages that previously used the PANEL template"
As we will move forward WITHOUT the PANEL template, some will be easy to replace as either: NEWS  /  EVENTS / TOPICS, but there are some pages that may cause issues
https://www.equinor.com/en/how-and-why/impact-assessments.html
https://www.equinor.com/en/about-us/corporate-executive-committee.html
https://www.equinor.com/en/what-we-do/fields-and-platforms.html

Should we build these pages using to

[2021-08-27 06:34] SvSven opened #443 "Follow up on brandmaster web plugin issue"
Relates to #337

The Brandmaster web plugin used for the custom asset source in Sanity does not load properly. It gets stuck in an infinite redirect loop when trying to authenticate with AD.

We need to check with Brandmaster on how to fix this.

[2021-08-27 07:12] #186 closed, assigned to BirteThornquist

[2021-08-27 08:36] nilsml opened #444 "Make migration script work with topic pages - careers into blob storage"
**In order to serve AEM pages as static pages in Next.js solution, we need to make migration script work with topic pages**

Focus on careers

## Acceptance criteria
1. Json-content for topic pages available in blob storage

## Sub-tasks
- [ ] Add new rewrite Next.js config file

[2021-08-27 10:58] wenche opened #445 "Split on language in the navigation structure for Routes and Menu"
Add a navigation structure level for "Norwegian" and "English" at top level for routes and menu.

![Skjermbilde 2021-08-27 kl. 12.59.24.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8bd7f79b-3f73-416f-91f1-c6f27156fe98)

Relates to #437

Acceptance criteria
- English and Norwegian routes and menus are created separate
- Use previews corresponding to the actual language (Norweg

[2021-08-30 05:13] #159 closed

[2021-08-30 05:16] #430 closed

[2021-08-30 09:00] #436 closed

[2021-08-31 11:14] #270 closed

[2021-08-31 11:22] SvSven opened #446 "filter news articles by language in reference fields"
The Sanity localization plugin adds a `_lang` field to translated documents, but not on the source document.
We need to figure out a way to filter the reference field by language in order to not have a endless list of pages to scroll through when making an internal link.

Code below used to filter topic pages, this does not work for English news articles due to missing `_lang` field.

[code]

[2021-08-31 11:29] SvSven commented on #446
Seems like the missing `_lang` field has been fixed in the intl plugin, so more recent news articles have the field but older ones do not, and the reference field will fail with a broken filter error.

[2021-08-31 12:17] nilsml commented on #349
I have been pointed to Branmaster's API and looks like we can search for assets and download them. There should be a possibility for setting up some kind of hook too for being notified when changes are done. Will need to get that confirmed though.

[2021-08-31 12:41] SvSven commented on #413
It's still re-rendering a lot, but the problem with the param in the query looks to have been fixed.

[2021-09-01 06:46] SvSven opened #447 "upgrade to node v16"
upgrade Dockerfile and volta config from node v14 to node v16

[2021-09-01 13:31] wenche commented on #445
**Status**
- Added the language level in Sanity
- Updated the internal links and references accordingly
- Updated some previews
- Updated the topic page query in the web
- Updated the menu query in the web, we now have the first version of the menu running for both /careers and for /no/karriere

**Some details are still work in progress**
- Get the language switch to work with the new content stru

[2021-09-02 06:20] nilsml commented on #304
Will leave this as is for now. Let's do a new round of comparison once we have more to test.
To be continued...

[2021-09-02 06:20] #304 closed

[2021-09-02 06:47] SvSven opened #448 "fix language switch after splitting route language"
Relates to #445

After splitting the language from routes and making a separate route document for each language, we lost the connection between the two different languages making it more difficult to figure out whether the page the user is looking at has a translation and what the slug for that translated page is.

We used to have a `allSlugs` field in the GROQ query that lists both the English a

[2021-09-02 06:47] #431 closed

[2021-09-02 06:50] nilsml commented on #443
Talk to @meols about this one

[2021-09-02 08:08] wenche commented on #445
@nicholas-haggerty  I'm moving this to review. Not everything is 100% polished yet, but more things will come in the near future while we are working on  the Plan B part.

To test/verify this you can try the features that was demoed during yesterday's status meeting: The language should now be the first thing you need to select when you add routes and menu items in Sanity. You should be able to cr

[2021-09-02 10:27] nilsml opened #449 "As an end user I want a good way of navigating the news archive"
Let's not make too much effort out of it, but we need an improved version of the [news archive landing page](https://energyvision.app.radix.equinor.com/news/archive). Is it possible to fetch the title for each page as well?

How about search/filtering? tbd

## Acceptance criteria
1.  It is possible to navigate to each of the static pages
2. It is possible to switch language

## In order to ensure

[2021-09-02 10:34] nilsml opened #450 "How should the pages folder be in Next.js"
Evaluate different approaches for differentiating between static and dynamic pages

[2021-09-02 10:36] nilsml opened #451 "Create a route structure in Next.js to serve static content"
Relates to #450

More info to come…

[2021-09-02 12:05] nicholas-haggerty commented on #445
@wenche Good, been through it. Works well. I will close this card.

[2021-09-02 12:05] #445 closed

[2021-09-02 12:11] nicholas-haggerty opened #452 "As an editor I want to easily find the page I want to edit"
## TODO
- Discuss different solutions to this.

## Acceptance criteria (to be updated)
- It is possible to group pages based on
  - template
  - title

Related (almost duplicate of) to #541
----

While work is being carried out on the production environment could be good to look at smart folders. Particularly in the TOPIC CONTENT lane. Be good to have editorial control to set up/name the folders a

[2021-09-02 13:32] wenche commented on #450
Added some pros and cons as a start in Figjam :thumbsup:

[2021-09-02 14:55] padms commented on #444
New containers for non-news pages are created.
Azure function app updated to store non-news pages to new container.

[2021-09-03 07:25] SvSven commented on #450
Using the folder structure route of Next.js seems like the best approach for a couple of reasons:
- Separation of concerns; we don't have to mix the rendering and API code in the same file which makes it easier to keep an overview as well as easier to disable/remove the temporary static AEM functionality when the migration is done.
- Gives a clearer overview of which top-level routes are being ser

[2021-09-03 08:19] #450 closed

[2021-09-03 11:24] wenche commented on #139
Update @nicholas-haggerty (and everybody else)

- We have created some new fields in the menu builder tool for the top level link and the sub item links for each menu item. The idea is to make it very explicit by using a switch for static pages (in lack of a better term). This switch uses the new conditional field features Sanity recently launched, and if the switch is on, you'll have a text field

[2021-09-06 08:52] nicholas-haggerty commented on #337
@meols take dialogue with Yngve.

[2021-09-06 09:31] wenche opened #453 "Fix links with anchor element"
AEM has a lot of links using the anchor element to jump directly to an id of a page. This doesn't work in the Next.js solution because of the added `.html` part. Example from wind:
`<a href="/en/what-we-do/wind.html#uk-wind" target="_self"> <span>UK Wind</span> </a>`

Ideally, the url should just be `href="#uk-wind"` if it is on the same page, and without the .html `<a href="/en/what-we-do/explora

[2021-09-06 09:39] wenche commented on #330
Many of the links will just work out of the box when the static content is available since they are using a pattern like this:
![Skjermbilde 2021-09-06 kl. 11.37.45.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/946d33e0-d88e-4973-8890-ec7a6c932158)

[2021-09-06 09:50] wenche opened #454 "The height of the "main" element is wrong with static pages"
![Skjermbilde 2021-09-06 kl. 11.49.23.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/23fb0769-55e8-4ea5-b689-527eb94e9a7c)![Skjermbilde 2021-09-06 kl. 11.49.06.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/63f1ed18-7f8f-4fce-980c-031fd3e24e31)

The height of the `main` element is wrong, and this causes the `footer` element to be positioned at the wrong plac

[2021-09-06 09:53] wenche opened #455 "Fix icon issues"
We are still seeing some issues with icons on the static topic pages.

![Skjermbilde 2021-09-06 kl. 11.53.20.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/12e4b23b-f5f3-4575-9377-8b2995b65cac)

[2021-09-06 10:08] wenche opened #456 "Highlighted, big number is "0""
In the arrays with text and svg, we probably miss some Javascript as the highlighted  numbers are showing "0". Example URL [/what-we-do/exploration](https://energyvision.app.radix.equinor.com/what-we-do/exploration)

![Skjermbilde 2021-09-06 kl. 12.06.28.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/902da635-c395-4a54-b52c-2949a0a3ee38)

[2021-09-06 10:24] wenche opened #457 "Text wrapping issue with "Read more" button"
The "Read more" button doesn't look too good at breakpoints between 750px and 1650px as the text wraps on two lines

![Skjermbilde 2021-09-06 kl. 12.19.50.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/2d0e75ce-0a4a-4d4d-af9c-39b3ecc9cf7e)

[2021-09-06 10:28] wenche opened #458 "SVG icons in text/icon arrays are too big"
Static version
![Skjermbilde 2021-09-06 kl. 12.28.25.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/4d626191-e3e2-4bf2-a4d6-846acc0008bb)

In production
![Skjermbilde 2021-09-06 kl. 12.29.29.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/15ad0d2e-f2a5-4170-8b65-f50491fb02ec)

[2021-09-06 10:32] wenche opened #459 "Find a way to populate getStaticPath for the static AEM pages"
WIth Next.js and static content with dynamic routes, we'll need a way to fetch the URLs that should be generated. See [Next.js documentation](https://nextjs.org/docs/basic-features/data-fetching#getstaticpaths-static-generation).

For Sanity served pages, we have [a query that fetches every slug ](https://github.com/equinor/energyvision/blob/db7c35852ae31bf0d1af813828b1ffa464e63417/web/pages/%5B%5

[2021-09-06 10:51] wenche opened #460 "Make 3. level urls work"
![Skjermbilde 2021-09-06 kl. 12.50.47.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/98db5534-1bf8-4ea9-9abf-176ba9261d8e)

Url's on the 3. level doesn't work yet

Example https://energyvision.app.radix.equinor.com/what-we-do/partner-operated-fields-in-norway/marulk

[2021-09-06 11:19] wenche opened #461 "Make the menu a little more user-friendly"
To make it easier to test the static content using the menu, we need to make it a little bit more user friendly

[2021-09-07 09:51] wenche commented on #461
The menu is by no means finished. :)

I have added a couple of things to make the initial version a bit easier to use. I have also added some code to showcase some of the things we need to solve.
- Highlight the current selected item
- Close the menu on navigate
- We'll probably need some state

Yet to be solved
- Everything about a11y
- Mobile version
- Actual UX and behaviour
- A lot more robust

[2021-09-07 10:51] SvSven commented on #459
We may be able to get this directly from the blob storage - otherwise we could maybe make an azure function that takes a top-level route (for example /careers) and then returns all entries that are in the storage with that path.

That may be useful to have for other stuff as well.

[2021-09-07 10:54] wenche opened #462 "Scope global CSS element rules from legacy css"
CSS rules on element level affect the menu (and footer)
 ![Skjermbilde 2021-09-07 kl. 12.53.30.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/07e72ce9-b034-4ff8-bd4d-1372079bdcc5)

[2021-09-07 10:59] nilsml commented on #349
Drawing of proposed setup can be found here:
https://www.figma.com/file/A5fJbPqpzEPLnlrAAjnOuC/Envis-video?node-id=0%3A1

New issues will be created for doing the actual job of implementing this.

[2021-09-07 10:59] #349 closed

[2021-09-07 12:04] SvSven opened #463 "fix missing header videos in static pages"
The scraper tool currently doesn't seem to copy the videos in the page banners from the DAM to blob storage.
Example of a page with such a banner video is: https://www.equinor.com/en/sustainability/climate.html

[2021-09-07 12:07] wenche opened #464 "Implement a caching policy for DAM content"
![Skjermbilde 2021-09-07 kl. 14.07.18.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/98f0e5d0-9165-4fca-ac49-0e24b6479a70)

Currently not enabled for images in blob storage. Either set up CDN or run script to enable caching for each file.

[2021-09-07 12:19] nilsml opened #465 "Set up account with MUX"

[2021-09-07 12:20] nilsml opened #466 "MUX - Create video component (Sanity and Web)"
Create a video component in Sanity and use MUX in the web to show the video

## Things to remember
- Banners
- Integration to video archive (Fotoware most probably)

[2021-09-07 12:21] nilsml opened #467 "Create webhook for dealing with changes to Brandmaster"
On changes from Brandmaster –> update MUX accordingly through their API's

[2021-09-07 12:40] padms commented on #453
Fixed in the migration script.

[2021-09-08 06:28] wenche opened #468 "As an editor I would like to add flag icons for the country names in the new menu"

[2021-09-08 07:04] SvSven opened #469 "figure out how to serve Sanity and static AEM content at the same time"
For example if we don't have static content for a given path, we should check if there is published content in Sanity instead

[2021-09-08 07:04] wenche commented on #460
Probably mostly related to overlay pages

[2021-09-08 08:25] #451 closed

[2021-09-08 08:49] SvSven commented on #337
Waiting on #443

[2021-09-08 08:52] #448 closed

[2021-09-08 08:52] #139 closed

[2021-09-08 08:54] #453 closed

[2021-09-08 08:56] nilsml commented on #444
Need to also do the top level pages

[2021-09-08 09:06] nilsml commented on #456
First step at enabling javascript for the archived pages

[2021-09-09 06:19] SvSven commented on #463
Can confirm, I see them in azure and it looks to be working on https://energyvision.app.radix.equinor.com/sustainability/climate
Happy to see that the file sizes are also not as bad as I feared they might be 😅

[2021-09-09 06:22] #463 closed

[2021-09-09 06:27] wenche commented on #444
The top level pages are available. Looking mostly good. Some comments @padms
- About us has only an image and doesn't look like in production
- Some images are missing, for example at Where we are

[2021-09-09 06:29] wenche commented on #459
We will also need to see how many of the pages we should generate at build time. Are some of them more important than other? Like the ones in the menu og the most popular one according to analytics

[2021-09-09 08:37] wenche opened #470 "Test performance"
We should run some tests and see how the static pages affect performance

[2021-09-09 09:11] wenche commented on #470
Desktop 2 AEM, 2 Sanity

![Skjermbilde 2021-09-09 kl. 10.59.33.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/122801d7-789f-4a0c-9cad-8710c9699ce0)
![Skjermbilde 2021-09-09 kl. 11.00.35.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/144b1080-b882-4ed4-8f65-6a16531f2f1d)
![Skjermbilde 2021-09-09 kl. 11.07.34.png](https://images.zenhubusercontent.com/5fb7aa9b6

[2021-09-09 09:27] wenche commented on #470
Mobile

![Skjermbilde 2021-09-09 kl. 11.20.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f3252c2f-34c2-4687-b882-9e33d3ee80fb)
![Skjermbilde 2021-09-09 kl. 11.23.19.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/d02375cd-2ca9-4ff1-b9f3-e3d1affa65dd)![Skjermbilde 2021-09-09 kl. 11.25.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f9

[2021-09-09 09:29] wenche commented on #470
Bundle analyze

server
![Skjermbilde 2021-09-09 kl. 11.28.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/de153921-1944-4102-a0e4-bb8c3603f561)
client
![Skjermbilde 2021-09-09 kl. 11.28.24.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/4fb6d63c-87f6-44b4-96c1-9396f4fb5118)

[2021-09-09 09:33] wenche commented on #470
To summarise,  yes the new setup with static pages does impact performance (as expected). Especially the main thread work

[2021-09-09 12:00] wenche opened #471 "How should we handle existing redirects in AEM"

[2021-09-13 08:48] #461 closed

[2021-09-13 08:52] nilsml commented on #470
@nilsml to bring this up with the Radix team

[2021-09-15 09:08] #456 closed

[2021-09-16 12:14] wenche commented on #470
Top 3 performance issues (critical) atm flagged by Sitebulb:

- Lack of cache from the DAM image archive (#464)
- Some pages (10 in this audit) are huge (>5Mb)
![Skjermbilde 2021-09-16 kl. 14.11.55.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/0e46e86d-7d91-44d9-bd5a-cb4c24f1c0d2)
- https://energyvision.app.radix.equinor.com/en/what-we-do/exploration is flagged with a render b

[2021-09-16 12:17] wenche opened #472 "Find a better way to include Azure analytics"
[This commit](https://github.com/equinor/energyvision/commit/881c43f06cdf6d102fd6d3551bc5c2c31a2b19ab) removed the MS application insight because it had such a high impact on first JS shared by all

See the difference using Next.js's CLI
![Skjermbilde 2021-09-14 kl. 21.40.48.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/29ca4dab-36c2-4f84-87bf-d72dc4f88466)
![Skjermbilde 2021-

[2021-09-16 13:21] wenche commented on #470
Latest audit (for future reference)
### Grafana
![Skjermbilde 2021-09-16 kl. 15.19.17.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/4ecfda20-5e6f-434b-9c64-130b83c1b3d2)
### Sitebulb
![Skjermbilde 2021-09-16 kl. 15.20.42.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/103b8525-3804-49e7-b21c-e5220e77cd13)

[2021-09-17 05:24] #469 closed

[2021-09-17 05:26] wenche opened #473 "Fix missing images"
Some pages are missing some of the images, like https://energyvision.app.radix.equinor.com/where-we-are

![Skjermbilde 2021-09-17 kl. 07.27.36.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/87e2df0f-b8e9-462e-bec8-3ca89e1c66ec)

[2021-09-17 05:29] wenche opened #474 "Fix /about-us"
The [about-us ](https://energyvision.app.radix.equinor.com/about-us)page is not looking the same as in production.

[2021-09-17 05:31] wenche commented on #330
I don't think this is an issue now @nilsml ?

[2021-09-17 05:32] #444 closed

[2021-09-17 05:39] nilsml commented on #330
The way we have solved it seems to work, yes.

[2021-09-17 07:51] nicholas-haggerty opened #475 "As editors we need to use Sanitys DAM to host PDF/EXCEL and certain illustration files (JPG/SVG)"
## Acceptance criteria
1. Editors can easily upload files to use in templates
1. Need to have a way to structure the assets to make it easy to find for editors when they are bot saving/uploading and navigating to the relevant file(s)
1. Sanity has smart folders. How does this work in practice? Tagging? Editors should have ability to fine grain 'file structure'

## In order to ensure good quality w

[2021-09-17 09:21] SvSven commented on #138
Goal should be to re-use the current CookieBot solution implemented on equinor.com

[2021-09-17 10:46] wenche commented on #470
The EDS packages have a huge impact on the client side bundle size. We have done some testing and summarised our finding in the corresponding EDS issues https://github.com/equinor/design-system/issues/1539 and https://github.com/equinor/design-system/issues/1043

[2021-09-17 10:48] #470 closed

[2021-09-17 10:50] SvSven commented on #460
Third level pages are only used for the purpose of panel pages as far as I know, and won't be used in the future.
If we can't get the old javascript to run without any issues then another option is to just have the links/buttons to open these panel pages link to the URL and have it be a normal content page.

[2021-09-20 06:05] wenche commented on #454
Since we have multiple `main` element, I don't think we can reuse the Layout directly for static AEM pages.

[2021-09-20 06:35] #330 closed

[2021-09-20 06:37] nilsml opened #476 "Revisit Brandbmaster integration once they have fixed cookie issue"

[2021-09-20 06:38] vnys opened #477 "Link to legacy css and js in workspace"
When working with the legacy css and js there’s currently no local linking between packages which makes testing and development difficult.

[2021-09-20 06:38] nilsml commented on #337
Created new issue for the Brandmaster cookie issue #476

[2021-09-20 06:38] #337 closed

[2021-09-20 06:39] nilsml opened #478 "Pull meta data from images on Brandmaster"
When images are uploaded to Brandmaster, the editors add some meta information. In #337, the fields we can pull where identified to be

- title
- description
- credit line

1. Which of these fields are relevant for us?
2. How can we attach them in Sanity
3. How could we access the in the web
4. Update image fields (caption/attribution/??) accordingly

[2021-09-20 06:44] SvSven commented on #462
@wenche this is ready for review

Legacy CSS rules are now nested under the `.legacyStyles` class - which has been added to the container div for the static topic pages and news archive.

[2021-09-20 06:50] wenche commented on #474
This was Sanity content.

[2021-09-20 06:50] #474 closed

[2021-09-20 06:59] wenche commented on #462
Looking good!

For the record, I'm not a fan of camel casing naming convention for CSS class names, but I'll let it go. For this time. :p

[2021-09-20 07:00] #462 closed

[2021-09-20 07:14] wenche commented on #458
@padms  It would be nice if you could add a comment to explain what you did to solve the issues for future references. :)

As for this issue, the icons are still too big compared to production but I guess that's because of the fluid typography and the size of `rem` in the new solution? Doesn't look to bad, so I think it's OK.

[2021-09-20 07:18] wenche commented on #455
![Skjermbilde 2021-09-20 kl. 09.15.47.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/edb94bce-7bf6-4ea2-bf9a-18a04fb28198)
Looks good. :)

@padms It would be nice with a comment describing what you did beyond the linked commit.

[2021-09-20 07:28] SvSven commented on #462
🐫

[2021-09-20 07:41] wenche commented on #462
The version of the CSS legacy styles in radix is wrong/too old. Why? Should be solved by #477

[2021-09-20 07:48] wenche commented on #462
Because the github action was not triggered by changes in `package.json`.

Wenche, on behalf of Sven van ProblemSolver Steenis.

[2021-09-20 08:32] SvSven commented on #464
The AEM assets are copied to and hosted by the azure blob storage, same as the JSON content.
We'll need to set a caching policy for the entire blob storage, however this is not something that is easy to do at the moment. We could solve this by adding a CDN however.

[2021-09-20 08:53] SvSven commented on #374
In the current setup we are hosting static topic pages from AEM in the same application as the news archive and Sanity content. I'm not sure if it makes sense to do this at this point in time as we need the legacy-css styles used by the news archive for these static topic pages as well.

In addition there is the question of how to handle the new Sanity-based menu and footer if we choose to switch

[2021-09-20 09:20] vnys commented on #462
I think camelCasing PascalCasing and hyphens all have their purpose in classnames to denote meaning. `.ComponentClass ` `.descendantClass` `.descencantClass-someModifier` etc. Underscores on the other hand 🤮

[2021-09-20 09:51] nilsml opened #479 "Schedule meeting for establishing how we should host the solution"

[2021-09-20 09:56] nilsml opened #480 "Verify static pages"

[2021-09-20 10:00] nilsml opened #481 "Make list of pages that have to be dynamic to go live. Remit should be one"
Below are list of pages having list components  - [ Latest news , magazine list, list etc ]
https://www.equinor.com/en/where-we-are/uk-news.html
https://www.equinor.com/en/magazine.html
https://www.equinor.com/en/news.html
https://www.equinor.com/search.html?language=en&q=

All pages having service-now forms [ Careers contact form, storage request form etc]
https://www.equinor.com/en/about-us/form

[2021-09-20 10:02] wenche commented on #471
Is this handled by the AEM or on dns level in today's solution?

[2021-09-20 10:05] nilsml opened #482 "Optimize performance"

[2021-09-20 10:17] nilsml opened #483 "Supply sitemap"
**In order to comply with SEO best practice, we need to supply a sitemap**

## Questions
1. Is it needed
1. If yes; when is it needed
1. Cleanup when replacing static pages with dynamic

## Acceptance criteria
1. [Criteria 1]
1. [Criteria 2]

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Perform integration testing
- [ ] Perform functional testing
- [ ] Ext

[2021-09-20 10:25] nilsml commented on #334
Decided not to do this atm as we don't know exactly what and how to solve

[2021-09-20 10:31] nilsml opened #484 "Create "add to calendar" functionality for events"
Create a button for events that downloads an .ICS file based on the event details to allow users to add that event to their calendars.

[2021-09-20 10:33] #271 closed

[2021-09-20 10:44] nilsml opened #485 "Include footer for all pages"
**In order to conform to SEO standards, we need to include a footer for all pages**

## Questions
1. Is RSS REALLY needed in 2021?

## Acceptance criteria
1. [Criteria 1]
1. [Criteria 2]

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Perform integration testing
- [ ] Perform functional testing
- [ ] Extra focus on usability
- [ ] Test for portability
- [ ]

[2021-09-20 10:46] nilsml opened #486 "Prepare to Go Live! 🎉"
This epic contains all the tasks that are necessary in order to go live

Question: Should we start with one satellite site?

[2021-09-20 11:01] #320 closed

[2021-09-20 11:02] #479 closed

[2021-09-20 11:16] nilsml opened #487 "Investigate how to cache static generated pages"

[2021-09-20 11:16] wenche commented on #459
We need to figure out what exactly we want to do here and find the sweet spot. We will probably know more after the workshop of Thursday.

[2021-09-20 11:18] wenche commented on #487
See e.g. https://www.smashingmagazine.com/2021/04/incremental-static-regeneration-nextjs/#isr-not-just-caching

[2021-09-20 11:21] wenche opened #488 "Fix missing equinor fonts in Storybook"
We moved the font into the /public folder due to performance issues, but we forgot to update the storybook. The storybook could probably load the fonts from the  CDN

[2021-09-20 11:36] SvSven commented on #230
Is this still relevant? Or better asked, is this ever _not_ relevant?

[2021-09-20 11:47] #477 closed

[2021-09-20 11:52] SvSven commented on #462
I admit to not have put much thought into it 😬
Personally don't really like hyphens as it doesn't play nice with double clicking the class name to for example change or see all occurrences. Granted, not needed often but eh 🤷‍♀️

[2021-09-20 14:45] nilsml commented on #449
Is this also related to sitemap?

[2021-09-20 14:46] nilsml commented on #447
Isn't this something we can just do? @wenche @SvSven

[2021-09-20 14:50] nilsml commented on #421
Where does this fit in our schedule? Something that can be done asap? @vnys

[2021-09-20 14:53] nilsml commented on #405
In which epic does this fit do you think @wenche?

[2021-09-20 14:54] #183 closed

[2021-09-20 14:56] #129 closed

[2021-09-20 15:00] #74 closed

[2021-09-20 15:00] #69 closed, assigned to nobody

[2021-09-20 15:01] nilsml commented on #167
I guess this will be more about the testing. Will keep it until further notice.

[2021-09-20 15:57] nilsml commented on #136
What is the status on this one? Is it taken care of?

[2021-09-20 15:58] nilsml commented on #135
I guess this is about the satellite pages and how to reach them

[2021-09-20 15:59] nilsml commented on #134
Can we close this one @wtol?

[2021-09-20 16:03] #132 closed

[2021-09-20 16:06] nilsml commented on #128
Where does this fit? 🤔

[2021-09-20 16:07] nilsml commented on #126
Close this as accessibility is a common concern for everything we do

[2021-09-20 16:07] #126 closed

[2021-09-20 16:08] nilsml commented on #124
Also covered by #189

[2021-09-20 16:11] nilsml commented on #230
Asking myself the same question. Continous improvements? 🤷‍♂️ Perhaps close for now

[2021-09-20 16:11] #230 closed

[2021-09-20 16:13] nilsml commented on #345
We should keep things simple for MVP!

[2021-09-20 16:14] nilsml commented on #261
Radix environment in place. Should we also have a stable Sanity environment?

[2021-09-20 16:15] nilsml commented on #346
Duplicate of #178?

[2021-09-20 16:17] nilsml commented on #380
When does it make sense to look at this? @wenche; inputs?

[2021-09-21 05:58] wenche commented on #449
No, it's not. It's for the news archive landing page.

[2021-09-21 06:11] wenche commented on #447
Probably? I don't remember why we created a separate issue for this one. But didn't you struggle with something yourself about node versions? Let's try.

[2021-09-21 06:13] wenche commented on #405
It's probably easiest to do this as a part of the `news` as we will change the way we do slugs for news

[2021-09-21 06:17] nilsml commented on #447
Yeah, it didn't work when I tested several months ago, but that should not prevent us from trying again.

[2021-09-21 06:17] wenche commented on #136
I have no idea about what this guy, Nils Magne, is talking about 🤷‍♀️

[2021-09-21 06:46] wenche commented on #488
I guess you already verified this @SvSven ? I just moved the font out of the global CSS, and use that for Next.js only

[2021-09-21 07:05] padms commented on #455
This a [bug](https://github.com/vercel/styled-jsx/issues/589) in styled jsx, as a workaround , converted the equinor-icons.css to scss and then used unquote to set the glyph like[ here](https://github.com/vercel/styled-jsx/issues/589#issuecomment-579113530)

[2021-09-21 07:09] padms commented on #458
To reduce the size, we are just dividing the existing value by 1.6 ( as that looks good in all screen sizes). We chose to end up diving with a constant value of 1.6 because we would end up modifying a lot.

[2021-09-21 07:18] #458 closed

[2021-09-21 07:19] #455 closed

[2021-09-21 07:23] wenche commented on #380
If we had an epic for "Make Sanity as user friendly as possible for editors" it would belong there. @nilsml That might actually be a good idea, since we are focusing heavily on the web and not that much on sanity as a good tool for publishers

[2021-09-21 07:25] wenche commented on #134
This is @SvSven 's baby. We can probably close this, but the news archive doesn't have the language switch yet. But I mentioned that in the issue #449 as well

[2021-09-21 07:25] SvSven commented on #380
If we don't have that epic already then we should make that. There are a couple of issues that relate to it, like for example #368
It's also something that will become more and more important/relevant as we approach a release.

[2021-09-21 07:25] wenche commented on #128
I think we should have an epic for Sanity

[2021-09-21 07:29] padms commented on #473
These images had % in their path. https://envisstoragedev.blob.core.windows.net/equinor-archive-content/content/dam/statoil/image/where-we-are---carousel-16-9/Angola%20landscape.jpg.transform/large/image.jpg

So % is replaced with %25 in the page.

[2021-09-21 07:36] wenche commented on #473
Looking good :thumbsup:

[2021-09-21 07:36] #473 closed

[2021-09-21 07:40] wenche commented on #488
This works well on localhost, but it's something(™) in the production mode of Storybook that's not updating. Might be related to a difference between modified and created
 ![image (13).png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/e869c447-b4ac-4754-9da0-5444f42141b1) The blob storage also has a lot of old files that might screw things up, that's already covered by #382

[2021-09-21 09:02] #488 closed

[2021-09-21 10:40] wenche commented on #454
Production equinor already has two levels of nested `<header>` landmark regions. When we do the menu, we'll figure out the 100% best way of doing the landmark regions.

[2021-09-21 10:46] wenche commented on #454
Devs: Solved this by moving the main landmark region into the template itself, this gives us more flexibility later on as well. I also added a clear float for the footer component, because the static pages have some `float: left` attached to some of the top level containers. I don't see exactly why, and while this may cause some issues later on, it's OK atm

[2021-09-21 12:06] wenche commented on #447
@nilsml  I don't remember the exact issue from last time we tried? Do you? It seems to work OK on CI and locally when I upgraded now

[2021-09-21 12:16] SvSven commented on #478
The brandmaster plugin is currently set up to pass along the following fields from Brandmaster:
- title
- description
- credit (photographer)

These are, to my knowledge, the only such meta fields that Sanity supports/accepts for a custom asset source.

See: https://github.com/equinor/energyvision/blob/main/studio/plugins/asset-source-brandmaster/src/BrandmasterAssetSource.tsx#L40-L55

These field

[2021-09-21 12:22] nilsml commented on #447
I was not able to run at all last time. Some dependency issue I believe.

[2021-09-21 12:54] wenche commented on #447
Sooo... I'm moving this to review then. Please test and see if everything is OK beyond OSX land @SvSven

[2021-09-21 13:53] vnys opened #490 "Load legacy js for static topic pages"

[2021-09-22 06:07] nilsml commented on #128
🤔 Wouldn't that be an epic that would exist like forever?

[2021-09-22 06:09] nilsml commented on #380
Ok, we can create a new epic at standup.

[2021-09-22 06:10] nilsml commented on #134
@SvSven

[2021-09-22 06:11] SvSven commented on #134
The functionality is there but the design and UX is not.
Though that can be part of the menu in general I suppose.

[2021-09-22 06:29] wenche commented on #422
This works as expected now.

Add a link: action array is of length 1
![Skjermbilde 2021-09-22 kl. 08.24.36.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/975e6a54-a6c8-4f3d-91fc-3199fd50f9ec)

Remove the link: action is no longer an empty array, but undefined
![Skjermbilde 2021-09-22 kl. 08.23.58.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/c35f379e-c233-4

[2021-09-22 06:38] #422 closed

[2021-09-22 06:47] padms commented on #457
Reduced padding left and right for the button in list component.

[2021-09-22 06:55] nilsml opened #491 "Sanity"
I order for the publishers to start to add content into Sanity, we should make the best possible editor experience in Sanity

[2021-09-22 07:03] SvSven commented on #447
Looks to be working on my end as well, so... LGTM 👍

[2021-09-22 07:09] SvSven commented on #454
I guess the `float: left` on the top level `main` for the legacy content might be because of the sidebar menu on the current site? _Should_ be safe to remove that if it causes any issues.

Other than that, looks fine 👍

[2021-09-22 07:10] SvSven commented on #478
Re point 4: should be possible with a custom input component according to feedback, waiting to hear back from Sanity with an example.

[2021-09-22 07:12] SvSven commented on #443
This has been relayed to Brandmaster and we are waiting for a fix/further feedback.

[2021-09-22 07:15] #447 closed

[2021-09-22 07:15] #454 closed

[2021-09-22 07:19] SvSven commented on #484
Current add-to-calendar button on production site downloads a .ICS file with event information for adding it to the calendar. Not sure if these files are created on-demand by AEM or if they are created when a new event is created.

Feedback from PO is that this type of functionality is good enough for the new site as well.

[2021-09-22 07:26] SvSven commented on #382
The storybook is currently built and uploaded to blob storage from GitHub Actions. The way it is set up right now is that it just pushes a new build to blob storage without deleting previous versions.

[2021-09-22 07:41] wenche commented on #117
LGTM, but how about the checklist in the issue description? Is that deprecated? @nilsml

[2021-09-22 07:50] vnys opened #492 "🎃 Hacktober"
[Hacktober F35T1VU5](https://github.com/equinor/hacktoberfestivus) is upon us, and we need to create / identify suitable issues and label them with `good first issue`.

[2021-09-22 07:51] #492 closed

[2021-09-22 09:01] nilsml commented on #485
Only include links in the footer. Do not spend time on RSS service

[2021-09-22 11:49] nilsml commented on #382
We should have a separate action for the cleanup I suppose. That must run after deploying a new version.

[2021-09-22 11:51] nilsml commented on #117
Good point @wenche. Maybe create new tasks for these issues. There are tasks embedded in the document as well, so need to revisit that more often.

[2021-09-22 12:03] wenche commented on #487
https://nascentdigital.com/thoughts/how-to-deploy-next-js-without-vercel <-- Features a paragraph on CDN near the bottom

[2021-09-22 12:25] wenche commented on #439
LGTM :thumbsup: +1 for the added corner token :)

[2021-09-22 12:25] #439 closed

[2021-09-22 13:24] wenche commented on #487
I don't think I'm able to do so much more here :woman-shrugging: Have read through the Internet, didn't find that much of interest beyond ^ . Next (pun intended) step will probably be to test this out with a CDN on Azure/Radix.

It's the content of the .next/server/pages that would somehow be nice to persist between builds and for horizontal scaling at k8s. But how will this affect revaildate? It

[2021-09-23 07:00] SvSven commented on #338
We had basic login through Azure AD in the proof of concept, implemented by someone outside of the team. We can probably get the same person to do this for us again.

[2021-09-23 07:10] SvSven opened #493 "As an administrator I want to set access controls for the studio so that I can control who has rights to view/edit specific content"
Not every user needs/should have access to everything inside the studio. Some options should be restricted to specific users, like for example the routing, menu, or content with specific tags (investor content, careers, etc). Similarly editors for the satellite sites do not need access to the global site and vice versa.

Investigate whether AD groups can play a role in this as well.

## Acceptance

[2021-09-23 08:47] vnys opened #494 "Investigate incremental static regeneration and caching"
What happens when a user visits a statically generated page when the contents has been updated in the CMS _after_ the revalidation time? According to the documentation the first request will get the cached page, which then triggers a rebuild in the background, and subsequent requests will get the updated page. If that is the case, can we notify the user and give them the choice to refresh the page

[2021-09-23 11:42] SvSven commented on #261
We can make another playground project and publish to that, but not sure if we can clone/share the dataset between that one and production. Might not be that bad if that one has a different dataset though?

[2021-09-23 11:54] wenche opened #495 "Decide the UX for the new menu design with the old content"

[2021-09-23 12:15] BirteThornquist opened #496 "Specify mobile menu"

[2021-09-23 13:20] meols commented on #443
@SvSven I have received an update from a brandmaster IT guy (Torbjørn) - see attached email. Can you please answer him directly (feel free to add me on cc)
[https://app.zenhub.com/files/224120954/8fdd5a16-570b-4b89-bae2-3efe8bd47fda/download](https://app.zenhub.com/files/224120954/8fdd5a16-570b-4b89-bae2-3efe8bd47fda/download)

[2021-09-24 06:49] #117 closed

[2021-09-24 06:50] #487 closed

[2021-09-24 07:04] nicholas-haggerty commented on #178
Closing as this is a duplicate. Defined on #346

[2021-09-24 07:04] #178 closed

[2021-09-24 07:06] wenche opened #497 "Trigger rebuild of web when menu or footer data is created/updated"
## Acceptance criteria
1. When menu or footer documents are updated (published), the menu/footer data is updated on all pages in the web as well.
2. Should not trigger a rebuild for drafts

[2021-09-24 07:08] nicholas-haggerty commented on #345
@nilsml We need a table so needs to be created. Difficult to say from the list what is simple. As to be honest these are the functions required for a table?. The dev team will need to look at and define for us what is hard and what is simple.

[2021-09-24 07:12] wenche opened #498 "Technical investigation of core menu concept"
## Acceptance criteria
1. The menu should be accessible to all users including keyboard and screen readers
1. When the menu is open, it should not be possible to tab outside of it (focus lock)
1. When the menu is open, it should not be possible to scroll the underlaying page (?)
1. The menu button for small devices must be accessible and properly linked to the menu state (open/close)
1. The menu s

[2021-09-24 09:13] wenche commented on #495
We've been discussing these articles
https://www.smashingmagazine.com/2021/05/frustrating-design-patterns-mega-dropdown-hover-menus/
https://www.nngroup.com/articles/mega-menus-work-well/

[2021-09-24 10:20] nicholas-haggerty commented on #480
To verify approval of pages it relates to what's good enough representation of the AEM components. Going through the pages:

1. Carousel component in top banners is stacking. This component is rarely used so we should replace this component with just an image in the AEM solution.
2. Carousel component on pages. Ideally this can be fixed by AEM dev team, as it impacts a few pages. ref https://energ

[2021-09-24 10:48] SvSven commented on #443
Have reached out to Brandmaster tech people directly.
Looking into it a bit deeper it seems like the problem might be caused by the SSO with Azure AD - the iframe that loads the Brandmaster web plugin can't seem to properly parse the SSO session and gets stuck in an infinite reloading/redirecting loop.

Waiting to hear back from Brandmaster for advice/solutions

[2021-09-24 11:41] nilsml opened #499 "Menu"

[2021-09-27 06:15] wenche opened #500 "As an end user I want an informative and good looking 404 page to minimise confusion"
## Acceptance criteria
1. The 404 page should inform the user that this page was not found
1. The 404 page should suggest the next action (go to front page, search..)
1. Technically it must work with existing monitoring tools and Next.js

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Extra focus on usability
- [ ] Test for accessibility
- [ ] Perform user t

[2021-09-27 06:16] wenche commented on #500
Current solution

![Skjermbilde 2021-09-27 kl. 08.16.09.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/443aa3c5-fec9-4e00-8ac3-76f6b4cc3231)

[2021-09-27 06:27] wenche opened #501 "Finalise the language switch toggle"

[2021-09-27 07:07] nicholas-haggerty commented on #325
We should look to continue with the Brandmaster set up for the MVP. Changing now will impact on Procurement / Legal / GDPR. Action is to set up a meeting with Brandmaster as soon as task is ready to be looked at.

[2021-09-27 08:24] SvSven commented on #443
Have heard back from Brandmaster, they can reproduce and confirm the issue. They are working on figuring out what the problem is and how to fix.

[2021-09-27 12:09] wenche commented on #498
Se Figjam -> Menu

[2021-09-27 12:36] SvSven commented on #476
Waiting for #443 (from Brandmaster's side) and #478 (from Sanity's side) to be solved.

[2021-09-27 12:39] nilsml commented on #338
Check availability of Kristian R

[2021-09-27 12:41] nilsml commented on #483
@nicholas-haggerty to check if this is needed for going live

[2021-09-27 12:47] nilsml opened #502 "Proofing metadata handling"

[2021-09-27 12:48] wenche opened #503 "Add analytics"
We probably need
- Google Analytics
- Google Tag Manager
- Google Search Console

How about how it integrates with the current accounts

[2021-09-27 12:57] SvSven opened #504 "Investigate if we can use accordion component for both mobile and desktop menu"
The mobile menu is based on an accordion. It would be nice if we can re-use this code for the desktop menu as well.

[2021-09-27 12:57] nilsml opened #505 "Prepare for workshop"

[2021-09-27 13:00] SvSven opened #506 "Create 'locations list' component for menu"
Relates to #468

The 'locations' section in the about us menu has a unique component with a link-list with flags.

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/97fa001b-b2b0-46cd-88b7-043a866b6b61)

This is not something we currently have.

[2021-09-27 13:02] SvSven commented on #506
Is this component unique to the menu, or is/can it be used elsewhere as well?

[2021-09-27 13:10] SvSven opened #507 "Investigate how to handle cookie permissions for static pages"
The static pages are generated by inserting raw HTML stored in JSON files into a div. We're not doing anything dynamic or conditional there.

If we re-use the cookiebot implementation on the current equinor.com - will the cookies cases in the static content be handled automatically by the legacy JS? If not, how can we handle it then?

Relates to #138

[2021-09-27 13:25] nilsml commented on #475
Set up a meeting with Sanity to figure out what is possible

[2021-09-27 13:30] nilsml commented on #475
Try out media plugin

[2021-09-27 13:32] nilsml opened #508 "Add an image into the text block in topic page template"

[2021-09-27 13:38] wenche opened #509 "As an end user I want to be able to jump to content when using the keyboard so that I don't have to tab through the whole menu"
## Acceptance criteria
1. A skip to content button is visible when the user navigates by the keyboard

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Perform integration testing
- [ ] Perform functional testing
- [ ] Extra focus on usability
- [ ] Test for portability
- [ ] Test for accessibility
- [ ] Create automated acceptance test/smoke test
- [ ] Perfor

[2021-09-27 15:09] wenche commented on #498
I'm closing this issue now as the list of things we need to remember is pretty much done by the list in this issue, today's discussions and Figjam. No need to invest more time into talking about the technical issues for the menu, let's rather get our hands dirty

[2021-09-27 15:09] #498 closed

[2021-09-27 15:11] wenche commented on #499
#498 covers most of the technical things to remember while creating the menu

[2021-09-27 15:14] wenche opened #510 "Create a mobile version of the menu"

[2021-09-27 15:52] wenche commented on #495
https://www.w3.org/WAI/tutorials/menus/flyout/ <- Implementation guidelines
https://uxdesign.cc/hover-and-expand-navigation-menu-is-bad-for-accessibility-23fecd2b655 <- Some challenges faced with hover menus and a11y

[2021-09-27 16:05] wenche commented on #509
[Reach](https://reach.tech/skip-nav) has its own skip link component.  Does that add any value?

[2021-09-28 11:00] SvSven commented on #507
Related to #416

[2021-09-28 11:01] SvSven commented on #425
Cookie policy to be added later pending #138

[2021-09-28 11:24] padms commented on #460
Removed the magnific-popup styles out the 'legacyStyles' scope, because of which the css styles were not applied properly.

[2021-09-28 11:30] padms opened #511 "Correct TableV2 styles ,Accordion and Basic Accordion animation and styles."
https://www.equinor.com/en/where-we-are/russia.html : Basic Accordion
https://energyvision.app.radix.equinor.com/careers/frequently-asked-questions : Accordion
https://energyvision.app.radix.equinor.com/investors/events-and-presentations : TableV2

[2021-09-28 11:45] padms commented on #511
Pending css publish to npm.

[2021-09-29 06:02] nilsml opened #512 "Satelite sites"

[2021-09-29 06:25] nilsml opened #513 "Create Japanese satellite site"
**As a Japanese user I would like to have a Japanese site that has information about Equinors wind projects in the country**

## Acceptance criteria
1. Site to be served from equinor.jp
1. Site languages
  a. English
  b. Japanese
1. Particular editors have access only to this site, and not to the rest of equinor.com

## Questions
1. Is access restrictions important in first version?

[2021-09-29 08:50] adneforslund opened #514 "Missing borders on buttons before hover"

[2021-09-29 10:28] adneforslund opened #515 "Menu is hidden on Safari"

[2021-09-29 10:34] SvSven commented on #425
Couple of questions we should consider:

1. Where will this component be used? I'm assuming it will be for news articles and events at least; will it also be used on topic pages?
3. Will it be a "standalone" component, or something we use in a rich text editor?
2. If we use it as a standalone component, will we need/want a background color like the other components?
3. Will it need a visible title

[2021-09-29 10:39] SvSven opened #516 "Implement cookie policy for iframe component"
- The iframe component needs to have an input field to select the cookie policy to load the iframe like in AEM.
  - None (default): load the iframe regardless of accepted cookies
  - Marketing: only load iframe if marketing option is accepted
  - Statistics: only load iframe if statistics is accepted
- The iframe component should not be loaded until the relevant cookie policy has been accepted by

[2021-09-29 10:51] nilsml commented on #515
Seems like we have a few issues with Safari, the most important browser 😜

[2021-09-29 10:52] wenche commented on #515
I'm working on it as we speak, so this is just a temp. state :)

[2021-09-29 10:53] adneforslund commented on #515
![StatCounter-browser-NO-monthly-202008-202108](https://user-images.githubusercontent.com/25346938/135255049-0ab8b7ae-bd36-4f7b-8ce3-752a8fca5c01.png)

[2021-09-29 10:53] SvSven commented on #515
https://www.safari-is-the-new-ie.com

[2021-09-29 11:33] padms commented on #480
Issues 4,6 and 7 are to be addressed.
5 is not reproduceable.
1, 2 , 3 , 8 are fixed.

[2021-09-29 14:10] wenche opened #517 "Archive pages don't load menu data"

[2021-09-30 06:33] padms commented on #331
Deploy in AEM planned on coming thursday.

[2021-09-30 06:38] padms opened #518 "Make anchors work in static pages"

[2021-09-30 06:49] padms opened #519 "Animation on column control and components not working"

[2021-09-30 06:59] SvSven commented on #425
Answers to previous questions from @nicholas-haggerty:

1.	Yes all templates (news/topic/event). Priority would be topic and then event’s although design work still needed on that template before handover.
2.	Yes. Stand-alone for topics. For news and events, it’s a slightly different set up for editors but I also think stand-alone would be best here (with perhaps dedicated placement on the templat

[2021-10-01 07:47] padms commented on #518
Handled click event for urls that contained #

[2021-10-01 08:37] wenche commented on #457
LGTM :thumbsup:

[2021-10-01 08:37] #457 closed

[2021-10-01 08:39] wenche commented on #460
Maybe you can take a look at this @nicholas-haggerty ?

[2021-10-01 08:40] wenche commented on #518
And please verify this one as well @nicholas-haggerty

[2021-10-01 09:18] nicholas-haggerty commented on #460
Seems to be working as expected on the links I tested with. Both from buttons on a topic page and the horizontal menu.

[2021-10-01 09:18] #460 closed

[2021-10-01 09:22] nicholas-haggerty commented on #518
Working as expected:
Jumps down to point on the same page.
Opens link
Generates url to anchor point with #.....
Good work @padms

[2021-10-01 09:22] #518 closed

[2021-10-01 09:57] padms opened #520 "Test implementation cookiebot in static pages"

[2021-10-01 10:13] SvSven commented on #425
This should now be ready for review @nicholas-haggerty @BirteThornquist

Added a test iframe to:
- https://energyvision.app.radix.equinor.com/careers
- https://energyvision.app.radix.equinor.com/news/this-is-a-test

The one field that is missing is the ability to set a height. Not sure if we really need this one, as I've made it so that the aspect ratio is a required field but has the initial valu

[2021-10-01 10:35] nicholas-haggerty commented on #425
@SvSven looking good. In terms of the height aspect. For a use case: we have elements like the share feed which is via an Iframe. Because an editor can spec the height, it means we don't have the scroll bar within the frame. https://www.equinor.com/en/investors/the-equinor-share.html
I tried the same component on the test topic page. It displays with the scroll.

[2021-10-01 10:56] SvSven commented on #425
Ah yeah, that's a good point. We could add it as a pixel value I suppose - which I guess is how it's set up in AEM? But I don't think it's ever possible to get it 100% right; if I resize my browser down on that page I also end up with scroll bars inside the iframe.

[2021-10-01 11:05] nicholas-haggerty commented on #425
![iframe pixel aem.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/1b2671fe-78cb-496f-92bf-971717e1688a)
Yup pixel value in AEM. Agree its not perfect at every break but solved adequately enough for most. Quite rare that we would need to use this option but think we should include.

[2021-10-01 11:11] wenche opened #521 "Create a final version of the Top bar"

[2021-10-01 11:36] SvSven commented on #425
Have added a field where you can set a height in pixels now 👍

[2021-10-01 11:41] nicholas-haggerty commented on #425
Great stuff @SvSven thanks for fixing this so fast. No more comments from me @BirteThornquist take a look and if ok we can close.

[2021-10-01 11:57] BirteThornquist commented on #425
Looks good to me @SvSven @nicholas-haggerty.

[2021-10-01 12:24] #425 closed

[2021-10-01 13:02] padms commented on #471
@wenche These redirects are configured in AEM Dispatcher.

[2021-10-05 06:15] padms opened #522 "Verify tag information in news articles."

[2021-10-07 06:45] padms commented on #522
Tag information is available in the page content as well as the search-metadata.json in the azure container.

[2021-10-07 06:53] nilsml opened #523 "Contact Kristian Reed"

[2021-10-07 07:08] wenche commented on #468
There will be no flags in this version as decided in the workshop.

[2021-10-07 10:13] padms commented on #416
Works with test implementation

[2021-10-07 10:33] padms commented on #519
@nicholas-haggerty Could you please have a look at this?

[2021-10-07 11:21] SvSven commented on #507
I can see the consent form popup when first loading a static page, and I can see the `CookieConsent` cookie is set.

Hard to verify it beyond that since we aren't loading analytics or tag manager

[2021-10-07 11:38] padms commented on #331
Changes went live in AEM today.

[2021-10-07 11:48] wenche opened #524 "Minimize flicking because of scrollbars"
See if it's possible to minimise the jumping/flicking effect caused by the scrollbar when the menu is opened/closed.

E.g. DNB does something here to smoothen things out

[2021-10-07 11:52] wenche opened #525 "Desktop version for the menu"

[2021-10-08 06:42] adneforslund opened #526 "As an editor I want to create tags so that articles can be filtered"
## Acceptance criteria
1. Create and add tags in Sanity Studio for news articles
1. Find a way to handle language
1. Create rules for tagging documents (how many, length, etc)

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Perform integration testing
- [ ] Perform functional testing
- [ ] Extra focus on usability
- [ ] Test for portability
- [ ] Test for ac

[2021-10-08 07:57] nilsml commented on #526
This is good, but perhaps you could add some more details on what this user story should cover? Put yourself into a tester's shoes; how can you verify that this user story is done?

And before you start working on this issue have a meeting with the team to go through different aspects so that we make sure we agree on the solution. @adneforslund

[2021-10-08 09:09] nilsml commented on #515
So this one is fixed now? @adneforslund

[2021-10-08 09:15] adneforslund commented on #515
@nilsml yes, and also I think this issue is redundant, and probably should not have been a issue in the first place

[2021-10-08 09:24] adneforslund opened #527 "Bug when tabbing link list component"

[2021-10-10 09:55] #523 closed

[2021-10-11 09:17] wenche commented on #501
It's a bug with url, missing /
![Skjermbilde 2021-10-11 kl. 11.15.53.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8f01ca89-6ba3-44aa-b949-8bd1253bd78d)

[2021-10-11 09:46] padms commented on #471
We have around 200 redirects in AEM. Should I add them all in next.config? @wenche

[2021-10-11 11:50] #468 closed

[2021-10-11 12:31] nicholas-haggerty commented on #416
@padms We notice the archive news is 2016 to 2018. Where is 2019 to 21?
Could you supply an example link news page from 2016 - 2018 that contains a video?

[2021-10-11 12:52] nicholas-haggerty commented on #522
@padms Not sure how to test or approve this? Can you supply link? Or happy to have a short meeting/demo too.

[2021-10-11 12:54] nicholas-haggerty commented on #520
@padms @SvSven Not sure how to test or verify this (and close) Feel like this needs to be approved on the dev side.

[2021-10-11 13:01] nicholas-haggerty commented on #331
@padms I dont see the updates to pages reflected in the static page. I also dont see new pages that have been created and published reflected in the static pages.
https://www.equinor.com/en/what-we-do/renewables.html This page I removed the animated elements and republished.
https://www.equinor.com/en/what-we-do/norway-energy-hub.html This page is newly published and isnt reflected in the Static m

[2021-10-12 06:36] #507 closed

[2021-10-12 07:20] padms commented on #416
@nicholas-haggerty  We have all the pages in azure. Here is a link to a recent news article having a video.
https://energyvision.app.radix.equinor.com/news/archive/20210806-giving-vigdis-boost

[2021-10-13 08:00] meols commented on #475
@adneforslund @wenche
Comments from further testing:
- No warning when uploading a new file with the same file name as an existing file – should be able to replace with a new updated file, or choose to keep both, or as version
- File name on hover in preview doesn’t show the uploaded pdf's filename e.g. sustainability-report-2020-pdf https://cdn.sanity.io/files/h61q9gi9/production/ef021e175cd85612

[2021-10-13 08:48] nicholas-haggerty commented on #480
Sven is looking into as part of #501

[2021-10-14 09:25] SvSven commented on #524
The problem was because our dropdown/modal was using `position: fixed` with `right: 0`

Fixed by using provided classname from the `react-remove-scroll` package: https://github.com/theKashey/react-remove-scroll#positionfixed-elements

[2021-10-14 10:39] padms commented on #490
- Created a workflow to build and export legacy js to Azure.
- Used the script from Azure in the static page.

[2021-10-14 11:20] #416 closed

[2021-10-14 12:47] nicholas-haggerty commented on #331
@padms Im still not seeing Norway energy hub in the menu under **what we do** in raddix?

[2021-10-14 13:32] SvSven commented on #501
Updated the design and fixed the issue with the missing slash,

[2021-10-15 06:52] svsven opened #528 "As a publisher I want to edit footer data in Sanity so that I can update the links and other content"
## Acceptance criteria
1. Can add/update/remove links in Sanity
1. Changes are reflected in the web

[2021-10-15 06:54] SvSven opened #529 "As a publisher I want the footerdata to be updated when I publish to reflect changes"
Related to #497

## Acceptance criteria
1. When the footer data is updated (on publish), the menu data is updated on the web as well

[2021-10-15 07:38] wenche commented on #524
Works pretty well, expect for when we have a scroll inside the menu container. But that should be less of a problem for most screen sizes when the menu restructuring is done.

![Skjermbilde 2021-10-15 kl. 09.36.37.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/de4c7de8-9ff9-40ef-b332-454e5b87ad9c)

[2021-10-15 10:30] wenche commented on #509
@nicholas-haggerty  You may test this by pressing tab straight after you refresh the page. The first item should then be this skip to content link.

[2021-10-15 12:04] SvSven opened #530 "topbar is hidden at top of page after scrolling on iOS"
Problem not present on desktop or Android, seems to be limited to iOS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://energyvision.app.radix.equinor.com/
2. Scroll down
3. Scroll back to the top of page
4. Topbar is now hidden and can't be accessed

[2021-10-15 12:07] wenche opened #531 "Focus ring on iOS for the menu buttons"
iOS doesn't respect the focus visible polyfill library for the menu buttons/tabs.

To reproduce:
* Use the mouse and open a top level menu item with Safari
* Tap a top level menu item on iOS

![Skjermbilde 2021-10-15 kl. 14.06.15.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/1ba19e2e-e4e6-4ce8-a1cf-89e8d2546338)

[2021-10-15 12:37] wenche commented on #531
FIxed by removing outline

[2021-10-15 12:37] #531 closed, assigned to wenche

[2021-10-18 06:51] wenche opened #532 "Top header level (h1) position is wrong at the static pages"

[2021-10-18 07:59] wenche opened #533 "Reach accordion and duplicate ids"
The html validator reports several issues with multiple ids from Reach accordion

![Skjermbilde 2021-10-18 kl. 10.00.45.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/24b56b10-ccc5-49d3-8d22-2460709c4154)
![Skjermbilde 2021-10-18 kl. 10.00.50.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8b5ac666-db6b-46c4-853d-5c2cf200c8c8)

When I view the source, this is

[2021-10-18 12:42] nicholas-haggerty commented on #510
@wenche Perfect. looks good now, colour as expected. (thought you guys were trying to sneak a new colour palette into the mix :))

[2021-10-18 12:47] wenche commented on #510
if that were the case, I would at least have chosen a _nice_ colour  🎨 😁

[2021-10-18 13:40] BirteThornquist commented on #187
We have to solve the lack of ingress text for promo card of topic pages in a separate issue.

[2021-10-19 06:39] nilsml commented on #331
@nicholas-haggerty Are you expecting to find newly created pages in AEM in the menu structure in Sanity? That is not what this issue is about. This is about publishing content from AEM and to Azure blob storage.

[2021-10-19 06:56] #506 closed

[2021-10-19 08:36] wenche opened #534 "Improve performance with topbar scroll detection"
This feature might cause performance issues since it's called so often.

- Do some testing with devtools to see how much it effects performance
- Consider to use a timeout to restrict the number of times it's called?

[2021-10-19 08:50] wenche commented on #187
Will be hidden on small devices.

[2021-10-19 09:56] nicholas-haggerty commented on #471
@meols Please update once you have gone through the list from Padmaja

[2021-10-19 10:20] nicholas-haggerty opened #535 "As a editor I want to be able to choose the type of articles to promote in a fixed list component"
Link lists/Cards

**Fixed list:**
Traditionally the amount is 3. Should we expand to up to 4 to accommodate wider screens?
On Mobile should component be swipeable as today? Optional?
Editor selects link internal link they wish to promote per item
Display is pulled from the page linked to (image / title / ingress - limit character count? Where is this pulled from? / Animated red arrow)
Fixed size f

[2021-10-19 11:03] #525 closed, assigned to wenche

[2021-10-19 13:07] nicholas-haggerty commented on #511
@padms looks like this one is fixed now. Closing

[2021-10-19 13:07] #511 closed

[2021-10-20 05:44] wenche commented on #532
LGTM :thumbsup:

[2021-10-20 06:04] #524 closed, assigned to SvSven

[2021-10-20 06:35] wenche commented on #490
@vnys  Do you mind to just verify this? :)

[2021-10-20 07:14] wenche commented on #521
@TODO: We should fix the Equinor logo home link to use the EDS focus style since the rest of the page elements do that

[2021-10-20 08:33] wenche commented on #533
Since [this issue](https://github.com/reach/reach-ui/issues/852)  won't be fixed by Reach, we should try improve this behaviour with the suggest solution.

[2021-10-20 09:12] #530 closed

[2021-10-20 09:17] #187 closed, assigned to wenche

[2021-10-20 11:06] nicholas-haggerty opened #536 "Sanity DAM asset library needs further investigation"
When looking into the newly set up Asset library we notice several issues that need to be rectified

No warning when uploading a new file with the same file name as an existing file – should be able to replace with a new updated file, or choose to keep both, or as version
File name on hover in preview doesn’t show the uploaded pdf's filename e.g. sustainability-report-2020-pdf https://cdn.sanity.i

[2021-10-20 11:07] nicholas-haggerty commented on #536
First task is to reach out to Sanity support. I can do this but need contact details. I have no channel towards the Sanity developers. @SvSven can you please provide

[2021-10-20 11:11] wenche commented on #536
@nicholas-haggerty  Use the Slack channel? You are a member in the shared channel

[2021-10-20 11:26] nicholas-haggerty commented on #475
closing and created #536

[2021-10-20 11:26] #475 closed

[2021-10-20 11:33] nicholas-haggerty commented on #522
@padms ok I have gone through several articles now and seems to be fine so closing

[2021-10-20 11:33] #522 closed

[2021-10-20 11:38] nicholas-haggerty opened #537 "When opening the menu from an archived news item nothing is displayed"
Going through several news articles to verify tags and noticed that the menu/logo/search is in the top bar. However when opening the menu nothing is display other than to close the menu.![archived news article.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/930c8cb3-3d55-4c2e-839d-745d551c8534)

https://energyvision.app.radix.equinor.com/en/news/archive/press-release-1q-2016

[2021-10-20 11:44] wenche commented on #537
@nicholas-haggerty  That's the bug I was talking about earlier today #517 :)

It was fixed at that point, but I can see that you reintroduced this bug by adding the Heading component back in @padms https://github.com/equinor/energyvision/commit/7e81103fe2c278eb6b5b58efe599aea42c8ff6eb#r58344488 Could you please remove it and commit? Since you are working in the file :thumbsup:

[2021-10-20 11:46] wenche commented on #537
@nicholas-haggerty "Aldri så galt at det ikke er godt for noe", as the common Norwegian sayings. At least you have a better understanding of #517 by now

[2021-10-20 13:11] nicholas-haggerty commented on #521
@SvSven looking good to me. Great work Sven and sorry late adjustments. Really liking the shadow on scroll!

[2021-10-20 13:34] #537 closed, assigned to nobody

[2021-10-20 13:55] wenche commented on #533
While it's true that we still have a couple of issues in the HTML validators, at least the ones related to multiple IDs are gone now.

[2021-10-20 14:08] wenche opened #538 "Prevent multiple menu items open when a user changes window width from mobile to desktop"

[2021-10-21 10:12] wenche commented on #331
It's also worth to mention that in Next.js we have something called `revalidate`. These kind of features are related to the production environment epic, which we paused. We will do more experiments and tasks to find the sweet spot here at some point, but now revalidate is `300` for the archived AEM pages.

From the Next.js docs:
[code]
So 300 seconds (5 minutes) is a pretty high amount of time, bu

[2021-10-21 13:49] meols commented on #471
@nicholas-haggerty @wenche @padms
Please see comments regarding redirects in the attached excel file.
redirects (1)

[2021-10-22 07:13] wenche opened #539 "Revisit the use of Volta"
1. Volta doesn't work for all team members
1. We just use it for Node, not for `pnpm` that was the actual issue when we decided to test Volta

[2021-10-22 07:33] svsven opened #540 "add aria fields to all link and button inputs"
Link and button fields in Sanity should have the option to add a `aria-label` so that editors can set a different, more descriptive label for screen reader users

Example:
An editor adds a teaser component and uses "Read more" as label for the link/button. This is not an accessible label as it is not at all descriptive about where the link goes. Solution: either add a more descriptive label for al

[2021-10-22 07:44] wenche opened #541 "As a publisher I want it to be easy to find the Topic content to edit"
The list of Topic content documents in Sanity Studio will be long. One way to make it easier for publishers to find the right document could be to add different ways of sorting the list using the [`orderings` functionality from Sanity.](https://www.sanity.io/docs/sort-orders) Another way is to make the preview used in the document list as good as possible. We should probably use both.

1. Discuss

[2021-10-22 09:20] SvSven opened #543 "Investigate Brandmaster REST API for Sanity integration"
We want to use the Brandmaster web plugin iframe for the integration into Sanity, and Brandmaster also recommends this approach - however we have a SSO issue that is preventing us from using this at the moment.

Brandmaster will look into fixing it but they are not sure what the problem is, so we should look into the REST API documentation to get an idea of how much time/effort it would be to crea

[2021-10-22 09:36] wenche opened #544 "As a publisher I want a dashboard to give me a nice overview"
In the [POC we added a (simple) version of the dashboard feature](https://equinor-poc.sanity.studio/dashboard) in Sanity. We probably want this in the "real" solution as well

![Skjermbilde 2021-10-22 kl. 11.36.08.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/70382a67-4abd-40f5-81d8-db168a4a521b)

1. Set up the dashboard tool
1. Identify a couple of widgets that make sense to

[2021-10-22 10:40] wenche opened #545 "As a publisher I want it to be as easy as possible to find a news article to edit"
(Related to #541, but we have other possibilities with news articles than with topic content)

1. Should we add custom orderings?
1. What's the best content to use for preview in the document list
1. Smart folders and tags

[2021-10-22 10:45] wenche opened #546 "Create icons for Menu and Footer (and more?)"
We need icons for the newly added Sanity content Footer and Menu.
Are there other icons that makes sense to have? Redirects? We will probably need one for language strings? ([Texts from the POC](https://equinor-poc.sanity.studio/desk/texts))

1. Should the desk structure be like it is now? With Menu and Footer? Or should perhaps Footer be inside a siteconfig?

[2021-10-22 10:59] SvSven opened #547 "Get list of news from azure"
We need to display the news articles we have in Azure (published by AEM) in the web. How do we get a list of this without knowing the URLs beforehand?

[2021-10-22 11:39] svsven opened #548 "As an editor I want to be able to leave the alt tag of an image empty for certain images"
Publishing team would like to have the alt tag on images not be required for all images.

Per feedback from SEO company it should be fine to have an empty alt tag for images that only serve as decoration (for example certain illustrations). Need to figure out what the impact would be/how to handle this in terms of accessibility however.

[2021-10-22 12:59] wenche opened #549 "As a publisher I need consistent validation messages to make it easy to avoid mistakes"
1. Align tone of voice in the validation messages and make them as descriptive as possible
1. Add missing validations
1. We use the char counter concept some places, should this be used more?
1. Make a good separation of warnings/errors which one should be used where/combination of both

Example of bad and inconsistent validations
![Skjermbilde 2021-10-25 kl. 09.13.24.png](https://images.zenhubuse

[2021-10-22 13:03] wenche opened #550 "Use a simple rich text editors for titles instead of the plain text input"
At some point we need the option to do things like highlighting parts of the text by colour (or add hard line breaks :grimacing: ). To be able to do this, we need to swap the simple text input by a really basic rich text editor for titles

1. Which titles should use this
1. It will probably make sense to not actually add style options at this point, but just prepare the ground for that (we talked

[2021-10-24 19:43] #527 closed, assigned to padms

[2021-10-25 06:42] #533 closed, assigned to wenche

[2021-10-25 08:31] svsven opened #551 "internal link not rendering in rich text editor"
When creating an inline link in a rich text editor that is a reference (internal link), the actual link is not rendering in the web.

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/95c656ec-1c08-40b2-afcc-7357541db513)

[2021-10-25 11:43] wenche opened #552 "Add links in the same way"
In related content inside the News template
![Skjermbilde 2021-10-25 kl. 13.42.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/185f7d8d-6b5d-48dd-99d7-c39af9e0ea7a)

In the Teaser component
![Skjermbilde 2021-10-25 kl. 13.41.31.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/9dfab5f8-681e-469e-acb1-36efd772a335)

Let's do this in the same way, and as a bonu

[2021-10-26 06:44] nilsml opened #553 "Caching and CDN for static content"
Putting a CDN in front of Azure Blobstorage lets us control cache headers more easily. This will improve user experience when accessing static pages.

[2021-10-26 08:01] #130 closed, assigned to nobody

[2021-10-26 12:41] #528 closed, assigned to adneforslund

[2021-10-26 13:24] BirteThornquist opened #554 "Make the use of Overline in text block easier to understand for the editors"
The usabiity test revealed that the Overline concept was difficult to understand and use. We need to change the functionality.

[2021-10-27 07:10] #540 closed, assigned to wenche

[2021-10-27 07:13] wenche opened #555 "As an editor I want to update slugs so that can change the site structure or fix typos"
Editors should avoid to change the slugs, but in some cases it is necessary. Like in the case of a typo in the slug or a change to the site structure.

## Acceptance criteria
1. Update the slug in Sanity
1. The old slug/url will redirect to the new one

## Technical notes
This is (yet) not very well handled by Sanity. Even if they do save the old slugs in the slug field (that's why the latest one

[2021-10-27 07:13] #551 closed, assigned to SvSven

[2021-10-27 10:51] nilsml opened #556 "Set up Single Sign On (SSO)"
**To enable effortless login to Sanity for the editors, we need to set up Single Sign On (SSO)**

## Acceptance criteria
1. Users are able to login to Sanity with their Equinor account
1. Users are only allowed to edit certain* content.
    \* Content that they are give access to in AD.

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Perform security testing

[2021-10-27 10:56] nilsml opened #557 "As an editor I want to gain access to Sanity so that I can publish content to a certain site within Equinor"
## Acceptance criteria
1. Users can apply for access to a certain site through AccessIT
1. Roles within Azure AD exist to give users access to a specific site in Sanity Studio (or a particular instance of Sanity Studio. Depends on how we solve this)

## In order to ensure good quality we should (Keep the ones we need for this US)
- [ ] Perform functional testing
- [ ] Create automated acceptance t

[2021-10-28 07:31] padms opened #558 "Create REMIT table component"
## To do
- [ ] Create the REMIT TABLE in the web and studio.
- [ ]  Contact REMIT UMM TEAM to set up test job to push json to azure container.
- [ ] UI/UX corrections.

[2021-10-28 08:13] nicholas-haggerty opened #559 "As a editor I want to be able to choose the type of articles to promote in a NEWS list component"
**News list:**
Traditionally the amount is 3. Should we expand to up to 4 to accommodate wider screens?
On mobile should component be swipeable as today? Optional?
Editor links to news? And the component automatically displays the latest 3/4?
Editor can define tags to display (EG News list on UK page, editor could select 'UK' tag, so latest UK news is always displayed)
Display is pulled from each

[2021-10-28 08:16] nicholas-haggerty opened #560 "As a editor I want to be able to promote people in a list/card component"
A type of the promotion component available on TOPIC and EVENT template.
The component has a title and can be styled with a background color.
One or more cards can be added to the component.
If only one card added, the web presentation of the card will be in landscape style, for more than one, the card will be  presented in portrait style as specified in Figma [here](https://www.figma.com/file/F2O

[2021-10-28 08:25] nicholas-haggerty opened #561 "As an editor I want to be able to promote EVENTS in a list/card component"
A type of promotion component available on Topic pages.
List of event cards will depend on events added in the event template. All events added in the event template where the date/time has not passed will show up in the list as default and will automatically disappear as soon as the event is over. It shall also be possible to manually pick events to promote from the event template list. It could

[2021-10-28 08:37] nicholas-haggerty opened #562 "As an editor I want to be able to promote multiple in a minimal list/card component"
Minimal Card (title TBC!)
Simple card component that could be used on certain pages eg ENERGY or ABOUT us. That serves more as a table of contents display than offering information upfront.

Card displays:
Image from reference page
Title from reference page
Card automatically displays pages that are build under the 'SECTION' eg ENERGY.
Whole card is clickable and takes user to the referenced page.

[2021-10-28 08:53] #554 closed, assigned to wenche, BirteThornquist

[2021-10-29 06:43] #552 closed, assigned to wenche

[2021-10-29 06:52] BirteThornquist opened #563 "As an editor I want to have a clear understanding of the content menu in Sanity, so that I can be able to quickly find what I need."

[2021-10-29 06:59] #548 closed, assigned to nobody

[2021-10-29 10:23] nilsml opened #564 "Make icons in footer as SVGa"
Conclusion from meeting was that we would rather like the SoMe icons as inlined SVGs as this will solve the lack of hover effects. The original approach was by using an image upload in Sanity and images in the web. The pros of this is that publishers can upload SoMe icons themselves.

New decision
- Don't upload this as images in Sanity
- If a new SoMe platform is needed, this will involve a devel

[2021-10-29 10:24] wenche opened #565 "Upgrade to Next 12"

[2021-10-29 10:28] SvSven opened #566 "As a publisher I want the latest news to instantly be available after publishing so that important time related articles are available at the right time"
Some articles are time sensitive and have to be published and available to the public at a certain time. This could for example be quarterly results or content that is agreed to be published at a certain time together with partners.

This means that we cannot/should not have any delay between when an article is published and when it is actually available on the website - for example delay by the b

[2021-10-29 10:56] nilsml opened #567 "Investigate how to solve satellite sites"
https://github.com/adneforslund/multisite

[2021-10-29 13:36] wenche opened #568 "(Menu) card images are not loading"
We have seen a warning for this in the console for some time, and with Next 12 the images don't load.

![Skjermbilde 2021-10-29 kl. 15.36.29.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f13f2c8c-4d29-42fb-b2d0-c8aa9b398560)

The flex container is a part of the EDS Cards. A solutions would probably be to not use EDS Card since we are overwriting a lot of stuffs already...  Sin

[2021-10-29 13:41] #565 closed, assigned to wenche

[2021-11-01 08:02] SvSven commented on #550
@wenche ready for checking 🕵️‍♀️

[2021-11-01 09:26] wenche commented on #308
Current version

![Skjermbilde 2021-11-01 kl. 09.57.52.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/30b2bfba-4b58-4b27-a74e-be0033eb6e64)

We want to avoid that the publishers can edit the slug field and we would like to move the generate button under the actual text input field as that will make more sense when it's connected to where you add the unique part of the URL.

How

[2021-11-01 09:29] wenche commented on #550
@SvSven  What about the news title?

[2021-11-01 09:36] wenche commented on #550
This was a huge one! :sweat_smile:

### Titles with rich text editor
- Topic page banner title
- Text block
- Teaser
- Accordion
- Iframe

### Still plain text inputs
- Icon & Text
- Promo tile
- Quote (has no title)
- News title
- Full width image (has no title)
- Image (has no title)

[2021-11-01 09:42] wenche commented on #550
And to clarify, this change is about the future feature of highlighting text parts in titles. Like for example ![Skjermbilde 2021-11-01 kl. 10.41.35.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f6fb2a49-b33c-4c01-a086-51a3e105631c)

[2021-11-01 10:24] adneforslund commented on #226
Should be closed for now?

[2021-11-01 11:56] wenche commented on #308
In today's status meeting, we agreed to just leave this for now and revisit it later on to improve. Hopefully Sanity will make it easier to do custom things with the read only. Also see the [Slack thread ](https://equinor.slack.com/archives/C01A4BGNRMJ/p1635757512021400) for improvements, other things to take into consideration and solution proposals.

[2021-11-01 12:23] #226 closed

[2021-11-02 09:42] wenche opened #569 "Testing session"

[2021-11-02 10:01] wenche commented on #490
@padms  We see weird things happening here as the page keep polling for the legacy script at regular intervals.

![Skjermbilde 2021-11-02 kl. 10.59.27.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/9e2feb8e-c117-4e06-8307-c8a96ae16c79)

This might also be the root cause for why we see this insane amount of duplicated class names?
![Skjermbilde 2021-11-02 kl. 11.01.01.png](https

[2021-11-02 12:38] SvSven commented on #490
For whatever reason the legacy-js cannot be loaded by using the `next/script` component as it breaks after navigation.
One solution was to add it with the useEffect hook. However since it doesn't have a dependency array, it will run every time the component re-renders. This is a "fix" for the scripts breaking on navigation.

Adding a dependency array to only have the hook run once will stop it fro

[2021-11-02 12:48] SvSven opened #570 "Equinor fonts load every time viewport resizes"
Step 1: open network console
Step 2: resize browser window
Step 3: see lots of requests for /fonts/equinor/EquinorVariable-VF.woff2
Step 4: ??
Step 5: profit

[2021-11-02 13:45] wenche commented on #570
This seems to happen at exactly 1285px. But whyyyyyyyyyyy

[2021-11-02 14:41] nicholas-haggerty opened #571 "Broken internal URLS on Raddix / static pages"
We notice that there are a lot of issues with broken internal URLs. E.g. on the annual general meeting page. If you click on the PDF link to one of the previous annual general meetings, the PDF does not exist. Here is the complete list from this audit below. PDFs are ok on the AEM page.

Padmaja could you and the AEM team take a look into this, and maybe take a broader look to see if this issues e

[2021-11-02 14:42] nicholas-haggerty commented on #558
@padms Reach out to @meols if you need any assistance or contact names on this task

[2021-11-02 15:11] wenche commented on #564
Had several warnings with the images in the console during testing. While that was removed by adding the `unoptimized` flag, we could as well just do this now.

[2021-11-02 19:08] wenche commented on #564
@BirteThornquist  The icons have different width and height inside the svgs, I have edited the SVG sources slightly but if we want to go all in one day, we could adjust them even more. :) This is nitty gritty details though

[2021-11-02 19:12] wenche commented on #564
@nicholas-haggerty Added two different types of links inside the footer component, one for "ordinary" links and one for SoMe links. Hopefully the workflow is pretty self explanatory. I have updated the English version of the footer, but not the Norwegian one.

[2021-11-03 07:28] wenche opened #572 "Improve the News card"
### Todo

- [x]  Revisit the use of the EDS card
- [x] Add the new design (shadows and more)
- [x] See if the images are still performant

### Acceptance criteria
- News card looks like the design in Figma

[2021-11-03 07:38] adneforslund opened #573 "Orderings of documents not working"
Native orderings and custom orderings are not working on any document types. Probably something in deskStructure

[2021-11-03 07:42] nicholas-haggerty commented on #564
@wenche Great, this is looking really good.

[2021-11-03 07:42] #564 closed

[2021-11-03 07:57] SvSven commented on #570
Using: Edge version 95.0.1020.40 (Official build) (64-bit) on Windows 10 with a 1920x1080p monitor.

Seems to happen at these sizes for me:
- 1282px
- 733px
- 683px
- 583px

Which makes it even weirder.
I cannot reproduce this on Firefox, which indicates it might be a Chromium related issue?

We can live with the font loading several times when people resize their browser, it's really not that com

[2021-11-03 08:00] wenche opened #574 "Create a component for News promotion list"
### To do

- Create a new component in Sanity for promotions
- Find a way to query for tags inside the promotion form
- See design in Figma
- It might make sense to do both news and topic page promotions at the same time? (Event is yet to be started)

### Acceptance criteria
- Can promote news and topic page cards by adding a promotion component in Sanity
- Can choose a maximum and minimum of 3 ca

[2021-11-03 08:08] wenche commented on #574
@nicholas-haggerty  Please take a look at my acceptance criteria list and see if you agree. I'm not sure about whether we should limit the number of tags added, what do you think?

[2021-11-03 08:15] wenche commented on #569
### Several issues detected and fixed

- Duplicate SkipToLink on the archived news page
- Trailiing / for the root pages in the language switch
- Lot's of warning for images

[2021-11-03 08:20] nicholas-haggerty commented on #574
@wenche Ref tags. Depends a bit on the setup for tags. Are we splitting them in some way ie TOPIC tags (General news/Wind/oil etc) and COUNTRY tags. We discussed this a little bit  when Ådne presented (though not concluded) So in the News card is the editor selecting from two drop downs?
In terms of used cases I cant see a need for the ability to select alot of _tags_. I think It would at most be

[2021-11-03 08:25] wenche opened #575 "Warning for "missing width" for images with Next 12"
With Next 12, we see a lot of warnings in the console for missing width of the images.

![Skjermbilde 2021-11-03 kl. 09.26.28.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/49f33a22-6287-4d4c-beae-5e02b03dcfec)

[2021-11-03 08:29] wenche commented on #575
This issue is because of the next-sanity-image plugin we are using and [they have an open issue about this in the repository](https://github.com/bundlesandbatches/next-sanity-image/issues/23)

[2021-11-03 08:37] wenche opened #576 "404 doesn't work for archived news"
When I visit urls like https://energyvision.app.radix.equinor.com/news/archive/sdlkfjlsdkfj (which does not exist) no 404 is returned. The response code is 200 and the page is empty.

![Skjermbilde 2021-11-03 kl. 09.38.39.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/4ab9d8c0-629c-467a-b0f0-94bb5ac72468)

[2021-11-03 08:39] wenche commented on #569
Created a new issue for 404 trouble with the archived news https://app.zenhub.com/workspaces/energy-vision-5fb6386c578f1200222dd6c2/issues/equinor/energyvision/576

[2021-11-03 08:48] SvSven commented on #570
Cannot figure out what is causing this at the moment. It's a small enough issue to ignore for the time being, and we cannot waste more time on it. Moving to backlog so we have it in case we have more time to look at it later.

[2021-11-03 09:40] wenche commented on #571
There's also a ton of urls containing white space, that's never a good thing but probably not that much to do about  it for the old content? Like all the xls files from the crude oil  and condensate assays. Let us not permit this in the new solution at least.

[2021-11-03 11:34] #569 closed

[2021-11-03 12:06] wenche commented on #568
It is because of the flex style for the Media container. If I replace the Card.Media component with a plain div, the image is back

![Skjermbilde 2021-11-03 kl. 13.03.48.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/9e394df5-868d-4fc7-b9cf-76ac695c9e4a)

[2021-11-03 12:13] wenche commented on #568
Let's actually just replace this with a div since we don't use the fullWidth prop anyway (doesn't work with the responsive image calculations) and consider to not use the EDS Card in #572

[2021-11-03 12:18] wenche commented on #568
Images are back in
![Skjermbilde 2021-11-03 kl. 13.13.49.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/96df4c32-e6c8-4259-8656-6027d2179908)
![Skjermbilde 2021-11-03 kl. 13.13.54.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/36f65288-d7a7-40a9-8b81-dc13b19c2460)

[2021-11-03 12:59] wenche commented on #572
@BirteThornquist  or @nicholas-haggerty According to Figma, the 4px rounded corners from EDS are gone?

[2021-11-03 13:01] wenche opened #577 "Visible scrollbar shadow"
In Chrome, I can see a "shadow" at the right hand side - probably some scrollbar issues?

![Skjermbilde 2021-11-03 kl. 14.00.38.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/fcb04c99-9dc9-4030-8334-8946fa08bf08)

[2021-11-03 13:10] nicholas-haggerty opened #578 "Cookie policy page contains a Source Code table that is not displaying correctly in radix"
Is there something that can be done in with the issue? Alternatively should we look to build this page in Sanity instead of having as a static page rather than spend too much solving.

Which also means we need to look at how to solve source code displays? Not sure if this could be solve using an iframe or can it only be solved with Source code component?

https://www.equinor.com/en/cookie-policy.h

[2021-11-03 13:24] #573 closed

[2021-11-03 14:41] nicholas-haggerty commented on #572
@wenche I don't have a super strong opinion on this visually. Not sure of the impact if we are changing the EDS card set up? We had already gone without the rounded corners on the news feed/promo at the bottom of each news article. But if its less complicated to have the corners, then as long as its consistent, Im ok with them in place.

[2021-11-03 14:45] wenche commented on #572
![Skjermbilde 2021-11-03 kl. 15.43.32.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ec225d94-6972-4239-acba-329c70611461)

@nicholas-haggerty It's actually more complicated with the rounded corners. So I want spend time on reintroducing them, I think it looks good like this

[2021-11-03 14:46] nicholas-haggerty commented on #572
Lets not have them then. I think the above looks excellenteeeeeeeee

[2021-11-04 07:42] adneforslund commented on #526
@nicholas-haggerty What do you think about the current solution?

[2021-11-04 10:41] wenche commented on #572
@BirteThornquist  Let's take the final adjustments when you are back

[2021-11-04 12:13] SvSven opened #579 "add type checking to Sanity studio build"
Sanity currently doesn't do any type checking when building, mainly due to TS being added later on and their types were incomplete.

We can (should) add manual type checking like so:

[code]

[code]

[2021-11-04 13:37] wenche opened #580 "As a publisher I want to publish a news article with the same slugs across transations"
Current situation is that it the slug is the same in the English and Norwegian news article, Sanity will throw an error message.

![Skjermbilde 2021-11-04 kl. 14.38.17.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/445fdd71-c78a-491c-94e6-c02edca1c8f8)

[2021-11-04 13:41] SvSven commented on #369
@nicholas-haggerty @meols

Added a switch to the image component where you can set an image as being decorative - disabling the requirement for an alt tag. If the image is set as decorative it will render an empty alt tag like `alt=""` in the web in compliance with the accessibility guidelines.

![decorative_img_switch.gif](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/2a659ea8-2df

[2021-11-05 07:49] nicholas-haggerty commented on #369
@SvSven Looks great. Liking the Gif too!

[2021-11-05 07:49] #369 closed

[2021-11-05 09:48] #526 closed

[2021-11-05 10:36] #550 closed

[2021-11-05 10:37] #568 closed

[2021-11-05 10:57] BirteThornquist opened #581 "Wrong placement of close menu button on mobile"

[2021-11-05 11:06] BirteThornquist commented on #581
On mobile (safari) the close menu icon is placed to the left instead to the right.

iPhone 12 Pro - version 14.7.1

![IMG_2284.PNG](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/269d6888-bb95-47e1-a4fc-79afe226aca8)

![IMG_2285.PNG](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/0b93f5c9-3b5b-4ee6-9acf-c59573ae9c54)

[2021-11-08 07:11] nilsml opened #582 "Set up scaffolding for Azure Function"

[2021-11-08 07:59] SvSven commented on #581
Can't reproduce on Chrome or Firefox on Android. Looks to be Safari/iOS specific bug.

[2021-11-08 09:50] SvSven opened #583 "Create web part of news/topic promotion"

[2021-11-08 09:51] SvSven commented on #583
Related to #574

[2021-11-08 12:37] padms commented on #490
@wenche @SvSven used router.asPath in dependency list for useEffect. Its now polling only once when the router path changes.

[2021-11-08 12:45] padms commented on #578
@nicholas-haggerty The cookie declaration script tag should be inserted as is at the exact location where we want to show the declaration. So, we need a component to load this cookie declaration in order to load the cookie declaration on other satellite sites too.

[2021-11-09 07:21] padms commented on #571
Assets that were there in other components other than download were not pushed. Made changes in the migration tool to push them.

[2021-11-09 07:24] padms commented on #558
Pending confirmation, whether we need REMIT after January or not.

[2021-11-09 07:32] SvSven commented on #443
The problem with the SSO is strange. We had a walkthrough with the person responsible for SSO integrations in Equinor who could not find anything wrong on our end, pointing the problem back at a callback hook in Brandmaster.

However Brandmaster in turn can't pin down the problem either, and have stated that they have not heard of similar problems from other customers.

In discussion with Brandmas

[2021-11-09 07:34] SvSven commented on #478
With #443 likely being solved, this can be worked on again.

[2021-11-09 07:35] #545 closed

[2021-11-09 07:35] SvSven commented on #497
Using hidden tokens in the webhook system is something that is on their radar, but not likely to be implemented soon. Suggestion for fixing this is to, for example, use a webhook in Azure functions that stores the secret and acts as a middleman between Sanity and GitHub.

[2021-11-09 08:12] wenche commented on #574
@BirteThornquist and I have identified 2 different approaches for selecting the correct type to promote

1. Use "Promotion" in the component list and choose the correct type in the next dialog
![Skjermbilde 2021-11-09 kl. 09.10.45.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/68a2b2e6-22e0-44b4-8db6-a4b3e76f661b)

2. Choose between
- Promote news
- Promote topic pages
- Promot

[2021-11-09 09:00] nicholas-haggerty commented on #578
@wenche Hey, see Padmajas comment above. Should we just create a new card for a specific component to host the script code?

[2021-11-09 09:02] wenche commented on #578
Yes, that would probably make sense @nicholas-haggerty

[2021-11-09 09:05] wenche commented on #578
On a side note, @BirteThornquist  and I briefly discussed if we should group these single-use, odd components in a separate component list item like "Special components" and choose the component in the popover to avoid to bloat the list with components like "REMIT (if needed)", "Stock information"

[2021-11-09 12:01] nicholas-haggerty commented on #578
@wenche Great idea. Ill make a card and lets discuss

[2021-11-09 12:07] nicholas-haggerty opened #584 "As editor we will need specific components that are only needed on one page. Categorize differently on the component library?"
In order to keep the Component library/list clean, can we group together certain components that may only have a single or very limited use? Under a unique title eg _special components_

For example:
Cookie Declaration script:
The cookie declaration script tag should be inserted as is at the exact location where we want to show the declaration. So, we need a component to load this cookie declarati

[2021-11-09 12:13] nicholas-haggerty commented on #578
Closing the bug and have opened a new issue in backlog to solve this and other special/unique components that have limited use

[2021-11-09 12:13] #578 closed

[2021-11-09 12:15] nicholas-haggerty commented on #536
We have received response from Sanity in slack. Response below:
1. No warning when uploading a new file with the same file name as an existing file – should be able to replace with a new updated file, or choose to keep both, or as version
See also #3 for details on why the asset's file name is not (as) important in this case. It might be possible to do some validation checks when selecting a diffe

[2021-11-09 12:41] wenche commented on #574
@nicholas-haggerty We added both the `news` and the `topic page` promotion types as that made it easier to test different approaches. This issue is just for the Sanity part. :)

[2021-11-09 13:04] wenche commented on #567
As a start, we will just add one or several architecture options in Figjam

[2021-11-09 13:21] wenche commented on #571
I just did another audit and I still see a lot of issues with broken URLs, 693 issues and that's an improvement of 41 since the last audit. I manually checked two links https://energyvision.app.radix.equinor.com/where-we-are/algeria and https://energyvision.app.radix.equinor.com/investors/events-and-presentations and neither of them worked.

When did you push the changes? It might be some cache is

[2021-11-09 13:32] #572 closed

[2021-11-09 13:40] adneforslund commented on #580
As a translation of an article is another document, and Sanity enforces uniqueness across a documentType, we need to override Sanitys default isUnique method

[2021-11-10 11:53] wenche commented on #582
LGTM

[2021-11-10 11:53] #582 closed

[2021-11-10 13:39] SvSven opened #585 "Page preview crashes on Teaser validation errors"
The web seems to crash when the Teaser does not have a link or image

[2021-11-10 13:53] padms commented on #571
Pushed all the pages in the list.  Also I found that few assets were missing in current system. @wenche Could you run  the audit again?

[2021-11-11 07:36] #443 closed

[2021-11-11 07:37] wenche commented on #574
We decided to add an intro text for the topic page

[2021-11-11 08:26] wenche commented on #563
Confirmed by Sanity that there's no way to do this now unless we want to drill down. :)
![Skjermbilde 2021-11-11 kl. 09.24.32.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/e910cc12-0d47-4261-9a3f-f8422742c6fb)

[2021-11-11 09:56] wenche commented on #574
We have added the intro text for the topic so this one should be good to go @nicholas-haggerty

[2021-11-11 12:03] wenche commented on #571
The last fix had a huge impact @padms  :thumbsup:

![Skjermbilde 2021-11-11 kl. 13.01.42.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/0b7e9d9f-b812-4cea-b55a-6e90c065d136)

Only 15 left to go, I'll share it on Slack

[2021-11-11 12:17] wenche commented on #567
We need to have a technical session on this one, let's schedule one next week?

[2021-11-11 12:27] BirteThornquist commented on #535
Covered by #559

[2021-11-11 12:27] #535 closed

[2021-11-11 12:34] nicholas-haggerty commented on #558
@padms Hi. Sorry I have heard back and unfortunately they would still like to have REMIT as a feed on equinor.com. Could you continue on with this task please

[2021-11-11 12:37] wenche commented on #562
First, we need to figure out how we can populate the landing page with the related sub pages from the menu

[2021-11-11 13:28] BirteThornquist commented on #574
Looking good! Closing this @nicholas-haggerty - since we did the review the other day.

[2021-11-11 13:28] #574 closed

[2021-11-11 13:33] BirteThornquist commented on #541
Is this good to go for now @nicholas-haggerty without the tags?

[2021-11-12 11:01] adneforslund commented on #580
Waiting for Sanity

[2021-11-15 06:36] wenche opened #587 "Wrong URL in the language switch at one page at loading time for static pages"
![Skjermbilde 2021-11-15 kl. 07.34.53.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/1d1f5d1b-9c3c-46cf-a284-833f505be892)

"The third url is the language switch link. When the page is loaded for the first time , "https://energyvision.app.radix.equinor.com/no/what-we-do/en/what-we-do/terminals-and-refineries" the url is like this , when I use toggle, it corrects itself the seco

[2021-11-15 06:42] nilsml commented on #490
Can you review this one @vnys and sync with @padms if changes are to be made?

[2021-11-15 06:55] wenche commented on #571
@nicholas-haggerty 12 of these URLs are not available in the current solution. To close this issue, we should probably fix that?

1. The high resolution images at the bottom of this page https://energyvision.app.radix.equinor.com/news/archive/fourth-quarter-2017-results-and-capital-markets-update-2018
2. The images from Danske Bank at the bottom of this page https://energyvision.app.radix.equinor.

[2021-11-15 06:56] nilsml commented on #442
Hasn't some work been done on this already?

[2021-11-15 06:58] nilsml commented on #116
Need to figure out what this task is all about

[2021-11-15 07:09] nilsml commented on #289
Isn't this just about submitting the form data to the right place? We should have a look at which user stories we'll need for forms.

[2021-11-15 07:58] adneforslund opened #588 "Build error when missing image"
When a news page is missing image, build breaks

[2021-11-15 08:01] adneforslund commented on #588
[Uploading... Screenshot 2021-11-15 at 08.59.13.png]

[2021-11-15 08:02] adneforslund commented on #588
![Screenshot 2021-11-15 at 08.59.13.png](https://images.zenhubusercontent.com/61482e3b2cb1bada8cadcc42/cb21bb9d-2b48-4c6e-bf61-b7c626deab51)

[2021-11-15 09:10] #585 closed

[2021-11-15 09:47] SvSven commented on #575
Upgraded to v3.1.8 which should fix this issue, but I'm still seeing the warnings. Will investigate further to see if there is something in our implementation.

[2021-11-15 09:54] nicholas-haggerty commented on #571
@wenche I have fixed (deleted) the elements on the 4 pages referenced above and re published on both the EN and NO versions for each

[2021-11-15 10:19] wenche commented on #562
@nicholas-haggerty  This is the current status https://energyvision.app.radix.equinor.com/about-us While this technically work (it does list the sub menu items from the corresponding top level menu item) it's pretty fragile. What we do is to verify that the menu has a reference for this landing page (about-us in this case) and then we choose the sub menu data for the sub menu that has the top leve

[2021-11-15 12:14] adneforslund commented on #588
Seems like the issue is in the meta ogp part. Could consider having a default fallback image of for example the Equinor logo in medium resolution

[2021-11-15 12:26] nilsml commented on #497
Wait until Azure function for search is up and running. Use that as a template.

[2021-11-15 13:18] nicholas-haggerty commented on #516
@SvSven is this blocked as we waiting for cookie bot to be implemented? Just wondering if we will start building pages and using the iframe/YT route to solve video (until MUX is working) it would be good for editors to choose the cookie user consent. Currently we have:
NONE
Marketing
Statistics

With NONE as the default.

[2021-11-15 13:20] nicholas-haggerty commented on #516
With that route in mind, we should also add a (optional) Description/caption field to appear under the iframe to for example introduce the video to the audience...

[2021-11-15 13:54] nicholas-haggerty commented on #541
Yup. I think we have two good ways into the topic content.
1. Search
2. Topic routes

Closing

[2021-11-15 13:54] #541 closed

[2021-11-16 07:09] padms opened #589 "Create subscribe form component in sanity"
The component has two fields :
1) Heading ( the heading for the form)

[2021-11-16 07:16] padms opened #590 "Create the web part of subscribe form"
https://www.equinor.com/en/about-us/forms/subscription.html  - News subscribe form
https://www.equinor.com/en/about-us/forms/magazine-subscription.html - Magazine subscription form
https://www.equinor.com/en/about-us/forms/crude-oil-subscription.html - Crude oil subscription form
https://www.loop.equinor.com/en/about/forms/loop-subscription-form.html - Loop article subscription form

[2021-11-16 07:22] padms commented on #590
Based on the type field of the Subscribe form component, the categories checkbox should be shown.
 Subscribe form has First Name and Email input fields , besides categories checkboxes based on the subscribe form type as follows :
1) News type -> Stock Market Announcements , General News.
2) Crude oil assays -> No category checkbox.
3) Magazine -> All stories , People
4) Loop Articles -> No check b

[2021-11-16 07:24] padms opened #591 "Recaptcha for forms"

[2021-11-16 07:30] BirteThornquist commented on #583
Looking good! Well done @SvSven

[2021-11-16 09:39] nicholas-haggerty commented on #559
@wenche Testing on this page: https://equinor.sanity.studio/desk/topicContent;1a8d1ece-0252-410f-9d86-4774852d2be6

Adding coloured background. When previewing, the colour show for a second but disappears.

[2021-11-16 09:40] nicholas-haggerty commented on #571
@wenche Not sure if you need to test further? If ok please close.

[2021-11-16 09:41] nicholas-haggerty commented on #583
@SvSven Looks good. Closing

[2021-11-16 09:41] #583 closed

[2021-11-16 09:46] #571 closed

[2021-11-16 09:49] wenche commented on #559
With this promotion?

![Skjermbilde 2021-11-16 kl. 10.49.22.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/1f6908ce-43f8-40ef-9919-93757ff7ddc4)

[2021-11-16 09:59] nicholas-haggerty commented on #559
No news one

[2021-11-16 10:03] nicholas-haggerty opened #592 "Investigation task. Integrating with Fotoware DAM"
In addition to API integration there are some further options with Fotoware solution,

https://learn.fotoware.com/Integrations_and_APIs/01_Creating_Integrations_using_Embeddable_Widgets

[2021-11-16 10:08] SvSven commented on #559
Seems to work fine when I test it locally, but for the hosted studio I can see it as well; it's either very slow to change or doesn't change at all.

Looks to be happening with other components as well, so this seems like an issue with the background colour component and/or preview in general.

[2021-11-16 10:46] nicholas-haggerty commented on #559
@SvSven Should we just close this one and create an issue for that specific problem? Everything else seems #amazing

[2021-11-16 10:56] nicholas-haggerty commented on #543
@SvSven OK to close this now right?

[2021-11-16 10:58] wenche commented on #559
Yes, we probably should and address this issue with Sanity at some point, just need to do some digging and figure out what/where. To me it seems like the preview has some issues, it's also super duper slow locally.

We found another one we should address as well, the text is inverted for the darkest background even if the card remains white. Could create an issue for that one as well

[2021-11-16 10:58] nicholas-haggerty commented on #500
https://www.equinor.com/en/investors/annuLreport.html Example of 404 page in AEM

[2021-11-16 11:00] nicholas-haggerty commented on #500
@BirteThornquist Lets look into the design of this at some point

[2021-11-16 11:04] nicholas-haggerty commented on #253
This seems to be duplication. Closing

[2021-11-16 11:04] #253 closed

[2021-11-16 11:06] nicholas-haggerty commented on #136
Isn't this in place? Think we can close this

[2021-11-16 11:08] nicholas-haggerty commented on #100
This has been captured in other tasks. Closing

[2021-11-16 11:08] #100 closed

[2021-11-16 11:14] nicholas-haggerty commented on #442
@nilsml This will largely be solved editorially.
Either they have:
Already been removed in AEM
Use topic or Event template to resolve
Combine content onto existing topics

Could still be a need for the overlay component that has been discussed already, but I think this should be backlogged and see if there is still a need as pages are built.

[2021-11-16 11:14] #442 closed

[2021-11-16 11:17] nicholas-haggerty commented on #354
@SvSven @nilsml When you get a chance could you let me know if this task has been complicated?, I know we have the component in the list but I dont see the component in preview when I test.

[2021-11-16 11:18] nicholas-haggerty commented on #441
Duplication. Closing

[2021-11-16 11:18] #441 closed

[2021-11-16 11:21] nicholas-haggerty commented on #508
@BirteThornquist Cant remember, did we decide to not do this? Or...

[2021-11-16 11:25] nicholas-haggerty commented on #563
@wenche Should we just close this? Or keep it open in case the feature becomes available from Sanity? Low priority.

[2021-11-16 11:27] nicholas-haggerty commented on #478
@nilsml Should see where we can fit this in to forthcoming sprints. If editors are to start working on live pages, be good to have this in place.

[2021-11-16 11:35] wenche commented on #563
If it's not that important, I guess we could as well close this.

[2021-11-16 12:09] wenche opened #593 "Investigate if we can improve the menu builder workflow"

[2021-11-16 12:18] wenche commented on #562
I created issue #593 to see if we can improve the data fetching with the new soon-to-be-released features from Sanity

[2021-11-16 12:46] nicholas-haggerty opened #594 "Text inverts to white in the NEWS / TOPIC component when dark background is selected. So doesn't show as card is always white."

[2021-11-16 12:53] SvSven commented on #478
It might involve a bit of investigation and development work to get it right, because apparently pre-filling fields when you for example select an image is not something Sanity supports out of the box. We have a dialog going with some potential solutions, but we haven't spent more time trying them out yet.

That being said; might be useful functionality to have for other integrations as well.

[2021-11-16 12:54] SvSven commented on #354
I don't believe we have the web part of this yet no, as we need to do some work to integrate with the API. We only added a placeholder component in the studio.

[2021-11-16 12:58] SvSven commented on #543
Depends on the outcome of the DAM project I suppose?

[2021-11-16 13:00] SvSven commented on #516
This is blocked by the cookie bot integration yes, that currently only works for the static pages.

[2021-11-16 13:07] SvSven commented on #490
Looks like it loads once per static page now, so it reloads when you navigate to a different static page. That's probably unavoidable and definitely an improvement at least.

Still adds the `modernizr` classes to the `<html>` tag every time it's loaded (so that stacks up), but again not as bad as it was. We may be able to do something to remove those classes before the script loads or something if

[2021-11-16 13:34] BirteThornquist commented on #508
@nicholas-haggerty If the spacing gets sorted, I think we said leave it, since the problem essentially is spacing ...

[2021-11-16 14:14] wenche commented on #562
Preview for the routes work like the topic page based content. Let's see if we can make the landing page template preview work as well with query by id as we do for the topic

[2021-11-17 07:38] nilsml opened #596 "Promoting a card with dark background, the text disappears"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-11-17 07:39] #559 closed

[2021-11-17 07:40] nilsml commented on #490
We can live with this for now.

[2021-11-17 07:40] #490 closed

[2021-11-17 07:53] nilsml commented on #440
This one can be converted to an Epic US and sub-tasks added to this

[2021-11-17 08:00] #588 closed

[2021-11-17 09:10] SvSven commented on #575
I can't figure out the problem in this, it seems like there are issues with at least:
- Topic page hero image
- Image component (both full-width and not full-width)
- Quote image

While it doesn't seem to happen with at least:
- Teaser image
- Promotion card image (news and topic)

There is no clear difference between how these images are implemented, but the results are consistent so there is cle

[2021-11-17 09:30] SvSven opened #597 "Create basic Sanity schema for event document"
See: #440

[2021-11-17 09:30] SvSven opened #598 "Create basic Sanity schema for event document"
See: #440

- [x] Add translation

- [x] Preview

- [x] Route tabs

[2021-11-17 09:36] SvSven commented on #597
Error with Zenhub caused this to be duplicated

[2021-11-17 09:36] #597 closed

[2021-11-17 09:41] SvSven opened #599 "Investigate how to handle date & time input for events"
Events can be any of the following:
- Single day
- Multiple days
- No specified time
- With specified time

We need to figure out a good way of handling the date & time input here to avoid confusion. One option could be to just have it be a simple text input where the editors write it out, but this can (will) cause inconsistencies and can (will) cause problems with converting that text to a usable

[2021-11-17 09:43] adneforslund commented on #599
Could represent events as an array of days with 2 dates on each element

[2021-11-17 09:51] SvSven opened #600 "Add people promotion component to event template"
Depends on #560

[2021-11-17 09:53] SvSven opened #601 "Create web part of event template"
Depends on #598

[2021-11-17 10:00] SvSven opened #602 "Implement press contact list component for events"
https://energyvision.app.radix.equinor.com/event
On some events, editors add a list with contact information for press contacts.

[2021-11-17 10:02] nilsml opened #603 "Create a test plan"

[2021-11-17 10:38] padms opened #604 "Trigger webhook to brandmaster when article is published in sanity"

[2021-11-17 10:46] nicholas-haggerty opened #605 "Some content will be in one language only but this content needs to be reflected in both menu structures"
We agreed upon that the best option is to add a separate field for linking to a different language. This one is added in the rich text editor's internal link by #912

Do we need this option for other internal references as well, and if yes: Exactly where?

-

Investigate need for linking to different languages from different components and list pros and cons

[2021-11-17 11:27] wenche commented on #401
This goes for previews in general. Both news, topic content and landing pages share the same issue
- When a document is published, previewing draft works
- Before a document is published, preview is just 404

[2021-11-17 11:34] wenche commented on #562
We see the same issue for the preview of the landing page template as we did for news during the sanity user test: The preview doesn't work before the document is initially published. I have updated #401 and we should prioritise this.

When the document is published, preview works in the same way as for the landing pages even if it's not yet connected to a route.

[2021-11-17 12:42] nicholas-haggerty commented on #596
@nilsml Think I made this one yesterday... Same as #594?

[2021-11-17 14:18] wenche commented on #562
1. Added a new landing page template and corresponding menu item
![Skjermbilde 2021-11-17 kl. 12.35.46.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/0b412c77-c17c-41f3-9b05-a8147592866d)
![Skjermbilde 2021-11-17 kl. 12.36.25.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/5a743c3e-f21b-4c42-afb3-e2c0251be39f)
2. A page of type landing page can be selected as

[2021-11-17 14:23] wenche opened #606 "Issue when creating child routes"

[2021-11-17 14:24] #606 closed

[2021-11-18 09:02] wenche commented on #562
@nicholas-haggerty please take a look

[2021-11-18 09:35] padms commented on #589
Created a simple component in sanity, called Subscription form with the same fields as in AEM.

[2021-11-18 09:54] nicholas-haggerty commented on #562
@wenche Fantastic work! Looks good. Made some changes to the About us Menu. Works like a dream on the landing page view. I guess the issue we will have to live with is the lack of preview image on the static page references, but as tested, works great on a dynamic page.

Agree, lets wait for the workflow fix from Sanity

Just want to confirm that this 'table of content' is only for certain landing

[2021-11-18 11:16] wenche commented on #562
The editors could still choose a topic page as the content for a landing page in Sanity -> Topic Route :)

[2021-11-18 11:53] nicholas-haggerty commented on #562
Ok, still not quite understanding the logic (or rather, why does one section display one way (ToC) and one section another way (Topic page) but lets have a walk through at some point.

[2021-11-18 12:14] wenche commented on #562
It is because the web are able to figure out which kind of content the routes references and use the Topic page template or the landing page template accordingly

[2021-11-18 14:15] nicholas-haggerty commented on #562
Ok so the editor workflow is.... If an editor adds the page to 'landing page' route its ToC view. If the page is set up as a topic and referenced from the menu route, its displayed as a Topic page. Guess I was confused because we have Careers in the landing page part too.....
Well Im still a little confused with the whole topic page vs route vs menu vs slugs vs content vs landing page thing tbh!

[2021-11-19 09:39] padms commented on #590
@nicholas-haggerty Could you please share some sketches of forms.

[2021-11-19 11:31] adneforslund commented on #484
https://github.com/nwcell/ics.js

[2021-11-19 15:58] wenche commented on #560
We have done quite a lot of work for the portrait version and started on the landscape version. Need to figure out how spacings should behave when there are so many variations of the content (lot of optional information). The anchor links for CVs need to wait until that is solved by #346
![Skjermbilde 2021-11-19 kl. 16.52.45.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/a604ad

[2021-11-22 07:38] adneforslund commented on #580
Works on existing documents, but language is set on publish, so it blocks creating new documents

[2021-11-22 07:41] nicholas-haggerty commented on #560
@wenche great work so far!

[2021-11-22 08:37] nicholas-haggerty commented on #590
@padms Hey. Just checking with Brandmaster on whether we can solve this simpler so we don't have to have 4 separate subscription forms. Be great if the mail group is assigned to the choice the use the makes rather than which form they fill in...

[2021-11-22 08:37] nicholas-haggerty commented on #590
![equinor-subscription-form.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/d129d4c2-0722-474b-b0dd-ac9ccd41a989)

[2021-11-23 08:15] #562 closed

[2021-11-23 09:05] BirteThornquist opened #608 "Create the event card"
The event card will have two styles, portrait and landscape, specified in Figma [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=3290%3A70695). If only one event is promoted it will show in landscape style, else in portrait style. Editors will not be able to style the card (background color).

[2021-11-23 13:14] #301 closed

[2021-11-23 13:18] nilsml opened #609 "Handle .html issue"
In AEM `.html` suffix is used for the pages. In Sanity/Next.js we are not using it, so need to handle redirects.

[2021-11-23 13:19] nilsml opened #610 "Set up/map access groups"
Relevant comments in #619

[2021-11-23 13:19] #424 closed

[2021-11-23 13:20] nilsml opened #611 "Workflow for the news (do you really want to publish?)"
## Acceptance criteria
- Editor has to confirm that he/she wants to publish a news article or publish updates to an existing one
- Should be added for news and local news, but not the rest of the templates

### Testing
 **Dialog for news article**
1. Create a new news article
1. Click `publish`
Expected outcome: Can't publish since the mandatory content is not yet added. The publish button is disa

[2021-11-23 13:21] nilsml opened #612 "As a user I want to be able to view tags on news articles"

[2021-11-23 13:27] nilsml commented on #604
Is this done @padms ?

[2021-11-23 13:30] nicholas-haggerty commented on #213
Tagging has been added.

[2021-11-23 13:31] nilsml opened #613 "As an editor I want to select the correct subscription options for news articles"
## Acceptance criteria
1. Tick of either general news, stock market announcements or crude oil assays
1. Linked to the correct subscriber list
1. Differentiate on language

## In order to ensure good quality we should (Keep the ones we need for this US)

[2021-11-23 13:34] nicholas-haggerty commented on #590
![equinor-subscription-form-2.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/3f7baa1d-f953-473d-bcfe-f0ce8921e884)

[2021-11-23 13:40] nilsml opened #614 "Look at Fotoware APIs"

[2021-11-24 11:25] wenche opened #615 "focus-visible with EDS core react"
The EDS team has updated eds-core-react to use esm modules. This is good, as tree-shaking now works as expected and and bundle size in reduced. However, Next.js does some clever optimisation for the production bundle and the polyfill library for :focus-visible didn't work anymore.

The solution for Envis is to
a) Make the focus-visible library an explicit dependency for the web.
b) Import the libr

[2021-11-24 11:31] wenche commented on #615
See https://github.com/equinor/energyvision/commit/39e61429872ac80f3ad1547f59bfba530527abbc

[2021-11-24 11:32] wenche commented on #615
@SvSven  I guess you have already verified this? Close?

[2021-11-24 12:02] SvSven commented on #615
Can confirm that I see the focus state again both locally and in production

[2021-11-24 12:20] wenche commented on #580
LGTM :thumbsup:

![Skjermbilde 2021-11-24 kl. 13.19.41.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8835426f-a066-4eff-8035-e6f47b8a969e)
![Skjermbilde 2021-11-24 kl. 13.20.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/9cffba29-2a5f-4118-97df-d5ec56b9e035)

[2021-11-24 12:20] #580 closed

[2021-11-24 14:02] wenche commented on #560
This doesn't feel 100% right, maybe we can take a last refactoring and simplifying round after we have done the event card. Might be a good idea to refactor the list of the Promotions itself to another component, to make it easier to reuse some logic in the event template for @SvSven ? And the landscape version is not optimal yet, but the event card is so different

[2021-11-24 14:04] wenche commented on #560
@BirteThornquist Let's look at this tomorrow/when you are working on Envis

[2021-11-24 14:06] wenche commented on #601
@SvSven  Can we assume that this is no longer blocked since it is in review?

[2021-11-24 14:07] wenche commented on #598
@SvSven What about preview and connected route tabs. Translations?

[2021-11-24 14:16] wenche commented on #601
@SvSven  Are we sure that we need an additional `event` folder in the pages folder for events? We talked about just solving this in the same way as with the Landing pages? E.g. create the content, add to a route and let the web see which template to use. Even if the requirement is to have all events published under the /event top level route, that could be solved by the create route? I'm worried a

[2021-11-24 14:19] #615 closed

[2021-11-24 19:39] wenche commented on #575
There's no warnings if we create an image without the option callback with Sanity ImageUrlBuilder. When the options object is added, even with the most basic example from the docs, the warnings show up.

I have asked Sanity for some input on this and they will look into this

[2021-11-25 07:52] fernandolucchesi commented on #599
Proposed solution: https://github.com/equinor/energyvision/pull/616

[2021-11-25 07:56] adneforslund commented on #594
Remove dark background promotion from Sanity

[2021-11-25 08:53] padms commented on #590
@nicholas-haggerty  There are two options under magazine subscriptions ( All Stories and People ).

[2021-11-25 09:11] wenche commented on #560
TODO
- Smaller images on mobile (~120-150)
- Add width restrictions for title and ingress (leftover from promotion web issue)
- Left align text on portrait
- Only center on the y axis for portrait
- Bonus: Single line for title and department for portrait

cc @BirteThornquist

[2021-11-25 09:18] #594 closed

[2021-11-25 09:27] padms commented on #589
We might need to remove the type field for subscription form.. if there is going to be a single form.

[2021-11-25 10:15] nicholas-haggerty commented on #590
@padms Yes I know. We will remove the PEOPLE choice

[2021-11-25 10:44] BirteThornquist commented on #484
When a specific time is not yet specified for an event, it should still be possible to add it to the calendar as a full day event. When the time at a later stage is specified, the calendar event is updated.

[2021-11-25 13:02] SvSven commented on #598
Translation & preview has been added, let's discuss tomorrow regarding the slug/routes

[2021-11-25 13:04] SvSven commented on #601
I've refactored it to use the catch-all set up we have now, but still currently using the slug similar to the news pending discussion on how we want to solve that.

[2021-11-25 13:44] nilsml opened #617 "Add legacy pages to Algolia index"
**In order to make legacy (static) pages searchable, we need to add them to the Algolia index**

## Acceptance criteria

1. All text content from static pages are added to index
1. Index is updated at regular intervals

[2021-11-25 14:49] wenche commented on #560
@BirteThornquist  Let's take another look at this tomorrow morning :thumbsup:

[2021-11-26 07:42] SvSven commented on #602
Design availabe on Figma, located below people promotion on event template

[2021-11-26 09:24] wenche commented on #590
![Skjermbilde 2021-11-26 kl. 10.24.19.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/9e1aec46-caa2-4ba6-ad0f-9451d0e2fc3a)

Suggestion: Semantically speaking this should be a fieldset with categories as legend

[2021-11-26 10:52] wenche commented on #560
/careers/professionals for examples (bottom) @nicholas-haggerty

[2021-11-26 10:53] wenche commented on #590
/careers/students for example

[2021-11-26 11:03] SvSven commented on #598
We agreed to switch over to using the routing system similar to topic pages as it adds more flexibility in the long run. Option will still be there to switch back should we need to.

[2021-11-26 11:07] #600 closed

[2021-11-26 11:08] #560 closed

[2021-11-26 11:42] nilsml opened #618 "Specify the needs for satellite pages"

[2021-11-26 11:55] nilsml opened #619 "Specify access control needs to Sanity"

[2021-11-26 12:21] nilsml opened #620 "Create ServiceNow case for SSO"
Start process with Service Now for setting up SSO with Sanity using SAML.

[2021-11-26 12:23] #620 closed

[2021-11-26 12:25] nilsml commented on #558
Waiting for #590

[2021-11-26 12:26] nilsml opened #621 "Do the actual configuration of SSO in Sanity and AAD"

[2021-11-26 12:28] nilsml commented on #621
Waiting for Service Now

[2021-11-27 01:49] circa10a opened #622 "Client Secret + password hardcoded in repo"
Assuming it's not intentional to have these here?
https://github.com/equinor/energyvision/blob/main/web/components/utils/subscription.tsx#L9

[2021-11-29 06:21] nilsml commented on #622
@SvSven Is this what we already discussed?

[2021-11-29 07:34] SvSven commented on #622
@nilsml Nope, this is something different. Looks to be the subscription form which should _probably_ be in an `env` file.

[2021-11-29 07:57] nilsml commented on #622
Thank you so much for letting us know about this @circa10a!
This is definitely not intentional, and we will fix it asap!

[2021-11-29 08:24] padms commented on #589
@nicholas-haggerty @meols If we are going to have only one form for all categories, then shall I remove the type field in this component?

[2021-11-29 08:41] nilsml commented on #603
Document can be found [here](https://statoilsrm.sharepoint.com/:w:/s/CCOMEquinor.comCMSevaluation/EeJcRGxIU_dOgGYchvb1VAIBA_KBttXsMrifS4A1qcA7UQ?e=hAXwgs)

Please take a look and give comments. Then we can have a meeting to go through it together and make necessary adjustments.

[2021-11-29 09:59] SvSven commented on #601
@BirteThornquist This should be ready for design review now, the date and time are still missing but being worked on.

[2021-11-30 07:37] #622 closed

[2021-11-30 08:25] SvSven commented on #614
Relevant links
- https://www.fotoware.com/integrations
- https://learn.fotoware.com/Integrations_and_APIs/001_The_FotoWare_API
- https://api.fotoware.com/

[2021-11-30 09:06] BirteThornquist commented on #601
Looks good @SvSven! Two comments:
- the people promo component should have an optional title
- there shall not be an option to select a background color for the iFrame in the event template

[2021-11-30 09:43] SvSven commented on #614
Without knowing more about the Fotoware product and without having access to a license in order to try a prototype, it's difficult to tell how easy or difficult it would be to make a Sanity integration.

That being said, they have a REST API with documentation and they list integrations with several other products/platforms, including WordPress, Microsoft Office, Adobe CC, Episerver, and more - so

[2021-11-30 14:40] adneforslund commented on #619
Should be able to manage access on specific documents?

[2021-12-01 07:38] #598 closed

[2021-12-01 07:53] wenche opened #628 "Tags for the event"
## Acceptance criteria
- Separate tags for events
- Tag functionality exists for the Events template
- [ ] Update editorial documentation

Refer to comment below for suggested solution.

[2021-12-01 08:31] SvSven commented on #601
@BirteThornquist There is now an optional title for the people promo and the background selector for the iframe has been removed 👍

[2021-12-01 09:11] wenche opened #629 "Fix latest news in the news article template"
There are some issues (with the query?) for the latest news list.

It doesn't seem to list 3 news articles and it should not list draft news

 ![Skjermbilde 2021-12-01 kl. 10.12.16.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/d2c26e33-6e9d-4fa2-ad7c-e9796429e2a1)

[2021-12-01 09:34] nilsml commented on #621
Service Now has asked a ton of questions. @ReedOnly is talking to them.

[2021-12-01 14:00] wenche opened #630 "Improve "open preview" button"
If we will continue to use the approach with cookies and token for preview, we need to fix the redirect here. The location in  /pages/api currently does not set the hostName.

![Skjermbilde 2021-12-01 kl. 15.02.22.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8583f7f3-ea03-45e3-aa67-5c49c2f7cd0c)

## Acceptance criteria
- When clicking the "Open preview" button, we are taken t

[2021-12-01 15:10] meols commented on #589
@padms - if the "type field" let you choose what kind of news you can subscribe to we will need it. We still need to be able to choose between the same options as today General news, Stock market announcements, Crude oil assays, Magazine stories (skipping People as a magazine story option going forward) and Loop. New subscribers will need to be added to the corresponding subscribers list in the Br

[2021-12-02 07:50] nilsml commented on #621
Meeting scheduled to proceed with this

[2021-12-02 11:25] wenche commented on #575
Opened another issue in the plugin lib
https://github.com/bundlesandbatches/next-sanity-image/issues/31

It was not that easy to just fix this at our end.

[2021-12-02 11:55] nicholas-haggerty commented on #589
@padms Hi. Yes, we remove it. There will be only one subscription form for all types. The user chooses on or more from the tick list. This determines which mail group they will be assigned to at the brandmaster end. We have spoken to Yngve at Brandmaster and its possible to set up this way their end.

[2021-12-02 14:17] SvSven opened #632 "Upgrade Sanity"

[2021-12-02 15:55] padms commented on #589
Removed form type field in the component

[2021-12-03 07:30] padms commented on #590
@nicholas-haggerty @meols Could you please take this further with Brandmaster? When the changes from their end is ready, we could test the working of the subscription API.

[2021-12-03 07:53] #567 closed

[2021-12-03 08:59] nilsml commented on #621
There is an issue with the SAML provider that Sanity is using that enforces us to use password as auth method. Below is what Sanity said:

So no timeline to report for now unfortunately. Was there a date you were hoping to have SAML integration ready by?
(Keeping in mind it's possible to test Roles/Permissions without SAML)

Hard to say how to proceed with this. Passing the ball to Sanity again.

[2021-12-03 10:07] nilsml commented on #603
Meeting scheduled to go through the test plan. Will close this task.

[2021-12-03 10:07] #603 closed

[2021-12-03 10:33] nilsml commented on #609
Maybe you can describe this problem a little bit more @wenche?

[2021-12-03 12:00] nicholas-haggerty commented on #484
@BirteThornquist @SvSven Looking good Sven, nice work One comment relating to date. For Timezone, is it possible to set Europe/Oslo as default? It will be 90% of times I guess, and editor has to manually scroll down to select it, which added at least 7 seconds to my day!

On preview, the spacing for the text in the top banner looked a little off compared to the Figma sketch. The date seems too tig

[2021-12-03 12:07] nicholas-haggerty commented on #601
@SvSven @BirteThornquist Very good. I set the page up below and seems like there some spacing issues on PREVIEW and website. Bigger than spacing between components. Doesnt seem to be related to missing text fields.

https://equinor.sanity.studio/desk/event;5d90217b-c428-4d38-a8bf-703f78a767bb%7C%2Cview%3Dpreview

[2021-12-03 12:34] SvSven commented on #484
This technically relates to #599 (but the issues are a bit confusing at the moment)
Tagging @fernandolucchesi since he is working on the actual date and time implementation

[2021-12-03 12:46] SvSven commented on #484
@nicholas-haggerty @meols

For this issue specifically (the "add to calendar" button); the button will only show if the event has a date (which should be required in Sanity) and will only show if it is an upcoming event (end date and time is in the future from this moment). It wont show if the event is in the past, which is an improvement over the current equinor.com solution.

Clicking the button

[2021-12-03 12:49] nicholas-haggerty commented on #484
@SvSven I dont think we need description. This is good (enough) how it is. I tested with a couple of different time zones set and it worked correctly for me. Not sure how time we should put into testing this but maybe @meols wants to go through when she back on Monday

[2021-12-03 13:35] padms commented on #590
@nicholas-haggerty  @BirteThornquist Could you also provide the sketch for showing the error when none of the checkboxes is checked?

[2021-12-06 07:41] SvSven commented on #599
Copied from #484:

[2021-12-06 09:01] fernandolucchesi commented on #599
The UI is still a WIP. Will get them updated today when I am done with all the security tutorials and tests :P. The timezone is already being set to the user's timezone, I believe she edited an already existing event instead of creating a new one, and that is why Europe/Oslo wasn't pre-selected.

[2021-12-06 09:49] wenche commented on #632
I upgraded the studio and added the performance fix Simeon gave us. That removed the endless loading spinner for me. Are you able to verify this @SvSven  ?

[2021-12-06 09:59] adneforslund commented on #602
https://energyvision.app.radix.equinor.com/event

[2021-12-06 10:12] SvSven commented on #632
At first glance it looks like everything is working as it should
I can load news, topic content, top level routes and child routes, events, menu. No real lag, no loading spinners being stuck. Seems to be okay?

[2021-12-06 10:58] nicholas-haggerty opened #633 "As an editor I would like to have option to format titles in both the templates and components"
![formating titles.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/76fe9d8b-45d6-4408-8c16-cb3bccc84036)

### Acceptance criteria
- Can use sub script in titles
- Can use sup script in titles

NB: Not all titles have rich text, so this feature will only affect the rich text titles in Sanity

[2021-12-06 11:11] nicholas-haggerty opened #634 "As an editor I need to be able to add a colour background to the QUOTE component to display the quote as part as of a module."
![this-background-should-be-green.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/8ca78a39-6cd7-410a-aa76-ac37478f91e5)

## Acceptance criteria
- Can choose a background colour for a quote component in Topic pages
- The chosen background colour is visible in the web
- All texts and icons are inverted for the darkest background colour
- These changes does not affect the news arti

[2021-12-06 13:41] nicholas-haggerty opened #635 "As an editor it makes more sense to change 'ATTRIBUTION' to 'Credit' when adding photographers name to Image component"
Change Attribution field to Credit

[2021-12-06 14:29] meols opened #636 "As an editor i want all headings on the events template to be left adjusted"
The title above the People and contacts is the only one being centered. Should this to be left aligned?

[2021-12-07 08:15] nilsml opened #638 "Pre-select parent for new child routes"
**As an editor trying to create a child route, I want my selected parent route to be pre-selected in dropdown because I want to save time**

## Acceptance criteria
1. The parent route selected under "All parents" is pre-selected in "Parent" dropdown

![Screenshot 2021-12-07 at 09.13.08.png](https://images.zenhubusercontent.com/5f899bfbf74e6d6928f0f80f/89a7daba-d380-4676-a5e4-23fdf6fdfca8)

## In o

[2021-12-07 08:36] BirteThornquist commented on #590
@padms [Here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=3549%3A74908) is the sketch for error validation for the categories checkboxes. I have added a section header and a help text. If no checkboxes are selected the help text turns red with the same error filled icon as used in the text fields.

[2021-12-07 08:55] #632 closed

[2021-12-07 09:00] fernandolucchesi commented on #599
Hi @BirteThornquist, can you double check this one? :)

[2021-12-07 09:27] fernandolucchesi commented on #628
Waiting for clarification on how event tags should work

[2021-12-07 09:58] BirteThornquist commented on #599
Looking good @fernandolucchesi ! I got the Europe/Oslo timezone as default. When a specific time is not set, we should have a text saying "Time to be announced " also for the event template, right @nicholas-haggerty ?

[2021-12-07 10:04] BirteThornquist commented on #601
I see the people promote header is not left aligned as done in Figma, but in the middle @SvSven...

[2021-12-07 10:14] nicholas-haggerty commented on #601
Also raised as an issue in #636

[2021-12-07 10:16] nicholas-haggerty commented on #599
@fernandolucchesi @BirteThornquist Yes we would need this in the event template too (and on the event promo)

[2021-12-07 11:11] adneforslund commented on #638
In the file `parentChild.js` there is a reference to a initial value template that doesnt exist.
But the solution to this would probably to make a template that takes in the id of the parent and populates the reference field with the if of the parent

[2021-12-07 11:12] #484 closed

[2021-12-07 11:14] padms commented on #602
@nicholas-haggerty  @meols  Could you please have a look at this?

[2021-12-07 11:31] nilsml commented on #617
Waiting to see the outcome of the next backlog refinement meeting.

[2021-12-07 11:34] padms commented on #589
@meols @nicholas-haggerty  The component is working as expected. Could you please review this again?

[2021-12-07 11:48] nilsml opened #639 "Make list of activities needed for going live"
When switching from AEM to Sanity, what do we and the AEM team need to do?

[2021-12-07 13:46] nicholas-haggerty commented on #589
@padms Great work Padmaja. Closing. WE can create a new issue reflecting the changes towards Brandmaster

[2021-12-07 13:46] #589 closed

[2021-12-07 15:08] adneforslund commented on #638
Note: not able to set any kind of initial value on this document

[2021-12-07 19:57] fernandolucchesi commented on #638
Found a good workaround for this, looks like it worked :)

[2021-12-07 20:08] fernandolucchesi commented on #599
I have just updated it @BirteThornquist

[2021-12-07 21:00] BirteThornquist commented on #599
Great @fernandolucchesi !

[2021-12-08 07:05] wenche commented on #638
@fernandolucchesi Does seem to work as expected for child pages, both English and Norwegian. It does however _not_ work when I want to create a new top level (parent) page, then it seems like it preselect the first children in the list as its parent? New top level pages should not have a parent. Are you able to do this magic for child pages only?

[2021-12-08 08:18] nicholas-haggerty commented on #602
@adneforslund  @padms
Looking good thanks. Question, is it possible to have the numbers clickable/active, Especially on Mobile. This is automatically added in the PEOPLE promo card so would be good if this is the same.

[2021-12-08 09:05] adneforslund commented on #602
@nicholas-haggerty Will fix

[2021-12-08 09:14] adneforslund commented on #629
Are we not filtering out drafts in the querues?

[2021-12-08 09:29] wenche commented on #629
Probably a couple of things since this was made ages ago and way before we added the read token :)

[2021-12-08 09:50] nilsml opened #641 "Investigate issue with parent/child routes"
Creating a new top level route reloads the studio with the first item in the list of top level routes selected and the child routes pane open:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/9b234359-4954-4549-bae2-a7f5e4ec1a80)

[2021-12-08 09:50] nilsml commented on #638
New issue #641 created for parent/child problem

[2021-12-08 09:52] #599 closed

[2021-12-08 09:59] #602 closed

[2021-12-08 10:17] nilsml commented on #641
Please add more details to this card for the issue @fernandolucchesi

[2021-12-08 11:47] padms commented on #590
@nicholas-haggerty Please review this.

[2021-12-08 12:18] padms commented on #558
@wenche Should the [table component](https://app.zenhub.com/workspaces/energy-vision-5fb6386c578f1200222dd6c2/issues/equinor/energyvision/345) be ready for this?

[2021-12-08 13:15] SvSven commented on #636
@meols @nicholas-haggerty @BirteThornquist

This should now be fixed as part of #601

[2021-12-08 13:34] wenche commented on #590
I suggested some improvements for a11y on Slack. We really need to nail this one :muscle:

As discussed we also noticed an issue with the checkbox columns on smaller devices that caused the form to overflow outside of it's boundaries.

This issue is only for the actual form right? What about the final creation of the api with the brandmaster stuff - do we have a separate issue for that?

Lot's of

[2021-12-08 13:43] wenche commented on #590
We should probably also remove the default `fieldset` padding and margins as we don't use spacing like that anywhere else in the code base :thumbsup:

[2021-12-08 13:59] SvSven commented on #641
This was introduced when we upgraded Sanity from v2.21.7 to v2.22.3
Based on the release log by Sanity this was specifically introduced in version 2.21.10, where they fixed some things related to the documentPane and new document creation editor: https://github.com/sanity-io/sanity/releases/tag/v2.21.10

[2021-12-08 14:49] padms commented on #590
@wenche Corrections done as suggested in slack.
The API part is still pending.. Not able to test at the moment. so commented it. I will resume once Brandmaster gives update on it.

[2021-12-08 14:54] wenche commented on #561
The thing we have left to do with this issue is the filter for events in the past. That's because it's so convenient to have a couple of the test events from the past to test the even card. :)

But the cards are almost there, so let's add this tomorrow morning.

[2021-12-09 08:01] nicholas-haggerty commented on #601
@SvSven Looking good. Im ready to shut this DOWN. @BirteThornquist any final comments?

[2021-12-09 09:00] padms commented on #558
@BirteThornquist  [this](https://www.equinor.com/en/what-we-do/remit.html) is the page in equinor.com for the REMIT table. There are two buttons at the top of the table, to filter the content. Let me know if you would provide a sketch for this.