[2022-02-18 11:33] adneforslund commented on #683
@nicholas-haggerty I agree that the number field is not very practical as it is today, and should probably be changed, but not removed, as it can also be used to give numbers special formating and styling

[2022-02-18 12:28] meols commented on #860
@nilsml - seems like this isn't an issue anymore, so I'm closing it (testet myself and with Trude)

[2022-02-18 12:44] wenche commented on #832
@meols  I tried to add some screen shots to better explain the indexing for topic pages, but bottom line is: We need to tune the search as we go along. But feel free to test it out in the web, but remember that the design is not 100% done yet :)

[2022-02-18 12:47] meols commented on #683
@adneforslund - is this a sign to stop using numbers? :smile: - (link to example page](https://equinor.sanity.studio/desk/topicContent;b59ddfae-d382-4ffa-b46a-b0c59de2126d)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/f3cf141d-0c9d-4b9a-9a3e-920b48fc613b)

[2022-02-18 12:49] wenche opened #880 "Handle HTML special characters like ampersand in search hits"
React doesn't render special characters like ' and & in the search hits, we need to fix this.

 ![Skjermbilde 2022-02-18 kl. 13.53.10.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/dc200392-1bd4-4c5e-a18d-3f9fabc129cf)

[2022-02-18 12:51] adneforslund commented on #683
@meols I just changed the type, they can be used again

[2022-02-18 13:49] nicholas-haggerty commented on #683
Refinement issues @adneforslund @meols
1. I have given two separate tables the same background as they belong in the same module, first we have the usual spacing issue, but also now I have a white strip between the two tables which is unexpected.
2. If I do not include a Table header (which in the example below it might not be needed as we have year in title) I don't get a warning that I cant do t

[2022-02-18 14:16] nicholas-haggerty commented on #844
@SvSven Just opened the search. Not sure if its been noted or fed back anywhere else (so ignore if so!) but Equinor logo when opening the search should be white version.

[2022-02-19 22:46] nilsml commented on #874
Things to consider:

- Should not index all articles all the time
- How to do it in a smart way parallelising the task, and at the same time stay under thresholds from Algolia?
- Proper encoding (utf-8?)

[2022-02-21 07:42] wenche commented on #833
This is the initial discussion for this topic, and will probably result in a couple of new issues
- Something for listening to changes in Sanity, like 'publish' event and 'unpublish' events
- Look into if we need to use `copyIndex` and `moveIndex` to make the update more robust since Algolia doesn't delete records.

[2022-02-21 07:43] SvSven commented on #858
Can confirm that going to the URL @meols provided earlier and clicking a random accordion now works as expected.
It removes the anchor from the URL, opens the accordion and adds the accordion's parameters to the URL.

[2022-02-21 08:18] wenche commented on #858
@meols Can you verify this?

[2022-02-21 08:23] wenche opened #881 "Issues with focus, focus-visible and Safari"
We use a library to polyfill focus-visible. We want the focus to only be applied for keyboard users, not it you use a mouse.
I Safari, I see the native focus style for several elements. I can't see exactly why this is happening, but it seems to be related to attached screenshot of styles

![Skjermbilde 2022-02-21 kl. 09.22.25.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/412b3

[2022-02-21 09:27] BirteThornquist commented on #734
hi @adneforslund Looks like the quote still drops out to the right from the main column? In the example below for the quote with image, the text drops right:  ![Skjermbilde 2022-02-21 kl. 10.15.44.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/d6b6aa15-c7a3-4db6-afe6-bf84884f296d)
And for the short quote text, the name should be right aligned to the quote text
 ![Skjermbilde 20

[2022-02-21 09:27] meols commented on #858
@wenche - I can confirm that accordions with an anchor link expands and now are working. But it seems a bit strange that the url is changing from the anchor name to "something else" after expanding the accordion, and  just a "?" being added to the url when closing the accordion. Also, if I go to the page via an anchor link (e.g. https://energyvision.app.radix.equinor.com/about-us/corporate-executi

[2022-02-21 09:37] fernandolucchesi commented on #852
Hi @SvSven, can you review this one?

[2022-02-21 10:01] fernandolucchesi commented on #859
Hi @wenche, can you review this one? :)

[2022-02-21 10:06] #359 closed

[2022-02-21 11:34] nilsml commented on #438
Included in next sprint I have been told

[2022-02-21 12:01] SvSven commented on #858
@meols @wenche

The URL is changing because the accordion has functionality that allows you to set the open/closed state when linking to a page. For example in this case: https://energyvision.app.radix.equinor.com/about-us/corporate-executive-committee-cvs?38d56e74f0d7=0 the first accordion is set to open, while by default if you land on that page the accordion would be closed.

Unfortunately this

[2022-02-21 12:06] nilsml opened #882 "Index news articles"
**As an editor I want news articles in Sanity to be indexed so that the end users can easily find them**

This card represents the simple first version of news indexing. Only indexing the most important fields.

## Acceptane criteria
- The following information from a news article is searchable:
  - Title
  - Text blocks

[2022-02-21 12:08] SvSven commented on #829
On hold pending UX feedback

[2022-02-21 12:09] fernandolucchesi commented on #880
Hi @wenche, can you review this one please?

[2022-02-21 12:11] nilsml commented on #882
Need to have a discussion about this before start working in order to get the acceptance criteria in place.

[2022-02-21 12:50] fernandolucchesi opened #883 "Always display locale in the url"

[2022-02-21 13:10] fernandolucchesi commented on #883
We need to discuss if we really want this feature

[2022-02-21 13:40] wenche commented on #880
LGTM :thumbsup:

Closing this issue, since it's just a little building block for the search

[2022-02-21 13:40] #880 closed

[2022-02-21 13:54] meols opened #885 "Icon and text component: svg from Brandmaster Icon and illustration archove isn't uploaded after being selected."

[2022-02-21 13:55] meols commented on #885
This one has been on and off a few times. Icons work in the teaser component, but not in the Icon and text.

[2022-02-21 14:07] wenche opened #886 "Prevent empty accordion item titles"

[2022-02-21 14:21] wenche commented on #859
Lot's of issues in the console?
![Skjermbilde 2022-02-21 kl. 15.19.36.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/db319a78-62d4-46ac-9b99-2a64e1c1eb36)

[2022-02-21 15:02] wenche commented on #859
And by the way @meols  , please don't use 'here' as the link text. :thumbsup:

[2022-02-22 07:25] BirteThornquist commented on #826
@wenche To distinguish the placeholder text from the search text I changed the placeholder color to grey 40.

[2022-02-22 07:34] adneforslund commented on #734
@BirteThornquist Can you look again?

[2022-02-22 07:52] adneforslund commented on #769
Seems like nobody can reproduce this issue. Close it?

[2022-02-22 07:56] SvSven commented on #830
I have added a sentence telling users there were no results for their search query using the new text snippets functionality: https://github.com/equinor/energyvision/commit/7c9c384e0fcead44367a6e7997bcd3691ab8940e

The default text is `No results were found in {category} for your search query. Please try again.` where the `{category}` is dynamic and changes based on which tab you have open (for ex

[2022-02-22 07:56] SvSven commented on #830
This is ready to be looked at @BirteThornquist

[2022-02-22 07:57] fernandolucchesi commented on #854
This is fixed already

[2022-02-22 07:57] #854 closed

[2022-02-22 10:08] SvSven commented on #852
From what I can see everything still works. Did you have to run the "translation maintenance" they mentioned in the guide?

I could have sworn that my test page had a Norwegian translation, but that seems to have disappeared. Might be I never published it and the migration got rid of drafts somehow? Either way not a big problem.

[2022-02-22 10:43] #848 closed

[2022-02-22 11:06] SvSven commented on #769
Probably got fixed somewhere along the line while doing something else 🤷‍♂️
We also have #500 should it ever pop up again

[2022-02-22 11:06] #769 closed

[2022-02-22 11:11] BirteThornquist commented on #830
hi @SvSven Looks good. I just added a"header" that stands out a bit more. Design [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=4542%3A81213) When we have the "All" category in, this will be the default result I guess? And the text here will be generic.

[2022-02-22 11:37] BirteThornquist commented on #844
Looking good @wenche!  The only thing is that the moss green color does not give good enough contrast to be a highlight, I think. Lets try spruce wood 100 instead. Design updated [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=3812%3A76529)

[2022-02-22 11:47] BirteThornquist commented on #844
@SvSven I think it's a good idea to add the URL to the search result. I think it might be better to add it under the text, though - floats better. Updated design [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=3812%3A76529)

[2022-02-22 11:49] meols commented on #699
@nilsml - please add this to the priorities. We will not continue using google analytics. We will have Siteimprove as our main source for analytics, accessibility etc., and it needs to be implemented on all sites.

[2022-02-22 11:56] nilsml commented on #699
Let's discuss this in the next sprint planning meeting. Could be a good candidate @meols

[2022-02-22 12:04] SvSven commented on #830
@BirteThornquist Have just pushed an update and added the header 👍

[2022-02-22 12:12] BirteThornquist commented on #830
I see the text change, but no header @SvSven Maybe it just takes a while...?

[2022-02-22 12:22] meols commented on #859
@wenche - the links are now working - thanks :smile: Re. to /en/ or not to /en/, from the editorial end we are expecting this to be as today - with /en/ - and I don't think I completely understand the answer/issue. What kind of redirect will the next.js redirect be (for our already redirected pages)? On using "here" as link text, we do avoid that - except for this page with a text that's been deli

[2022-02-22 13:07] SvSven commented on #830
Works for me in production? But maybe it wasn't updated yet 🤷‍♂️

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/33cca2b7-4b50-43db-a64b-6507c03df1e5)

[2022-02-22 13:14] meols commented on #807
@nilsml - we have gotten feedback from a stakeholder for the South Korea site, saying that they will launch this site  soon (before we close AEM), so we need this site to be created to be able to add content in Sanity as well.

[2022-02-22 13:56] SvSven commented on #844
I have updated the color to spruce-wood-100; I agree, it looks a lot better with that.
Have also moved the URL to below the text and updated the color from slate-blue-70 to mist-blue-100 like in Figma

Might take a while before the web is updated 😅

[2022-02-22 14:22] adneforslund commented on #879
https://www.sanity.io/docs/roles

[2022-02-22 14:45] #672 closed

[2022-02-22 15:10] adneforslund commented on #658
It opens up a new tab

[2022-02-22 21:04] meols commented on #553
@padms - we published a news this evening at 19:44. It still isn't visible on the Sanity frontpage at 22:00, and we now have the three latest news from AEM not showing in Sanity.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/5cf73c95-36d6-4de5-a3a6-062d0fbf9b35)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/914da29e-8f01-481c-9298-1b2928e23

[2022-02-23 08:57] nilsml opened #887 "Add Azure functions to CI and Azure"
**In order to run the indexers in Azure, we need to set up CI for deploying the Azure functions**

## Acceptance criteria
- Config settings in app config
- Secrets in key vault
- Functions to be triggered by hooks
- First version, update indexes every five minutes
- Possible to set which environment to update dynamically

## Note
It should be "hard" to make mistakes so that an index will always co

[2022-02-23 09:09] nilsml opened #888 "Display timezone next to dates in published articles"
Q: Is this change only for news and events templates, or should we add it to the event cards as weil?

## Acceptance criteria
- Published content in one time zone is shown with correct time zone for the place in which it is viewed

[2022-02-23 09:33] SvSven commented on #879
One thing of note here is that we need to be clear that we cannot limit access to uploaded images and files per Sanity's answer on that. Once a file has been uploaded to the library, it's available to everyone in the studio as well as in the API

[2022-02-23 09:49] nilsml commented on #734
@meols and @nicholas-haggerty to verify

[2022-02-23 09:50] nilsml commented on #683
@nicholas-haggerty can you retest this one?

[2022-02-23 09:51] #859 closed

[2022-02-23 09:57] nilsml commented on #852
Discuss with Sanity if there is anything we missed here.

[2022-02-23 10:06] nilsml commented on #726
Waiting for FINAL final approval for removing REMIT table

[2022-02-23 10:15] nilsml commented on #630
This is making the editors confused. I think this one should be prioritized.

[2022-02-23 11:27] meols commented on #858
Thanks @SvSven and  @wenche :smile: Closing this, as discussed in today's meeting

[2022-02-23 11:27] #858 closed

[2022-02-23 11:32] wenche commented on #826
Agree, that looks better. Will commit :thumbsup: @BirteThornquist

![Skjermbilde 2022-02-23 kl. 12.32.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/b7edc0ca-c076-4325-b596-2869f499983e)

[2022-02-23 11:50] wenche commented on #826
@BirteThornquist I also added one more px to the border when it's focused. Test it in production, should be available in about 10 minutes

[2022-02-23 11:53] nicholas-haggerty commented on #683
@nilsml
1. If a table header is not used/required the component allows it but shows a 500 error message on preview. This is now solved and editor is able to not feature table headers and component works as expected.
2. Date should be displayed as British format on the date field option. This is **not** fixed. Should be Date Month Year 22 February 2022. Now it displays Month, date year.
3. Tables s

[2022-02-23 12:17] nilsml commented on #546
Perhaps ask Bente to help out with this.

Need to prioritize the icons.

[2022-02-23 12:24] nilsml commented on #549
Careful to make fields madatory as that could cause problems for existing content

[2022-02-23 12:25] nilsml commented on #549
Create sub-tasks that can be prioritized

[2022-02-23 12:31] nilsml commented on #264
This is not the suggested solution Birte says

[2022-02-23 12:31] #264 closed

[2022-02-23 12:34] #290 closed

[2022-02-23 12:44] nilsml commented on #752
Decision: Use warning text. Write a good text to make the editors want to put it in

[2022-02-23 15:59] nilsml opened #889 "Initial load of Sanity Studio hangs forever"
**Describe the bug**
Sanity Studio hangs loading the first time the page is visited for some users. Spinners keep spinning to eternal time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'equinor.sanity.studio'
2. Wait for studio to load
3. Keep wating…
4. When tired, stop waiting. Reload to get studio up.

**Expected behavior**
Studio should load the first time

**API calls pending (

[2022-02-24 08:20] nicholas-haggerty opened #890 "SVGs not displaying in preview or web"

[2022-02-24 08:25] nicholas-haggerty commented on #890
Added SVG icons on Brazil site.
1. The same issue as the global. When using Brandmaster link, the icons do not load into Sanity. So alternatively....
2. Download the icons needed from Brandmaster to desktop and then UPLOAD to media in Sanity. The icons then show and are accessible for the icon component. However in preview and and when published the icons do not display.

Examples can be (not) see

[2022-02-24 11:30] meols commented on #734
Thanks - Nick has checked and confirmed that this is good now, so closing

[2022-02-24 11:30] #734 closed

[2022-02-25 07:30] adneforslund commented on #683
should be fixed now @meols

[2022-02-25 07:39] #658 closed

[2022-02-25 08:41] #419 closed

[2022-02-25 08:46] nilsml commented on #417
A test dataset could be used for this

[2022-02-25 08:51] nilsml commented on #261
@nilsml to check if this is a duplicate

[2022-02-25 08:53] #124 closed

[2022-02-25 08:58] nilsml commented on #135
We need to have a discussion about this and how the UX should be.
Technical solution, UX for the user and for the editors.

[2022-02-25 09:06] nilsml commented on #146
Covered by other stories

[2022-02-25 09:06] #146 closed

[2022-02-25 09:12] nilsml commented on #217
Check with @nicholas-haggerty if this is still relevant

[2022-02-25 09:19] nilsml commented on #267
The problem here is that crop is not already working. Handled by #775

[2022-02-25 09:19] #267 closed

[2022-02-25 09:19] nilsml commented on #268
Related to #775

[2022-02-25 09:22] nilsml commented on #283
Have a discussion with the finance people that needs this feature, and look for possible alternatives.

[2022-02-25 09:23] nilsml commented on #286
Not a top priority, but something to look into at some point

[2022-02-25 09:29] nilsml commented on #98
We have created #326 and #327 cards covering this.

[2022-02-25 09:29] #98 closed

[2022-02-25 09:33] nilsml commented on #384
Did we make a decision about this. Document the decision at least.

[2022-02-25 09:36] nilsml commented on #446
Fixed by #725

[2022-02-25 09:36] #446 closed

[2022-02-25 09:38] nilsml commented on #449
Could be solved (partly) by search

[2022-02-25 09:40] nilsml commented on #464
We have added a CDN for the static content. Could you check if the issue has been resolved by this @wenche?

[2022-02-25 09:41] nilsml commented on #483
Related to #459

[2022-02-25 11:19] nicholas-haggerty commented on #217
@nilsml I think we have moved away from this design option, we can close. Maaay be something needed in the future but not part of project delivery.

[2022-02-25 11:21] #217 closed

[2022-02-25 12:40] meols commented on #655
@nilsml - do you need any input from Nick on this? This is an important one that editors will have to revisit a lot of pages to update.

[2022-02-25 13:00] nilsml commented on #655
I am guessing @BirteThornquist and Nick will or have discussed this?

[2022-02-25 13:22] wenche commented on #830
@meols  I don't know if Sven already has showed you the text snippets for this. But here we go:

In Sanity, click the "Text Snippets" menu item. The text for this consists of several pieces.
1. The `Nothing found` title is the "Search: No results title".
2. The text for the "Sorry, no results..." is the "Search: no results, category". As you can see, this text translation has some curly brackets i

[2022-02-25 13:23] wenche commented on #830
@meols  This should be ready for testing.

[2022-02-25 13:24] wenche commented on #826
@BirteThornquist If you think this is OK you may close this?

[2022-02-25 13:27] #826 closed

[2022-02-25 13:29] wenche commented on #827
@BirteThornquist Just updated the focus for the tab headers with the same as for the hits, EDS + mist-blue-100.

Other than that, this should be OK, and we can test it as a part of the search

[2022-02-25 13:33] wenche commented on #844
@meols This is ready to be testet.

[2022-02-25 13:36] #827 closed

[2022-02-25 13:37] wenche commented on #824
Closing this for now. We can evaluate the hits, and add more content to be indexed later if needed.

[2022-02-25 13:37] #824 closed

[2022-02-25 13:38] wenche commented on #832
Closing this for now. We can evaluate the hits, and add more content to be indexed later if needed.

[2022-02-25 13:38] #832 closed

[2022-02-25 13:46] nicholas-haggerty commented on #655
@nilsml We havent, but can of course. Doesnt seem like a particularly big one and as Sven pointed out above, the solution is there to place in the rich text editors for the components that feature that. Just need to define the font scale. Guess this isnt captured as part of the Dynamic font task that's going on?

[2022-02-25 13:47] nicholas-haggerty commented on #655
Or even just add in here as 'small text' option?![icon rich text.JPG](https://images.zenhubusercontent.com/5fb7bd9b956d0a1c1ed319e1/c8db6f37-75dc-45c6-8896-6cd667855e5f)

[2022-02-28 08:14] wenche opened #892 "Search hit link is causing a full page load"
Should be a client side navigation, but is not since the refactoring of the link component.

[2022-02-28 08:23] wenche opened #893 "First rendering of the live search "flickers""
Something that could be nice to look into, but not the end of the world.

When you open the search overlay for and type the first character in the search box, it seems like the result hits are rendered two times. The results flickers/jumps. It happens so fast, so it's hard to say exactly what is going on.

## To reproduce
- Use Chrome (I can't reproduce in FF)
- Open the search overlay
- Type a ch

[2022-02-28 08:33] wenche commented on #892
The introduction of the `forwardRef` was because of a [warning with Next.js](https://github.com/vercel/next.js/issues/7915). This approach seems to break client-side navigation, so I'll try a less elegant approach

[2022-02-28 09:14] fernandolucchesi commented on #807
@padms, can you please add the cookie bot config for this new satellite?

https://studio-southkorea-energyvision-dev.radix.equinor.com/
https://web-southkorea-energyvision-dev.radix.equinor.com/

[2022-02-28 09:56] fernandolucchesi commented on #844
Hi @wenche. How are the results prioritised in the search result list? In this example the sustainability page is the 3rd result instead of 1st.
<img width="716" alt="image" src="https://user-images.githubusercontent.com/23337266/155962710-e0afec07-31e3-4e18-8146-fa52069ca3ee.png">

[2022-02-28 09:57] fernandolucchesi commented on #683
@nicholas-haggerty

[2022-02-28 10:01] padms commented on #807
Done!

[2022-02-28 10:08] wenche commented on #844
@fernandolucchesi  It's a complex algorithm, and we haven't done much with ranking and sorting yet. It's easier to see when you query inside Algolia because then you can see the why a hit was ranked the way it was. :)

The exact reason for sustainability is probably that Nils Magne introduced the concept of `pageTitle`  as the h1 and that's probably at the bottom of the list, while `title` the h2

[2022-02-28 11:24] meols opened #894 "Anchor link on text link"

[2022-02-28 11:27] meols commented on #894
How to solve this legally required page: https://energyvision.app.radix.equinor.com/about-us/privacy-policy-and-data-protection
Is there a way to add anchor link to an internal text link, to jump down to anchor on the page?
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/84b29b80-e864-4a51-946f-6c45dc6457af)

[2022-02-28 11:44] wenche opened #895 "Accessibility for search"
Some things need to be verified to ensure that the search is as accessible as possible.

1. Exactly how much of a bad idea is it to set `autofocus` in the search box when you open the search overlay
1. Reach tab component set focus on the tab itself before focusing on the individual hits. Can we improve this somehow, without sacrificing a11y (aka find out why they do this)
1. General test with scr

[2022-02-28 11:57] wenche commented on #831
@meols  I tried to add some suggestions for some tests in the issue description ^^

This issue is just related to the topic content. Don't worry too much about the ranking of the hits yet, we haven't paid that much attention to this yet. This will also be a task for after we go live, as the real business metrics like number of visitors, the date for the last update of a page ++ are not available y

[2022-02-28 12:02] wenche commented on #892
Will leave this as an exercise for @SvSven when he's back :)

[2022-02-28 12:10] wenche commented on #825
@meols  I know that we don't have that much to search for here (3 events are indexed in Algolia), but I still think you should be able to do some testing here. :)

[2022-02-28 12:13] wenche opened #896 "Persist search state in the URL"
For an improved user experience we should use the URL to persist the search state. We need
- the selected tab (tab=x)
- the query (q/query=x)
- the selected page for the pagination (p/page=x)

The ultimate goal is be to restore the complete search state on browser back to achieve something like this flow:

1. User searches for `sustainab`, selects the events tab, navigates to hits page number 2 by

[2022-02-28 13:23] BirteThornquist commented on #830
I think we can just skip the category in the empty state text all over. We discussed this on Friday @SvSven @wenche, and we also mentioned it in todays status meeting @meols I think the default search shall be on the "All" generic when we get that in, showing the tabs even with no hits. The text can be the same, generic for all the tabs. I think it is intuitive enough to show the #hits in parenthe

[2022-02-28 13:26] meols commented on #683
Checked as well and closing :smile: @nilsml @adneforslund  (not able to tag Nick)

[2022-02-28 13:26] #683 closed

[2022-02-28 13:47] fernandolucchesi commented on #553
Turns out that the CDN cache has to be purged for the new content to be updated. The approach to fix it was handled in Azure, instead of making API calls from the Java code.

1. An EventGrid was created ([CDNPurgeEvent](https://portal.azure.com/#@StatoilSRM.onmicrosoft.com/resource/subscriptions/a8b981a0-f92f-452c-90dc-d1226778e182/resourceGroups/EnvisRGDev/providers/Microsoft.Storage/storageAccou

[2022-02-28 13:49] meols commented on #830
@wenche - looks good to me :thumbsup: and agree with the last comment above from @BirteThornquist. Is it then captured somewhere that the texts should be updated? What about the Local news in search (potentially with a separate template #143), how will they be shown?

[2022-02-28 13:49] fernandolucchesi commented on #553
@nilsml can you review this one? I can assist demonstrating the flow and the logs if needed

[2022-02-28 13:52] wenche commented on #830
@meols  I'm removing the separate topic texts  as we speak.

[2022-02-28 14:04] padms commented on #591
Came across this one https://friendlycaptcha.com/
https://friendlycaptcha.com/insights/recaptcha-alternatives-compared-recaptcha-vs-hcaptcha-vs-friendly-captcha/

[2022-02-28 14:45] meols commented on #844
@wenche - looks good to me, and improved with the last ranking update (checked again with searching for Sustainability) One question: will texts on CTAs not give a result - both a question for the web and in sanity (which I understand is something else). We have added relink as part of the link text on several pages, without them showing in the search result (on the web and in Sanity)

[2022-02-28 15:15] wenche commented on #844
@meols Yes, that's correct: texts on CTA will not give a result (in the web at least, cannot speak for the Sanity search here as we don't control that). We only index the page title, ingress and event description for events, and text blocks and accordion title + ingress for topics at the moment. We can adjust or add more later on, if we find that adding more texts will give a more accurate search

[2022-02-28 15:18] wenche commented on #830
@meols  The code is now updated to show the generic text and the different variants of this text is removed from the text snippets in Sanity :thumbsup:

I don't know about the local news, this will be one of the things to look into as we start working on that.

[2022-02-28 15:30] wenche commented on #829
Note to future @SvSven  The pagination component doesn't update itself correctly on state change. When you type for example "Equin" and select page 5 and then type more like "Equinor" the pagination component still has 5 as the active page even if the result list is back to the first page. (Showing 1-5 of the results)

Will probably need to be looked at together with the url state in general but t

[2022-02-28 16:03] meols commented on #825
Thanks @wenche - neither file names (CTA titles, as commented on another card as well), date or name in People and contacts are found when searching - is that expected?

[2022-02-28 16:09] wenche commented on #825
@meols  Yes, this is as expected, for events this is the searchable attributes
![Skjermbilde 2022-02-28 kl. 17.06.23.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/a2848be0-0a37-4092-8177-b96caef7fa23)

Se my comments on https://github.com/equinor/energyvision/issues/824 for complementary information about indexing and some screenshots

[2022-03-01 07:48] nilsml commented on #652
@adneforslund to document why we want to change the news slug, benefits vs drawbacks

[2022-03-01 09:10] nilsml commented on #882
For now only slug, title and text from blocks are searchable. Each child of a block is its own record in Algolia.

[2022-03-01 09:28] nilsml commented on #553
This sounds like a sweet solution @fernandolucchesi and @padms! I have one important question though: do we have the code for all this checked in to Github and deployment set up? We need to make sure we can redeploy at any time.

[2022-03-01 12:07] fernandolucchesi commented on #807
@meols

[2022-03-01 12:09] fernandolucchesi opened #897 "Integrate Azure Runbook Scripts with GitHub"
In #553 a Runbook script was added to Azure. We need to integrate it with GitHub.
https://docs.microsoft.com/en-us/azure/automation/source-control-integration

[2022-03-01 12:12] fernandolucchesi commented on #553
Hi @nilsml, this is a very nice to have! I have just created an issue for that #897.

[2022-03-01 13:21] BirteThornquist opened #898 "As an editor I need the option to add footnotes in the text editor"
## Acceptance criteria
- [ ] A footnote function is available in the rich text editor
- [ ] By clicking "Add footnote" a modal input field is shown where the footnote text is added
- [ ] A number will be added where the marker is placed in the text
- [ ] The footnote will be placed in numbered order at the end of the text components paragraph text

[2022-03-01 13:57] BirteThornquist commented on #898
A new footnote icon in the toolbar:
![Skjermbilde 2022-03-01 kl. 14.37.27.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/bb80917f-2e85-455b-ab2d-db053a0773d3)

The footnote will have font size x-small, type Scale 00 and  will be added at the bottom of the paragraph text left aligned as designed in Figma [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=4592%3

[2022-03-01 14:00] BirteThornquist commented on #898
Footnote is different from the small text styling and is not used much on the site. It will be possible to solve footnote with the small text styling which is prioritized in the todo, so this will be a backlog issue for now.

[2022-03-01 14:05] BirteThornquist commented on #655
I created a different issue for Footnote #898, as the small text style and footnote are to separate things.

[2022-03-01 14:15] BirteThornquist commented on #655
![Skjermbilde 2022-03-01 kl. 15.14.37.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/e8026679-17d0-405b-a6f5-afa86132b7f7)
Add a new small text style in the font style drop down. By choosing/marking text the font size will be set to x-small (typescale 00). This font style shall be available in text component ingress and text content, short text with icon, fact box in news. @meo

[2022-03-01 15:02] BirteThornquist commented on #829
@SvSven I have updated the design of pagination in Figma [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=4566%3A82832) It is still the EDs look and feel, but I have made the clickbound 44px instead of 48px and altered the colors a bit. For mobile we could also place the arrow on a line above the page numbers. Lets look into and discuss when you are back and ready to pick this

[2022-03-02 06:52] wenche commented on #288
Check if this is still a problem

[2022-03-02 06:54] wenche commented on #384
No decisions yet, it's in the backlog as a question after all.

The SEO agency did recommend us to do this though and I think we should. Can be looked into as a part of the redirects as well depending on how we solve it (if we do)

[2022-03-02 06:55] wenche commented on #503
This one can probably be closed since we won't use Google for now @nilsml

[2022-03-02 06:59] wenche commented on #767
This might no longer be needed if we introduce a "small" text type to be able to create end notes

[2022-03-02 07:24] nilsml commented on #503
Handled by #699 now, which we should prioritize to do asap btw!

[2022-03-02 07:24] #503 closed

[2022-03-02 07:42] adneforslund commented on #852
Waiting for Sanity, some issues with conversion of fields

[2022-03-02 08:58] SvSven commented on #892
I don't understand why the forwardRef breaks it here, but the change and the reason for the change has been noted 👍

[2022-03-02 09:28] fernandolucchesi commented on #609
@SvSven can you take a look at this solution?

[2022-03-02 09:29] #892 closed, assigned to wenche, SvSven

[2022-03-02 09:53] nilsml commented on #699
Google Tag Manager actually can be used.

[2022-03-02 09:54] nilsml commented on #699
Need to figure out if we should add Google Search Console. @meols to check this

[2022-03-02 10:04] nilsml commented on #883
To be discussed in Oslo

[2022-03-02 11:00] wenche opened #899 "Find a way to map between translated Norwegian urls and existing one in English"
Existing URL in AEM
`https://www.equinor.com/no/careers/summer-intern.html`

We want to translate the URL into Norwegian, like
`https://www.equinor.com/no/karriere/sommerjobb.html`

We need a way to link those two versions to avoid 404 for all Norwegian URLs in the wild
### Some suggested approaches
- Add them to a general route document? +Simple -Hard to ensure that all are captured?
- Create a s

[2022-03-02 11:08] wenche commented on #899
Also see #384 for addressing characters

[2022-03-02 11:15] wenche opened #900 "Which satellite pages should have translated URLs"
Look into the actual needs here.  Like the need for Spanish URL in the Argentine satellite

[2022-03-02 12:51] padms opened #901 "Ensure news or magazine article link in the news letter does not give 404"
If the news is published from AEM and newsletter sent from AEM.. and its seen from energyvision, we need to make sure that the link in the newsletter mail does not give 404.![image (1).png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/261c8013-9674-4e54-8372-89babb9f64ac)

[2022-03-02 16:00] meols commented on #807
@fernandolucchesi @padms  - looks good :smile: I'll confirm and close tomorrow, when I assume the cookie scanning is completed:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/0e95bb70-0da5-4972-bf04-e3dcf63d5490)

[2022-03-02 16:33] meols commented on #831
Thanks for adding a detailed testing description @wenche :thumbsup: Much easier for me :smile:
"Search for a topic content" and "Can navigate to a topic content page" work perfectly.
For the navigating by keyboard part, I have a comment:
When the search result (investors, 11 topics 1 event) is on three pages and I have tabbed through the five items on page 1 and then tab to page 2 and click enter,

[2022-03-02 16:56] #831 closed

[2022-03-02 17:08] meols commented on #844
Thanks for explaining @wenche
Would be good to look into adding CTA texts later. F.ex. on the impact assessments page
https://energyvision.app.radix.equinor.com/sustainability/impact-assessments
we have simplified by removing AEM pages and only having separate pages for those with many pdfs. The typical setup is a project description text and the words impact assessment/konsekvensutredning on the

[2022-03-02 17:10] #830 closed

[2022-03-02 17:10] meols commented on #830
@wenche - thanks, and closing this one :smile:

[2022-03-02 17:12] meols commented on #825
Thanks @wenche - closing this one then :-)

[2022-03-02 17:12] #825 closed

[2022-03-03 07:25] adneforslund commented on #652
Add generate button, but not add routesm dont add dates with generate

[2022-03-03 08:19] BirteThornquist commented on #652
@fernandolucchesi I have updated the UX for creating slugs in Figma [here ](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=4599%3A81487)

Moved the generate button, removed the field for the generated slug to just a write out of the slug and changed the help text.

![Skjermbilde 2022-03-03 kl. 09.13.52.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/24841b9d-4d2c-

[2022-03-03 12:43] nicholas-haggerty commented on #512
What is still required:
404
All sites page
Newsroom list component (to create a simpler newsroom)
News template (local or without subscription)
Warning before for publishing news for editors ("Do you really want to...")

[2022-03-03 13:06] nicholas-haggerty commented on #512
Which sites need (local? eg no subscription) news:
Brazil
Poland
Japan
South Korea
Argentina

[2022-03-03 16:39] adneforslund commented on #655
What is missing: figure out a way to make text small in editor as well

[2022-03-04 08:26] fernandolucchesi commented on #553
Looks like it is working fine, closing this issue.

[2022-03-04 08:26] #553 closed

[2022-03-04 08:34] wenche commented on #896
Some back and forth on this one as this is one of the things that has changed with the hooks implementation.

### Use the routing param
- The idea from Algolia's side is that if we pass the routing param we don't manually need to listen for changes as everything should happen behind the scenes.
- This sounds very promising
- However, some issues
1. Hard to add our `tab` query param, since it's not

[2022-03-04 08:40] SvSven commented on #829
Due to a technical limitation in the way Algolia uses pagination, we can't quite get it to look like we have in the design with the ellipsis. The way it works is that you configure how many "siblings" the currently active page should have, and then it will generate the list of page numbers automatically.

This means that if, for example, you say there should always be 1 page next to the currently

[2022-03-04 08:41] SvSven commented on #829
@BirteThornquist this is ready to be looked at again

[2022-03-04 08:57] SvSven commented on #609
I have no experience with handling redirects or middleware in Next, but this looks pretty straight forward?
I tried going to some pages with .html added at the end and it does redirect the request to the same page without .html - so it seems to work.

Will this approach be good enough for web crawlers and SEO? I see it's set up as a 301 redirect which is good at least.

[2022-03-04 09:05] nilsml opened #902 "Local news template"

[2022-03-04 09:05] #902 closed

[2022-03-04 09:08] nilsml opened #903 "Local news template for global site (local language)"
Local stories for UK, US and more. They do not qualify for being a global news that is sent out to subscribers.

[2022-03-04 09:32] #876 closed

[2022-03-04 09:46] nilsml opened #904 "Define first version of the newsroom"
- Focus on the news (not Magazine and Events in MVP)
- Postpone URL state -> Create separate issue to imprve
- No mobile filter overlay -> create separate issue to improve
- All old news in the year filter (2022-1998)

[2022-03-04 11:55] BirteThornquist commented on #829
hi @SvSven It does not seem like the disabled color has changed? Have you set it to slate blue 90? ![Skjermbilde 2022-03-04 kl. 12.49.39.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/c762f888-486e-466d-acea-b1f94423a03d)

[2022-03-04 12:12] BirteThornquist commented on #655
@adneforslund LGTM! Over to you @meols .

[2022-03-04 12:14] adneforslund commented on #655
Note: Small text is available on all rich text fields, ingress, teaser etc

[2022-03-04 12:30] SvSven commented on #829
Yes... pushing the commit that changed that would be smart. I blame all the meetings.
It should be updated now.

[2022-03-04 12:42] BirteThornquist commented on #829
😄

[2022-03-04 13:37] wenche commented on #829
Hide it on less than 5 hits as well :thumbsup:

[2022-03-04 13:38] wenche commented on #896
Let's see if Algolia can clarify some of the issues

[2022-03-04 14:02] meols commented on #807
@padms - this seems to still not be in place:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/8aabe001-d82f-4434-b67f-3d2edc2d35b1)
@fernandolucchesi

[2022-03-07 07:57] nilsml commented on #741
This has to do with #633 and #334, and doing this card may make it more difficult to solve it properly later on. AND it is not crucial for going live.

[2022-03-07 08:23] BirteThornquist commented on #717
What's done:
Adjusted down the ratio number for the scale to 1.25 from 1.33. The base text is still 20 for medium size screens (1440) and the max paragraph text size is adjusted down to 22px from previous 23px. Smaller paragraph text is kept at 16px. This means the H2 text is 4px smaller than before and also the ingress text is smaller. We also added a step (scale6) in order to get a bit bigger an

[2022-03-07 12:08] wenche commented on #883
Related discussion from Next.js: https://github.com/vercel/next.js/discussions/18419

The updated docs: https://nextjs.org/docs/advanced-features/i18n-routing#prefixing-the-default-locale

[2022-03-07 13:37] meols commented on #655
@adneforslund - thanks! The small text looks good :smile:
(both Nick and I have tested)

[2022-03-07 13:37] #655 closed

[2022-03-08 11:32] wenche commented on #885
`https://web-energyvision-dev.radix.equinor.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fh61q9gi9%2Fglobal%2Fa838ba616f9f11afb6ba24c1893c402045be4737-125x125.svg%3Fw%3D150%26h%3D150%26auto%3Dformat&w=384&q=75`

 ![Skjermbilde 2022-03-08 kl. 12.31.14.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/c301158f-3317-4444-bdcf-be6759f18612)

400 status code for the image

[2022-03-08 13:07] wenche commented on #743
Conclusion:
If a page is available in English only, show EN (non-clickable)
If a page is available in Norwegian only, show NO (non-clickable

[2022-03-08 14:24] adneforslund opened #905 "Fix error message regarding "content""
![Screenshot 2022-03-08 at 15.23.42.png](https://images.zenhubusercontent.com/61482e3b2cb1bada8cadcc42/68de0358-6c34-4fe5-82c9-635abd1dd9d4)

[2022-03-09 09:40] wenche commented on #384
### Decision
-We don't want to support æøå in the Norwegian URLs
- The "generate slug" button should change to
-- æ -> ae
-- ø -> o
-- å -> a

[2022-03-09 09:49] adneforslund commented on #905
Only on global datset for at the moment

[2022-03-09 12:44] SvSven commented on #829
Fixed 👍

[2022-03-09 13:46] adneforslund commented on #794
related to #738

[2022-03-09 13:48] adneforslund commented on #241
is this still a thing?

[2022-03-09 14:44] fernandolucchesi commented on #849
Main language on the website is now german, and on studio english. Can you please review it @meols

[2022-03-09 14:46] fernandolucchesi commented on #652
This is ready for review, could you take a look @wenche?

[2022-03-09 14:50] fernandolucchesi commented on #308
Can we consider this a duplicate from #652 and close it? @wenche

[2022-03-09 14:51] meols commented on #726
@nilsml - then it's official :smile: It is confirmed that we will **not** continue with the REMIT table on equinor.com, so I'm closing this card!

[2022-03-09 14:51] #726 closed

[2022-03-10 07:08] wenche commented on #500
@meols Birte and I discussed this and after I looked at the design in Figma, my suggestion will be to create a template in Sanity (I know I said we probably didn't need this, but since the design has a background image it's easier to use Sanity's image pipeline).

The idea will be to add a new root menu level in Sanity called for example "Misc" and add a 404 template here and probably some more th

[2022-03-10 07:47] nilsml commented on #289
Remember contact-us form

[2022-03-10 07:52] wenche opened #907 "Query params when the search panel is opened"
**Describe the bug**
When the search is opened, the tab state is initialised with either the tab from the URL or the default (topic atm) and add at `tab=topic `in the URL. Immediately after the query param will be added (`query=""`) and the tab query param is removed. Plot twist: This only happens in production, not at localhost.

The resulting query history is that both `url?query=""` and `url?ta

[2022-03-10 08:22] wenche commented on #308
yes, I think so since this was worked on in parallell with the other issue. :) But we need to remember to check of the design for this with Birte 👍

[2022-03-10 09:02] wenche commented on #308
Update: We didn't finish the design according to Birte's Figma sketches due to time constraints. I'll update the acceptance criteria for this issue and we can improve the design later on. :)

[2022-03-10 09:14] adneforslund opened #908 "Add gtm"
Code is added and GTM is configured, Missing env variables in radix

[2022-03-10 09:14] wenche commented on #609
What does it take to be able to close this?

[2022-03-10 09:14] adneforslund commented on #699
SiteImprove is added, splitting GTM to new card

[2022-03-10 09:15] adneforslund commented on #908
Blocked til Radix envs are working again

[2022-03-10 09:19] wenche commented on #652
Sanity:

![Skjermbilde 2022-03-10 kl. 09.59.53.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/51b71f4c-53ff-49ae-b985-91f2b0d419c0)

![Skjermbilde 2022-03-10 kl. 10.13.34.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/141f7193-9c8c-4271-a3c4-564897b11297)
![Skjermbilde 2022-03-10 kl. 10.17.28.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5

[2022-03-10 09:49] wenche opened #909 "As an end user I want the most important pages to be pre build to make the site blazingly fast"
### Questions to discuss and experiment with
- Which pages are most important? Both topic pages and news pages
- How many pages can we pre build? (using `getStaticPaths`) What is the sweet spot of performance (lot of pre build pages) and build time on CI (takes more time to pre build a lot of pages)
- Do we need to pre build some of the pages from the old AEM (news pages)?
- What about the satelli

[2022-03-10 09:52] SvSven commented on #384
Looks to be converting æ ø å correctly 👍

[2022-03-10 09:54] meols commented on #500
@wenche - thanks - sounds good! I'll follow your advice :smile:

[2022-03-10 09:56] fernandolucchesi commented on #609
I am improving this solution

[2022-03-10 09:58] wenche commented on #652
The design will be improved according to the sketches by #308

This is a HUGE change so it's not that easy to test 100%. It looks good at first glance, but we just have to keep our eyes open to see if something is missing or isn't correct :thumbsup:

[2022-03-10 09:59] meols commented on #289
@nilsml - the Storage form will not be needed :smile:
https://www.equinorstorage.de/de/section-page/topic-page/speicheranfrage-formular.html
https://www.equinorstorage.de/en/section-page/topic-page/speicheranfrage-formular.html

[2022-03-10 10:09] fernandolucchesi commented on #609
closing it :)

[2022-03-10 10:09] #609 closed

[2022-03-10 11:47] nilsml commented on #289
I have no feelings attached to any of these forms, so if you think we can skip some @meols, it will be a pleasure 😃

[2022-03-10 12:09] padms opened #910 "Create contact form"
## Acceptance criteria
- Be able to add 'Contact Equinor Form' in topic page, with title and ingress ( optional)
- Be able to add or modify the translations for the form  field labels, text  and error messages.
- Be able to successfully submit the form and verify that RITM is created in service now ( https://equinortest.service-now.com/nav_to.do?uri=%2Ftask_list.do%3Fsysparm_query%3Dactive%253Dtru

[2022-03-10 12:58] padms commented on #772
Added api version isuniqueWithinLocale.js where its missing

[2022-03-10 13:18] fernandolucchesi opened #911 "Fix preview for news"

[2022-03-10 13:21] fernandolucchesi commented on #911
@wenche can you check this one?

[2022-03-10 13:21] #384 closed

[2022-03-10 14:55] meols commented on #885
Also the animated icons doesn't work correctly, as Nick showed in the workshop at Fornebu. Both errors can be viewed on this page: https://energyvision.app.radix.equinor.com/energy/renewable-energy-and-low-carbon-solutions

[2022-03-11 08:56] adneforslund commented on #878
Some text written in Figjam on this subject

[2022-03-11 09:47] #905 closed

[2022-03-11 09:47] SvSven commented on #905
Looks to have been fixed by f3fefd112dbc59cda3dee04c7601420f738aed12 and 9905b2ad26a2bdb0e96e3563371d68c37f5e2e99

Those commits were meant to fix a seemingly unrelated error, namely this one: https://nextjs.org/docs/messages/next-head-count-missing

Why this only happened on the global dataset, and why the error was different on localhost, is beyond me - but at least it seems to be fixed now.

[2022-03-11 10:59] wenche commented on #500
Current status on localhost, we are getting there but still some design tweaks left :)
![Skjermbilde 2022-03-11 kl. 11.57.47.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/a7cd6a0e-dda0-450f-b065-0d697760ac87)

[2022-03-11 12:42] nicholas-haggerty commented on #500
NICE :-) Added some other images which were used on the figma sketch in sanity assets if you want to try with those

[2022-03-11 13:05] meols commented on #699
@nilsml - yes, we will continue using Google search console, so please implement that as well

[2022-03-11 13:25] SvSven commented on #885
I am able to reproduce the problem with uploading the icons (this is good) but I am so far not able to figure out _why_ this is happening (not good).
Have reached out to Sanity to see if they can help.

[2022-03-11 13:29] meols commented on #807
@padms - I still see the same as above. Assume there is something wrong?
@fernandolucchesi

[2022-03-11 15:26] meols commented on #512
@nilsml - The Poland site could be used to test launching a site whenever it suits you. The content (main/front page and cookie policy page) is created.
What I know is missing to launch is this:
- 404/error pages
- All sites page (which is the only menu item)
- It should have a news list component on the front page  - **but** for this site we can choose to launch with the news as today, with pdfs,

[2022-03-11 17:55] fernandolucchesi opened #912 "Allow Internal Links to link to different languages inside text editor"
Currently editors have to use an external link, this is not ideal.

[2022-03-14 07:42] #652 closed

[2022-03-14 07:45] padms commented on #807
@meols: Currently all the sites now mapped to their corresponding production sites, so all the cookies that are present in production are shown in the energyvision pages. Since South Korea site is not live in production, no cookies are found.

[2022-03-14 07:45] #882 closed

[2022-03-14 07:47] wenche commented on #772
We should at some point add the api version to a shared config or something

[2022-03-14 07:47] #772 closed

[2022-03-14 07:53] SvSven opened #915 "store search pagination state in URL"
Related to #829 and #896

We want to store which page the user is on for the pagination in the URL, similar to how we store the search query and which tab is active.

[2022-03-14 07:54] SvSven commented on #829
@meols This is ready for review. We don't currently store the pagination in the URL yet, but we have made an issue to do this #915

[2022-03-14 08:41] SvSven commented on #878
Link to Figma: https://www.figma.com/file/xm1aNey7RrP4llwou1t8OX/Envis-content-Figjam?version-id=1641021455&node-id=1205%3A16069

[2022-03-14 08:48] #807 closed

[2022-03-14 08:48] meols commented on #807
Thanks for clarifying @padms - then I'll close this card

[2022-03-14 09:16] padms commented on #289
https://www.equinor.com/en/about-us/forms/crude-oil-subscription.html
https://www.equinor.com/no/about-us/forms/crude-oil-subscription.html

@meols We have crude oil assay option in the subscribe form. Do we need this form separately?

[2022-03-14 10:35] padms commented on #910
@BirteThornquist  I need some inputs to continue on this task.

1) Currently ( in AEM ) all the forms have optional title field. Do we need this title?
2) Design for this form https://www.equinor.com/en/about-us/forms/how-to-order-our-annual-report.html, ( we  discussed to avoid adding download link in the form )
3) Form component design in sanity.

[2022-03-14 10:56] meols commented on #682
@nilsml @fernandolucchesi - we'll have a discussion in the editorial team if we can live without this component for go-live, and put it in the backlog instead. Please don't spend any time on it until we have confirmed.

[2022-03-14 10:59] nilsml commented on #682
Ok @meols, we'll put this back in the backlog for now

[2022-03-14 11:35] meols opened #916 "Cookie pop up message"

[2022-03-14 11:40] meols commented on #916
@nilsml - we have noticed that the cookie popup doesn't indicate which cookie a user needs to accept to e.g. see an embedded YouTube video (marketing cookie), or a Vimeo streaming (statistics cookie). Users should be informed and able to choose only the applicable cookie.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/26988dcb-d890-43bd-8431-d4bd29780ccd)

[2022-03-14 11:42] meols commented on #829
@wenche - great if you can add some acceptance criteria for me to test.
@SvSven

[2022-03-14 11:51] nilsml commented on #916
Is this handled differently in this solution compared to AEM @meols @padms ?

[2022-03-14 11:54] nilsml commented on #916
Apparently this was removed from the new design when Nick and @BirteThornquist was working with it. Is there any legal reason why we should bring it back @meols?

[2022-03-14 12:16] SvSven commented on #829
@meols I have updated the acceptance criteria list

[2022-03-14 14:44] nilsml commented on #828
Working on architecture for the deployment setup:
https://www.figma.com/file/pNan4g7GgZEoRpqSUKdURl/Environments?node-id=0%3A1

[2022-03-15 08:11] SvSven commented on #143
Documentation/sketching in Figjam here: https://www.figma.com/file/xm1aNey7RrP4llwou1t8OX/Envis-content-Figjam?node-id=1225%3A16123

To summarize:
- Use the same template as the normal news article, with a few adjustments
  - No subscription
  - Dropdown to select which market/tag
  - Adjusted slug field
- The slug field is prefixed by the country tag resulting in something like: `/uk-news/:slug`

[2022-03-15 08:44] wenche commented on #758
By returning `notFound` this should now be fixed
![Skjermbilde 2022-03-15 kl. 09.43.58.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f68f5f4c-fa88-4fc8-925c-9f715585f30c)
![Skjermbilde 2022-03-15 kl. 09.44.19.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/d36f35d9-cb95-4acd-ad6c-07815b58117f)

[2022-03-15 08:45] wenche commented on #576
Returning `notFound` fixed this

[2022-03-15 08:47] SvSven opened #917 "Create schema for local news"
Related to #143

Set up the schema and desk structure for local news. This is largely the same as the regular news schema, but without the subscription field. We will need a hard-coded system for local news tags, where the editor can select a specific market.

## Subtasks
- [x] Create local news tags, add to schema as dropdown select. This field should be mandatory and has to be filled before a sl

[2022-03-15 08:53] fernandolucchesi opened #918 "Slug validation doesn't work properly"
The is unique validation is buggy.

[2022-03-15 08:56] wenche commented on #768
[See discussion with Sanity](https://equinor.slack.com/archives/C01A4BGNRMJ/p1647000712462629?thread_ts=1646902139.444429&cid=C01A4BGNRMJ). This is probably related to the collapsed SEO fields at the beginning of the document.

[2022-03-15 09:00] #288 closed

[2022-03-15 09:00] #494 closed

[2022-03-15 09:01] wenche commented on #605
See issue #912

[2022-03-15 09:04] wenche commented on #605
In the meetings in Oslo we agreed upon using external links in these cases (mostly related to Investors and Careers)

Fernando suggested to create a new type of internal link: Link to content in another language to make it easier for publishers and for safety reasons. This is done for rich text editors by #912.

We should probaby add this to C2A buttons as well

[2022-03-15 09:07] wenche opened #919 "Add C2A texts to Algolia"
This might be a thing to look into for improved search results. See #844 for a use case. This might have some downsides as well (like for non-pdf's, we would ideally find and rank the content itself instead of page with a link to some content), so we need to experiment a little bit with this.

[2022-03-15 09:10] wenche commented on #844
Created #919

[2022-03-15 09:10] #844 closed

[2022-03-15 09:10] SvSven opened #920 "Create local news list component"
Related to #143

We need a basic news list component for the local news.

Link to design in Figma: https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=4802%3A82891

## Acceptance criteria

- [ ] Local news article is readable on the web
- [ ] Can add a new "news list" component to a topic page
- [ ] Can select a local news tag to display local news in the "news list" component, this shou

[2022-03-15 09:30] SvSven commented on #912
Looks good! But I would maybe add a helper description below the toggle if possible - something along the lines of "Use this if you want to create a link to a page of a different language"

[2022-03-15 09:49] SvSven commented on #758
I'm seeing a 404 in the network tab for https://energyvision.app.radix.equinor.com/this_page_does_not_exist
The .html version successfully redirects to the non-html version now so that is no longer a concern.

[2022-03-15 09:53] SvSven commented on #576
Can confirm, I now see a 404 in the network tab and the nice new custom 404 page 👍

[2022-03-15 12:17] BirteThornquist commented on #910
@padms @fernandolucchesi @meols
Since there will be just a few types of forms, and to make a cost-effective solution, we will have a set of predefined forms that the editor can choose from. The interaction will be similar to the promotion, where you first choose to add a form and on the next step you choose between the different forms available in Sanity. I have outlined the interaction design in

[2022-03-15 12:26] BirteThornquist commented on #910
To answer your first question about title field @padms - I have kept the optional title for the forms.

[2022-03-15 15:05] nilsml commented on #900
This could be done by the editors?

[2022-03-16 07:30] BirteThornquist opened #921 "Create Order Annual Report form"
We need a form so that users can order annual reports by post.

## Acceptance criteria
- Be able to add 'Order reports' in topic page, with title and ingress ( optional)
- Be able to add or modify the translations for the form  field labels, text  and error messages.
- Be able to successfully submit the form and verify that RITM is created in service now ( https://equinortest.service-now.com/nav_t

[2022-03-16 07:37] #878 closed

[2022-03-16 07:46] #717 closed

[2022-03-16 07:48] #758 closed

[2022-03-16 07:49] #576 closed

[2022-03-16 07:57] nilsml commented on #901
Will publish news articles from Sanity now

[2022-03-16 07:57] #901 closed

[2022-03-16 08:01] nilsml commented on #900
@wenche to add description in Figjam for this case to make it clear

[2022-03-16 08:04] nilsml commented on #899
Update this issue with our preferred solution and get Mettes blessing

[2022-03-16 08:22] fernandolucchesi opened #922 "Create Redirects in Sanity"
This should allow editors to add news redirects and create vanity urls.

- If a redirect exists in sanity, we should permanent redirect to the new page
- If it is the global dataset and the pathname contains /magazine/, we should temporarily redirect to a landing page /magazine
- If slug ends with .html, we should crop it out of the url
- redirects logic are handled in the `_middleware.ts` file

[2022-03-16 08:43] wenche commented on #918
[Here's the issue from last time we worked on this](https://app.zenhub.com/workspaces/energy-vision-5fb6386c578f1200222dd6c2/issues/equinor/energyvision/580)

[2022-03-16 08:58] wenche commented on #900
Yes, it should be done by the editors, but when we discussed this we didn't know if the translated URLs approach should be used for satellites as well.

https://www.figma.com/file/xm1aNey7RrP4llwou1t8OX/Envis-content-Figjam?node-id=1245%3A16151 shows the potential issues if we have a satellite pages with non-translated urls and news articles.

[2022-03-16 10:14] wenche commented on #911
Still some issues
1. Doesn't work for Norwegian, seems to be some issues with the locale
![Skjermbilde 2022-03-16 kl. 11.05.00.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/2af8b054-4028-4e36-b94e-76ed2b687b1a)
2. Difference between server and client
![Skjermbilde 2022-03-16 kl. 11.10.07.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/5259f330-57f4-47c0-915b

[2022-03-16 11:22] wenche commented on #911
@fernandolucchesi  I dunno about the client/server mismatch, seems to be only for that url so I didn't bother to spend time on it. But the Norwegian preview should work now, please verify :thumbsup:

[2022-03-16 11:43] fernandolucchesi commented on #911
Seems to work fine, warning is related to the already known issue with the localization switch. Closing this.

[2022-03-16 11:43] #911 closed

[2022-03-16 12:30] wenche opened #923 "Preview is rendering on every keystroke"
![Skjermbilde 2022-03-16 kl. 13.26.18.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f9f68f1e-428b-4abb-abe0-9a58a6c0eb0c)

[2022-03-16 12:49] wenche commented on #851
We think we should, and I've made it to be the same as the 404 page in terms of design and editor's options in Sanity

[2022-03-16 12:54] nilsml commented on #839
Decided to include news with other news article in global site

[2022-03-16 12:54] #839 closed

[2022-03-16 12:56] nilsml opened #924 "Set up Dev and Prod environments"
**In order to have a reliable and secure environment for production, we must set up Dev and Prod environments in Radix with corresponding config**

## Acceptance criteria
* It is possible to test both Sanity Studio and the Web in a Dev environment
* It is possible to promote what is running in Dev to Prod
* Secrets and settings are isolated for each environment
* Satellite sites should be deployed

[2022-03-16 13:13] nilsml opened #925 "Put global_development into DEV"
Today we have a separate "satellite site" for testing using the global_development dataset and a corresponding Sanity Studio. This task is about making this "satellite site" the default DEV environment. When pushing code to GitHub, this is what will be updated.

[2022-03-16 13:15] nilsml opened #926 "Move all the satellites to PROD"
### Remember

- Add CORS in Sanity manage
- Verify preview in Sanity

[2022-03-16 13:17] nilsml opened #927 "Move global to PROD"

[2022-03-16 13:21] nilsml opened #928 "Configure KeyVault and AppConfig"

[2022-03-17 07:35] wenche commented on #912
@BirteThornquist @SvSven Happy?

[2022-03-17 12:38] BirteThornquist commented on #910
@padms All I get when selecting type of form is this msg: ![Skjermbilde 2022-03-17 kl. 13.37.16.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/7156d019-775c-4744-b8d0-b5b651305d12)

[2022-03-17 12:51] padms opened #929 "Create Career fair and events form"
## Acceptance criteria
- Be able to add 'Contact Equinor Form' in topic page, with title and ingress ( optional)
- Be able to add or modify the translations for the form  field labels, text  and error messages.
- Be able to successfully submit the form and verify that RITM is created in service now ( https://equinortest.service-now.com/nav_to.do?uri=%2Ftask_list.do%3Fsysparm_first_row%3D1%26syspar

[2022-03-17 13:32] BirteThornquist commented on #912
@fernandolucchesi Agree with Sven -we should have a help text to this toggle. ![Skjermbilde 2022-03-17 kl. 14.31.19.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/426b5a2f-e57f-414b-a60d-4e5359dd7d1e)

[2022-03-17 16:45] fernandolucchesi opened #930 "Add option to add a custom publishing date time for news and display it accordingly"
Acceptance criteria:

[ ] Editors can choose a custom publication date
[ ] Editors can choose not to use a custom a publication date
[ ] The actual publication time will be used if no custom date is chosen
[ ] News should display correct dates in the website
[ ] Latest news should work properly

[2022-03-17 19:22] nilsml opened #931 "Set up retention policy action for GHCR"
Each time we deploy a new images is copied to GHCR.
To keep cost down, we should delete old images at regular intervals.

[2022-03-17 20:10] nilsml commented on #924
This proves to be more complicated than anticipated. A few notes from my investigations today:
* Using the promotion functionality for Radix promotes EVERYTHING in the same env. So that means all components, and in our case a component is a web or sanity instance. To be able to promote individually, we need to create an environment per instance.
* Dynamic tagging is complicated for various reasons

[2022-03-18 07:03] BirteThornquist commented on #921
For the Order Report form it must be possible to add a downloadable file. I have outlined the Sanity navigation for that  in Figma [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=3309%3A71064)
In the same frame I have done the design of this form: Order Annual Report Form. Here you will see a couple of different solutions when it comes to the text order. I prefer alternative c

[2022-03-18 07:06] BirteThornquist opened #932 "Wrong font size in simple menu"
The font size for simple menu is too small. Seems it is set to 16 px without using the type scale. ![Skjermbilde 2022-03-18 kl. 08.05.04.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/63b7c8e0-bb04-4eec-becd-caf3cc681d0b)

[2022-03-18 07:07] padms commented on #910
@BirteThornquist  All other forms except order reports do not have any fields. So there is nothing to configure for other forms.

[2022-03-18 07:14] BirteThornquist commented on #910
@padms Can the add downloadable file show up for the order form - and for the rest we do not need to show a msg? it looks a bit like an error msg to me.

[2022-03-18 07:34] SvSven commented on #318
@nilsml can this be closed then?

[2022-03-18 07:35] wenche commented on #829
@meols

[2022-03-18 07:37] wenche commented on #828
@nilsml  To update the drawing

[2022-03-18 07:41] SvSven commented on #912
I believe the "Select this if you want to link to  a page that is in another language." is the description - which is already an improvement to what there was initially.

Do you think this is not good enough @BirteThornquist ?

[2022-03-18 07:44] wenche commented on #918
Remove the option to have the same url slug for both translations of a document

[2022-03-18 07:45] #912 closed

[2022-03-18 07:47] #143 closed

[2022-03-18 07:51] #931 closed

[2022-03-18 08:41] wenche commented on #922
Do we need a switch for temp redirect vs permanent redirect

[2022-03-18 08:57] #883 closed

[2022-03-18 09:01] padms commented on #929
@BirteThornquist For your review

[2022-03-18 09:14] SvSven opened #933 "Index local news articles"
The local news is a separate document from the regular news, and will thus need to be set up to be indexed by Algolia.
We can use the same setup as #882 - just need to change the document type to `localNews` instead of `news`

Related to #917

- [x] Update documentation

[2022-03-18 09:17] nilsml opened #934 "As a user of satellite sites I need a way to find the news articles"

[2022-03-18 09:20] nilsml commented on #933
Let's do this some other time :)

[2022-03-18 09:21] nilsml commented on #903
Duplicate

[2022-03-18 09:21] #903 closed

[2022-03-18 09:25] #341 closed

[2022-03-18 09:26] #837 closed

[2022-03-18 09:26] #840 closed

[2022-03-18 09:27] #838 closed

[2022-03-18 09:27] #318 closed

[2022-03-18 10:12] SvSven commented on #885
@meols could you and the editors see if this is still an issue?
it seems to be working fine on my end now when trying to select images from the icons and illustrations bank - so I'm wondering if the network policy changes we did to try and solve the slowness in the studio may have fixed this as well.

[2022-03-18 11:48] meols commented on #829
@SvSven @wenche - looks good and work as it should :smile:
One question:
On mobile the logo is "marked/framed" when I open the search page. Is that noted and will be fixed?
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/637d04a5-6341-496e-804a-987e36f6d434)

[2022-03-18 12:02] meols commented on #910
@padms @BirteThornquist - thanks, and some questions:
- Could the component be called **Forms** instead of **Form**, to indicate that it contains more than one form?
- How/when will the translation to Norwegian be handled
- Can we test that questions to the different options goes to the correct assignment groups in s@e? (Is the form linked to s@e stage or prod?)
- Can the form component be hidden

[2022-03-18 12:23] SvSven commented on #917
@wenche @fernandolucchesi there is some creative coding here to share the news fields between 2 document types, so if you could have a look and see if we're all on the same page that would be great 👍

we also still need to come up with a good way of handling the access control for the local news and local news tags

[2022-03-18 13:14] meols commented on #885
@SvSven - seems to still be an issue. Some examples:
- United states page: animated icons showing, "other" icons not showing
https://energyvision.app.radix.equinor.com/where-we-are/united-states
- EU page - icons not showing (in two components)
https://energyvision.app.radix.equinor.com/where-we-are/eu
- CCS page - icons not showing
https://energyvision.app.radix.equinor.com/energy/carbon-capture-

[2022-03-18 13:15] meols commented on #910
@padms - also the submit button should be called "Submit form" with a lowercase F.

[2022-03-18 13:18] SvSven commented on #885
Ah yeah I haven't looked into the animated icons or the broken images on the web - I was mostly referring to the icons not being uploaded to Sanity when you select them in Brandmaster 😅

[2022-03-18 13:20] wenche commented on #829
@meols  This is iPhone right? We've seen this for some of the menu links as well, it's not like this on my Android phone. The way focus work is slightly different between the two platforms. This one in particular is not covered by an issue, you may create an issue for it in the backlog.

[2022-03-18 13:46] SvSven commented on #932
@BirteThornquist This should be fixed now and can be reviewed for example here: https://web-brazil-energyvision-dev.radix.equinor.com/

[2022-03-18 14:26] BirteThornquist commented on #738
@meols  I see that some pictures used have a white space under which causes a big space between the image and credit text. Think you should fix/change these ![Skjermbilde 2022-03-18 kl. 15.15.46.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/a047f2c2-9e25-44e5-8761-d1a4fa794711)

![Skjermbilde 2022-03-18 kl. 15.15.30.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e7

[2022-03-18 14:27] meols opened #935 "Logo on search page "framed" on mobile/iPhone"

[2022-03-18 14:29] meols commented on #935
On iPhone the logo is "framed" when opening the search page
(tested on iPhone 8+)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/c7902f34-ed3d-4acb-a723-3d7f0bc06857)

[2022-03-18 14:31] meols commented on #829
@wenche - yes it's iPhone.
I have created #935 and close this one. Thanks

[2022-03-18 14:31] #829 closed

[2022-03-18 14:33] meols commented on #885
:smile: @SvSven - didn't manage to upload to sanity when selecting in Brandmaster either

[2022-03-18 15:27] padms commented on #910
@meols
- Could the component be called Forms instead of Form, to indicate that it contains more than one form? **Corrected it**
- How/when will the translation to Norwegian be handled
 **Translations can be added under text snippets against each form's text**
- Can we test that questions to the different options goes to the correct assignment groups in s@e? (Is the form linked to s@e stage or prod

[2022-03-18 15:33] meols commented on #849
Thanks @fernandolucchesi for fixing the web (German) and studio (English) base language :smile:
One question: today this site doesn't have a menu - does it need to have it now: https://www.equinorstorage.de/
Also, is translating the small texts here and there (text snippets?) done by you/the dev. team. E.g. the Menu "name" in the Storage site currently has the Norwegian translation to the word "Me

[2022-03-18 15:34] padms commented on #921
@meols @BirteThornquist For your review

[2022-03-18 15:35] meols opened #936 "How are translations in text snippets handled"

[2022-03-18 15:41] meols commented on #936
@nilsml - can you please clarify how translations for items found in text snippets will be covered and by who? (dev or editors)
Editors have not handled adding translations to e.g. forms in AEM. We have handled ordering the translations (from translations service) and using it the correct ways and places have not been done by editors for these things.

[2022-03-20 14:56] fernandolucchesi opened #937 "Display draft documents when listing parent routes"
We need to allow editors to see drafts in the Parent Route level, to avoid multiple drafts documents not being used.

[2022-03-21 07:40] SvSven commented on #922
We also need to make sure we have it documented how to handle redirects, when redirects should be used (and for which use cases)

[2022-03-21 09:20] wenche commented on #917
Testing highlighted several issues, @SvSven  to the rescue

[2022-03-21 09:58] nilsml commented on #699
@fernandolucchesi assess and close

[2022-03-21 11:12] padms opened #938 "Create Careers Contact Form"
## Acceptance criteria
- Be able to add 'Order reports' in topic page, with title and ingress ( optional)
- Be able to add or modify the translations for the form  field labels, text  and error messages.
- Be able to successfully submit the form and verify that RITM is created in service now ( https://equinortest.service-now.com/nav_to.do?uri=%2Ftask_list.do%3Fsysparm_query%3Dcmdb_ci%253D59e02ac83

[2022-03-21 12:33] wenche commented on #500
@BirteThornquist  I've implemented your suggested design changes but still not 100%... Let's take a final look tomorrow

[2022-03-21 12:33] wenche commented on #851
Same as #500, final look tomorrow

[2022-03-21 13:27] wenche commented on #930
LGTM :thumbsup: You will probably want to take a look as well @meols

[2022-03-21 13:42] meols commented on #910
@BirteThornquist - Is the "guiding text/field names" (Name, email etc.) an OK font size? Looks a bit small to me.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/1ff8f855-01ff-4ab2-9cf6-5f4f71872ffc)

[2022-03-22 08:05] BirteThornquist commented on #910
@meols The form fields is from EDS and use these text styles. I absolutely agree the text should be bigger. Padmaja is looking into if we can change the size without taking too much effort.

[2022-03-22 08:29] fernandolucchesi commented on #937
Jorgen has verified this in a call with me. Closing

[2022-03-22 08:29] #937 closed

[2022-03-22 08:40] fernandolucchesi commented on #699
@nilsml, waiting for access so I can test it properly (finished my account setup/requested access today). From what I see in the code it looks like the same script is used for all sites. I want to check if SiteImprove splits the data in their panel by domain, in this case it will be fine. If not I will need to do some changes to this boy here.

[2022-03-22 09:27] fernandolucchesi commented on #918
@wenche, updated

[2022-03-22 09:33] meols commented on #799
@nilsml @BirteThornquist - after an update in the corp. exc. committee today (Elisabeth Birkeland Kvalheim), the issue with having the people promo displaying five side by side instead of three is even more visible.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/9a66782b-279e-4ec1-97c8-e3ec0cb44416)

[2022-03-22 10:02] BirteThornquist commented on #799
Yes, absolutely @meols This does not look good. We have to fix it - will see when it can be done.

[2022-03-22 10:25] BirteThornquist commented on #929
@padms I hope we can change the text size, it is far too small. Also, we need a success msg after submitting the form. Now I can't tell if I submitted or not... Can we  replace the form with a success msg after submitting? If so I can outline a design for it.

[2022-03-22 11:11] BirteThornquist commented on #910
@meols @padmsI think the components should be named in singular in the Add menu in Sanity (except Promo tiles that must be a pair). That is how we have done it for the other components. Promotion for instance, also exists in different types. The name also shows up as a title for the edit modals - and here "Edit Form" is better than "Edit Forms". ![Skjermbilde 2022-03-22 kl. 12.01.36.png](https://i

[2022-03-22 11:28] BirteThornquist commented on #921
@padms Pls add some space after the link list above the form as shown in Figma

 ![Skjermbilde 2022-03-22 kl. 12.23.56.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/76256815-1a82-4bb2-ba61-467973d221bb)

[2022-03-22 13:24] nilsml commented on #924
## Meeting notes from meeting with Radix team 2022-03-22
* imageTag is very important. Even when promoting, an environment will pull image based on the imageTag
* Need to figure out if we want to promote everything from one environment each time
* Will catch up with Radix team on Thursday to discuss possible solutions

[2022-03-22 13:26] fernandolucchesi opened #939 "Implement role/dataset based access to items in the studio"
https://github.com/equinor/energyvision/wiki/Groups-%E2%80%93-accesses-%E2%80%93-sites

[2022-03-23 08:21] padms commented on #910
@BirteThornquist  @meols  I have increased the font-size of label ..

[2022-03-23 08:44] padms commented on #929
@BirteThornquist  I changed the label size to typescale-05 now. I also agree that we have a success message after successfully submitting a form. We also need to handle failure and actions after a failure in form submission.

[2022-03-23 09:55] padms commented on #921
@BirteThornquist I added more space now.

[2022-03-23 09:56] padms commented on #938
@BirteThornquist @meols For your review.

[2022-03-23 13:10] meols commented on #885
@SvSven - is this issue dependent on Brandmaster, what's the status?

[2022-03-23 13:39] SvSven commented on #885
@meols I'm not sure yet, but I suspect it's an issue on Sanity's end. I've contacted Sanity about it and they are looking into it. It's not something we can easily debug from our end since there are no errors or any indication of what might be wrong.

[2022-03-23 14:14] meols commented on #885
:thumbsup: Thanks @SvSven

[2022-03-23 15:05] meols opened #940 "The Techstars site will not be continued in Sanity"

[2022-03-23 15:14] meols commented on #940
@fernandolucchesi @nilsml It has been decided that the [Techstars site](https://studio-techstars-energyvision-dev.radix.equinor.com/) (that we have filled with content) will be discontinued.
So this site will not need to be part of any go-live planning, it will just live in AEM until AEM is shut down
Finally a comment from me that doesn't bring more work :smile:

[2022-03-23 15:23] meols commented on #699
@fernandolucchesi - let me know if access to GTM and search console isn't in place. I gave you access to Siteimprove yesterday and you should have received an invitation email.

[2022-03-24 07:27] wenche commented on #918
Removed the is unique across documentation so now the publisher will have to translate the URLs and they will see a validation error in the slug field for duplicate slugs when the create a translation. LGTM, closing

[2022-03-24 07:27] #918 closed

[2022-03-24 07:46] fernandolucchesi commented on #849
HI @meols, for the translations, we can think about a better solution later on. Given our deadline I believe this is the best option atm.

[2022-03-24 08:05] wenche opened #941 "Migrate text blocks components from block-content-to-react to portable-text"
Sanity's `block-content-to-react ` package is deprecated. They have realised a new version called [portable-text](https://github.com/portabletext/react-portabletext) and we need to migrate. The new version offers better Typescript support, so we could also clean up our block content related types. :thumbsup:

The 404 and 500 templates use the new version, so some of the serializers are already mig

[2022-03-24 10:02] SvSven opened #942 "create "pagination" component for news in stallites"
Related to #920

For the news list component, and potentially in other places as well, we will need a "load more" button that dynamically loads in additional news articles in the list to prevent the component from rendering a very large amount of articles in one go - since there is currently no limit on the amount of articles being fetched yet.

[2022-03-24 12:24] wenche opened #943 "Add type of cookie in the Accept Cookie component"
We need to be explicit about which type of cookies you need to accept in the Accept Cookie banner.

This was a part of the component from the beginning, so we will probably find something for this in the commit history

[2022-03-24 13:06] SvSven commented on #920
Handling of large amount of articles via pagination to be handled in separate issue #942

[2022-03-24 13:18] SvSven commented on #920
The component is very straightforward in Sanity, simply select any number of topic, country, and/or local news tags and it will use those tags to generate a list of news

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/e5147491-fdc1-44c6-ae16-e8a38dfbc5e1)

This is reusing the "news promotion" schema - have reached out to Sanity asking how we can customize the component

[2022-03-24 13:49] fernandolucchesi commented on #939
Putting this on hold until we get a list of all items that needs restrictions per studio (satellite or not) and per role.

@meols

[2022-03-24 13:51] fernandolucchesi commented on #699
all good with the access, thank you

[2022-03-24 14:38] meols commented on #324
@nilsml - just a reminder that this component is needed for go-live

[2022-03-24 23:31] fernandolucchesi commented on #908
<img width="1290" alt="image" src="https://user-images.githubusercontent.com/23337266/160026271-280f73e3-b2bd-43a7-803a-f2a64fe1737e.png">
<img width="1270" alt="image" src="https://user-images.githubusercontent.com/23337266/160026295-5ab168f5-1b29-4d2e-9f36-e9e8f4be6fa6.png">

[2022-03-25 06:41] wenche commented on #874
We need to align the keys as much as possible with the Sanity news article.
- We need a publishing date.
- Is it possible to get the real page title, and not just the meta title? Now it's just in the content. Or is the page title so equal to the <title> that we will have decent hits anyway?
- Two arrays for the tags

[2022-03-25 06:42] wenche commented on #904
@BirteThornquist  to update Figma

[2022-03-25 06:43] wenche opened #945 "Go to a separate URL for the main site search"
This is to avoid several bugs we see if somebody opens the main site search while on`/news` and also to make it easier in the long run.

Take a look at how the site search works on the Algolia page itself. :)

### Acceptance criteria
- When a user clicks on the search icon, they will be sent to `/search` TODO: Figure out if we need another URL for Norwegian or not
- When the user clicks on the "Cl

[2022-03-25 07:04] wenche commented on #945
One strange behaviour with the Algolia page:

1.  Navigate to a sub page (https://www.algolia.com/distributed-secure/security-compliance/)
2. Open the search -> Sent to `/search`
3. Search for something like "test"
4. Go to a hit from the hit list, like "https://www.algolia.com/products/search-and-discovery/ab-testing/"
5. Browser back -> sent back to the full restored search page
6. Click on the

[2022-03-25 07:05] wenche opened #946 "Refactor the news room to allow for a Norwegian version"
Split up code into reusable components for both
/news and /nyheter

### Acceptance criteria
`/news `-> Return the English newsroom
`/en/news` ->  Return the English newsroom
`/no/news` -> Return 404
`/en/nyheter` -> Return 404
`/nyheter` -> Return 404
`/no/nyheter` -> Return the Norwegian newsroom

[2022-03-25 07:06] wenche opened #947 "Add a news room schema for Sanity"
We need a way to set
- Page title
- Ingress text
- Meta title
- Meta description
- Some image

for both the English and Norwegian version.

### Acceptance criteria
- Can add the texts needed for the news room
- The texts are visible on the news room page in the web
- Both English and Norwegian

[2022-03-25 07:14] wenche commented on #947
This should be a singleton, and we faced some issues with the translation plugin and singleton, [see the documentation](https://github.com/sanity-io/document-internationalization/blob/main/docs/known-caveats.md)

Tried the suggested approach for the error pages, and it's a though one to love :/ Shouldn't spent to much time on this though as it should be improved by the plugin

[2022-03-25 07:16] wenche opened #948 "Make shared components work for both light and dark mode"
The shared components, like the pagination (and the search box, but the uncontrolled one are not actually used for the site search), must work for both light backgrounds (news room) and dark (site search)

[2022-03-25 07:19] wenche opened #949 "Checkboxes for filtering"
Fingers crossed that we can use EDS here?

[2022-03-25 07:21] wenche commented on #949
Speaking of markup: Should we have a fieldset with a (hidden?) legend to connect the checkboxes even if they are within an accordion as well? How is this for screen readers?

[2022-03-25 07:27] wenche opened #950 "Add suffix "Equinor" to meta title"
Add a suffix to titles using <NextSEO> plugin. `<title>This is my page - Equinor<title>` (or  `<title>This is my page | Equinor</title>`)

### Question:
This should be the same for all satellites right?

### Acceptance criteria
- All meta titles end with "- Equinor"

[2022-03-25 07:33] padms opened #951 "Feedback message on form submit"
## Acceptance Criteria

- Verify that after form is successfully submitted, thank you message shows up. Upon clicking 'Reopen the form', the form should appear for submitting again,.
- Verify that if there are any errors after submit ( server error ), failure message shows up. Upon clicking 'Try again, the form should appear with entered values before submitting.
- Translations for the form succes

[2022-03-25 07:34] padms commented on #929
Created a separate issue #951 for showing message after form is submitted.

[2022-03-25 08:06] SvSven commented on #917
@meols This issue is for creating local news. The template for local news is the same as the regular news template, but without the subscription field and with a newly added "local news tag" field.

We have added a new menu item called "Local news" which is where the local news is created. This is using a similar structure as the asset library, where there are pre-defined filters/smart folders to

[2022-03-25 08:33] SvSven commented on #920
@wenche @BirteThornquist This is ready to be looked at.

The web part doesn't 100% match the design; in Figma the cards lack the ingress, but it's still being shown here now.
If we want we could modify it to hide the ingress (and/or any other fields on the cards) but I didn't want to complicate things further.

[2022-03-25 10:03] wenche commented on #920
Been testing a bit
English: https://web-global-development-energyvision-dev.radix.equinor.com/about-us/the-netherlands
Norwegian: https://web-global-development-energyvision-dev.radix.equinor.com/no/om-oss/nederland

[2022-03-25 10:08] BirteThornquist commented on #904
@meols a MVP version of the Newsroom added in Figma here[https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5229%3A83194](url)
![Skjermbilde 2022-03-25 kl. 11.03.39.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/f57f39ba-8504-458b-a62b-35ce31f3c352)

[2022-03-25 10:25] meols commented on #921
@padms @BirteThornquist - some comments:
- The option for "Årsrapport for norske myndigheter" should be named that in the information going to serviceNow as well (and not be called Statutory Report)
- The validation text is very big for choosing at least one report, and very small below the different text fields: ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/06bb5157-a

[2022-03-25 10:33] meols commented on #921
@nilsml - we also need a recapthcha alternative for forms #591

[2022-03-25 10:40] nilsml commented on #921
@meols Yes. Will look into that when we start working on #591 👍

[2022-03-25 11:45] SvSven commented on #885
@meols It looks like we managed to fix the rendering of the icons now

[2022-03-25 12:03] #688 closed

[2022-03-25 12:56] meols commented on #885
Thanks @SvSven - I see that already added icons are showing on the Natural gas page, Carbon capture page, EU page - great! But I am still not able to add icons - tested on the Natural gas page https://equinor.sanity.studio/desk/topicContent;1ef36c61-4589-4864-86a0-1ba5cce4b89c by both Trude and me, with and without VPN, in chrome and edge. After selecting an icon, it never is added to the componen

[2022-03-25 13:11] SvSven commented on #885
@meols Yep, I'm seeing the same thing on the link you provided - but at least we managed to solve one part of it. Now for the next 😅

[2022-03-25 13:15] meols commented on #885
@SvSven - :smile: a very good start :thumbsup:

[2022-03-25 13:19] wenche commented on #946
So this one was a little tricky. What we want for the URLs:
`/news `-> Return the English newsroom
`/en/news` ->  Return the English newsroom
`/no/news` -> Return 404
`/en/nyheter` -> Return 404
`/nyheter` -> Return 404
`/no/nyheter` -> Return the Norwegian newsroom

I have solved it by using a non-optimal approach for the time being, sorry @fernandolucchesi  :grimacing: At some point we should ta

[2022-03-25 14:02] SvSven commented on #885
@meols Okay I have pushed a change that should hopefully fix this issue - it fixed it for me locally at least (for now 😬)

[2022-03-25 14:13] wenche commented on #946
@SvSven  We might want to add more component or split up even more, but should be fine for now. Do you mind to just verify according to my list of urls in the acceptance criteria

[2022-03-25 14:14] wenche commented on #922
@fernandolucchesi  to make this issue ready for review by Mette

[2022-03-25 14:16] wenche commented on #908
@fernandolucchesi  Are we able to avoid this message in the console somehow?
![Skjermbilde 2022-03-25 kl. 15.15.14.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/80443a95-3888-43d8-9c79-99d638be0e35)

[2022-03-25 14:56] meols commented on #938
@padms @BirteThornquist - some comments:
- Translations are working
- When selecting Event. "Would like to visit Equinor office or facility" is chosen, the text "Please be aware that we only offer visits to a few selected locations. Please specify your preferred location and we will revert to you as soon as we can." should show up ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744

[2022-03-27 12:58] BirteThornquist commented on #932
@SvSven The menu item links looks good, but the accordion links are too small (set to 16px). The accordion links must have the same font size as the menu links.

![Skjermbilde 2022-03-27 kl. 14.54.30.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/88ac7c7b-7b5b-432d-bd80-82e3e2bb041a)

[2022-03-28 07:04] nilsml opened #952 "Go live with Polish website"

[2022-03-28 07:13] nilsml commented on #952
Dependent on #926

[2022-03-28 07:16] nilsml commented on #324
Added to the go live epic

[2022-03-28 07:42] nilsml commented on #940
Removed from radix and CI, but the dataset will need to be deleted from Sanity.

[2022-03-28 07:43] wenche commented on #950
@meols  To figure out if the satellites should have this or not

[2022-03-28 08:20] fernandolucchesi commented on #908
which url did you get this error?

[2022-03-28 08:27] wenche commented on #908
@fernandolucchesi  It's on localhost

[2022-03-28 08:49] fernandolucchesi commented on #922
Added some documentation at: https://github.com/equinor/energyvision/wiki/Redirects

[2022-03-28 08:50] SvSven commented on #932
Turns out it wasn't using the correct font weight when the accordion was expanded either. Both the font size and weight should be fixed now.

[2022-03-28 09:01] #885 closed

[2022-03-28 10:15] meols commented on #950
@wenche - satellite sites should have the site's domain name as suffix in the meta title. Japan site example:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/a7b821e2-52a0-4ca7-a774-0ca8c3b2e13e)

[2022-03-28 10:31] meols commented on #952
@nilsml - we should add to check and confirm that cookiebot is in place/working as expected.

[2022-03-28 11:29] meols commented on #952
1. Add meta description (and title) - Done
2. Add 404 - page created, which image to use @BirteThornquist? (same as global site, which is that)
3. Add 500 - page created, which image to use @BirteThornquist
4. Update relink link - Done
5. Text Snippets - Menu and All sites are translated, will check again after forms etc. are removed
6. Redirects - No need. The only page in the site is the cookie

[2022-03-28 12:02] SvSven commented on #946
Can confirm that the URLs work as expected according to what you listed, haven't looked into the code itself yet

[2022-03-29 07:46] BirteThornquist commented on #921
@padms @meols I have updated the design for feedback in Forms in Figma [here](https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5353%3A91102)
The form is substituted with a feedback information box, with a button to reload the form.
The CTA button in the form will also change to "Sending ..." on press.
What do you think?

![Skjermbilde 2022-03-29 kl. 09.37.41.png](https://images.zenhub

[2022-03-29 08:25] #925 closed

[2022-03-29 11:45] wenche commented on #952
@meols It doesn't no, the system will handle this

[2022-03-29 12:09] BirteThornquist commented on #952
@meols I have used an image called Gullfaks B (Brandmaster) with hotspot and cropping (see screenshot)
![Skjermbilde 2022-03-29 kl. 14.06.52.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/bd1a0f1a-b533-45b6-a0c8-30bfe861b293)
For now we can use the same picture for 500 as well.

[2022-03-29 12:46] BirteThornquist commented on #932
LGTM @SvSven Closing Issue.

[2022-03-29 12:46] #932 closed

[2022-03-29 13:42] BirteThornquist commented on #500
@meols The error pages is still not quite there. It is difficult to get the contrast right etc. when a full scale photo is used as background. I'd like to go back to the design at a later stage. I'm adding a general enhancement issue to be picked up later. Think we can close these issues for now.

[2022-03-29 13:44] BirteThornquist opened #954 "Look into the design of the error pages (404, 500)"

[2022-03-29 14:04] meols commented on #952
Thanks @wenche and @BirteThornquist !

[2022-03-29 14:37] meols commented on #500
Closing this one for now then @BirteThornquist and @wenche  :smile:

[2022-03-29 18:37] meols commented on #917
@SvSven - this looks very good :clap: I'll discuss with the editorial team tomorrow, and will close this if there are no comments :smile:

[2022-03-29 19:53] meols commented on #796
@nilsml - closing this one, as we will not continue with the Remit table

[2022-03-29 19:53] #796 closed

[2022-03-29 20:23] meols commented on #929
Thanks @padms
- I have submitted two tests, and can't see either of them in ServiceNow (link in acceptance criteria). Can you please check and confirm if you can see them?
- Thanks for adding the additional text for "Visit Equinor facility..." I couldn't find the new "Please be aware..." text in text snippets. What's it called?
- I leave the font size commenting to @BirteThornquist (looks good to

[2022-03-30 06:47] padms commented on #929
@meols  Yes, I could see two RITMs in service-now.
The text snippet title is like this - 'Career fair form: We offer visits to a few locations'

[2022-03-30 06:57] SvSven commented on #949
The issue name and description are a bit lacking. Where are these checkboxes exactly? Is it for the newsroom?

[2022-03-30 06:58] wenche commented on #949
Yes, it's in the newsroom centre epic after all

[2022-03-30 06:59] SvSven commented on #949
Which is not visible outside of Zenhub, and I came here via Github notifications 😅

[2022-03-30 08:54] SvSven commented on #949
Checkboxes seem fine, works with keyboard within the accordion as well.
I guess it's good that we can use the EDS here, though I feel like there are some improvements that could be made; like the behaviour when hovering over the label - but that's up to EDS 😬

[2022-03-30 10:59] meols commented on #929
@padms - thanks for confirming the RITMs.
I still don't see the text snippet
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/5944a384-31d1-46d5-b7af-ed8fd1927579)

[2022-03-30 11:36] meols commented on #917
@SvSven - we are very happy with this :smile:
Questions (not critical):
- Is it possible to also hide Topic tag and Country tag in the local news template
- Is it possible to have the date picker starting the week with Monday (for both Local news and Global news )

[2022-03-30 12:45] SvSven opened #955 "Configure Sanity date picker to start week with Monday"

[2022-03-30 12:46] SvSven commented on #917
Yes, should be no problem to hide the Topic and Country tags for the local news template - but I thought we wanted to have those?

Have also made a new issue for the date picker: #955

[2022-03-30 14:11] nilsml commented on #926
This one is pretty much done I would say. Could have a walkthrough of the setup.

[2022-03-30 14:12] nilsml commented on #927
This one is now done, but will add a new issue for global studio as that needs special treatment.

[2022-03-30 14:16] nilsml opened #956 "Refine deployment of studio to preprod and prod"
## Acceptance criteria
* studio-global running in preprod
* Possible to deploy to prod based on latest version in preprod

## Notes
Use python script to find the sha from radixconfig.yaml
1. Checkout sha from repository
1. Deploy as today

[2022-03-31 07:08] meols commented on #904
@wenche @BirteThornquist - we are happy with this as the newsroom MVP :smile:

[2022-03-31 07:08] #904 closed

[2022-03-31 08:51] meols commented on #917
Thanks @SvSven - We don't need to be able to tag in the local news template with topic or country (at least for now), so great if those can be hidden.
(but are very happy that we can add country or topic tag in the **newslist**, to fetch global news by these tags, together with the local news in the list)

[2022-03-31 09:13] meols commented on #910
@padms - for some reason the text in text snippets for "Contact form: How can we help you?" and "Contact form: Who are you trying to reach?" are shown as "Name" in the form - even if they have the correct text in English and Norwegian.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/623a9600-9904-4c00-9fa7-c7989818d86b)

[2022-03-31 09:18] wenche commented on #940
It's deleted from Sanity.

FYI: We have a backup of the added content for techstars if this will ever be relevant in the future.

[2022-03-31 09:18] wenche commented on #940
@meols Techstars is no longer available

[2022-03-31 09:22] #929 closed

[2022-03-31 09:22] meols commented on #929
@padms - now the text snippet is showing :smile:

[2022-03-31 09:24] nilsml opened #957 "Clean up GH actions"
Unused ENV variables and obsolete code should be cleaned up to make the actions easier to understand.

[2022-03-31 09:24] #940 closed

[2022-03-31 09:31] meols commented on #930
Thanks @fernandolucchesi - looks good :smile:
We would like the date picker to start the week on Mondays, it's captured in #955

[2022-03-31 09:31] #930 closed

[2022-03-31 11:18] #946 closed

[2022-03-31 11:18] #949 closed

[2022-03-31 11:56] wenche commented on #934
Duplicate of the already solved #920 @nilsml ?

[2022-03-31 12:32] wenche commented on #947
![Skjermbilde 2022-03-31 kl. 14.24.47.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/fff4c81e-c86e-44a9-b12b-2346773fbfda)

@meols  FYI: I have added the document for the newsroom to the `Misc` folder since it is a singleton (can only have one newsroom document). It might be an idea to improve the structure of the content in the studio at some point, but I think this is OK for

[2022-04-01 06:43] SvSven commented on #945
This should now be working, with a hard-coded link on the search icon to `/search`
I think we can live with the URL being `/search` for both English and Norwegian, but if we want we can create a dedicated Norwegian path as well.

Additionally I have updated the query params in search to use `router.replace` instead of `router.push` in order to not pollute the browser history too much so we can get

[2022-04-01 06:46] SvSven opened #958 "create list of disallowed slug values for routes"
Relates to #904 and #945

There are a couple of slugs that we should not allow the editors to use in routes (and potentially news) as they are used for specific pages. This list can then be checked in the validation function for the slug.

Incomplete list of disallowed slugs:
- /news - allowed for global sites
- /nyheter - allowed for global sites
- /search
- /api

[2022-04-01 06:50] SvSven opened #959 "Use canonicals for pages with query params"
We need to set up some canonical URLs for the pages where we use query params, so that these pages don't get indexed with every combination of query params known to mankind.

https://rishimohan.me/blog/nextjs-canonical-tag

We don't want google to treat them as separate URL. But we should align with Mette & co about how this should ideally be listed in Siteimprove.

We should avoid things like `eq

[2022-04-01 06:50] SvSven commented on #959
@wenche to expand on this issue

[2022-04-01 06:53] #934 closed

[2022-04-01 07:56] wenche commented on #943
Duplicate of #916

[2022-04-01 07:56] #943 closed

[2022-04-01 08:05] nilsml opened #960 "News functionality for satellite sites"
## Acceptance criteria
- News functionality is available to following satellite sistes:
  - Poland
  - <TBA>

[2022-04-01 08:09] nilsml commented on #960
Is it possible to add news to Sanity for the Satellites now?
@fernandolucchesi

[2022-04-01 08:55] SvSven commented on #917
Have removed the topic and country tags from the local news schema ✅

[2022-04-01 12:05] padms commented on #921
@meols @BirteThornquist I modified the look for the checkbox error as suggested..
Sending... text on submit button.
And the success/failure after the form is submitted...
The (Optional) text for optional fields can be done editorially by changing label text under text snippets

[2022-04-01 12:27] padms commented on #938
@meols I cannot find the tickets you created in stage ( May be service now synced their prod data to stage ). Let me know when you are testing, I can verify the ticket immediately.

[2022-04-04 06:27] wenche commented on #945
This seems to be working as expected :)

Tested with
1. Open the search overlay
2. Search for something
3. Go to a hit
4. Go back using browser back
5. Close the search
6. End result: start page

1. Open the search
2. Search for something
3. Go to a hit
4. Open the search overlay again
5. Close

[2022-04-04 06:27] #945 closed

[2022-04-04 06:58] wenche commented on #950
For flexibility we should probably just add a meta title suffix config in the satellites config

[2022-04-04 07:11] nilsml commented on #927
Global also done!

[2022-04-04 07:11] #927 closed

[2022-04-04 07:11] #926 closed

[2022-04-04 07:11] #956 closed

[2022-04-04 07:50] meols commented on #951
@padms - I get the "Sorry, something went wrong" for all five forms on your page

[2022-04-04 07:53] meols commented on #938
@padms - I submitted a form just now (09:53), but got an error message ("Sorry, something went wrong")

[2022-04-04 08:54] #922 closed

[2022-04-04 08:55] #699 closed

[2022-04-04 08:57] nilsml commented on #920
@SvSven to update padding according to suggestion from Birte

[2022-04-04 09:01] nilsml commented on #879
@fernandolucchesi will make the dataset private and refactor code accordingly

[2022-04-04 09:09] meols opened #962 "Poland cookie policy page: cookies not visible immediately"

[2022-04-04 09:11] meols commented on #962
On the cookie policy page for Poland https://www.equinor.pl/cookie-policy you need to refresh several times before the cookie list is showing (it is "blinking" on refresh, and after 6-7 refreshes it stays) - it should always be visible. Also the distance between the Text component and the Cookie declaration component is too big.

[2022-04-04 09:20] meols commented on #917
@SvSven - I can still see the options for Topic tag and Country tag and add them to a local news article. It should't be visible - right?

[2022-04-04 09:38] wenche commented on #948
@BirteThornquist  Let's just go through the colours for the pagination component on light background

[2022-04-04 10:44] SvSven commented on #611
@wenche @fernandolucchesi @padms
I have pushed a custom document action that replaces the built in Publish action: https://github.com/equinor/energyvision/commit/54b30fa79e360851605c686d92818113f37fddd9

This action will pop up a confirmation dialog for the `news` and `localNews` document types, for the rest it should act like before (with the exception that the label on the button isn't updated b

[2022-04-04 10:53] meols opened #963 "Deleted news are visible in news promo"

[2022-04-04 11:07] nilsml commented on #617
This does not need to be a scheduled task like the indexer for Sanity pages as we don't expect the archive to be changed anytime soon. Will create a tool that can read a json-file with all archived news and massage these data and put into Algolia.

[2022-04-04 11:11] padms commented on #951
@meols You can test now.

[2022-04-04 11:13] nilsml opened #964 "Add publisheddate to json"
**In order to filter by date we need to add publisheddate to the json file with archived news**

## Acceptance criteria
* publishedDate field exists for all articles
* Timezone is included or standard zone is used for all articles

[2022-04-04 11:17] nilsml commented on #964
@padms FYI

[2022-04-04 11:17] nilsml opened #965 "Include all news in json file"
**In order to make all news searchable we must ensure that all news articles are included in the json file**

## Acceptance criteria
* All news available in Azure should be available in json file

[2022-04-04 11:27] meols commented on #963
News we have deleted are still visible in the news promo and news room list. Is there a "process" for deleting news (just Delete incl translation/One by one language/Unpublish first and then delete etc.)? How long does it take before a news disappear after deleting/unpublishing it?
- Also, please confirm if Unpublishing a news and then publishing it again will trigger a new newsletter being sent (

[2022-04-04 11:30] nilsml commented on #617
Is dependent on #964 and #965

[2022-04-04 11:30] SvSven commented on #920
Have updated the padding to match that of the promotion component, and added a warning/description text to the component inside Sanity:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/d96c1f3c-4ee1-41c0-b02e-0c8f8eca4d9b)

[2022-04-04 11:34] SvSven commented on #917
It looks like the changes haven't been deployed to the global studio yet. A little bit hesitant to do so _at this moment_ since we are doing some experimental stuff for the studio that we need to make sure works first

[2022-04-04 11:51] wenche commented on #135
Bonus issue: It's a bug on hover in the main menu
![Skjermbilde 2022-04-04 kl. 13.50.10.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ba9d0f51-2687-4bb6-a6b5-34d3353baa01)

[2022-04-04 14:10] meols commented on #851
The issue with Equinor Storage error pages is fixed :smile: Closing this.

[2022-04-04 14:10] #851 closed

[2022-04-04 15:17] meols commented on #951
Thanks @padms - now it worked :smile: Error message for subscribe form and Thanks you message for the other four.
@BirteThornquist - any comments from you?

[2022-04-05 06:36] #908 closed

[2022-04-05 06:37] padms commented on #910
@meols : I found the one ticket for this form in service now from you.

[2022-04-05 06:38] padms commented on #921
@meols I found the ticket in service now.

[2022-04-05 06:38] #828 closed

[2022-04-05 06:38] padms commented on #938
@meols I found the ticket in service now

[2022-04-05 06:46] SvSven commented on #617
Investigate removing markup from json content

[2022-04-05 06:55] SvSven commented on #917
@meols should be available in the global production studio now

[2022-04-05 07:18] wenche commented on #611
LGTM :thumbsup:

[2022-04-05 07:29] wenche commented on #611
@meols Please take a look at what Sven did. I have added some suggestions for testing in the issue description

[2022-04-05 07:37] wenche opened #966 "Improve indexing with languages"
### Acceptance criteria
- Both languages (`nb-NO` and `en-GB`) should be indexed in an easy and intuitive way
- Could index both languages at the same time?

[2022-04-05 07:48] wenche opened #967 "Audit of Equinor Storage"

[2022-04-05 07:50] nilsml opened #968 "Prepare Storage for going live"
## Sub-tasks
- [x] Add ticket for DNS
- [x] Add external alias to radixconfig
- [x] Add certificate to radix
- [x] Add sitemap.xml
- [x] Add GTM config

[2022-04-05 08:15] wenche opened #969 "Optimize SVG icons"
The SVG icons used by the Icon and text component are flagged as not optimized. We should look into if we can improve this. Example from [Storage](https://web-storage-energyvision-prod.radix.equinor.com/en)

![Skjermbilde 2022-04-05 kl. 10.15.04.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/e46e6038-8e45-4d20-9437-3027c90e9065)

[2022-04-05 08:20] wenche opened #970 "Missing empty alt text for SVG icons"
![Skjermbilde 2022-04-05 kl. 10.20.20.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ee471b81-45e2-4c4e-9255-dbf105943c9a)

### Acceptance criteria
1. Should have an empty alt tag
1. Should have `role=presentation` to reduce noice in tooling

[2022-04-05 08:32] wenche opened #971 "Improve font loading and caching"
We see a lot of "flicking" with the font. Initially we wanted to use the EDS hosted font, but we ran into some issues with the TTL. See [related issue on the EDS board.](https://github.com/equinor/design-system/issues/1543)

As a work around, we added the font into our Next.js public folder, but since `expires = 0` this is not optimal either.

![Skjermbilde 2022-04-05 kl. 10.34.50.png](https://ima

[2022-04-05 08:37] wenche commented on #967
The audit is pretty good and no big issues. I have created several issues for some of the findings #971 #970 #969 and also asked the publishers to update a couple of smaller issues.

[2022-04-05 08:38] #967 closed

[2022-04-05 08:50] SvSven commented on #947
Given the problems with the language plugin with regards to singletons, this is probably as good as we are going to get - so looks good to me 👍

[2022-04-05 09:02] wenche opened #972 "Fix Open graph URL"
The open graph URL is wrong since it was based on the publicRuntimeConfig. Visible in view source.
`<meta property="og:url" content="Domain not set/privacy-policy"/>`

### Acceptance criteria
- The og:url is correct for each site

[2022-04-05 09:37] nilsml commented on #968
@fernandolucchesi I guess we/you need to configure GTM for storage?

[2022-04-05 11:00] fernandolucchesi opened #973 "Load GTM during build"
Currently we set the Google Tag Manager Id directly in Radix. This might be applying the GTM only for pre-built pages. Investigate if that is the case, and if so refactor it passing the variable as a parameter to the dockerfile.

[2022-04-05 11:02] fernandolucchesi commented on #968
https://github.com/equinor/energyvision-internal/commit/7f3af605e8a0a192ce564681e2a2da8fc3609647

[2022-04-05 11:59] fernandolucchesi opened #974 "Switch Sanity to private datasets"
In order to switch from public to private dataset, we need to make sure we are filtering out all the draft contents in the web, but keeping them during preview.

There are exceptions such as the "latestNews" and the "latestPromotions" components. In these cases, drafts should be filtered out for both preview and web.

## Test example
1. Create a news article
1. Add the mandatory content
1. Publish

[2022-04-05 12:06] fernandolucchesi commented on #974
@wenche @SvSven could you both please take a look at this? This is quite a critical change 😬

[2022-04-05 13:13] meols opened #975 "Language switch not working as expected for archived news"

[2022-04-05 13:16] #975 closed

[2022-04-05 13:37] nilsml commented on #591
Looking more into Friendlycaptcha as that seems to be the best solution. Issues with url being blocked by policy though. @pradeepvenurao is looking into it.

[2022-04-05 14:02] fernandolucchesi opened #976 "Do not convert /news/archive urls to lowercase"
Archived news may contain uppercase urls. We should not change it to lowercase.

[2022-04-05 18:39] wenche commented on #916
The type of cookie is now added. 5 corresponding text snippets are added in Sanity.
![Skjermbilde 2022-04-05 kl. 20.32.56.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/e770ddfd-532f-4f1d-925c-b9498d9c5865)
The type of cookie is added in the fields `Cookie: Type marketing` and `Cookie: Type statistics` and in interpolated into the message by the id {typeOfCookie}.  The full exa

[2022-04-06 06:57] wenche commented on #916
@meols This is fixed now, and you'll need to update the [text snippets for storage](https://studio-storage-energyvision-prod.radix.equinor.com/desk/settings;textSnippets;snippet-cookie_consent) :)

[2022-04-06 07:09] meols opened #978 "Language issues with news"

[2022-04-06 07:10] meols commented on #978
We no longer see the language switch for a published News, and it takes a long time to have news showing up in the promo on the front page (20 minutes and counting), we don't find the latest news when trying to add a link and searching for a news in internal links.

[2022-04-06 07:34] fernandolucchesi opened #979 "News preview is not working properly"
It is not possible to preview changes in an already published news

[2022-04-06 10:14] meols commented on #938
Thanks @padms

[2022-04-06 10:14] #938 closed

[2022-04-06 10:20] meols commented on #611
@SvSven - works perfectly :thumbsup:
@wenche - thanks for great test cases :smile:

[2022-04-06 10:20] #611 closed

[2022-04-06 10:22] meols commented on #921
Thanks @padms :thumbsup:
Any comments from you @BirteThornquist (if not, just close it)

[2022-04-06 10:24] meols commented on #917
Great! Thanks @SvSven :clap:

[2022-04-06 10:24] #917 closed

[2022-04-06 10:24] meols commented on #910
Thanks @padms

[2022-04-06 10:24] #910 closed

[2022-04-06 10:37] meols opened #980 "Fav icon missing for news"

[2022-04-06 10:38] meols commented on #980
Currently the news don't have a fav icon ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/36b23e54-c474-432c-b1e0-8efde2f7be3f)

[2022-04-06 10:39] meols opened #981 "Hits in the search list show the url for the search page"

[2022-04-06 10:41] meols commented on #981
When searching, the results in the search result list all show the url for the search page, instead of "their own" url
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/95a40a13-b4a9-4fe7-9d21-22ffb21c5b5a)

[2022-04-06 10:50] wenche commented on #981
This was due to the logic for getting the full url.

To avoid unnecessary complexity, the visible text will be the production domain even if we are not in production yet (https://www.equinor.com/the-slug instead of https://web-energyvision-prod.radix.equinor.com/the-slug) but the url itself will be correct.

[2022-04-06 10:53] wenche commented on #981
@SvSven  to verify

[2022-04-06 10:54] wenche commented on #947
@meols You have already created a news room document for the global site, but do you mind to just verify this anyway

[2022-04-06 11:56] wenche commented on #979
This should be OK now with the latest changes for the private dataset

[2022-04-06 11:56] #979 closed

[2022-04-06 12:24] fernandolucchesi commented on #979
#974

[2022-04-06 13:11] wenche commented on #947
It wasn't initially when we created the landing page :) But Birte and I talked about it the other day and that was our suggestion as well. It's on my list to add it :)

[2022-04-06 13:13] #972 closed

[2022-04-06 13:47] wenche commented on #974
I'm not able to find any big issues with this, which is good :thumbsup: Tried to play around with the api directly, tested some content in Sanity/web and read through the queries.

The filter to one document is a critical component here and important to not screw up :) It's also crucial to run this logic server side.

(A little bit confusing that the preview of content in the web for news and for

[2022-04-06 13:49] padms commented on #962
@meols https://web-poland-energyvision-preprod.radix.equinor.com/cookie-policy fixed in preprod

[2022-04-06 13:51] meols commented on #947
Thanks @wenche - closing this one then :smile:

[2022-04-06 13:51] #947 closed

[2022-04-06 16:53] BirteThornquist commented on #951
The feedback messages looks good @padms

[2022-04-06 16:53] #951 closed

[2022-04-06 17:03] BirteThornquist commented on #910
Same comment about the font size as written in issue #921

[2022-04-06 20:06] nilsml commented on #438
Fixed by Radix now, and ready to be implemented

[2022-04-06 20:07] nilsml commented on #968
We are live!

[2022-04-06 20:07] #968 closed

[2022-04-07 06:34] fernandolucchesi opened #982 "Parent routes with selected parent route to itself is a danger zone"
Studio currently allows selecting the same "parent route" as the parent route itself. When this happens the route is not shown in the UI and "document" cannot be accessible. This is an edge case, but has happened and might happen again in the future.

We should bullet proof this solution, an approach could be filtering out the same document id in the parent dropdown, if it is a parent route,

[2022-04-07 06:41] SvSven commented on #976
Problem is with _old_ archive - content from AEM and Sanity are not case sensitive

[2022-04-07 06:58] #879 closed

[2022-04-07 10:12] wenche opened #983 "Remove REMIT from the code base"
Since this will not be used, we should remove the corresponding code. It is at least still a component publishers can add in sanity

[2022-04-07 13:13] SvSven commented on #920
@BirteThornquist done ✅

[2022-04-07 13:19] SvSven commented on #981
Can confirm that the URLs listed in the hits are showing correctly again 👍

[2022-04-07 13:26] BirteThornquist commented on #920
@SvSven if you add a space after the icon before the text it will be perfect! (sorry for being picky) 😄

[2022-04-07 15:54] fernandolucchesi opened #984 "Refactor 'publishDateTime' to be updated by a custom publish action in Sanity"
We are using this logic:

[code]

Everywhere we need `publishDateTime`. For sorting, search, fetching news, webhooks etcs.
This can be enhanced by having a custom publish action that updates the field after publishing the document, the same way i18n fields are updated when a document is published.

Refactoring it will allow us to cleanup a lot of code and be more error proof.

[2022-04-08 05:44] wenche opened #985 "Remove topic content from blob storage"
- Move the existing blob storage to a different place
- Add a new one only for news articles

[2022-04-08 05:52] wenche commented on #605
@meols  Are you satisfied with the option to reference content in other languages from a rich text field, or should we at least add it to the call to action button styled links as well?

[2022-04-08 06:49] wenche opened #986 "Remove isStatic in link component"
During migration we added a switch for `isStatic`  in the link selector component. The idea was to use this in combination with the url for some static content to be able to create a Next link (since it's internal content from the clients point of view). However, this feature is not much used, and could probably be removed from the code base as it adds some complexity both in the Sanity and in the

[2022-04-08 07:07] meols commented on #605
@wenche - please add to CTA buttons as well :thumbsup: Thanks! We would like this option for all links.

[2022-04-08 07:41] meols commented on #916
Thanks @wenche - and the text snippets for Storage are updated

[2022-04-08 07:50] #916 closed

[2022-04-08 08:10] fernandolucchesi opened #987 "Fix local news not shown and add 'https' to sitemap"
Added both to the same issue since they are small fixes.

[2022-04-08 08:11] fernandolucchesi opened #988 "Fix local news not being shown and add 'https' to sitemap"
Added both to the same issue since they are small fixes.

[2022-04-08 10:50] meols opened #989 "Event template: Add Iframe component inside Text Component"
The event template should have an (optional) text field below the iFrame, to give better options to distribute the text on the page.
E.g. the Annual general meeting event has a lot of text instructions, and the iFrame gets pushed to the bottom of the text:

Acceptance Criteria
- [ ] Editor is able to add iframe inside the Content text area of the event page and view the same on page
- [ ] Existing

[2022-04-08 10:53] meols commented on #989
Examples (AGM):  https://energyvision.app.radix.equinor.com/about-us/annual-general-meeting-2022

[2022-04-08 11:51] wenche commented on #970
We had missed this one @SvSven  should be OK now :fingers_crossed:

[2022-04-08 11:51] #981 closed

[2022-04-08 11:58] wenche opened #990 "Fix language switch for news"

[2022-04-08 12:02] #990 closed

[2022-04-08 12:16] meols opened #991 "Featured content: should be able to promote events"

[2022-04-08 12:18] meols commented on #991
Currently we cant promote Events in Featured content - which would be useful to promote the Quarterly results (in the Investor menu) and the Annual general meeting (in the About us menu). Is that possible to fix?

[2022-04-08 12:22] meols opened #992 "Anchor link component"
Ref: https://equinor.slack.com/team/U02N7FCF3GT

### Acceptance Criteria
- [ ] Be able to add an anchor link in topic pages using the component
- [ ] The anchor link works correctly ( opens the page at the right component)

[2022-04-08 12:41] meols commented on #992
For the backlog: we would like to explore to have a separate component for anchors, to make it easier to place them correctly.

[2022-04-08 13:53] SvSven commented on #920
Have added some breathing space between the emoji and the text 👍

[2022-04-08 13:57] fernandolucchesi opened #993 "Add news, localNews, and archived news to sitemap"

[2022-04-08 14:01] fernandolucchesi opened #994 "Add missing head tags"
### HREF tags:

Here's a quick writeup on hreflang:

The "rules" of hreflang:

All tags are bidirectional, meaning all pages will link to each other - the code example underneath will be installed on both language-versions

All pages should link to itself - line 2 in code example beneath

X-default is recommended: this is the default when no other language matches

Example:

On https://www.equinor

[2022-04-08 14:12] wenche opened #995 "Add news tab to site search"
The site search should have the option to search for news

### Acceptance criteria

[2022-04-08 14:19] SvSven commented on #354
@fernandolucchesi @wenche @padms This should be ready to be looked at. Might be some room for improvement to make the data fetching reusable but I don't think there is any other place where we use this API, so not sure if its worth it really.

[2022-04-08 14:23] SvSven commented on #970
Hmm, I thought the empty alt tag was enough and the `role="presentation"` wasn't needed.
Can confirm that on Edge we have `alt` and `role="presentation"` and on FireFox we have `alt=""` and `role="presentation"` 👍

[2022-04-08 14:23] #970 closed

[2022-04-08 14:25] SvSven commented on #974
Have not come across any issues so far, so I think we're good with this?

[2022-04-08 14:30] SvSven commented on #976
Looks to be working 👍
- https://www.equinor.com/en/news/archive/1999/12/28/VenezuelanInjectionStarts.html
- https://energyvision.app.radix.equinor.com/news/archive/1999/12/28/VenezuelanInjectionStarts

- https://www.equinor.com/en/news/archive/2010/12/22/22DecKristinCompressor.html
- https://energyvision.app.radix.equinor.com/news/archive/2010/12/22/22DecKristinCompressor

Should we use this same

[2022-04-08 14:36] SvSven commented on #920
@meols I believe you and the rest of the editors have already looked at this, correct?

[2022-04-08 14:38] SvSven opened #996 "Fix publish confirmation dialog"
The hooks implementation for the confirmation dialog before publishing breaks the i18n logic, and can't be used.
Simeon has suggested a potential workaround based on: https://github.com/sanity-io/demo-content-planning/blob/main/studio/src/actions/GoLive.js

Relates to #611

[2022-04-08 14:41] meols commented on #920
Yes @SvSven - that's right :thumbsup: There has been some issues with preview, but Tor (our news guy) has tested and confirmed today that it works at it should. Closing this one then :smile:

[2022-04-08 14:41] #920 closed

[2022-04-08 14:57] fernandolucchesi commented on #976
If the preview by ID follows a logic that is easy to follow then I'd suggest we add to the middleware, less hacky stuff in the code

[2022-04-08 15:17] BirteThornquist commented on #948
@wenche @SvSven Let's use "Moss Green 70" for active state color when pagination is used on light color.

 ![Skjermbilde 2022-04-08 kl. 10.12.44.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/363b4018-fd7a-463e-bfc5-8c0eb56e4164)

[2022-04-11 05:44] nilsml commented on #591
Friendlycaptcha is approved by legal.

[2022-04-11 06:38] #974 closed

[2022-04-11 06:38] #976 closed

[2022-04-11 06:44] #964 closed

[2022-04-11 07:55] fernandolucchesi opened #1000 "Secret Sanity"
Details can be found at https://github.com/equinor/energyvision/wiki/Groups-%E2%80%93-accesses-%E2%80%93-sites

[2022-04-11 08:21] wenche commented on #980
@meols  This should now be fixed, but you can't verify before its built to production :)

[2022-04-11 08:25] wenche commented on #799
@meols  Birte and I have made some tweaks to the grid for these cards. It's not easy to make something that works well for both 2 and 12 cards. :) It should look better now - but these cards doesn't look good if they are as wide as the news cards. It's also a matter of making the design look less dull than if every cards container looks the same, 3 cards in the same rows. :)

We think this is good

[2022-04-11 08:33] padms commented on #921
@BirteThornquist  Fixed the font size

[2022-04-11 08:56] nilsml opened #1001 "Error messages being displayed on console for news"
**Describe the bug**
Several console errors being displayed for news
<img width="737" alt="Skjermbilde 2022-04-11 kl  09 53 29" src="https://user-images.githubusercontent.com/1836295/162714548-81b1070e-4a24-4912-a71a-6e0fc2e78de0.png">

[2022-04-11 11:45] meols commented on #980
Thanks @wenche

[2022-04-11 11:45] #980 closed

[2022-04-11 11:51] meols commented on #799
Thanks @wenche - looks much better now :smile:
Agree that further improvements of cards is something for the backlog :thumbsup:

[2022-04-11 11:51] #799 closed

[2022-04-11 16:39] nilsml commented on #874
Covered by #617

[2022-04-11 16:39] #874 closed

[2022-04-12 08:12] nilsml opened #1002 "Restructure Azure environment"
*    [ ]  Make plan for how we should host stuff in Azure
*    [ ]  Create scripts using arm templates or bicep to create needed resources
*    [ ]  Change existing scripts to use new resources

[2022-04-13 09:19] padms opened #1003 "Handle domain level redirects like equinor.co.uk/mariner"
| Domain  | new |
| ---  | --- |
|equinor.co.uk/mariner	 |	/energy/mariner |
| equinor.co.uk	| /where-we-are/united-kingdom |
| equinorpensjon.no or statoilpensjon.no | /no/om-oss/equinor-pensjon |
| www.equinor.co.tz or www.statoil.co.tz | /en/where-we-are/tanzania |
|www.equinor.co.uk/mariner | /energy/mariner |
| www.equinor.co.uk | /where-we-are/united-kingdom |
| www.equinor.no | /no |
| equi

[2022-04-13 10:00] nilsml commented on #887
This was not easy. Using a hack now to include all dependencies in searc/node_modules/.pnpm but that is several thousand files we don't need. Have to find a better solution! For now we could at least consider zip-ing the files before upload to Azure, but the best solution would be to only include needed files.

References:

- https://github.com/pnpm/pnpm/issues/4378
- https://github.com/pnpm/pnpm/

[2022-04-13 10:01] nilsml commented on #887
Could also look into pnpm 7

[2022-04-13 10:51] padms commented on #962
Fixed  :)

[2022-04-19 06:26] wenche commented on #354
Some comments
- The query is obviously copy'n paste -> FTFY
- Too much hardcoded text -> gives `at least 20 minutes delayed` for Norwegian. Should have been a text snippet
- As always: would have preferred uppercase letters with CSS, not capslock :)
- Minor detail: No localisation formatting for the currency

[2022-04-19 06:31] wenche commented on #948
@SvSven  Removed your console.log

[2022-04-19 06:31] #948 closed

[2022-04-19 06:34] SvSven commented on #948
Oops, good catch.

[2022-04-19 06:35] #988 closed

[2022-04-19 06:35] wenche commented on #988
LGTM

[2022-04-19 06:45] #939 closed

[2022-04-19 06:53] wenche commented on #135
What's the simplest solution for fixing this on short term?

We need a way to create the content. Use a topic page?

[2022-04-19 07:04] #965 closed

[2022-04-19 07:05] #960 closed

[2022-04-19 07:43] SvSven commented on #354
Fixed text snippet and uppercase, not sure if localization for currency is a good idea or not. I would image that anyone interested in this understands that the NYSE trades in USD and the OSE trades in NOK.

Is there anything special we need to do in terms of screen readers for this content?

[2022-04-19 09:43] meols commented on #962
@padms - when testing both the Poland and the Storage site I have to refresh once to see the cookie list/declaration component
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/339f2635-852c-4fd3-9c2a-89fa96164e4f)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/0ac861cb-dd75-4b8f-b1ef-d819d564a182)

[2022-04-19 10:09] wenche opened #1004 "Add a load more button to the filter lists"
We are currently showing a lot of checkbox options for the newsroom search filters. In the hooks API, we have the option to add a show more button and limit the visible number of checkboxes to some custom value. I think this will make sense for a better UX.

![Skjermbilde 2022-04-19 kl. 12.05.50.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8982e85e-98bc-430b-aecc-18854ad3855e

[2022-04-20 06:11] SvSven commented on #996
Instead of using the GoLive approach (which can be seen here: https://github.com/equinor/energyvision/commit/a4b68849fffd1c6fbc460d6c85302bb6dd95c3d9) we decided to go another route and copy/modify the i18n publish function from the document-internationalization plugin, see: https://github.com/equinor/energyvision/commit/d299b78b8d15460c3257aadd04a465854dd9bbff)

Most of the code is unchanged, wit

[2022-04-20 06:12] SvSven commented on #1000
Fixed the issue with the custom actions resolver breaking the i18n plugin in https://github.com/equinor/energyvision/commit/67a7db67499386a387e06ebeeed98be7a6faf166

[2022-04-20 06:13] SvSven commented on #135
Suggested (and accepted) solution was to use a topic page with the promotion tile component to recreate this page in Sanity

[2022-04-20 06:31] wenche commented on #985
I did another audit yesterday, looking good and 1600 less pages. LGTM :thumbsup:

[2022-04-20 07:56] nilsml commented on #928
Set up for Azure functions. Will close this as this is in production and it does work. Note for later is to create scripts for setting this up using Bicep or Arm templates.

[2022-04-20 07:56] #928 closed

[2022-04-20 08:19] SvSven commented on #135
The URL for this page has changed from `/languages` to `/about-us/all-sites`
I have added the missing href to the `SiteMenu` and used the old URL which is currently used on equinor.com

We can set up a redirect in Sanity to point it in the right direction, and then update it in code after we have gone live.

[2022-04-20 10:00] SvSven opened #1006 "Refactor search hits into more generic component"
We currently have a lot of duplicate code, we should refactor this into a more generic and reusable component.

[2022-04-20 10:01] SvSven commented on #995
Copied some code, and updated the attribute fields, and it seems to magically work.

Have added #1006 to create a more reusable component for these hits.

[2022-04-20 11:29] SvSven commented on #1001
I'm not able to reproduce this, not in the newsroom nor a news article - neither archived nor Sanity news.

However if I were to take a wild guess then I think the problem is it's trying to render a field that has no value; will double check the code and make sure we check for values before rendering.

[2022-04-20 12:47] nilsml commented on #584
All but the source code one should be covered now. We need to find a way to handle twitter feeds.

[2022-04-20 13:26] wenche opened #1007 "Find a way to inform investors about upcoming investor events without a scheduled time"
Old title: `Don't show the "Details" button on event cards with no information beyond default`
Use case would be if an event is created upfront for like quarterly result presentations.

### Things to consider
- Exactly what information should not be present in an event to be considered as a placeholder event. Is it enough to test for things like missing description or iframe, or do we need some ex

[2022-04-20 13:33] SvSven commented on #995
@wenche things magically worked so I assume I did this right 😬

[2022-04-20 13:37] SvSven opened #1008 "Update allSites link for global site to use internal link"
We currently use the old `equinor.com/languages.html` link - a redirect has been set up to point this to the right page in Sanity.
Once we are live with the global site, we should update this in the code to point to the correct page directly.

[2022-04-20 13:38] #135 closed, assigned to SvSven

[2022-04-20 13:42] SvSven commented on #1001
Added some additional guards to check if the block content arrays (content and ingress) have a length greater than 0.
Not sure if that was what caused these errors, but it never hurts.

[2022-04-20 13:53] wenche opened #1009 "Add the option for a title in the cookie consent component"
In order to avoid to use a separate text block component for the cookie consent title, it should be possible to add a title in the component itself to avoid spacing issues. See /about-us/cookie-policy

![Skjermbilde 2022-04-20 kl. 15.51.38.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/734f6e57-a4d1-4a01-b204-21cfa8af0017)

![Skjermbilde 2022-04-20 kl. 15.56.58.png](https://ima

[2022-04-20 13:55] SvSven commented on #994
I can see the `rel="alternate"` tags on Sanity pages that have a translation, and can see the canonical one on both Sanity pages with and without a translations.

Can't see them on legacy news pages - do we need them there too?

[2022-04-20 13:59] #1001 closed

[2022-04-20 14:49] wenche opened #1010 "Filter newsroom routes in getStaticPaths"
During build process, the newsroom routes are not removed

![Skjermbilde 2022-04-20 kl. 16.46.35.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/13ad9cda-bc4f-4f88-80f7-7eee55f5c7c8)

[2022-04-21 05:44] SvSven commented on #995
We can put in an easter egg, where if there are > 1000 hits and the user navigates to the last page they are shown a "Congratulations, you've won the game" thing

[2022-04-21 05:46] #354 closed

[2022-04-21 05:47] SvSven commented on #354
The automatic formatting of the timezone by react-intl _might_ be a concern for stakeholders, since it shows CET for some and GMT+1 (or equivalent for whatever time of year it is) for others. We'll keep just keep it until we get any comments on it.

There's also the question of how relevant the date really is considering we don't show the actual _time_ - but then the original component on equinor.

[2022-04-21 06:03] SvSven commented on #995
@meols We have a tab for "News" in the search results, it works as one would expect but take note of what @wenche wrote above; we have a limit of 1000 search results, but with the vast news archive we can have more than 1000 results for news.

I have taken the liberty of adding the Norwegian translation for the _Nyheter_ tab in production already; you can find this under Settings > Text Snippets >

[2022-04-21 06:04] SvSven commented on #996
@meols The confirmation dialog when publishing news and local news should be in place again now - it works the same as before (we were able to fix the issue we had), so nothing "new".

[2022-04-21 06:18] meols commented on #996
Great @SvSven :clap: - thanks! This is very reassuring for us :smile:

[2022-04-21 06:18] #996 closed

[2022-04-21 06:25] SvSven commented on #617
I can confirm that we are getting archived news from Algolia in both the search results and newsroom, and I can also see them in Algolia.

So.... looks good to me 👍

[2022-04-21 06:32] SvSven commented on #993
Doing a CTRL+F shows news, archived news, and local news (searched for `/news/uk/` for local news) in the sitemap: https://energyvision.app.radix.equinor.com/sitemap.xml?lang=en

So looks good to me 👍

[2022-04-21 06:34] meols commented on #995
Thanks @SvSven - great!
I still see English and not Norwegian texts in the Norwegian search results tabs (but see that it is correct in the text snippets).

[2022-04-21 07:03] SvSven opened #1013 "Text snippets in search not showing Norwegian translation in /no/"
As of writing, the labels in search when on the Norwegian website are showing the English version, despite translations being available in the studio.

https://energyvision.app.radix.equinor.com/no/search?query=equinor

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/505a609a-77d0-4b31-8f43-7761724ce3fe)

[2022-04-21 07:41] SvSven opened #1014 "Spacing on "Latest news" title at bottom of news articles is too small"
There should be more space between the "Latest news" title and the news cards

Check with @BirteThornquist

[2022-04-21 08:22] fernandolucchesi opened #1015 "Add DNS redirects to middleware"
[code]

[2022-04-21 10:35] wenche opened #1016 "Date issue in iOS"
Safari/iOS doesn't show the date for events correct because of the use of - in the date

![Skjermbilde 2022-04-21 kl. 12.38.33.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/eb5c9f0e-147b-41b0-90bf-61c8c2a7ce6e)

[2022-04-21 11:40] BirteThornquist opened #1017 "Allow possibility to choose link style?"
Should it be possible to override the button style for a CTA? On some pages there are several text components with download links , one or several. Today it looks a bit weird that some of them are a button (singular) while others a link style. See attached screenshot

![Skjermbilde 2022-04-21 kl. 13.25.30.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/e58701ff-d504-475d-a692-a1

[2022-04-21 11:52] SvSven commented on #1014
@BirteThornquist Ready for review - should be the same as the News list and Local News list now: `--space-xLarge`

[2022-04-21 12:00] BirteThornquist opened #1018 "Too little space around the "Array of text and icon" component"
Some places there is not enough space. Like the following screen example:

![Skjermbilde 2022-04-21 kl. 13.54.58.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/2e644cb1-4a4f-485a-9ea7-9ba44f421f98)

[2022-04-21 12:04] BirteThornquist commented on #1017
Also check this page: https://www.equinor.com/sustainability/impact-assessments

[2022-04-21 13:08] #924 closed

[2022-04-21 13:13] #820 closed

[2022-04-21 13:14] #811 closed

[2022-04-21 14:48] wenche opened #1019 "Fix external links in the footer"
Every link in the footer uses the Next link component and this causes troubles in the production site

[2022-04-22 05:44] wenche opened #1020 "Look into the 404 with Next prefetch of json files"
We see a lot of 404 of json files when Next.js are prefetching content due to optimisation. This doesn't look good and it pollutes the

![Skjermbilde 2022-04-22 kl. 07.44.27.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/6d7c8074-79a4-4f2f-a6a1-6d0192e9a636)

[2022-04-22 07:04] SvSven opened #1021 "Preview for unpublished news does not work"
The middleware for redirecting `/news` to `/news/archive` has broken the preview for unpublished news articles - we need to account for draft documents in this function somehow.

[2022-04-22 08:11] padms commented on #962
@meols Could you please try one more time? It was fixed in preprod, may be it was not deployed to prod when you tested it. I could see the declaration loading immediately for all the sites in production.

[2022-04-22 08:30] wenche opened #1022 "Verify robots.txt"
Lighthouse reports an error for the robots.txt file. Check this.

![Skjermbilde 2022-04-22 kl. 10.29.21.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/cf2b5146-bbdd-46f8-b58d-a2501a4ae5dd)

[2022-04-22 08:54] wenche opened #1023 "Double // in canonical for English"
Audit tool reports a lot of errors with "[Has outgoing hreflang annotations to canonicalized URLs](https://sitebulb.com/hints/international/has-outgoing-hreflang-annotations-to-canonicalized-urls/)"

Example
https://www.equinor.com/no/baerekraft has the following hrefLangs and canonicals
`<link rel="alternate" hrefLang="en" href="https://www.equinor.com/en/sustainability"/>`
`<link rel="alternate"

[2022-04-22 08:57] nilsml commented on #170
Dialog with @ReedOnly about missing headers. Will try to lure his team to do an audit on our solution.

[2022-04-22 08:58] nilsml commented on #283
Isnt't this done @SvSven ?

[2022-04-22 09:03] SvSven commented on #283
We did not discuss it in the end, but it is enabled yes - and also needed for some pages. So we can close this unless anyone has any serious objections (which they will need to take up with the editors in that case)

[2022-04-22 09:35] wenche opened #1024 "Aria attributes must conform to valid values"
Audit reports several issues here, and I'm not able to see by first glance why this is the case. But the pages listed seem to have forms in common.

![Skjermbilde 2022-04-22 kl. 11.37.24.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/f9fab7cc-f69b-49ad-996a-4c1f5feb8741)

### Acceptance criteria
- If this is an issue, it should be fixed

[2022-04-22 11:23] SvSven commented on #1021
Added some checking for preview mode to the logic, and it will now check for draft documents if preview mode is enabled - which should solve the problem.

Interestingly enough this seems to have made it less complex in the process, which is nice.

[2022-04-22 11:30] padms opened #1025 "Add missing /.well-known/security.txt"

[2022-04-22 11:40] SvSven commented on #1019
LGTM 👍

[2022-04-22 11:42] SvSven commented on #1015
Looks to be working quite nicely 👍

[2022-04-22 11:45] SvSven commented on #995
The text snippets looks to be a bigger problem with search in general, all of the snippets in search seem to be English regardless of locale. Made a separate issue to investigate #1013

[2022-04-22 11:45] #995 closed

[2022-04-22 11:46] SvSven commented on #887
We should probably do a walk through of this sometime next week

[2022-04-22 12:43] fernandolucchesi opened #1026 "Add external redirects"
We should be able to redirect internal pages to external pages.

Example:

https://www.equinor.com/en/what-we-do/beaconwind.html - www.beaconwind.com

[2022-04-25 06:16] nilsml commented on #887
Yes, we can set up a walk-through. I guess that goes for several things I have worked on in the project...

[2022-04-25 06:18] nilsml commented on #438
The simplest of versions is set up for the project now, but no dashboard in Grafana is using it yet. Also a concern that this information is visible to everyone. How can we secure it?

[2022-04-25 06:21] nilsml commented on #184
I guess #1000 is a duplicate of this @fernandolucchesi?

[2022-04-25 06:22] nilsml commented on #493
Not sure if this is relevant anymore. We should discuss this and see if what we have through Sanity management console is enough.

[2022-04-25 06:22] nilsml commented on #557
This is done already

[2022-04-25 06:22] #557 closed

[2022-04-25 06:23] nilsml commented on #610
Manual work for now. Will keep this in the backlog as a reminder for pushing Sanity on a better solution.

[2022-04-25 06:24] nilsml commented on #966
I guess this is solved @wenche?

[2022-04-25 06:57] SvSven opened #1027 "Update web & studio dependencies"
We have had a "update freeze" as we got close to going live. We are now live and everything seems to work, so we should aim to get things up to date.

Relates to #852 - which fixes some issues (like the "Delete all (incl. translations" action)

**We need to thoroughly test things before we push any updates to production**

[2022-04-25 07:02] #1026 closed

[2022-04-25 07:03] #617 closed

[2022-04-25 07:09] fernandolucchesi opened #1028 "Missing data for menu and footer in archived news"

[2022-04-25 07:13] SvSven opened #1029 "As a stakeholder I need to be able to view content before it has been published in the web so that I can review it"
Drafts should not be publicly accessible outside of the studio. How can the editors send links to stakeholders for content that is in draft without exposing all draft content to the public

## Acceptance criteria
1. Preview should still work for all documents / translations
1. Editors should be able to easily get a shareable link to share with stakeholders

[2022-04-25 07:33] fernandolucchesi opened #1030 "Add missing security headers"
Add

- [x] X-DNS-Prefetch-Control
- [x] Strict-Transport-Security
- [x] X-XSS-Protection
- [ ] X-Frame-Options
- [x] Permissions-Policy
- [x] X-Content-Type-Options
- [x] Referrer-Policy
- [ ] Content-Security-Policy

[2022-04-25 07:36] fernandolucchesi commented on #493
This was handled by https://github.com/equinor/energyvision/issues/939

[2022-04-25 07:37] fernandolucchesi commented on #184
You are correct, closing it

[2022-04-25 07:37] #184 closed

[2022-04-25 07:43] wenche commented on #1023
LGTM using the audit tool :thumbsup:

[2022-04-25 07:43] #1023 closed

[2022-04-25 07:47] wenche commented on #994
@fernandolucchesi  Can't see them on legacy news pages - do we need them there too? ^^

[2022-04-25 08:05] meols commented on #962
Thanks @padms - now it was there immediately (both for Storage and Poland)

[2022-04-25 08:05] #962 closed

[2022-04-25 08:26] #493 closed

[2022-04-25 08:59] #985 closed

[2022-04-25 09:00] nilsml commented on #993
@meols to have a look and confirm

[2022-04-25 09:03] nilsml commented on #1015
@meols go through the list of urls and verify

[2022-04-25 09:05] nilsml commented on #1019
@meols verify links in the footer

[2022-04-25 09:06] nilsml commented on #1015
Test with http, https and www

[2022-04-25 09:06] nilsml commented on #1003
#1015 will verify this

[2022-04-25 09:06] #1003 closed

[2022-04-25 09:07] nilsml commented on #921
@BirteThornquist to confirm this

[2022-04-25 09:08] nilsml commented on #1021
@jojog007 to retest and confirm this

[2022-04-25 11:19] wenche commented on #1020
I'm not able to reproduce this issue today, at least not to that degree as we saw on Thursday. However, there are a lot of 404s in the logs, but there's different types of issues causing them.

One of them seems to be an issue with Next.js and prefetching. With next/link, Next.js will always prefetch on hover even with prefetch=false. This seems to be causing issues with our localisation switch. E

[2022-04-25 11:30] wenche commented on #1022
LGMT and Lighthouse :thumbsup:

[2022-04-25 11:30] #1022 closed

[2022-04-25 11:31] wenche commented on #1016
@BirteThornquist  Could you double check as well since you reported this

[2022-04-25 12:14] wenche commented on #1028
This is happening because the archive news is not updated to the latest changes we did with the filter data for the private dataset.

[2022-04-25 12:20] wenche commented on #1028
@fernandolucchesi  Can you verify that my theory and corresponding fix makes sense?

[2022-04-25 12:34] padms commented on #1015
@meols  equinor.ca and equinor.nl are not addressed from this list
https://statoilsrm-my.sharepoint.com/:x:/g/personal/padms_equinor_com/EWsP-MAxwo1EiGhKjbyPpCIBUTg-FAEbbiaPYAKnmoEixw?e=k72Lbu

[2022-04-25 13:46] nilsml commented on #170
#1030 relates to this

[2022-04-26 04:41] nilsml opened #1031 "Improve logging"
**In order to better monitor the health of the application, we should improve logging**

## Acceptance criteria
- Logs from the server can be retrieved
- Logs from clients can be retrieved
- It is possible to search through logs
- Exceptions can be traced
- Logs can be accessed in a central place

[2022-04-26 04:42] nilsml commented on #1030
Please state in the issue what header we are adding and how to test @fernandolucchesi

[2022-04-26 07:01] #993 closed

[2022-04-26 07:01] meols commented on #993
Looks good :thumbsup:

[2022-04-26 07:35] wenche opened #1032 "Add ErrorBoundary component"
Crashing the application when there's a client side error is not optimal. Look into adding an ErrorBoundary component, probably something like the [suggested approach from the Next.js docs](https://nextjs.org/docs/advanced-features/error-handling#handling-client-errors) will cover our needs.

[2022-04-26 07:39] wenche commented on #1031
Also see #1032 for where to log client side errors

[2022-04-26 07:41] meols commented on #894
@nilsml - can this issue be prioritized, adding anchor option to internal link in text. We have received a request from Legal to prioritize this - due to it being of a complaint from Datatilsynet, that Equinor has a deadline to handle before mid-May.

[2022-04-26 07:44] SvSven opened #1033 "infinite crash loop when cookiebot script is blocked"

[2022-04-26 07:45] meols commented on #894
[https://app.zenhub.com/files/224120954/46f605f2-45af-490c-9f52-3c43b0530e3d/download](https://app.zenhub.com/files/224120954/46f605f2-45af-490c-9f52-3c43b0530e3d/download)

[2022-04-26 08:03] fernandolucchesi commented on #1000
@meols

[2022-04-26 08:11] nilsml opened #1034 "Previewing a page that only exists in Norwegian gives 404"
**Describe the bug**
Previewing a page that only exists in Norwegian gives 404 in Sanity Studio.

**To Reproduce**
Steps to reproduce the behavior:
@meols to add more details

**Additional context**
Link to page

[2022-04-26 08:12] nilsml commented on #1034
Cc @fernandolucchesi

[2022-04-26 08:14] nilsml opened #1035 "Prepare deployment scripts for deploying to new cluster"
Ref Radix for description on how to change our scripts.

Also communicate new url's to the DNS team.

[2022-04-26 08:21] fernandolucchesi opened #1036 "Launch remaining satellites"
-> Argentina (6/5)

-> Equinor Fondene (9/5)

-> Japan (10/5) - postponed to (11/5)

-> Move global to new cluster (12/5)

-> Move storage and poland to the new cluster (13/5)

-> Brazil (19/5)

-> Germany (19/5)

-> South Korea (?)

[2022-04-26 10:31] wenche commented on #1013
This doesn't happen with build + start locally. The language should be attached during static build, so it's a litte bit hard to tell the difference here. However, the /search page doesn't have revalidate so I'm adding that to the code since we need to revalidate in between builds if the menu or footer data updates. This might mask the original issue though.

[2022-04-26 13:19] meols commented on #1019
Looks good :smile:

[2022-04-26 13:19] #1019 closed

[2022-04-27 06:26] #639 closed

[2022-04-27 06:28] nilsml commented on #812
Relates to #1036

[2022-04-27 06:30] #887 closed

[2022-04-27 09:04] #1021 closed

[2022-04-27 09:28] meols commented on #921
@padms - I just tested the Order annual report form, which worked :thumbsup: But can you please update the information going to serviceNow to be "**Årsrapport**" and not "Statutory Report" when you order the Norwegian report (it was like that in AEM as well, but it should be corrected)

[2022-04-27 09:36] fernandolucchesi commented on #1028
Works great to me!

[2022-04-27 09:38] fernandolucchesi opened #1037 "Add localization switch and localization head tags to archived news"
For more context: #994

[2022-04-27 09:39] fernandolucchesi commented on #994
Implementation for archive news will be handled on #1037

[2022-04-27 09:39] #994 closed

[2022-04-27 09:39] #1028 closed

[2022-04-27 10:44] meols commented on #1015
@fernandolucchesi @padms - thanks, I've tested and have some comments:
statoilpensjon.no - is not redirected (to /no/om-oss/equinor-pensjon)
equinor.nl - redirect to home page can be removed
equinor.ca - please create a redirect to /where-we-are/canada

[2022-04-27 11:24] SvSven commented on #1033
If Cookiebot was blocked by the client, it would cause an infinite client error loop which crashed the site. This was because every time the path updated, it would attempt to run the Cookiebot script on the window object, which did not exist.

I have added some additional checks/error handling to prevent the crash loop from happening: https://github.com/equinor/energyvision/commit/de55554271b1ebe1

[2022-04-27 11:32] SvSven commented on #1032
I have added an ErrorBoundary component to the `_app.tsx` that should catch and handle fatal client errors, using the `react-error-boundary` wrapper package: https://github.com/bvaughn/react-error-boundary

See: https://github.com/equinor/energyvision/commit/e3c2c110acece33db38fadb474f072296db45e7f

It has a basic but nice design for now:
![image.png](https://images.zenhubusercontent.com/5dba9d22e

[2022-04-27 11:46] meols opened #1038 "Issues with news publishing"

[2022-04-27 11:52] meols commented on #1038
When publishing the first "real" news today Tor discovered that the visible published time was the created time (06:27) and not the real published time (08:00) as expected. Custom date was not used.

[2022-04-27 11:54] fernandolucchesi opened #1039 "Add the secret project to the CI/CD pipeline"
Studio and web needs to be deployed together with the global prod.

[2022-04-27 12:06] SvSven commented on #1033
This can be tested by blocking Cookiebot. I did that using the Ghostery extension and pressing the magical "Restrict website" button. Tested it in Vivaldi since we got a bug report form someone using that browser specifically, but it probably behaves the same in other browsers and other extensions that can/do block Cookiebot.

[2022-04-27 13:07] SvSven opened #1040 "Update jest to v28"
Jest v28 has some breaking changes we have to look at: https://github.com/facebook/jest/releases/tag/v28.0.0

Updating it without changes unfortunately breaks our setup

[2022-04-27 13:13] SvSven commented on #1027
Upgrading `next-sanity` to v0.5 is blocked by #941

[2022-04-27 13:16] SvSven opened #1041 "update react & react-dom to v18"
React v18 has a number of changes we should review before upgrading: https://github.com/facebook/react/releases/tag/v18.0.0

[2022-04-27 13:17] SvSven commented on #1027
Upgrading React to v18 has its own issue since it's a major update that touches every aspect of our code: #1041

[2022-04-28 06:44] padms commented on #1015
@meols  Can we ignore statoilpensjon.no?

[2022-04-28 07:37] nilsml commented on #438
Putting this on hold for now. Will continue once more urgent tasks have been completed.

[2022-04-28 10:54] wenche commented on #1008
LGTM :thumbsup:

[2022-04-28 10:54] #1008 closed

[2022-04-28 11:06] meols commented on #1015
@padms - I think we should keep statoilpensjon.no, as I wouldn't be surprised if retired people still think of the company as Statoil.

[2022-04-28 11:21] SvSven commented on #894
@wenche @fernandolucchesi Added a quick fix solution, but we should probably make a proper table of content component at some point

[2022-04-28 11:43] #875 closed

[2022-04-28 11:46] #966 closed

[2022-04-28 11:55] wenche commented on #963
Needs refinement and should probably be tested by a developer

[2022-04-28 11:58] wenche commented on #648
This is no longer relevant

[2022-04-28 11:58] #648 closed

[2022-04-28 12:10] wenche commented on #1016
If this doesn't work for some devices we should create a new issue, since it's the not the usual iOS bug with Date()

[2022-04-28 12:10] #1016 closed

[2022-04-28 12:10] wenche commented on #1014
LGTM :thumbsup:

[2022-04-28 12:10] #1014 closed

[2022-04-28 12:30] wenche commented on #971
Now using the EDS CDN in preprod since EDS has changed the TTL. It seems to work pretty well. :thumbsup: I think we should just stick to this for now.
- Lighthouse seems to be happy
- Using Network tab it's loaded from memory cache
- The change of font for the end user has improved significantly

@SvSven  What do you think?

[2022-04-28 12:39] SvSven commented on #971
First hit on the page without cache still has the jump, but afterwards it's no longer doing it - so it's much better. 👍

[2022-04-28 13:17] nilsml opened #1042 "Magazine template on Sanity"
Placeholder for magazines

Topic page schema could be used as for the MVP
Should have it is own menu item
Should include Subscription (to be handled in #1147)

For the future we will need a custom template (designed by an UX)

[2022-04-28 13:42] nilsml commented on #919
Not relevant right now. Other ways to make Algolia better.

[2022-04-28 13:42] #919 closed

[2022-04-28 13:45] nilsml commented on #833
Set up a timer trigger now with 5 minutes intervals, but this should be replaced something more sophisticated.

[2022-04-28 13:48] #329 closed

[2022-04-28 13:51] #163 closed

[2022-04-28 14:04] wenche commented on #894
You should be able to test this shiny new feature in https://studio-global-energyvision-preprod.radix.equinor.com/desk @meols :)

[2022-04-28 14:27] wenche commented on #1030
Since the webs are used for the preview in Sanity it is not possible to add the  `X-Frame-Options`

[2022-04-29 06:29] SvSven commented on #894
In the long run we should probably make a proper table of content component that can automatically generate the links based on the headings used - but for now this should work to fix the immediate problem.

[2022-04-29 07:15] nilsml commented on #438
Code sandbox with example on how to use prom-client: https://codesandbox.io/s/next-js-api-prom-client-hhvdi?file=/pages/api/page/%5Bid%5D.ts:326-342

[2022-04-29 07:41] #900 closed

[2022-04-29 07:41] nilsml commented on #899
Doable with the approach we currently use in Sanity

[2022-04-29 07:41] #899 closed

[2022-04-29 07:43] nilsml commented on #394
Same redirect approach in Sanity works for vanity url's

[2022-04-29 07:43] #394 closed

[2022-04-29 07:45] #647 closed

[2022-04-29 07:55] nilsml commented on #853
We should upgrade Sanity and try using the live preview again. If it doesn't solve our issues we should take that up with Sanity.

[2022-04-29 08:01] nilsml commented on #852
Let's wait until we have updated Sanity

[2022-04-29 08:06] nilsml commented on #170
Not relevant

[2022-04-29 08:06] #170 closed

[2022-04-29 08:13] nilsml commented on #605
Have a discussion on this issue to set up acceptence criteria

[2022-04-29 08:17] nilsml commented on #833
Inform @meols and @jojog007 about the process right now.

[2022-04-29 08:18] nilsml commented on #895
@wenche to update this card after talking to expert

[2022-04-29 08:21] nilsml commented on #1041
Let's look into this task to see how big it is.

[2022-04-29 08:27] nilsml opened #1043 "Discuss timing issues when publishing"

[2022-04-29 08:31] nilsml opened #1044 "Look into having a separate dataset for preprod"

[2022-04-29 08:32] nilsml commented on #1044
Also make sure that preprod is pointing to preprod for preview

[2022-04-29 08:47] nilsml opened #1045 "Copy/paste functionality in Sanity"

[2022-04-29 09:21] meols opened #1046 "Small text jumping outside margins on news template"

[2022-04-29 09:25] meols commented on #1046
@nilsml - forgot to mention this urgent issue in the meeting today - just added it on slack yesterday; When testing a news similar to the quarterly results news article, we seethat small text is jumping outside of margins to full width: https://web-global-development-energyvision-dev.radix.equinor.com/news/equinor-third-quarter-2021-results We will use small text the same way in the news article o

[2022-04-29 09:29] nilsml commented on #1046
@meols  Fixing this will require deploying one more time to production though, and that may include the non-finished friendlycaptcha implementation. Correct me if I am wrong @padms

[2022-04-29 09:31] meols commented on #894
@SvSven - I saw that I can create an anchor link, but when clicking on it in preview I jump to the top of the page and created anchor links disappeared. As mentioned in the meeting I really don't understand the preprod vs prod preview - I thought I couldn't test it because it was mentioned that it is prod data and preview, but I see the links in preview. If the test is that I can create an anchor

[2022-04-29 10:34] wenche commented on #1030
[Google Tag manager](https://developers.google.com/tag-platform/tag-manager/web/csp)
[Algolia](https://www.algolia.com/doc/guides/security/security-best-practices/#content-security-policy)
[Siteimprove](https://help.siteimprove.com/support/solutions/articles/80000448448-adding-siteimprove-analytics-javascript-to-your-website#CSP)
[Cookiebot](https://support.cookiebot.com/hc/en-us/articles/36001890

[2022-04-29 10:38] meols commented on #1046
@nilsml @padms - if another deploy will be required next week we should avoid it. I have tested a (probably not optimal) workaround with using subscript or superscript to get small text.

[2022-04-29 10:42] SvSven commented on #1046
I've fixed the issue and is available on https://web-global-development-energyvision-dev.radix.equinor.com/news/equinor-third-quarter-2021-results

It would require another deploy yes, but we may be able to cherry pick which stuff we deploy @nilsml ?

[2022-04-29 10:52] SvSven opened #1047 "Crude oil assay news articles return 404 in archive"
The URL used to fetch the content for crude oil assay articles in the news archive is incorrect - it is trying to fetch the content with `archive` in the URL, while it should exclude that.

`/en/news/archive/crudeoilassays/crude-oil-assay-update-16-03-22`

Reason for this could be that crude oil assays are in a folder named `crudeoilassays` inside the news archive

[2022-04-29 11:41] fernandolucchesi opened #1048 "Validate requests to newsletter distribution endpoint"
Currently we do  not validate requests to the endpoint. This is a critical security flaw since anyone can exploit the endpoint, specially because our codebase is open source. Auth headers / secrets should be added to the webhook request.

[2022-04-29 11:49] SvSven commented on #1047
This is ready to be reviewed @wenche @fernandolucchesi @padms

The 404's were being caused by the logic that handles _archived_ archive news (news that already had `archive` in the URL in AEM). I have updated the logic that handles it (and made it more functional, which should make @nilsml happy) to account for the `crudeoilassay` URLs.

This link now no longer is a 404: https://web-global-develop

[2022-04-29 12:13] #971 closed

[2022-04-29 12:19] wenche commented on #1047
Doesn't look too good with `crudeoilassays` special logic, but whatever floats our boat :sweat_smile:

[2022-04-29 12:22] SvSven commented on #1047
Yeah having it hard-coded like that is not particularly nice, but not sure how else to incorporate it into this, since we can't just do a redirect.

[2022-04-29 15:48] meols commented on #1046
Thanks @SvSven - looks good :thumbsup:

[2022-04-29 15:50] meols opened #1049 "Crude oil shouldn't display on the front page or in the newsroom"
The crude oil is a workaround for newsletters.

We need to discuss the solution here, but something like
- Add a switch in Sanity -> only for newsletter/hide from web or something like that
- Delete it from all Algolia indexes
- Update the Sanity query for both the web and the search to not fetch documents with the hide switch set to `true`
- Filter from the promote news card list (and filter from

[2022-05-02 05:43] fernandolucchesi commented on #1039
@nilsml can you please take a look at this one? :)

[2022-05-02 05:55] nilsml commented on #1039
I will, eventually...

[2022-05-02 05:56] fernandolucchesi commented on #1038
The problem with custom date being erroneous set was caused by the field rounding the value to 15 minutes intervals. This has now been updated to 1 minute instead.

As for:

I finally understood the misunderstanding. The created time (06:27) is shown in Preview only, because the news has not yet been published and therefore a "real published time" does not exist yet. However, once the article is p

[2022-05-02 05:57] fernandolucchesi commented on #1038
@meols can you take a new look at this issue? :)

[2022-05-02 06:12] fernandolucchesi commented on #1047
I love how the link now works, and all it has is a new link to a 404 page. Should we have redirects for these or we don't care about archived content links?

[2022-05-02 06:27] wenche commented on #1013
I'm not sure how much time we should spend on this. With the revalidate time added, it has the correct Norwegian translations for the search overlay. What do you say Sven, do yo think it's good enough?

[2022-05-02 06:34] #1046 closed

[2022-05-02 06:44] #1032 closed

[2022-05-02 06:50] #1013 closed

[2022-05-02 06:59] #591 closed

[2022-05-02 07:25] wenche opened #1051 "Upgrade pnpm to v7"
pnpm v7 is released, and we should look into [what it takes to upgrade](https://github.com/pnpm/pnpm/releases/tag/v7.0.0)

[2022-05-02 07:30] padms commented on #921
@meols The "Statutory Report - Yes" in the description of RITM is coming from service-now. I will create a ticket with service-now team to fix that.

[2022-05-02 08:30] wenche commented on #1020
Decision from today's meeting:
- Create a new and isolated issue for the Next.js prefetch with the language switch
- When we have Azure Insight up and running we should look more into the different types of 404s and see if we can remove some of them
- We are not able to reproduce the original screenshot from the issue. Might have been something with the release and DNS propagation

[2022-05-02 08:30] #1020 closed

[2022-05-02 08:33] wenche opened #1052 "Issues with Next.js and prefetching with the language switch"
With next/link, Next.js will always prefetch on hover even with prefetch=false. [See related discussion.](https://github.com/vercel/next.js/discussions/11793) This seems to be causing issues with our localisation switch. Example:

On a Norwegian page, say /no/om-oss, hover the English equivalent. Next.js will then prefetch the content /en/about-us.json but also, for unknown reasons, also prefetch

[2022-05-02 08:34] wenche commented on #1030
Waiting for feedback from SEO Thomas

[2022-05-02 08:43] wenche commented on #756
Looking into this since it is such an annoying thing in the console on localhost

[2022-05-02 09:06] fernandolucchesi commented on #894
Please test it on https://studio-global-development-energyvision-dev.radix.equinor.com/desk

[2022-05-02 09:12] #1000 closed

[2022-05-02 09:18] fernandolucchesi commented on #1015
It can be ignored.

[2022-05-02 09:18] #1015 closed

[2022-05-02 09:44] nilsml commented on #1039
Looks good! Will close this.

[2022-05-02 09:44] #1039 closed

[2022-05-02 10:31] wenche commented on #1030
Perhaps we shouldn't use `style-src-elem` and `script-src-elem` if it's bleeding edge
![Skjermbilde 2022-05-02 kl. 12.30.53.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/60923c79-48bf-422a-93b0-63c58eae420a)

[2022-05-02 10:35] wenche commented on #756
### Mobile
Not translated: Hide language info
Translated: Show only the opposite language

### Desktop
Not translated: Show the current language only
Translated: Show the complete language switch

[2022-05-02 10:51] wenche commented on #756
@SvSven  Do you mind to take a look, since this component is pretty confusing :sweat_smile:

[2022-05-02 10:52] #1033 closed

[2022-05-02 10:52] wenche commented on #1033
LGTM :thumbsup:

[2022-05-02 11:42] SvSven opened #1053 "Add option to restrict documents from being index by Algolia"
There are some pages that should not show up in the search results/newsroom. We don't currently have a way of filtering these out.

Suggest approach:
- Add a switch field in Sanity on the documents called `shouldIndex` or `includeInSearch` or similar
- Field should default to true
- Potentially restrict access to this field to specific roles
- Add filtering to search indexing code to skip document

[2022-05-02 12:31] wenche opened #1054 "Use v6 for pnpm on CI"
Breaking changes with pnpm v7, and we should not use latest blindly when we are in production. Also see #1051

- [x] legacy-js
- [x] PREPROD-studios
- [x] PREPROD-webs
- [x] PROD-equinor-algolia-indexers
- [x] PROD-studios
- [x] a11y
- [x] DEV-studio
- [x] DEV-web
- [x] storybook
- [x] Codespaces dockerfile

[2022-05-03 08:34] wenche commented on #1010
Not the prettiest solution, but I added a black list for topic slugs

[2022-05-03 09:04] SvSven commented on #630
Added the protocol and hostname to the preview redirect. Looks to be working both locally and on radix with global-dev.

[2022-05-03 10:15] SvSven commented on #756
Warning is gone ✅
Not really sure why we decided on using the window breakpoint in the first place, but doing this with CSS seems like a better approach 👍

[2022-05-03 10:20] SvSven commented on #742
Fixed in #1033

[2022-05-03 10:20] #742 closed

[2022-05-03 10:24] SvSven commented on #765
We no longer use static topic pages; only the news archive - so I'm assuming this is no longer an issue

[2022-05-03 10:24] #765 closed

[2022-05-03 10:25] SvSven commented on #771
Fixed/improved in #971

[2022-05-03 10:25] #771 closed

[2022-05-03 11:12] SvSven opened #1055 "Validation for heroImage in news & localNews schema does not work"
The validation for the `heroImage` field does not seem to do anything at all. The field will have a value by default due to one of the nested fields having an initialValue, but writing a custom validation that specifically checks for the existence of an asset like so:

[code]

does not work.

Even when rewriting it to:

[code]

will make it pass validation regardless of whether it has any content

[2022-05-03 11:14] SvSven commented on #773
Confirm if this is still an issue after #1055 is fixed
This particular issue might be solved after Sanity redesigned the image selection field.

[2022-05-03 11:17] SvSven commented on #845
@BirteThornquist can you confirm if this is according to design or not?

These pages have a long title where you can see the issue:
- https://www.equinor.com/energy/renewable-energy-and-low-carbon-solutions
- https://www.equinor.com/sustainability/reporting

[2022-05-03 11:28] SvSven commented on #889
This has since been fixed - the problem was corporate network policy not playing nice with Sanity if I recall correctly.

[2022-05-03 11:28] #889 closed

[2022-05-03 20:15] meols opened #1056 "Error when sharing a link to a Norwegian only page on facebook"

[2022-05-03 20:16] meols commented on #1056
The issue is related to this page:   https://www.equinor.com/no/karriere/rekruttering-operasjonsgrupper.

[2022-05-04 06:53] SvSven opened #1058 "Test live preview hook feature to see if problems are solved"
We should test out the live preview hook again to see if the problems we had with delays and the studio crashing are fixed.

Should upgrade the Sanity dependencies before trying this out

[2022-05-04 07:13] nilsml commented on #1044
Being worked on together with #1035

[2022-05-04 07:34] wenche opened #1059 "Look into tree shaking with the component folder"
With `next build` we see that the `First Load JS shared by all` is pretty big, 173kB at the moment of writing. By analysing the client side bundle, it seems like every component from the component folder is added to  the bundle. This might be because of missing tree shaking with the barrel file approach in the component folder. Also [possible related](https://stackoverflow.com/questions/64485105/a

[2022-05-04 08:37] SvSven commented on #1056
@fernandolucchesi @wenche I've updated the `getFullUrl` function to take locale into account, which should fix this issue. Have also taken the liberty of fixing the broken `og:url` for archived news, which wasn't being handled properly 😅

[2022-05-04 12:04] wenche commented on #1054
LGTM :thumbsup:

[2022-05-04 12:04] #1054 closed

[2022-05-04 12:04] #1010 closed

[2022-05-04 12:05] #756 closed

[2022-05-04 12:06] wenche commented on #983
LGTM :thumbsup:

[2022-05-04 12:06] #983 closed

[2022-05-04 12:23] wenche commented on #1056
@SvSven  Works fine for the og:url, but the visual part for the news articles are still wrong
![Skjermbilde 2022-05-04 kl. 14.21.34.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/b6bf69e8-e1a6-4efb-a030-fdc0c3f94cf0)
![Skjermbilde 2022-05-04 kl. 14.08.53.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/97deb18a-3de5-4a46-aa33-ce90d0888847)

[2022-05-05 07:42] meols commented on #237
This also applies to local news @fernandolucchesi

[2022-05-05 07:45] wenche commented on #472
We need to discuss what we need here

[2022-05-05 08:33] fernandolucchesi opened #1061 "Launch Argentina website"
- [x] Request DNS change (use the new cluster)
- [x] Add domain to `robots.txt.ts` and `satellitesConfig.js`
- [x] Add missing roles, if any, to sanity.io
- [x] Add SSL certificates
- [x] Add GTM to radixconfig

- [x] Test PREPROD environment
- [x] Push to prod

[2022-05-05 11:25] meols opened #1062 "Geotargeting - are there any possibilities for it in Sanity"

[2022-05-05 11:27] meols commented on #1062
Are there any possiblities in Sanity to have different published versions of the same page, and e.g. target different page versions to different countries?

[2022-05-05 12:49] meols opened #1063 "All events page - upcoming and expired"

[2022-05-05 12:55] meols commented on #1063
We would like to have a page showing all events - upcoming and expired - that is automatically generated. How can we achieve this - what is needed? We have several events related cards in the backlog, and it isn't obvious to me if this is directly related to one of them.

[2022-05-05 13:08] meols opened #1064 "Inpage navigation - table of content component"

[2022-05-05 13:11] meols commented on #1064
We need an inpage navigation/table of content component. It is described in #346, which has been closed without capturing this part of the task.

[2022-05-05 13:16] meols opened #1065 "Improve search result for editors within in Sanity"

[2022-05-05 13:22] meols commented on #1065
When editors search in Sanity search result list contains an unordered (?) list of topic pages, page routes, tags, redirects, files, news, local news. How can that list be improved? Understand that we are dependent on Sanity for this task, but is it possible to at least prioritize topic pages as the top result and group similar content types?

[2022-05-05 13:30] meols opened #1066 "Copy-paste of components between languages and pages"

[2022-05-05 13:31] meols commented on #1066
This has been discussed with Sanity related to localization, but I can't find a card for it. Copied from #360: Adding the ability to copy-paste individual components between the English and Norwegian documents, which could be as simple as just using ctrl + c and ctrl + v

[2022-05-05 13:37] meols opened #1067 "Home page template"

[2022-05-05 13:38] meols commented on #1067
Create a home page template. Discussed briefly with @BirteThornquist

[2022-05-06 10:23] meols opened #1068 "How to unpublish a topic page"

[2022-05-06 13:21] #1061 closed

[2022-05-09 06:00] nilsml opened #1069 "Create deploy-all scripts"
To simplify deployment we need scripts for deploying all sites to production with latest version at the same time.

[2022-05-09 06:01] nilsml opened #1070 "Update runbook on ghcr images housekeeping"
In order to clean up images on ghcr we need some way of knowing which images are in use in each environment. All images not in use + a few versions can be deleted.

Need to find a good solution that also works with rollback functionality.

[2022-05-09 06:04] nilsml opened #1071 "rollback functionality"
**In order to easily roll back to previous version we need a GH Action where site and version can be selected**

## Acceptance criteria
1. Version can be selected among previous valid versions for site
1. Rolling back will switch to older image for selected site
1. Must work with #1070

[2022-05-09 06:14] fernandolucchesi opened #1072 "Launch Fondene website"
Technical
- [x] Request DNS change (use the new cluster)
- [x] Add domain to `robots.txt.ts` and `satellitesConfig.js`
- [x] Add missing roles, if any, to sanity.io
- [x] Add SSL certificates
- [x] Add GTM to radixconfig
- [x] Add domain url to the Cookie Bot
- [x] Test PREPROD environment
- [x] Push to prod

Editorial
- [x] Misc pages (404, 500 etcs)
- [x] Homepage
- [x] Redirects
- [x] Cookie Po

[2022-05-09 06:41] SvSven commented on #921
@BirteThornquist checking again

[2022-05-09 06:42] SvSven commented on #630
@wenche @fernandolucchesi have a look 🙏

[2022-05-09 07:00] SvSven commented on #991
@meols @BirteThornquist  what would we want to show in the menu for a featued event? Should it just be a title + ingress and a link to the event page, should it be a custom version of the event card, or the full event card?

[2022-05-09 07:08] wenche commented on #1030
Still waiting for feedback from the SEO team and also we decided to move to the new cluster before we actually turn on CSP

[2022-05-09 07:30] wenche commented on #1056
![Skjermbilde 2022-05-09 kl. 09.29.57.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/7ce3f599-5296-4890-9305-a0c61f6ee8f6)

Not available in all the environments yet, but I can see it in global-development :thumbsup:

[2022-05-09 07:37] wenche commented on #1056
@meols  and Jørgen: You should be able to test the issue you experienced now. I would have tested it like this:

1. Go to a Norwegian URL in preprod, like https://web-energyvision-preprod.radix.equinor.com/no/energi/hydrogen
2. Right click and view source
3. Search for og:url
4. Verify that /no is added to the URL (should look like this `<meta property="og:url" content="https://www.equinor.com/no/

[2022-05-09 08:22] wenche commented on #630
Seems to be working as expected :thumbsup: We should do a full regression test for this when we move to the new cluster

[2022-05-09 08:28] wenche commented on #1025
- The `canonical` is optional, so the easiest approach for us is probably to skip this to make it easier for the satellites
- The `preferred-language` is supposed to be the language that the security team speaks so I think we should just use `en` here?
- The `encryption key` is OK as long as nobody removes it from Sanity
- `Contact` is OK and I think it's OK to link to global site here even for th

[2022-05-09 08:49] nilsml opened #1073 "Migrations from prod to test env"
Discuss how to update test environment with prod data

[2022-05-09 08:50] #894 closed

[2022-05-09 08:53] fernandolucchesi commented on #1047
@meols to add a redirect from "en/what-we-do/crude-oil-and-condensate-assays" to the new crude oil pages

[2022-05-09 09:09] wenche commented on #738
Related #1009

[2022-05-09 09:10] fernandolucchesi commented on #738
@BirteThornquist to check if something needed for news article template.

Also check differences between h3 in topic / news pages

[2022-05-09 11:15] wenche opened #1074 "Fix og:image for topic content"
The introduction of `isDecorative` broke the og image selection logic since it's not enough to check for the existence of an openGraphImage when it has default isDecorative.

EDIT: It's just an issue for the topic page template

[2022-05-09 11:22] wenche commented on #1074
@SvSven  Ref. Slack conversation!

[2022-05-09 13:02] nilsml commented on #1071
There are functions in the API that we can use to list all deployments and extract image names from. We should make feature requests for the features we use that does not exist in the CLI so that we can use that instead in the future. API is not meant for direct usage.

First we need to find out what a first version of the rollback feature is.

[2022-05-09 15:53] #1072 closed

[2022-05-10 05:15] wenche commented on #1053
Use case example #1049

[2022-05-10 05:16] wenche commented on #989
Ideally the iframe component should probably be within the rich text editor itself

[2022-05-10 05:19] wenche commented on #936
@meols  Does it work the way it is handled now?

[2022-05-10 05:28] wenche opened #1075 "Unexpected token in JSON errors"
We see a lot of issues with the json reponse in the Radix console. We should look into this issue

[code]

[2022-05-10 05:33] wenche opened #1076 "Look into feature toggling as a mechanism to improve continuous delivery"
To improve trunk based development and continuous delivery we should look into a way to support feature toggling

[2022-05-10 05:35] wenche commented on #1034
@meols  I did a quick test with a topic page, but was not able to reproduce. We need more details for this one.

[2022-05-10 05:36] wenche commented on #1006
Might not be worth it, since they are similar but not necessarily the same

[2022-05-10 05:41] wenche opened #1077 "Should we add something to monitor uptime of the websites"
We should discuss with the Radix team if we need some something to monitor the availability of the websites. Examples for such services could be Freshping or Pingdom or another approach

[2022-05-10 06:32] #630 closed

[2022-05-10 08:00] fernandolucchesi opened #1078 "Do not display default locale in sitemap"

[2022-05-10 08:10] fernandolucchesi commented on #1078
@SvSven can you check this one?

[2022-05-10 08:23] fernandolucchesi commented on #1069
Looks good

[2022-05-10 08:30] fernandolucchesi opened #1079 "Launch Japan website"
Technical
- [x] Request DNS change (use the new cluster)
- [x] Add domain to `robots.txt.ts` and `satellitesConfig.js`
- [x] Add missing roles, if any, to sanity.io
- [x] Add GTM to radixconfig
- [x] Add domain url to the Cookie Bot (domain is already added since AEM url is the same)
- [x] Add SSL certificates
- [x] Test PREPROD environment
- [x] Push to prod

Editorial
- [x] Misc pages (404, 500

[2022-05-10 08:38] SvSven commented on #1074
Looks good to me and also works ✅
Need to make sure we keep this initialValue stuff in mind for other places as well

[2022-05-10 09:11] SvSven commented on #991
We decided to go with a simplified card for the event:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/d2518559-d12b-41ed-8014-a0c998583766)

This is ready to be looked at @wenche @BirteThornquist

[2022-05-10 09:13] SvSven opened #1080 "Evaluate readme files"
We haven't looked at/updated our readme files in quite a while. We should go over them and see what needs to be changed.

[2022-05-10 09:17] SvSven commented on #1078
Not 100% sure what the problem here was, but I'm guessing it's that `/en/` was showing in the sitemap URLs for the English language one?

If so then it looks to be solved when I compare dev to production:
- https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/sitemap.xml?lang=en
- https://www.equinor.com/sitemap.xml?lang=en

[2022-05-10 09:25] SvSven commented on #1041
Might be smart to wait until EDS has updated, to avoid any potential conflicts there.

[2022-05-10 13:27] #1074 closed

[2022-05-11 06:39] fernandolucchesi commented on #1056
@meols @jojog007

[2022-05-11 06:40] #1078 closed

[2022-05-11 06:41] #1069 closed

[2022-05-11 06:41] fernandolucchesi commented on #991
@BirteThornquist @meols

[2022-05-11 07:07] wenche commented on #483
Closed, duplicate

[2022-05-11 07:07] #483 closed

[2022-05-11 07:10] wenche commented on #738
If the remaining for this issue is mainly for the event template, we have a separate issue for that #794. This issue can't live forever. @BirteThornquist to conclude

[2022-05-11 07:12] wenche commented on #795
This is a duplicate of #1007

[2022-05-11 07:12] #795 closed

[2022-05-11 07:12] wenche commented on #1007
Closed #795 that was a duplicate

[2022-05-11 08:36] SvSven commented on #1041
There are some updates we need to do to the testing setup, nothing major: https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

But in addition to that the `next build` fails due to the algolia hooks package:

[code]

There is an issue for it on the algolia instantsearch repo with a suggested temporary fix: https://github.com/algolia/react-instantsearch/issues/3453

But I would suggest

[2022-05-12 06:33] #1079 closed

[2022-05-12 11:48] wenche commented on #941
@SvSven This should be done now, and all the old code should be deleted (hopefully) Do you mind to take the final look before we merge?

[2022-05-12 12:36] wenche commented on #1025
LGTM :thumbsup:

We need a way to update the expires field :sweat_smile:

[2022-05-12 18:32] fernandolucchesi opened #1082 "Add DNS redirect for techstars"

[2022-05-12 19:53] fernandolucchesi commented on #1038
Webhook for newsletter distribution was also updated

[2022-05-12 19:53] fernandolucchesi commented on #1038
@SvSven can you test this one?

[2022-05-13 06:03] padms commented on #1038
@fer Please update this in the webhook for news distribution too

[2022-05-13 06:07] SvSven commented on #1038
https://github.com/equinor/energyvision/commit/edd7549117b2d262c8920504fdab777898c7c5ea#diff-e4a2be1e4cfc7de2ee5357795a66a848a3b78819c23cf736e23ed729e9d4b721R28

Not an important point here, but something to do at one point: we should use a const for the API version, both in the studio as well as in the web.

Other than that it works and looks good to me ✅

[2022-05-13 06:29] wenche commented on #633
This card is mainly complaining about the formatting for sub and sup script so we will focus on that. Other options for rich text titles is covered by #741

[2022-05-13 06:37] wenche commented on #633
Added this to the branch too @SvSven

[2022-05-13 06:41] fernandolucchesi commented on #1038
@meols, can you please review this?

[2022-05-13 07:26] fernandolucchesi commented on #1034
I believe this happened probably because of a lacking preview cookie

[2022-05-13 07:27] fernandolucchesi commented on #987
This has been fixed already

[2022-05-13 07:27] #987 closed

[2022-05-13 07:48] fernandolucchesi commented on #668
Already implemented #1000

[2022-05-13 07:48] #668 closed

[2022-05-13 07:51] fernandolucchesi commented on #534
For who work on this in the future: might be useful to look into the useDebounce hook

[2022-05-13 07:55] fernandolucchesi commented on #1043
Is this the same as #1038? @nilsml

[2022-05-13 07:58] nilsml commented on #1043
I don't think it is exactly the same. This is more about having to wait to see the published results because of caching etc. This is "worse" than with AEM, so we should figure out exactly how this is working.

[2022-05-13 08:40] BirteThornquist commented on #921
@padms  Looks better with the increase in font size for the form labels. Good job - lets go for that. I would also like the selection control labels to follow the rest of the size, now they are set to 16px.

![Skjermbilde 2022-05-13 kl. 10.39.11.png](https://images.zenhubusercontent.com/5fb7acdfad906a977e792e56/a2d4175d-1cc4-4d39-99c8-fd63d8240cc8)

[2022-05-13 08:47] BirteThornquist commented on #991
Looking good @SvSven. I think the font size for the header in these cards is a bit big, but that is a general card issue that we need to look into separately.

[2022-05-13 10:21] SvSven commented on #941
Seeeeeeems to all be fine - we'll fix the typescript stuff at a later point ✅

[2022-05-13 11:24] fernandolucchesi commented on #895
We need an expert opinion on this one

[2022-05-13 11:25] fernandolucchesi commented on #801
Probably duplicate of #895

[2022-05-13 11:34] #1073 closed

[2022-05-13 11:39] #1068 closed

[2022-05-13 11:40] fernandolucchesi commented on #1067
TBD in the workshop in the 27th

[2022-05-13 11:42] fernandolucchesi commented on #1066
Same as #1045

[2022-05-13 11:42] #1066 closed

[2022-05-13 11:42] fernandolucchesi commented on #1045
#360

[2022-05-13 11:50] fernandolucchesi commented on #1063
Investigate best way to solve this

[2022-05-13 11:59] fernandolucchesi commented on #833
Investigate if it impacts price with our current solution.  If it does, this can become an urgent issue.

[2022-05-13 12:09] wenche commented on #941
This is now merged to main

[2022-05-13 12:10] #941 closed

[2022-05-13 12:14] BirteThornquist commented on #921
Great @padms - looking good! @meols can you pls take a look, accept and close?

[2022-05-13 12:16] BirteThornquist commented on #991
@meols for you to accept and close

[2022-05-13 13:10] meols opened #1083 "Install the Siteimprove CMS plugin"

[2022-05-13 13:31] meols commented on #1083
We would like to have the Siteimprove CMS plugin installed, to e.g. enable us to go to the correct page in Sanity from an issue, with a click on one button. We've had that from AEM, so currently it's not working for Sanity. https://help.siteimprove.com/support/solutions/articles/80000863887-how-to-install-the-siteimprove-cms-plugin ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae74

[2022-05-13 15:14] meols commented on #991
Great! :thumbsup: Thanks :smile:

[2022-05-13 15:14] #991 closed

[2022-05-13 15:33] meols commented on #1038
@fernandolucchesi - seems like the Norwegian version gets the same published date as the English one. Is it possible to avoid that? https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/news/test-16:15

[2022-05-16 06:00] wenche commented on #1083
Unfortunately Sanity is not on the list for [available CMS plugins on the SiteImprove page](https://www.siteimprove.com/integrations/cms-plugin/), so I don't think that is possible. AEM on the other hand is a premium plugin collaborator @meols

[2022-05-16 06:47] wenche commented on #897
No longer needed

[2022-05-16 06:47] #897 closed

[2022-05-16 07:25] fernandolucchesi opened #1085 "Fix Local News Preview"

[2022-05-16 09:06] #1085 closed

[2022-05-16 09:31] fernandolucchesi opened #1086 "Missing studio preview for menus"
The preview is important for when deleting routes that are still referenced in the menu:

![image.png](https://images.zenhubusercontent.com/619cb66996a338308e2dd0b8/5d23ae7c-585a-4475-9cbe-0065b68fed8a)

[2022-05-16 09:32] meols opened #1087 "Upcoming update for the contact us form"

[2022-05-16 09:32] meols commented on #1083
OK - thanks for checking @wenche

[2022-05-16 09:32] #1083 closed

[2022-05-16 09:36] meols commented on #1087
We have received a request for an update to the Contact us form.
We need to add a new category for Human rights in the drop down list, and are waiting for the correct text and which assignment group in s@e that shall receive human rights requests. When we have the correct info (text + assignment group), how big a task is this, and is it possible to prioritize it?

[2022-05-16 09:39] meols commented on #921
Looks great! Thanks @padms and @BirteThornquist

[2022-05-16 09:39] #921 closed

[2022-05-16 10:24] meols commented on #1056
thanks @wenche :smile:

[2022-05-16 10:24] #1056 closed

[2022-05-16 11:24] wenche commented on #1086
It will now look like this instead

![Skjermbilde 2022-05-16 kl. 13.23.38.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ef497627-6650-4479-b99f-9e8b16f23e64)

LGTM :thumbsup:

[2022-05-16 11:24] #1086 closed

[2022-05-16 11:43] wenche commented on #1034
@meols  We are not able to reproduce, can you please retest and, if this is still an issue for you, fill in the details

[2022-05-16 11:44] wenche commented on #890
@SvSven @meols   This one should be sorted out by now right?

[2022-05-16 12:22] meols commented on #890
@wenche - regarding the full width one on the United Kingdom page looks like there still is an issue: https://equinor.sanity.studio/desk/topicContent;0e2bc501-1474-4e40-ac81-148fc1931ec4
https://www.equinor.com/where-we-are/united-kingdom

[2022-05-16 13:20] meols commented on #1034
@wenche @fernandolucchesi - I think this one has been solved. I'm not able to reproduce either.

[2022-05-16 13:29] fernandolucchesi commented on #1065
Tags, Redirects and Files should now be listed at the bottom of the search list

[2022-05-18 05:56] wenche commented on #801
Since it's mainly used for one menu item with multiple sub items within a list of single items, it's hard to do this in another way. I think this should be good enough since accordion is nothing but a bunch of divs and aria states and not a "real" html element. The menu as a whole should be tested with focus on a11y at some point to see if we can improve it.

[2022-05-18 05:56] #801 closed

[2022-05-18 06:35] #738 closed

[2022-05-18 07:41] fernandolucchesi opened #1088 "Add newsroom and search(?) to the sitemap"
/news and /nyheter are not included in the sitemap.xml

These should be included if the dataset is global.

Question: Should we also include /search? (verify with seo agency - if not, exclude page from robot indexing)

Response from SEO Agency:
`
Google prefer that internal search pages with corresponding results are tagged as noindex - nofollow. They deem it as bad experience to send a user from

[2022-05-18 08:11] wenche commented on #633
@meols  It's not easy to change the input component to a rich text editor at this point, so no it's not a low hanging fruit to add this to the accordion item title unfortunately :sweat_smile:

[2022-05-18 08:27] wenche commented on #895
1) Exactly how much of a bad idea is it to set autofocus in the search box when you open the search overlay-> This is not recommended, so let's just keep it as it is until somebody can verify if this is OK for screen readers
2)Reach tab component set focus on the tab itself before focusing on the individual hits. Can we improve this somehow, without sacrificing a11y (aka find out why they do this)

[2022-05-18 08:27] #895 closed

[2022-05-18 08:33] meols commented on #633
Thanks @wenche - then I just close this one :smile:

[2022-05-18 08:33] #633 closed

[2022-05-18 08:35] wenche opened #1089 "Perform accessibility test with a skilled professional"
We want to perform an audit for accessibility with someone that is skilled in using a screen reader to navigate and able to give us guidance in how to improve the pages with respect to a11y.

- The menu
- The global site search
- Navigation in general

[2022-05-18 08:39] wenche commented on #1089
We know about an issue with Next.js that is causing the title from the previous page to be read out with a screen reader when we navigate to another page. This issue has been reported in several issues on the Next.js Github repo like [this one](https://github.com/vercel/next.js/issues/32551)

[2022-05-18 08:44] fernandolucchesi opened #1090 "Prepare Brazil and Germany satellites for launch"
Technical

- [x] Request DNS change (use the new cluster)
- [x] Add domain to robots.txt.ts and satellitesConfig.js
- [x] Add missing roles, if any, to sanity.io
- [x] Add GTM to radixconfig
- [x] Add domain url to the Cookie Bot (domain is already added since AEM url is the same)
- [x] Add SSL certificates
- [x] Test PREPROD environment
- [x] Push to prod

Editorial

- [ ] Misc pages (404, 500 et

[2022-05-18 08:46] fernandolucchesi commented on #1082
Needs to whitelist new cluster in equinor's vpn

[2022-05-18 10:00] wenche commented on #950
@padms  I think we should use the `isGlobal` helper and not just test for `dataset === 'global'` because we want to avoid to hard code dataset names as much as possible and we also want Equinor for global-test and global-development datasets

[2022-05-18 10:19] fernandolucchesi commented on #950
I'd argue that a best approach is to merge this logic with the already existing websiteDomains:

<img width="351" alt="image" src="https://user-images.githubusercontent.com/23337266/169016984-d16abd06-84af-42d9-975f-6231146acbe6.png">

[2022-05-18 10:53] fernandolucchesi commented on #847
Looks good!

When committing try to remember the "#" in the issue number, you can read more here: https://github.com/equinor/energyvision/wiki/how-we-work:-using-github#commit-messages.

[2022-05-18 11:34] fernandolucchesi commented on #950
This is also breaking the build. I will revert it temporarily since we need to deploy soon.
<img width="874" alt="image" src="https://user-images.githubusercontent.com/23337266/169029387-db30ef9e-79ee-411e-b5e1-857c5982cbaa.png">

[2022-05-18 11:47] wenche commented on #852
**One notable different**
When you create a new document the language dropdown is not visible before you have added some text into the editor. This means that if we want to create like a Norwegian only topic content, we'll need to add some dummy text to the English version to be able to switch to Norwegian :/

![Skjermbilde 2022-05-18 kl. 13.45.04.png](https://images.zenhubusercontent.com/5fb7aa9b

[2022-05-18 11:55] wenche commented on #852
**Testing the _lang attribute**
This seems to be working as expected
English version, not published
![Skjermbilde 2022-05-18 kl. 13.51.08.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/cc0eb4e7-9c9b-4c7b-8b70-2bd45ecc587f)
English version, published
![Skjermbilde 2022-05-18 kl. 13.51.55.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/37b0c62d-8419-4682-90f9-8

[2022-05-18 12:35] wenche opened #1091 "Upgrade Sanity"
We have not updated Sanity since the release, so we should do this now

[2022-05-18 12:43] wenche commented on #1091
Seems to be OK?

[2022-05-18 13:09] fernandolucchesi opened #1092 "Base news slug returns 404 even when linking to a topic page"
The slug should only be treated as a 'news type' if the slug contains more info for the article

Example:
/news/abc -> is news
/news -> is not news