[2022-05-19 05:15] nilsml commented on #486
We should find a way to close this issue as we are already live we most sites. Perhaps move ramining items from this epic?

[2022-05-19 05:20] nilsml commented on #547
This is no longer relevant

[2022-05-19 05:20] #547 closed

[2022-05-19 06:07] wenche opened #1093 "Sort promoted event cards by date"
The promoted events card should be sorted by date. This should be easy enough as we already do this in for example the query for promoted news cards.

One thing is left to be decided: What should we do about the cards without a date, like the one for not yet scheduled quarterly presentations

### Acceptance criteria
- Cards should be sorted by date, descending order (06.06.2022, 08.09.2022, 01.12.

[2022-05-19 06:27] wenche commented on #761
LGTM :thumbsup:

[2022-05-19 06:28] wenche opened #1094 "Remove polyfill for focus-visible"
Background: We use a polyfill for focus-visible in the same way as EDS. The focus-visible is a way to solve the problem of adding a visible outline only if you use the keyboard for navigating and not when you click with the mouse.

This feature has a rather [good support by the browsers](https://caniuse.com/?search=focus-visible) now and we should look into to remove it completely and use the brow

[2022-05-19 06:36] #847 closed

[2022-05-19 06:41] #761 closed

[2022-05-19 06:43] fernandolucchesi commented on #1082
Waiting for ticket to be updated

[2022-05-19 06:52] fernandolucchesi opened #1095 "Investigate/add twitter feed to the german site"

[2022-05-19 07:07] fernandolucchesi commented on #1030
For the issue with the tag manager: https://developers.google.com/tag-platform/tag-manager/web/csp

[2022-05-19 08:08] wenche commented on #1092
Read the corresponding slack thread for this one :)

LGTM :thumbsup:

[2022-05-19 08:40] wenche commented on #857
![Skjermbilde 2022-05-19 kl. 10.38.50.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/8c78879e-7490-4f5e-84a8-6680a075efd6)

This is already done. But another question is: Do we actually use this? I think no @SvSven

[2022-05-19 08:48] fernandolucchesi opened #1096 "Add 50 years celebration page to equinor"
Should be accessible through /50 slug.
Original project url: https://equinor-50-historier.vercel.app/50
We should not be responsible for its security headers.

[2022-05-19 08:57] wenche commented on #857
I removed the package all together @SvSven

[2022-05-19 09:10] #1092 closed

[2022-05-19 10:56] SvSven commented on #857
Sounds good 👍

[2022-05-19 10:56] #857 closed

[2022-05-19 10:57] SvSven commented on #1091
We should make a checklist of things to test after updating Sanity - and we should put that in the runbook.

[2022-05-19 11:03] fernandolucchesi commented on #852
LGTM!

But before we forget, the upgrade adds new fields to referenced translations:
<img width="534" alt="image" src="https://user-images.githubusercontent.com/23337266/169278095-77356201-c458-4815-9927-47b8e3428d56.png">

<img width="670" alt="image" src="https://user-images.githubusercontent.com/23337266/169278320-dd238f00-ae0d-4455-a540-17072c678b5a.png">

Ideally we also need to use the "Tran

[2022-05-19 12:07] #1090 closed

[2022-05-19 12:07] #1036 closed

[2022-05-19 12:07] #812 closed

[2022-05-20 06:41] SvSven commented on #1041
Algolia should now be ready for React 18 from version 6.25.0 and above: https://github.com/algolia/react-instantsearch/releases/tag/v6.25.0

[2022-05-20 10:41] fernandolucchesi opened #1099 "Disaster Recovery"

[2022-05-20 10:51] fernandolucchesi commented on #1051
dependent on #1040

[2022-05-20 11:04] #973 closed

[2022-05-20 11:09] fernandolucchesi commented on #907
Look into it once algolia has finished the work on hooks

[2022-05-20 11:11] fernandolucchesi commented on #898
This problem was solved with the `Small text`

[2022-05-20 11:11] #898 closed

[2022-05-20 11:15] fernandolucchesi commented on #845
@BirteThornquist

[2022-05-20 11:19] #813 closed

[2022-05-20 11:21] #798 closed

[2022-05-20 11:22] #797 closed

[2022-05-20 11:24] fernandolucchesi commented on #773
Investigate further / try to replicate

[2022-05-20 11:26] fernandolucchesi commented on #767
Check if we have rich text fields without more than one option.

[2022-05-20 11:35] fernandolucchesi commented on #592
https://github.com/equinor/energyvision-internal/discussions/49

[2022-05-20 11:38] fernandolucchesi opened #1100 "MUX integration"
A MUX component should be created in both studio and the web.

We can use https://github.com/video-dev/hls.js/ to create our own player component in Next.js

Acceptance criteria:
- [ ] Update documentation in Runbook

[2022-05-20 12:00] wenche commented on #1096
LGTM :thumbsup: As far I can see :) Nice to do it with rewrite. Do we know for how long this should be available?

[2022-05-20 12:16] fernandolucchesi commented on #1096
About 1 year

[2022-05-20 12:27] #1091 closed

[2022-05-20 12:30] wenche opened #1101 "Look into the changed fields for the new version of the internationalization plugin"
The last time we didn't manage to run the maintenance plugin, but we should revisit this as it might be nice to have.

![ex.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/0dca630d-f369-49d5-9a1b-a440f6689688)
![ex2.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/b8665ea2-7e39-449b-a110-c1d252344356)

Ideally we also need to use the "Translation Maintenance Pl

[2022-05-20 12:32] wenche commented on #852
Created #1101 to address the private field changes

[2022-05-20 12:32] #852 closed

[2022-05-20 12:35] wenche commented on #1040
I think I finally made this. The root cause for the undefined errors was this line in the jest.config.js file:
`moduleDirectories: ['node_modules', './'],`
 I also removed the babel transpiiler as it is no longer needed, and used the [new next/jest feature ](https://nextjs.org/docs/advanced-features/compiler#jest). @SvSven  ?

[2022-05-20 12:59] nilsml opened #1102 "Deploy to preprod takes latest version"
When deploying to preprod, the latest version is always built.
If Test is built and a new commit is pushed before Preprod is built, the build will fail as radixconfig and GHCR is not in sync. Also it is semantically wrong to deploy a different version to preprod than test.

[2022-05-20 14:46] meols opened #1103 "Anchor on promo tiles not working"
Acceptance criteria:
- [ ] Update documentation in Runbook (add new anchor component too)

[2022-05-20 14:48] meols commented on #1103
The anchor link on promo tiles isn't working.
Tested on this page: https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/mette-test-1

[2022-05-23 06:14] wenche commented on #759
LGTM :thumbsup:

[2022-05-23 06:35] #1096 closed

[2022-05-23 06:38] #759 closed

[2022-05-23 07:44] wenche opened #1106 "Mismatch in sizes for the event card buttons"
Look into why the height/weight of the buttons are not the same for one and two buttons

![Skjermbilde 2022-05-23 kl. 09.37.02.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/d12635f9-7b6a-494e-aede-cc9245136ab1)

[2022-05-23 10:26] wenche commented on #893
I think this was because of the font

[2022-05-23 10:26] #893 closed

[2022-05-23 10:28] wenche opened #1108 "Log CSP reports"
We should add an endpoint for logging CSP reports. If we do this, we will have insights into what potential problems our users are facing. Ideally this should be with a specialised tool like Sentry. Some experiments and an example of this was [removed by this commit](https://github.com/equinor/energyvision/commit/542a05304bd233eabaf9c9eb526b9c88ecb27e49)

[2022-05-23 10:35] wenche opened #1109 "Improve CSP headers implementation"
Look into to further improve the CSP headers. Remember that adding `nounce` might be a rabbit hole, but it could still be worth to look into at some point. The problematic aspects are things like unsafe-inline added because of 3. party tools like cookiebot.

![Skjermbilde 2022-05-23 kl. 12.36.11.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ae0bb965-9409-4a3c-821c-e877f591132e

[2022-05-23 10:39] wenche opened #1110 "Look into subresource integrity"

[2022-05-23 10:42] wenche commented on #1030
This is now in production.

I have created three new issues for remaining tasks that could be improved at some point (#1110 #1109 #1108) but the work that is already done should be more than enough for the time being.

[2022-05-23 11:04] SvSven commented on #1040
Looks good to me 👍
Such a small but impactful problem 🙈

[2022-05-23 11:04] #1040 closed

[2022-05-23 11:09] meols opened #1111 "Events card showing Add to calendar on Norwegian pages"
### Acceptance criteria

- Should be a text string in text snippets
- Should only be available for the global studio

[2022-05-23 11:11] meols commented on #1111
The button text Add to calendar is shown in English on Norwegian pages. (I can't find that text in text snippets.)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/a74c67ea-7f6b-49ed-ad98-79c0f8d86496)

[2022-05-23 11:28] SvSven opened #1112 "upgrade rxjs to v7"
Due to [a problem with the Sanity media plugin](https://github.com/equinor/energyvision/pull/1060#issuecomment-1131589336) we had to downgrade rxjs to v6.

Once this issue has been fixed in the Sanity media plugin, we should upgrade rxjs to v7: https://github.com/robinpyon/sanity-plugin-media/issues/79

[2022-05-23 15:14] meols commented on #592
@fernandolucchesi - I learned this afternoon that from 30 June Fotoware will be the Equinor image archive. All new images will only be uploaded there from that date, and images will only be available in Fotoware (excluding the historical archive from 2018 and older, that will continue to be in Brandmaster until moved to https://www.arkivverket.no/ later)
This means that integrating Fotoware DAM wi

[2022-05-24 07:45] fernandolucchesi opened #1113 "Add / update warning message for Iframe component"
With the introduction of CSP Headers, it is needed to whitelist all dependencies that our websites use. Consequently, if an editor creates an iframe to a non-whitelisted source, the iframe will not work.

We should add a warning message for the Editors to make editors aware of this.

In a not so distant future we should also create a process for editors to request whitelisting of urls (we could po

[2022-05-25 07:13] wenche commented on #760
@satyendra900  This change is not according to the design. :)

Please take a look in Figma, I took a screenshot as well. The important thing is that the menu items and the titles still need to be aligned. We can't just add padding to the text itself so the spacing needs to be added in the :hover state.

Also please use the CSS variables. The variable that correspond to the design in Figma (apprx 2

[2022-05-25 07:17] #1030 closed, assigned to wenche, fernandolucchesi

[2022-05-25 07:24] wenche commented on #950
LGTM :thumbsup: Even if we add more config it think this solution is more flexible. :)

We should perhaps handle the (not likely) case of `websiteDomains[dataset] ` being `undefined`

[2022-05-25 07:30] fernandolucchesi commented on #950
we actually should handle it because we have an undefined url for the secret project, (it is needed for preview). I didn't want to list it to not expose it in a public repo. but we should handle the undefined case otherwise build won't work.

`websiteDomains[dataset]?.url || 'Equinor'`

[2022-05-25 07:37] wenche commented on #1065
LGTM :thumbsup: I guess it's on purpose that we don't add anything explicit for events, landing pages, menu and so on in the searchweight? @fernandolucchesi

[2022-05-25 07:37] wenche commented on #1065
@meols  You can test this in https://studio-global-equinor-web-sites-preprod.c2.radix.equinor.com/

[2022-05-25 08:30] wenche opened #1114 "Fix warning for Algolia SSR with React 18"
![Skjermbilde 2022-05-25 kl. 10.31.53.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/eb654f1f-6d91-48c1-aca0-e161fed3ec93)

[2022-05-25 10:05] fernandolucchesi commented on #1065
that is correct, by doing this we override sanity's magic, I preferred to let sanity sort the way it finds best for these

[2022-05-25 11:21] nilsml opened #1115 "Commit sha not uniqe enough for images"
When building Docker images for deployment, the short sha (typically 7 characters) is being used as tag/key. This is unique most of the time, but with a large repository it is no longer unique. We have seen that sometimes image for TEST is tagged with 7 characters and PREPROD with 8 f.ex.

## Proposed solution
Use 12 characters for short commit sha to make unique enough

[2022-05-25 12:15] wenche commented on #1114
I'm unfortunately not able to fix this easily. It also seems to be related to [a reported issue at the Algolia repo. ](https://github.com/algolia/react-instantsearch/issues/3441) The code seems to work fine even with the warning, and the warning is only visible server side, so it will be visible in our Radix logs for the newsroom.

My suggestion will be to move this to `Dependent on others` column

[2022-05-25 12:25] padms commented on #950
done

[2022-05-25 13:07] wenche commented on #950
LGTM :thumbsup:

[2022-05-25 13:13] wenche commented on #950
@meols  You should be able to test this in the preprod environments now, like https://web-brazil-equinor-web-sites-preprod.c2.radix.equinor.com/

Here is the complete list of the added meta suffixes:
[code]

[2022-05-25 13:52] fernandolucchesi commented on #592
@meols, thank you for following up, I will prioritise this

[2022-05-25 13:56] fernandolucchesi opened #1116 "Integrate Fotoware with Sanity"
Brandmaster DAM will be replaced by Fotoware on 30th June.
#592 and https://github.com/equinor/energyvision-internal/discussions/49 for more details.

Acceptance criteria:
- [ ] Update documentation in Runbook

[2022-05-25 14:02] fernandolucchesi commented on #592
Closing this since this was an investigation task, another issue has been created for implementation purposes

[2022-05-25 14:02] #592 closed

[2022-05-26 09:34] padms commented on #1093
Sorted only automatically selected events.
Cards cannot be without a date because event date is required field for events. When the time is not selected the card shows 'to be announced'

[2022-05-27 06:30] nilsml commented on #1088
LGTM

[2022-05-27 08:24] meols commented on #950
Thanks @wenche - looks good :thumbsup:

[2022-05-27 08:24] #950 closed

[2022-05-27 13:29] fernandolucchesi commented on #1102
It looks good to me!
However when I tried deploying my branch to dev, the logs seemed to be correct but my changes were not working in "dev".
<img width="895" alt="image" src="https://user-images.githubusercontent.com/23337266/170708040-9c09ce58-86e0-4cac-aedc-b35cd8c102b4.png">
It could be that
1. My changes actually went through, but my code (branch that I tested) is buggy
2. Branch was not prop

[2022-05-27 13:30] fernandolucchesi commented on #1115
LGTM!

[2022-05-30 05:30] #1115 closed

[2022-05-30 05:34] nilsml commented on #1102
This is expected as this issue was about preprod. To add support for different branches being deployed in DEV similar changes will have to be made.

[2022-05-30 06:23] wenche commented on #886
Ideally we should have an informative and consistent error message for required fields as well, but the truth is that this is not done yet.

LGTM :thumbsup:

[2022-05-30 06:25] wenche commented on #886
@meols  FYI It is now required to have an accordion item title (has not yet landed in production, but soon)

[2022-05-30 06:26] wenche commented on #1112
This is now fixed int the plugin

[2022-05-30 06:33] #1088 closed

[2022-05-30 06:35] #1102 closed

[2022-05-30 06:44] nilsml opened #1117 "Add ability to deploy other branch than main to Dev"
**In order to deploy other branches than main to Dev, changes are needed for the GH actions**

## Acceptance criteria
1. When selecting a different banch in GH when deploying to DEV, it is expected that this branch is actually deployed to this environment.
2. Radixconfig is reflecting the deployed image

## Notes
This change is larger than it may seem. Today when selecting a branch to be deployed,

[2022-05-30 06:52] wenche commented on #1113
LGTM :thumbsup:

Let's see if this makes it easier to remember these things.

[2022-05-30 07:40] meols commented on #1065
Thanks @fernandolucchesi and @wenche :smile:

[2022-05-30 07:40] #1065 closed

[2022-05-30 07:43] wenche commented on #760
LGTM :thumbsup:

[2022-05-30 07:45] meols commented on #886
Thanks @wenche - and agree with your comments :thumbsup:

[2022-05-30 07:45] #760 closed

[2022-05-30 07:50] wenche commented on #1093
LGTM :thumbsup:

[2022-05-30 07:54] wenche commented on #1093
@meols  and Jørgen The events are now sorted by date. This change is not yet available in preprod, but see the attached screenshots to verify
**Before**
![Skjermbilde 2022-05-30 kl. 09.49.23.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/1f632e04-e6c9-4556-98a6-ffe2c91e696e)
**After**
![Skjermbilde 2022-05-30 kl. 09.53.52.png](https://images.zenhubusercontent.com/5fb7aa9b653d51

[2022-05-30 09:28] BirteThornquist opened #1118 "Homepage for the equinor.com global site"
We need to create a separate homepage for the global site.

[2022-05-30 10:05] meols commented on #1093
Thanks @wenche :smile:

[2022-05-30 10:05] #1093 closed

[2022-05-30 10:11] satyendra900 commented on #752
**Acceptance criteria**:

- We should just replace the warning message with something like "A title is recommended" or something else and
  title should not be mandatory.

[2022-05-30 10:45] wenche commented on #1101
Related warning from the console
![Skjermbilde 2022-05-30 kl. 12.44.26.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/45ef47e9-57a6-4f6d-8a22-6a6384ddb94f)

[2022-05-30 10:47] SvSven commented on #1041
Looks to all be fine 👍
All the fragments around the `{children}` is a bit annoying but it is what it is.

[2022-05-30 10:47] #1041 closed

[2022-05-30 11:08] padms commented on #1113
@wenche  Yes, I agree that it warns for all the iframes. But then I thought it should warn anyway, instead of not warning at all.

[2022-05-30 11:32] wenche commented on #1017
@BirteThornquist  Available in the dev environment to test. And now we need to solve the challenge for a good and descriptive description text

[2022-05-30 11:49] wenche commented on #1112
@SvSven I know that I said it worked a couple of weeks ago as well, but now I really think it is OK? I see no runtime crashes on my localhost at least :crossed_fingers:

[2022-05-30 11:51] BirteThornquist commented on #1113
@padms @wenche I think it is sufficient to have the information text for the Frame URL field, but maybe shorten it a bit and make it more "to the point". What about: "Any URL must be whitelisted to load. Please make sure to verify that the iframe loads correctly before publishing, otherwise contact dev team for whitelisting."

[2022-05-30 12:48] padms commented on #1113
done

[2022-05-30 13:24] wenche commented on #1113
@meols  Padmaja has added a descriptive text for the iframe URL field that hopefully will remind you of the whitelist issue for iframes and/or explain why an iframe is not working as expected when you preview. :)

![Skjermbilde 2022-05-30 kl. 15.21.37.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/e5972e27-7b79-430a-aaf0-2fe56637dfcc)

[2022-05-30 13:37] wenche commented on #752
LGTM :thumbsup:

[2022-05-30 13:38] wenche commented on #752
@meols  New and hopefully improved warning message for components without a title
![Skjermbilde 2022-05-30 kl. 15.37.48.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/ed29cfe6-9a8d-4138-9567-0d0745dc2e70)

[2022-05-31 05:56] nilsml commented on #438
Looking into how we can use authentication for Prometheus with Grafana. Have asked in the Radix Slack channel for examples.

[2022-05-31 05:58] nilsml commented on #1071
Will spend todays playground working on this task 💪

[2022-05-31 06:12] nilsml commented on #438
Ståle Oddsen (@sodds) suggested having a look at Dynatrace instead as that is set up with proper authentication and is integrated with the AccessIT regime. Sounds like a good idea!

[2022-05-31 07:35] wenche commented on #896
I will move this to the backlog for now. In order to improve the current implementation, we should take a step back and look into how we would like this to work. We also need to see it in the context of the newsroom which are currently a MVP. One of the main challenges will be to make this scale across several tabs, pagination components, search input, filters and more.

Algolia has updated the Ne

[2022-05-31 07:50] BirteThornquist commented on #1017
@wenche What about "You can override the default button style to link style. This can only be done if you have one link, and should be used with caution."

[2022-05-31 10:48] meols commented on #752
@wenche - for the text block component I see the text "A title is recommended"  and not "In most cases you should add a title" (in preprod). Is that correct?
I also see "In most cases you should add a title" for Table and Promotion and "Should we warn for missing title" for Accordion. But those are perhaps handled separately, and only text block for this card?

[2022-05-31 10:52] wenche commented on #752
@meols  That's why I added the screenshot - it's just available in the dev environment atm. :) Should have mentioned that explicitly. We where supposed to release it to preprod today, but just need to sort one thing out first

[2022-05-31 11:17] meols commented on #752
@wenche - the screenshot is great :smile:

[2022-05-31 12:44] wenche commented on #472
Had to remove the previous work due to pnpm v7 peer deps issues. Adding [a link to the commit](https://github.com/equinor/energyvision/commit/7c895f34c490e857d39df3a7e478b7896334f77e) here for future reference. #bekindtofutureself

We need to investigate this furter, and it might not even make sense to use Azure analytics

[2022-05-31 13:23] nilsml commented on #438
Moving to DynaTrace so closing this

[2022-05-31 13:23] #438 closed

[2022-06-01 06:38] nilsml commented on #1017
LGTM

[2022-06-01 07:02] wenche commented on #1017
FYI @meols  New option added for overriding the button style for a single link. Available in preprod

[2022-06-01 07:16] BirteThornquist commented on #1018
@satyendra900 The top/bottom space is set to 3XL for the array of text/icon component. Let's try to increase to 4XL.

[2022-06-01 07:33] SvSven commented on #1112
LGTM 👍

I see they just fixed it by moving it from peerDependency to normal dependency

[2022-06-01 07:33] #1112 closed

[2022-06-01 07:55] wenche opened #1119 "Upgrade styled-components to v6"
Version 6 for styled-components is now in Alpha release. We should update when it reaches a more mature release.

### Acceptance criteria/TODO
- Update to v6
- Look into if we can make use of the typescript features
- Remove the `react-is` from web's package.json file. This is a peerDependency of v5, but it looks like it is removed as a peerDependency in v6

[2022-06-01 08:05] wenche commented on #1051
@storybook/addon-docs uses v1.x.x of @mdx-js/react and that version does not support React 18 (version 2 does) See also https://github.com/storybookjs/storybook/issues/18383 for some related discussions. I don't think this is of great importance for us since we are not using mdx

[2022-06-01 08:10] wenche commented on #1051
@storybook/addon-essentials -> @storybook/addon-actions -> react-inspector [does not yet support React 18](https://github.com/storybookjs/react-inspector/issues/152)

[2022-06-01 08:44] BirteThornquist opened #1121 "50-50 top banner"
@fernandolucchesi - these are the specification from @NickHaggerty1  for the first top banner - **50-50 top banner**
FIELDS:
Title H1 (optional)
Subtitle H2 (optional)
Ingress text (optional)
Text link to internal/external pages (optional field) Max 2 links (including download)
Option to download. Editor could have just link. Just download. Nothing (just title and text) or both link and download.

[2022-06-01 08:46] BirteThornquist opened #1122 "Homepage - structure and plan"

[2022-06-01 09:10] satyendra900 commented on #1018
@BirteThornquist Done! Please check.

[2022-06-01 09:54] BirteThornquist commented on #1018
@satyendra900 Looking good to me!

[2022-06-01 12:10] wenche commented on #1051
[code]
react-popper v2.30 has fixed this, but the EDS team are holding back the upgrade for React 18 a bit. We don't use any components from EDS that relies on react-popper, so this is not a big deal for us

[2022-06-02 05:17] nilsml commented on #1071
## Proposed MVP

1. Github action that rolls back __one__ site or studio to a previous version
1. Select site using a dropdown (like we do for PROD deployment)
1. Input field for commit sha
1. Action tries to find image for the commit sha and replaces the running pod with a new based on this image

## Future goal
Use CLI (or API) from Radix to find the previous deployment and roll back to that.

[2022-06-02 06:34] #752 closed

[2022-06-02 06:35] #845 closed

[2022-06-02 06:37] #1018 closed

[2022-06-02 07:23] #1017 closed

[2022-06-02 07:23] meols commented on #1017
Thanks @wenche

[2022-06-02 11:58] wenche commented on #1043
The current revalidate time is
`120 seconds` for all content coming from Sanity
`1800 seconds` (30 min) for the archived news
This means that for content that lives in Sanity, Next.js will try to re-generate the content at most once every 120 seconds.

[2022-06-03 06:16] wenche commented on #1106
LGTM :thumbsup: Nice catch

[2022-06-03 09:35] wenche opened #1124 "Clientside runtime error with templates involving a timestamp"

[2022-06-03 09:51] #1106 closed

[2022-06-03 10:03] wenche opened #1125 "Publishing date preview for News"
The preview in the list only shows publishing date if the editor has chosen a custom publishing date.

![Skjermbilde 2022-06-03 kl. 12.02.59.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/55322b3b-ce64-4283-beb7-e05460620d04)

[2022-06-03 10:26] meols commented on #1087
@padms @fernandolucchesi - we will get the new texts (no/en) for the dropdown and a the related link to the right place in serviceNow early next week. This update need to be prioritized.

[2022-06-03 10:49] wenche opened #1126 "Not able to search for topic tag in the News schema"
I'm not able to search for topic tags in the News template, but I can search for country tags.

![Skjermbilde 2022-06-03 kl. 12.50.11.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/89ecec64-23b8-4e81-bfdd-76cba9fd9b27)

![Skjermbilde 2022-06-03 kl. 12.50.19.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/5d325bab-fef7-4a7f-820f-fe5985b88ce9)

![Skjermbilde 20

[2022-06-03 12:18] SvSven commented on #1055
Suggestion from Sanity is to, rather than import the schema as an object into news and localNews, is to register it as a schema and then reference that directly like

[code]

and have the validation on that.

[2022-06-07 06:43] fernandolucchesi opened #1128 "Image is crash looping in radix"

[2022-06-07 07:19] fernandolucchesi opened #1129 "Secret project failing to duplicate documents"
<img width="839" alt="image" src="https://user-images.githubusercontent.com/23337266/172320022-a37cd095-9195-4e36-8218-6e04b32f7415.png">

[2022-06-07 07:22] fernandolucchesi commented on #1038
@SvSven, @nilsml can you check this please?

[2022-06-07 07:39] meols commented on #1125
@wenche - does this mean that we need to/should use custom date when publishing news until this is fixed

[2022-06-07 09:06] SvSven commented on #1075
Most of these seem to be request for images; thumbnails in particular. I checked some of the archived news content in Azure and I don't see any links to it, so my theory is that this is something that gets automatically requested by one of the JS libraries for the AEM news.

I've added a simple guard conditional to the `fetchArchiveData` function that checks if the path includes a `.` and then ret

[2022-06-07 15:30] padms commented on #1095
Initial component is ready for review.

[2022-06-08 06:00] wenche commented on #1075
And you did of course double check that none of the legal paths include a `.`? :)

LGTM if that is the case. Not the most elegant piece of code, but whatever floats the boat

[2022-06-08 06:10] wenche commented on #1111
An improvement would be to group the event related text snippets by a prefix in the title like we do with more or less the rest of the text snippets. And I would have preferred a litte more verbose and descriptive ID for the snippet than `atc` next time. :)

[2022-06-08 07:33] fernandolucchesi commented on #1111
It should also contain a hidden: !HAS_EVENT logic

[2022-06-08 07:35] fernandolucchesi commented on #1129
Hi @meols, can you confirm this is working as intended?

[2022-06-08 08:11] wenche commented on #1095
**Some comments**
- We should consider to add a title, an ingress and the option to choose a background colour since that's how the majority of the rest of the components work. If the publisher want a title then this setup will contribute to spacing issues. We already have an issue to fix this for [the cookie consent component.](https://github.com/equinor/energyvision/issues/1009) What do you thin

[2022-06-08 09:07] SvSven commented on #1075
I'm not 100% sure on that, so yes that is a concern. Initially I wanted to check specifically for if the path ends with a file extension, but then we need to hard-code a bunch of known file extensions. That could work, but this seemed a bit more "catch-all".

I did have a look in the blob storage before going with this approach, and I _think_ that none of these URLs would contain a period characte

[2022-06-08 10:43] wenche commented on #1095
Forgot to mention one thing: It's better to return null instead on an empty div in the switch

[2022-06-08 12:09] meols commented on #1129
I tested this news https://equinor-restricted.sanity.studio/secret/desk/news;202c3de7-d79f-4233-9d14-faa87829598e%2Ctype%3Dnews
I published the Norwegian first and got an error when publishing the English one. Then I pressed Reset Cross Dataset Token, but since the Publish button was grey I checked the Current version status, and saw that it actually got published, even if I got an error message.

[2022-06-08 12:37] wenche commented on #1124
It's also visible for the end users that the timestamp is not the same server side vs client side. If you hard refresh a news article with the timestamp 14:10, you'll see that it was 12:10 server side (a short flash when the content changes)

[2022-06-09 07:35] wenche opened #1130 "Restore scroll position on browser back"
Next.js is supposed to restore the scroll position on browser back. This has been tested and verified early in the project, but at some point this has stopped working.

### Problem
- Scroll down on a page, like on the front page
- Click on an internal link and navigate to another page
- Click browser back
- Next.js is not able to restore the scroll position, but will take you to the top

[2022-06-09 08:02] fernandolucchesi opened #1131 "Fine tune what should be indexed on search"
1. Discussion on what to index in algolia
2. Implement the changes

- Also consider other improvements like

- [x] Support ""
- [ ] Disable typo tolerance on certain words like "Helge Lund"
![Skjermbilde 2022-06-10 kl. 12.23.57.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/347fd508-3a17-46fd-a77a-9e12dc7734ad)

[2022-06-09 08:15] fernandolucchesi opened #1132 "Create user documentation for Editors"
AEM example: https://statoilsrm.sharepoint.com/sites/EditordocumentationforAEMequinorcom/_layouts/15/Doc.aspx?sourcedoc={8e53650c-64b2-41de-bd94-96204ff172a7}&action=edit&wd=target%28General.one%7Cc6904292-2ef8-408e-802e-26da4408bd77%2FUse%20Google%20Chrome%7Cc3775a1b-1816-4410-a236-fa40febda329%2F%29&wdorigin=NavigationUrl

[2022-06-09 08:30] fernandolucchesi opened #1133 "Video for hero banner"
Use MUX with the watermark to create the functionality

[2022-06-09 08:30] #486 closed

[2022-06-09 08:30] nilsml opened #1134 "Enable DynaTrace for the solution"
**In order to monitor both what happens on the server and for the client, we should enable Dynatrace**

[2022-06-09 08:34] #213 closed

[2022-06-09 08:35] nilsml commented on #1134
Contact person (as per 9/6-22) Hans-Henrik Kivsmose

[2022-06-09 08:47] #169 closed

[2022-06-09 08:48] fernandolucchesi commented on #181
Solved with the Secret Project

[2022-06-09 08:48] #181 closed

[2022-06-09 08:48] #661 closed

[2022-06-09 08:51] fernandolucchesi commented on #1132
For reference #151

[2022-06-09 08:52] nilsml commented on #339
Will be built in to next version of Sanity

[2022-06-09 08:59] #459 closed

[2022-06-09 09:05] SvSven commented on #339
v3 of Sanity will have a basic implementation of scheduled publishing - but this may be incompatible with our current custom document actions and possibly also with the language plugin.

[2022-06-09 10:15] fernandolucchesi commented on #1067
This issue needs to be its own mini-project. It is not a simple since it involves branding / UX / etcs.

[2022-06-09 10:32] wenche commented on #959
Also pay attention to how the queries are showing in the siteimprove. Today it's bloating the Siteimprove statistics.

[2022-06-09 10:38] padms commented on #1087
Added the "Human Rights Information Request" option to Category dropdown and based on the category the catalog identifier is changed in the service-now URL.

[2022-06-09 10:45] #978 closed

[2022-06-09 10:46] #963 closed

[2022-06-09 10:48] fernandolucchesi opened #1135 "Create folder like structure for text snippets"
Investigate if we can order the text snippets in a folder like structure to make it easier for the publishers to find the relevant text snippets, and to understand where they are used.

[2022-06-09 10:49] #936 closed

[2022-06-09 10:55] #682 closed

[2022-06-09 10:56] #308 closed

[2022-06-09 11:02] fernandolucchesi commented on #888
![image](https://user-images.githubusercontent.com/23337266/172832319-ebfe1c4e-e656-4eb0-aff9-dde21e639bb2.png)

[2022-06-09 11:04] fernandolucchesi commented on #861
We can implement it if someone requests it later on

[2022-06-09 11:08] fernandolucchesi commented on #842
We can work on it later if needed.

[2022-06-09 11:08] #842 closed

[2022-06-09 11:09] fernandolucchesi commented on #835
Closing since we will migrate to MUX

[2022-06-09 11:09] #835 closed

[2022-06-09 11:13] fernandolucchesi commented on #763
This is a behaviour of the browsers.

[2022-06-09 11:13] #763 closed

[2022-06-09 11:15] wenche opened #1136 "Improve presentation for CVs"
Example https://www.equinor.com/about-us/board-of-directors-cvs

Ideally the publishers would like a way to add an image for each director, but with the current available components that doesn't look good. We should look into if it makes more sense to have a specialised component in Sanity for this, that includes a smaller image like the quote image.

### Acceptance criteri

[2022-06-09 11:21] fernandolucchesi commented on #743
Find ways to handle the language switch when page has only one page.

- dropdown?
- always display + tooltips?

[2022-06-09 11:26] fernandolucchesi commented on #729
Closing for not, can reopen later if needed

[2022-06-09 11:26] #729 closed

[2022-06-09 11:30] fernandolucchesi commented on #684
Create a description list

[2022-06-09 11:33] fernandolucchesi commented on #685
Current solution is fine

[2022-06-09 11:33] #685 closed

[2022-06-09 11:34] fernandolucchesi commented on #686
We can live without it

[2022-06-09 11:34] #686 closed

[2022-06-09 11:37] fernandolucchesi opened #1137 "Events grid should adapt to number of items"
![image.png](https://images.zenhubusercontent.com/619cb66996a338308e2dd0b8/13deb39d-5b41-4c8c-ae7c-1839a777611c)

[2022-06-09 11:43] #587 closed

[2022-06-09 11:46] #452 closed

[2022-06-09 11:48] fernandolucchesi commented on #581
Works as intended now

[2022-06-09 11:48] #581 closed

[2022-06-09 11:51] fernandolucchesi commented on #566
Not only happening to the latest news, but also other types of documents

[2022-06-09 11:55] fernandolucchesi commented on #566
Set revalidate time to 60 seconds

[2022-06-09 11:57] wenche commented on #1137
This was how it was made back in the days, because we didn't want the event card to be wider then a certain width and it didn't look good if you had only one or more events. Be careful :)

A better approach might be to look at the grids for local news, promotions, people +++ at a more high level as we kind of solve the same/very related problem in a number of different ways.

[2022-06-09 12:16] #131 closed

[2022-06-09 12:17] #142 closed

[2022-06-09 12:17] #167 closed

[2022-06-09 12:18] #216 closed

[2022-06-09 12:19] fernandolucchesi commented on #236
#664

[2022-06-09 12:19] fernandolucchesi commented on #237
Duplicate of #339

[2022-06-09 12:19] #237 closed

[2022-06-09 12:21] #283 closed

[2022-06-09 12:22] #189 closed

[2022-06-09 12:24] #449 closed

[2022-06-09 12:27] fernandolucchesi commented on #708
We have a backup

[2022-06-09 12:28] #757 closed

[2022-06-09 12:29] #762 closed

[2022-06-09 12:31] #773 closed

[2022-06-09 12:37] #984 closed

[2022-06-09 12:46] fernandolucchesi opened #1138 "Remove indexed documents from algolia"
We need a webhook that will be triggered **on updated** (watches the flag excludeFromSearch) to unindex documents, and triggered **on unpublished**.

Document a process for that in the runbook

**Acceptance Criteria**
- [x] Update runbook
- [x] Indexes are deleted whenever 'Disable from search results'  is turned on or document is unpublished or deleted.

[2022-06-09 12:53] fernandolucchesi opened #1139 "Should we have breadcrumbs?"

[2022-06-09 12:58] fernandolucchesi opened #1140 "H3 has different sizes in different documents"
H3 is different in news articles compared to topic pages

Since they are two different templates, the h3 doesn't have to look the same. On the other hand, the ones for the topic pages was updated a while back and we might have forgot to look into the news article h3. Figma does not have any examples for h3 in the news article as far as I can see. :)

### Actions
- Compare the two templates and see

[2022-06-10 08:24] nilsml opened #1141 "Errors in console for the Cookie policies page"
We should look into this.

![image](https://user-images.githubusercontent.com/1836295/173024038-0fae2c78-f1f1-43d7-b1fa-89ec06f7363b.png)

[2022-06-10 08:26] nilsml commented on #1141
[code]

[2022-06-10 09:01] nilsml commented on #1071
Action for web sites implemented. Needs testing.
Studio left to do.

[2022-06-10 10:21] fernandolucchesi opened #1142 "Make Search box font size bigger"
Some feedback about that the font size is too small for the search box

### Acceptance criteria
- Improve readability

[2022-06-10 10:25] nilsml commented on #1131
Supporting double quotes and prohibit operator can be achieved by enabling the [advancedSyntax](https://www.algolia.com/doc/api-reference/api-parameters/advancedSyntax/?client=javascript) parameter

[2022-06-10 10:31] wenche commented on #1131
"" is solved by enabling advanced syntax

[2022-06-10 10:44] nilsml commented on #1131
In production now 🥳

[2022-06-10 10:46] wenche commented on #1075
OK, nice 👌

[2022-06-10 10:46] #1075 closed

[2022-06-10 11:36] fernandolucchesi commented on #1095
Just a nit pick, we can use the "Rule" type when writing validations in Sanity instead of any.

`import { Rule } from '@sanity/types'
`

[2022-06-10 11:42] padms opened #1143 "Iframe in event template missing cookie policy"
The query for event page content is not fetching cookie policy for iframe. So the iframe on the event page is loading you tube video prior consent.
https://www.equinor.com/about-us/annual-general-meeting-2022

[2022-06-13 05:25] wenche commented on #1103
LGTM :thumbsup:

@meols  You can retest in your page :)

[2022-06-13 05:40] nilsml commented on #1071
Now both studio and web is implemented, but not tested. Need to figure out a way to test these in a safe manner.

[2022-06-13 05:48] wenche commented on #1126
LGTM :thumbsup:

[2022-06-13 05:48] #1126 closed

[2022-06-13 05:49] wenche commented on #1087
@meols you may test, see URL from Padmaja above

[2022-06-13 06:01] wenche commented on #1043
We have adjusted the time to `60 seconds` for the Sanity content.

So at the moment, the rules are:
- For all content that lives in Sanity, Next.js will try to re-generate the content at most once every 60 second
- For the search, we will run the query once every 5 minutes (#833 for improvements)

It is important to understand that the timing is a balance between performance, user experience and c

[2022-06-13 07:29] wenche commented on #1142
@BirteThornquist  You may test in development https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/search?query=hel

I did what you suggested, but I didn't change any of the spacings. What do you think?

[2022-06-13 09:51] meols commented on #1087
Thanks @wenche - I've tested and submitted a ticket and asked to get a confirmation that it goes to the right assignment group in ServiceNow.
I see that this change is already published in the form on equinor.com - with English text in the Norwegian form. What is this text called in text snippets? I cant find it (immediately).
Also, I don't understand the process of testing and launching updates,

[2022-06-13 11:12] fernandolucchesi opened #1145 "Images"

[2022-06-13 11:14] BirteThornquist commented on #1142
I think this is good @wenche

[2022-06-13 11:24] fernandolucchesi opened #1146 "Magazine"

[2022-06-13 11:29] fernandolucchesi opened #1147 "Magazine subscription"
Users should be able to subscribe to magazine newsletters.

[2022-06-13 11:31] fernandolucchesi opened #1148 "Magazines should be searchable"
Magazine content should be indexed in algolia as we do for news.

A newsroom like page, and a link in the Menu is also required.

Accept criteria:
- [ ] Improve search documentation in Runbook
- [ ] Add documentation for magazines in Runbook
- [x] Verify if sanity roles need to be updated to include magazine, if not already done so

[2022-06-13 11:31] wenche opened #1149 "Do not make it possible to select non-SVG images in the Text with icon component"
This is for making things more understandable for the publisers.

### Background
We do have an `accept` for the svg filetype only if you upload a new image to the Text with icon component. However, this limitation is not reflected when you select an existing image.

### To investigate
Can we add a validation to the image field that will only allow for file types of SVG? We don't know if this is po

[2022-06-13 11:36] fernandolucchesi opened #1150 "How to handle grids for different components"
This is an investigation / should discuss with the team issue

[2022-06-13 11:48] fernandolucchesi opened #1151 "Documentation for Editors"
This document should work as the one that exists for AEM, with screenshots and explanation of components / how to use them in Sanity.

AEM example: [https://statoilsrm.sharepoint.com/sites/EditordocumentationforAEMequinorcom/_layouts/15/Doc.aspx?sourcedoc={8e53650c-64b2-41de-bd94-96204ff172a7}&action=edit&wd=target%28General.one%7Cc6904292-2ef8-408e-802e-26da4408bd77%2FUse%20Google%20Chrome%7Cc377

[2022-06-13 12:12] fernandolucchesi opened #1152 "Accessibility"

[2022-06-13 12:33] fernandolucchesi commented on #1063
It was decided during workshop that we should have a separate page for this and add a link in the menu.

[2022-06-13 12:33] fernandolucchesi opened #1153 "Add thumbnails to the newsroom"
We should include a thumbnail preview  along with the alt text in the newsroom. UX TBD.

It is important that the image url that is added to Algolia will fetch an image as small as possible for the user interface using Sanity's image pipeline. `https://cdn.sanity.io/images/h61q9gi9/global/71b85e04b35c868b9e7ba02e77d9212c2d559191-6720x4480.jpg?rect=1120,0,4480,4480&w=130&h=130&q=60&fit=max&auto=for

[2022-06-14 05:45] wenche commented on #1087
@meols Yes, you are completely right, this is far from an optimal process :/

We will do a release when everybody is at work, and it will then be available in Sanity. The Sanity change is currently just in preprod

[2022-06-14 06:36] SvSven commented on #1143
LGTM 👍

[2022-06-14 06:37] fernandolucchesi commented on #1038
@meols can you test this now?

[2022-06-14 06:37] SvSven commented on #1043
Let's see how it goes with 60 seconds, if not I would suggest we use SWR for the news promotion at least.

[2022-06-14 06:37] #1129 closed

[2022-06-14 06:52] wenche opened #1156 "Document how images work"

[2022-06-14 07:41] fernandolucchesi opened #1157 "Have a vault with all secrets / environments etcs"
- [x] SSL Certificates and private keys for all sites
- [x] Environment Variables

[2022-06-14 08:07] meols commented on #1087
@wenche - still don't understand the process, as the form update was visible on equinor.com before I had looked at it or tested it anywhere. The reason why I looked at the .com page at all was that my "customer" had noticed the change and closed my task for this in a request in serviceNow with the comment that she saw that the update in the form was done.

[2022-06-14 08:21] padms commented on #1095
Changed any to Rule

[2022-06-14 11:14] fernandolucchesi commented on #1109
#1108

[2022-06-14 11:22] fernandolucchesi commented on #1070
Include this in the runbook (if not yet)

[2022-06-14 11:26] fernandolucchesi commented on #986
Possible solution: figure out all places where isStatic is being used -> refactor to external links -> remove isStatic

(isStatic was intended for old AEM topic pages)

[2022-06-14 11:37] #241 closed

[2022-06-14 11:39] fernandolucchesi opened #1158 "List all missing components in Storybook"
We should create a list of all missing components in storybook, and later implement them to keep storybook updated

[2022-06-14 11:40] #261 closed

[2022-06-14 11:43] #411 closed

[2022-06-14 12:06] nilsml commented on #1087
@meols this time the reason for deploying to production before you had verified everything was because of serious problem we have been experiencing (#1128). Then bypassed the process to try fixing this.

In the future we should implement feature toggling so that we can turn off new untested functionality if we have to do emergency deployments.

[2022-06-14 12:24] meols commented on #1087
Thanks for clarifying @nilsml

[2022-06-14 12:24] #1087 closed

[2022-06-15 07:02] wenche commented on #1130
Ref the browser back issue. On my mobile it almost seems like whats happening is the following: When I press button back, the scroll position is restored on the current side and the the navigation completes and takes you to the top of the prev side.
To see what I mean, test with https://www.equinor.com/investors Scroll down to the Equinor in brief card and click the link. When you push back, you c

[2022-06-15 07:04] wenche commented on #1130
Another evidence indicating that this is something with the client side navigation and routing: The link to the /50 page on the frontpage does not have this issue (if you click browser back on /50 page, the scroll position is correct on the frontpage)

[2022-06-15 08:41] wenche opened #1159 "Preview for unpublished news does not work properly"
Steps to reproduce
Issue one
- Create a new news article
- Add a slug
- Click three dots -> open preview
- Redirected to /news/archive/:slug:

Issue two
Previewing a Norwegian version of an unpublished news does not work since the preview path doesn't add the locale information `no`. Because of this you will only see the 404 page since it doesn't exist on the English version

![Skjermbilde 2022-06

[2022-06-15 10:48] meols commented on #1111
Thanks, looks good @fernandolucchesi @wenche

[2022-06-15 10:48] #1111 closed

[2022-06-15 10:50] meols commented on #1142
Thanks @wenche @BirteThornquist - looks good :smile:

[2022-06-15 10:50] #1142 closed

[2022-06-16 06:48] #1143 closed

[2022-06-16 06:49] SvSven commented on #1124
I was going to say that just hiding the warning is not the best solution since we don't actually fix the problem... but I see they write specifically this in that article:

So in that case this seems like a good solution 👍

[2022-06-16 08:09] fernandolucchesi commented on #1095
@meols, can you please test this one on https://studio-global-test-equinor-web-sites-test.c2.radix.equinor.com/ ?

[2022-06-16 08:44] wenche commented on #1156
As a start, we have added two documents in the development dataset
[News](https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/news/images)
[Topic content ](https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/images)

[2022-06-16 10:13] wenche commented on #1051
[Forgot to add the one for Reach](https://github.com/reach/reach-ui/issues/916)

No progress on any of the issues yet.

[2022-06-16 11:29] wenche commented on #935
@meols  It's just the default focus indicator. (Old) iPhones doesn't work in the exact same way as every other device :(

I couldn't replicate this using Browserstack, but I added a quick fix. If this doesn't solve the problem for you, my recommendation  will be to just let it go as this is really a small issue.

(And the default one, but we are doing some magic to avoid to show the default focus

[2022-06-16 11:32] wenche commented on #935
@meols Soon (approx 10 minutes) to be available for testing in the [test environment ](https://web-global-test-equinor-web-sites-test.c2.radix.equinor.com/)

[2022-06-16 11:53] wenche commented on #768
Things like this are probably fixed in v3 of Sanity studio, so let's wait and see.

[2022-06-16 12:03] wenche commented on #380
Let's keep this as a future reference, but v3 of the studio might change the suggested workflow we initially got from Simeon.

[2022-06-16 12:09] wenche commented on #584
This is not what this issue is about. This issue is about categorising the more specialised less used components inside the Sanity studio component array, like we do for the promotions. We also wanted to add the title and ingress the way it is done for the promotions to make things more consistent . :)

If we do this, the list will be easier to navigate and adding like a twitter component will sti

[2022-06-16 12:09] SvSven commented on #1071
Can we use this on a different environment, for example global-development to test?

[2022-06-16 12:17] #764 closed

[2022-06-16 12:42] SvSven commented on #767
I agree with closing it in that case 👍

[2022-06-16 12:49] wenche commented on #755
Nice suggestion about the preview by ID instead. It could be worth to look into :thumbsup: I don't want to mess up more here now since we already have issues with news preview (#1159), but def. something to take into consideration.

I'll create a new issue for your suggestion.

I have updated the preview message
![Skjermbilde 2022-06-16 kl. 14.43.48.png](https://images.zenhubusercontent.com/5fb7aa

[2022-06-16 12:56] wenche opened #1161 "As a publisher I would like to preview a news article without being forced to add a slug first"
The news article preview was created a long time ago and it is made in a way that requires a slug in order to preview.
![Skjermbilde 2022-06-16 kl. 14.51.01.png](https://images.zenhubusercontent.com/5fb7aa9b653d5135bb8c50f5/acd20847-b63b-4d9b-812a-a099ee1759dd)

Since then, we have learnt that we could also preview by id and this is the way the Topic content preview works. This will be a better ap

[2022-06-16 12:57] wenche commented on #755
@SvSven  What do you think? Added #1161 for the id suggestion

[2022-06-16 12:58] SvSven commented on #755
Perfect 👍

[2022-06-17 05:57] nilsml commented on #1051
Why isn't this closed? pnpm is using latest version already

[2022-06-17 06:22] wenche commented on #1051
Because we are waiting on updates for all the library mentioned in the comments to get rid of peerDeps warnings

[2022-06-17 12:29] padms commented on #989
Please review the PR

[2022-06-17 12:57] SvSven opened #1162 "'smallText block style not supported' error in server logs"
The server logs are getting spammed with an error:

`Unknown block style "smallText", specify a component for it in the `components.block` prop`

[2022-06-20 07:02] padms opened #1164 "White space between components with same background in news page"
See the link https://www.equinor.com/news/20220617-considering-1gw-offshore-wind-farm-off-western-norway

[2022-06-20 07:43] fernandolucchesi opened #1165 "SSL certificate for SouthKorea"
SSL for:

equinor.co.kr
equinor.kr

[2022-06-20 07:45] fernandolucchesi opened #1166 "Launch SouthKorea Website"
Technical
- [x] Request DNS change (use the new cluster)
- [x] Add domain to `robots.txt.ts` and `satellitesConfig.js`
- [x] Add missing roles, if any, to sanity.io
- [x] Add GTM to radixconfig
- [x] Redirect equinor.kr to equinor.co.kr (should keep path)
- [x] Add domain url to the Cookie Bot (@padms)
- [x] Add SSL certificates
- [x] Test PREPROD environment
- [x] Push to prod

Editorial
- [ ] Mi

[2022-06-20 08:42] fernandolucchesi commented on #1128
The root cause of this issue is still unknown.
To buy us more investigation time, the number of replicas in production was increased to 3.

-

Findings:
There is a CPU memory spike starting 3 ~ 5 minutes before the crash
Server side logs shows a pnpm error
Siteimprove scan is OK
Crashes are more frequent during day time -> possibly related to user behaviour

-
Hypothesis:
Crash is related to user

[2022-06-20 12:06] meols commented on #935
Looks good - thanks!

[2022-06-20 12:06] #935 closed

[2022-06-20 13:47] fernandolucchesi commented on #1042
@SvSven can you take a look at what has been done here? :)

[2022-06-20 13:59] fernandolucchesi commented on #1162
Looks good to me. Let's deploy to prod tomorrow and watch if logs are gone, if so we close this.

[2022-06-20 14:02] fernandolucchesi commented on #1121
Moving this back to the backlog since Birte has left the show :(

[2022-06-20 14:05] fernandolucchesi commented on #1156
Hi @meols, can you take a look at the documentation that has been written here? If this looks good for you we can also add it to another location (wiki / doc / other dataset etcs).

[2022-06-21 07:36] #1043 closed

[2022-06-21 08:57] SvSven commented on #1042
Missing the preview and 'connected routes' tabs on the Magazine document in the Studio.

I'm also not seeing the Text content rendered in the Magazine landing page.
Similarly the components don't seem to be rendering for the magazine documents:

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/e5989fae-949a-4113-9859-e15e0a812c08)

[2022-06-21 11:49] padms commented on #1095
@meols I used equinor_de as the value.

[2022-06-22 12:29] meols commented on #1095
@padms - it doesn't seem to work for me with this setting.
- Anything I should change?
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/0e64cbe6-2781-415b-9ec1-3d22cc9872ca)
- Also I see a glimpse of a cookie message that doesn't stay (see attached mp4 file) . As I asked in my previous comment as well; does the twitter feed trigger any cookies?
- If yes, should the compon

[2022-06-23 07:18] fernandolucchesi commented on #989
Left one last suggestion but looks good to me. I will try to find out if we should modify the paddings of the deprecated document to make it look like the new one, since now old & new look different

[2022-06-23 09:06] fernandolucchesi opened #1171 "SEO Improvements"
TAGS:

Href lang should not have extra trailing `/` in home page
Href lang for default language should not include `/en`

<img width="556" alt="image" src="https://user-images.githubusercontent.com/23337266/175262239-5ab627ec-f54a-4125-90f8-2482a10e29e3.png">

Scripts:

Do not add SiteImprove scripts to test datasets

[2022-06-23 09:10] fernandolucchesi opened #1172 "Statoil external redirect"
Currently we only redirect statoil.com to equinor.com.
We should redirect every statoil url to equinor.com, example:

statoil.com/123/456 -> equinor.com/123/456

[2022-06-24 05:29] padms commented on #1095
@meols : Yes, Twitter feed sets marketing cookies when user interacts with the feed. By default Cookie consent banner shows up to asking the user for requesting marketing cookies. Otherwise the feed loads correctly.
I checked in my mobile and the feed loads properly. Could you check if there is something that is blocking twitter.

[2022-06-27 06:43] fernandolucchesi opened #1173 "Add news for Japan website"
Possibility of different language using the same slug should be added.

Eg:
[code]

[2022-06-27 06:56] padms opened #1174 "ENQ5893906 : Errors with 404/500 pages and the cookie popup on the Japan site"
https://equinor.service-now.com/nav_to.do?uri=%2Fincident.do%3Fsys_id%3D9fae7e1997105190993f3077f053afcc%26sysparm_record_target%3Dtask%26sysparm_record_row%3D1%26sysparm_record_rows%3D3%26sysparm_record_list%3Dactive%253Dtrue%255EstateNOT%2BIN6%252C5%255Eassignment_group%253D577de1e1db2f6c1024b56055ca961975%255EORDERBYDESCsys_created_on

[2022-06-27 08:13] #755 closed

[2022-06-27 13:09] SvSven commented on #1116
@fernandolucchesi @padms

This should now be ready for technical review. You can find all the code for it here: https://github.com/equinor/energyvision/tree/main/studio/plugins/asset-source-fotoware

Took the liberty of adding a README explaining the workflow as well, since this is a little bit more complex than the BrandMaster integration we have.

The Azure Functions used for authentication and

[2022-06-27 14:33] padms commented on #1166
The website equinor.kr should be redirected to equinor.co.kr , redirect should include sub pages as well

[2022-06-27 14:58] padms commented on #1095
Improved help text

[2022-06-28 08:20] meols commented on #1095
@padms - Great if you can add validation for the relevant fields, as suggested in the meeting.
Suggestions for improving texts:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/3fd71807-c999-4db8-b3c5-48a16aed86b7)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/4efe7668-3b76-486c-9e1d-30f10186e41b)
Enter tweetid (number) for embedding single tw

[2022-06-28 08:24] fernandolucchesi commented on #775
Check with sanity if we can have a pre-defined crop area for different dimensions

[2022-06-28 08:41] fernandolucchesi commented on #1049
Remove crude oil tags from algolia

[2022-06-28 08:58] #1174 closed

[2022-06-28 09:02] meols commented on #1095
@padms - Also I think it should show somewhere in the component that it sets marketing cookies, so that editors knows this

[2022-06-28 14:01] fernandolucchesi commented on #1173
Hi Sven, can you review this one? To make it easier you can modify the languages allowed for the development dataset:

<img width="466" alt="image" src="https://user-images.githubusercontent.com/23337266/176198018-20c7fea6-7a72-4abc-bcab-41e430e917fe.png">

[2022-06-29 07:17] padms commented on #1147
Need to confirm from Brandmaster that the data is received correctly

[2022-06-29 15:18] fernandolucchesi commented on #989
We don't need since it will be deprecated, branch can be merged :) @padms

[2022-06-29 17:52] fernandolucchesi opened #1178 "Not possible to publish documents with translations"
It is not possible to publish english documents with a norwegian translation due to an error saying that the other language has a reference to the document and it cannot be deleted.

The reference turns out to be the i18n ref to the base document.

A workaround is publishing the norwegian first, and then publishing the english doc.

No new features were released yesterday so this likely due to the

[2022-06-29 20:32] #1178 closed, assigned to fernandolucchesi

[2022-06-30 09:14] SvSven commented on #1162
Found out the error pages do not handle the `smallText` option but did have it enabled in the schema. Seems that despite there not being a value in the block content that actually uses the `smallText`, it being part of the schema and not being handled on the frontend still causes this error message.

Have disabled the `smallText` in the schema, as it's not needed for the error pages at this point

[2022-06-30 21:25] fernandolucchesi commented on #1173
@SvSven

[2022-06-30 22:40] fernandolucchesi commented on #992
Hi @padms, left a couple of minor cleanup comments, other than that it looks rly good! well done! :)

[2022-07-01 07:24] fernandolucchesi commented on #1171
@padms wrote you a comment

[2022-07-01 07:35] SvSven commented on #1173
Looks to be selecting the correct document now 👍

I would be disappointing Nils Magne if I didn't point out that this could be a function: https://github.com/equinor/energyvision/commit/cd28e03aab2831e7842706b9013e3e094cc0264b#diff-da4ce219f31e0775067ad965d2b09e19c33eec51f78ca54f93c04ebc21b0dd88R67-R78

But this approach works as well ✅

[2022-07-01 14:07] padms commented on #1171
Done..

[2022-07-04 07:55] fernandolucchesi commented on #1173
good point! Refactored =)

[2022-07-04 11:04] fernandolucchesi commented on #1147
Looking good! =)

[2022-07-04 12:13] fernandolucchesi opened #1182 "Emergency Website"
We need an emergency website in case of a black screen scenario.

The emergency website must:

- be independent from external CMSs
- be easily deployable to any cloud provider or server
- contain a built-in CMS with tile, date, text fields
- contain a simple internal log in system independent from external providers
- Have a similar look'n'feel of the main website

Acceptance criteria:
- [ ] Updat

[2022-07-04 12:57] SvSven commented on #1053
I have added a field `excludeFromSearch` to the schema which defaults to `false` - and have added this field to the `news` and `routes` schemas.
Decided it would make more sense to actively exclude documents instead of what was suggested in the issue description.

![image.png](https://images.zenhubusercontent.com/5dba9d22e2edb600015fe6c0/792a71b2-5da2-4205-955b-5776c30a8556)

Have also updated the

[2022-07-04 14:01] padms commented on #1100
Created Video component in sanity to upload video.
Created Video component in the web to display the uploaded video ( no tracking).

[2022-07-05 07:42] #1171 closed

[2022-07-05 07:43] SvSven commented on #1162
Review pending deploy to production to see if issue is fixed

[2022-07-06 06:59] fernandolucchesi commented on #1053
Looks good to me! 👍

[2022-07-07 11:48] fernandolucchesi commented on #1053
@jorgol

[2022-07-07 12:01] fernandolucchesi commented on #1147
@padms can you confirm you got the subscription data correctly?

[2022-07-07 12:01] #1147 closed

[2022-07-07 12:08] fernandolucchesi opened #1184 "Checklist for what to check when upgrading dependencies"
Setup a github template for this.

[2022-07-07 12:10] fernandolucchesi opened #1185 "Create feature request in radix to add timestamps to the terminal"

[2022-07-07 12:11] fernandolucchesi opened #1186 "Add logs to our newsletter distribution endpoints"
It occurred twice that newsletter wasn't distributed properly. Add logs to the endpoint to assist figuring out the problem

[2022-07-07 12:14] fernandolucchesi opened #1187 "Runbook Update"
Let's make sure we keep the runbook up-to-date

[2022-07-07 12:15] fernandolucchesi opened #1188 "Documentation for the Emergency website"

[2022-07-07 12:16] fernandolucchesi opened #1189 "Improve documentation for Search"

[2022-07-07 12:16] fernandolucchesi opened #1190 "Documentation for MUX"

[2022-07-07 12:16] fernandolucchesi opened #1191 "Documentation for Magazines"

[2022-07-07 12:17] fernandolucchesi opened #1192 "Documentation for deprecated fields in event and anchor link"

[2022-07-07 12:17] fernandolucchesi opened #1193 "Documentation for Fotoware"

[2022-07-07 15:49] fernandolucchesi opened #1195 "Path /news not working for satellite websites"

[2022-07-07 20:09] SvSven commented on #1195
Looks like it works for the sites that have a /news set up 👍

[2022-07-08 07:25] jorgol commented on #1053
Doesn't seem to work when I set the Johan Sverdrup route to be excluded. It still shows up in search. Does it only work for new documents?

https://studio-global-test-equinor-web-sites-test.c2.radix.equinor.com/desk/topicRoutes;englishUkRoutes;topLevelRoutes;b6c76ce4-d4c8-43c9-85f1-05ef639d392a

https://web-global-test-equinor-web-sites-test.c2.radix.equinor.com/search?query=johan+sverdrup

[2022-07-08 07:30] jorgol commented on #1173
@fernandolucchesi I see that news are available both on the Japan and Korea site - is there anything left for me to test/approve?

[2022-07-08 07:42] jorgol commented on #1042
Looks good. But do we have a solution for displaying them on /magazine and /magasin ? Or did we agree to display/promote them manually?

[2022-07-08 07:48] jorgol commented on #1156
Thanks. If these URLs are accessible for everyone and/or should be placed somewhere else, this can be closed as completed.

[2022-07-08 07:55] jorgol commented on #1038
@fernandolucchesi This seems to work now for news, but not for local news (tested on global test site)

[2022-07-08 07:58] jorgol commented on #1103
Still doesn't seem to work?

https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/mette-test-1#anchor-test

[2022-07-11 07:42] #1195 closed

[2022-07-11 08:10] fernandolucchesi opened #1197 "Automate removing documents from algolia"
Right now we need to delete documents manually from Algolia. We should have a function doing it automatically.

[2022-07-11 08:12] SvSven commented on #1053
Looks like documents that have already been published (and indexed) won't get removed by this. We made an issue to handle that #1197

For now this will only work when you create a new route or news article then.

[2022-07-11 08:12] fernandolucchesi commented on #1147
Person from Brandmaster is on holidays until August 1st

[2022-07-11 08:13] fernandolucchesi commented on #1173
That's all =)

[2022-07-11 08:15] fernandolucchesi commented on #1042
Request will be solved on #1148

[2022-07-11 08:15] fernandolucchesi commented on #1042
Adjust feature flag

[2022-07-11 08:17] #1095 closed

[2022-07-11 08:25] fernandolucchesi commented on #989
@jorgol

[2022-07-11 08:26] #992 closed

[2022-07-11 09:30] #1042 closed

[2022-07-11 11:00] #1173 closed

[2022-07-12 06:54] padms commented on #1049
Articles related to crude oil assays are filtered based on the subscription type and not by the tag name.
The news promotion in front page will not show crude oil assays unless "Crude oil assays " tag is added to the news promotion.

[2022-07-12 08:11] #1189 closed

[2022-07-12 08:11] #1190 closed

[2022-07-12 08:12] #1188 closed

[2022-07-12 08:13] #1191 closed

[2022-07-12 08:14] #1192 closed

[2022-07-12 08:17] fernandolucchesi commented on #1128
New findings:

 - Storage crash looped, so this is not related to specific global features
 - Another person with similar issue: https://equinor.slack.com/archives/CBKM6N2JY/p1657523210274699?thread_ts=1657523210274699&cid=CBKM6N2JY

[2022-07-12 08:19] fernandolucchesi opened #1198 "Review Secret Website"
Acceptance criteria:
- [x] Duplication should work
- [x] Newsletter should work

[2022-07-12 11:28] SvSven commented on #1103
Seems like the issue is not so much with the promo tile link, but with the anchor references that is being linked to.
The `anchor reference` in the link needs to match the `anchor` of a component, and on that particular page there are no components that have the anchor `anchor-test` or `2` - so there is nothing to link to.

We recently changed the way we do anchors, it's now a dedicated component

[2022-07-12 13:43] jorgol commented on #1103
Yes, I mixed up the anchor reference and the actual anchor.

So both with regard to that and the fact that we have a new anchor link component means this story can be approved/closed. :)

[2022-07-12 13:53] fernandolucchesi opened #1199 "First publish didn't work as expected"
`firstPublishedAt` field was erroneous updated between revisions:

https://equinor.sanity.studio/desk/news;4b320f0f-ee49-4d19-a86d-42119521c8a6%2Crev%3D2022-07-12T11%3A59%3A51.496413Z%2FotwEPi8NkWYpA9uLbw6HZ5%2Cinspect%3Don

and:

https://equinor.sanity.studio/desk/news;4b320f0f-ee49-4d19-a86d-42119521c8a6%2Cinspect%3Don%2Crev%3D2022-07-12T12%3A06%3A42.551805Z%2FoPCumSShnmMkQJ90r8mCny

I couldn't

[2022-07-13 05:58] padms commented on #1165
Received SSL certificates...

[2022-07-13 05:58] #1165 closed

[2022-07-13 06:43] #1103 closed

[2022-07-13 09:36] fernandolucchesi opened #1200 "Line break for Japanese and Korean language"
Words are not breaking correctly: https://css-tricks.com/almanac/properties/l/line-break/

[2022-07-14 12:07] fernandolucchesi commented on #1186
@padms, I extracted your code into a separate function but looked good!

[2022-07-14 13:50] fernandolucchesi commented on #1049
Left a comment [on latest commit](https://github.com/equinor/energyvision/commit/06208b2b81ff9e3fa950a7fea831da7165ac310e)

[2022-07-14 15:59] fernandolucchesi commented on #1182
Ready to be reviewed: https://github.com/equinor/energyvision-emergency

For the MVP, only "Create" operation has been implemented

[2022-07-15 10:54] fernandolucchesi commented on #1116
Works and code looks good ✅

- just a reminder to update runbook before closing this issue

[2022-07-18 08:31] fernandolucchesi commented on #1038
@jorgol the same logic is applied to localNews, can you test it again?

[2022-07-18 08:54] fernandolucchesi opened #1202 "Upgrade Newsletter distribution endpoint"
The webhook just had a breaking update that is crucial to ensure the correct distribution of our newsletters. We should prioritise this since the quarterly results publication is coming soon.

https://github.com/sanity-io/webhook-toolkit#usage-with-nextjs
https://github.com/sanity-io/webhook-toolkit/blob/main/CHANGELOG.md#200

https://equinor.slack.com/archives/C01A4BGNRMJ/p1655381510468569

[2022-07-18 10:48] padms commented on #1100
@fernandolucchesi Most of the points above are related to the asset being a test asset

[2022-07-18 11:24] padms commented on #1100
@fernandolucchesi Yes it is possible to set up different environments for different datasets.

[2022-07-18 11:26] padms commented on #1049
Updated query to index news with no tags defined.

[2022-07-19 09:46] fernandolucchesi opened #1203 "Vulnerabilities in linux image"
Radix is warning about existing vulnerabilities related to the linux image that we use in the docker file. We should address those.

[2022-07-19 11:42] meols commented on #669
@fernandolucchesi - if this is possible, and we just need to send a request over slack channel with projectId / dataset / doc id, please do so :smile:

[2022-07-19 11:44] meols commented on #669
And also request to replace display of «cryptic» file URLs on sanity server with «equinor.com»

[2022-07-19 12:14] #1186 closed

[2022-07-20 07:45] SvSven commented on #1182
The `.vercel.app` domain appears to be blocked by network policy on the Equinor network and managed devices.
We should put in a ticket to have the URL for the emergency website whitelisted.

[2022-07-20 08:23] meols commented on #989
@fernandolucchesi - this looks good :smile:
But also adding a question; how should the approval process work? This is already in production before being approved

[2022-07-20 10:37] SvSven commented on #1172
I feel like these things should be handled on a DNS level at the registrar - but I guess that's not going to happen based on previous experiences.

Looks good to me 👍

[2022-07-20 10:40] SvSven commented on #1199
Wouldn't it be better to use React state here instead of `let`?

[2022-07-20 12:48] meols commented on #989
@fernandolucchesi - "Feature Flags" sounds great :clap:

[2022-07-20 13:48] fernandolucchesi commented on #1202
Impossible to use feature flag here because the dependency upgrade broke the old behaviour of the `isValidRequest` method (https://equinor.slack.com/archives/C01A4BGNRMJ/p1658324635531489?thread_ts=1655381510.468569&cid=C01A4BGNRMJ)

[2022-07-20 16:01] fernandolucchesi commented on #1172
Yes agree :/ thought about having it in the next.config.js too but we  still have some assets working with statoil url afaik

[2022-07-20 16:06] fernandolucchesi commented on #1199
Hmm but then the state would be updated only in the next re-rendering, unless logic was moved inside an useEffect. Since the 'error' logic is all inside the "else" block, I don't really see the need of using state here

[2022-07-21 08:38] SvSven opened #1205 "add 'sharp' image optimization for production build"
This warning showed up in the logs:

[code]

See: https://nextjs.org/docs/messages/sharp-missing-in-production

We should probably add that if it is recommended.

[2022-07-21 08:40] SvSven commented on #1199
Seems reasonable enough 👍

[2022-07-21 08:42] SvSven commented on #669
@meols We had a short discussion with Sanity about the URL structure, and it is definitely possible to use something like `https://cdn.equinor.com/123blabla` for assets - we wouldn't be the first client to request/do that.

[2022-07-21 08:56] fernandolucchesi opened #1206 "Set korean as default language"
Korean should be the default language for the korean website

[2022-07-21 09:28] #1166 closed

[2022-07-21 13:20] fernandolucchesi opened #1207 "Bhavika onboarding 🎉"
Let's give Bhavika a nice and welcoming onboarding! 🥳

--------
**Onboarding**

- [x] Let's get productive!
    - [x] Add to slack channels
    - [x] Prepare list of nice first issues
    - [x] Setup and run code locally

- [ ] Meet the team!
    - [x] 20 min 1-1 call with @SvSven
    - [x] 20 min 1-1 call with @fernandolucchesi
    - [x] 20 min 1-1 call with @padms
    - [ ] 20 min 1-1 call with

[2022-07-21 13:22] #1202 closed

[2022-07-21 13:35] #1172 closed

[2022-07-21 13:35] #1199 closed

[2022-07-21 13:35] #1206 closed

[2022-07-21 13:36] fernandolucchesi commented on #1053
@SvSven, can we close this one?

[2022-07-21 14:09] fernandolucchesi commented on #1198
Tested publishing a news from secret and duplicating into development.
Everything worked as intended:

<img width="599" alt="image" src="https://user-images.githubusercontent.com/23337266/180234427-b4ce4a6e-885b-4d2b-a23b-ced742be6717.png">

[2022-07-22 05:26] #989 closed

[2022-07-22 07:33] #1198 closed

[2022-07-22 07:35] fernandolucchesi commented on #1053
Closing it :)

[2022-07-22 07:35] #1053 closed

[2022-07-22 07:36] fernandolucchesi commented on #1038
@meols can you test this one since Jørgen is on holidays?

[2022-07-22 07:38] fernandolucchesi commented on #1049
@meols, if a news has two tags: "Crude Oil" and "General News", should we index it or not?

[2022-07-22 13:00] meols commented on #1038
@fernandolucchesi - it doesn't seem to be working for either news or local news. Tested with this news (without using custom date): https://web-global-test-equinor-web-sites-test.c2.radix.equinor.com/news/friday-news-test
The English version was published 14:35 and not updated or republished after that. It still got a modified time 14:43, when the Norwegian version was published.
![image.png](http

[2022-07-22 13:37] meols commented on #1049
@fernandolucchesi - if a news has both these topic tags it should be indexed. Then it will have the general news **subscription** tag, and be an article around crude oil. A news with crude oil subscription tag (for crude oil assay updates) will never have a general news topic tag.

[2022-07-22 14:11] #1200 closed

[2022-07-22 15:14] #1187 closed

[2022-07-22 15:21] #767 closed

[2022-07-22 15:22] fernandolucchesi commented on #955
Closing as we won't change this anymore

[2022-07-22 15:22] #955 closed

[2022-07-22 15:28] fernandolucchesi commented on #1132
Duplicate of #1151

[2022-07-22 15:28] #1132 closed

[2022-07-25 07:06] SvSven opened #1209 "Upgrade dependencies"
⚠ Blocked until after quarterly results release ⚠

We have a couple of Snyk PR's waiting to be merged - and a number of other outdated dependencies waiting. We should always strive to be as up to date as possible to avoid any potential security problems.

Difficult to assign story points for this task since it could be as quick as an hour but it could be as long as a week, it all depends on the (p

[2022-07-25 07:24] SvSven commented on #1148
Pending creation of magazine articles.

What's left to do is documentation at least.

[2022-07-25 07:37] SvSven commented on #566
Based on a discussion on the Sanity slack channel, the problem looks like it might be related to the use of the Sanity CDN in combination with static page generation - which is causing is to fetch stale data.

One solution is to just disable the use of the CDN, but this might cause slower queries and higher data usage - which is not ideal. I think the best approach for the latest news component (a

[2022-07-25 08:51] fernandolucchesi opened #1210 "Change main language for japanese website"
Satellites should always have the country's language as the main language in the website, and english in the studio.

Docs should be updated.

[2022-07-25 09:44] padms opened #1211 "You tube cookies set even before consent"

[2022-07-25 12:30] fernandolucchesi commented on #1038
I found a problem with the test studio :( have fixed it now, can you please try again?

[2022-07-25 12:53] fernandolucchesi commented on #1185
This had already been created https://github.com/equinor/radix-platform/issues/689

[2022-07-25 12:53] #1185 closed

[2022-07-25 13:01] fernandolucchesi opened #1212 "Error in order report form"
There is an error going on in the radix console:

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/23337266/180783561-2ef43052-49e6-4df1-976f-935006870cc4.png">

[2022-07-25 13:38] fernandolucchesi commented on #1148
Hi @SvSven, a few points:

There is a 'News' placeholder in the Magazine.
<img width="599" alt="image" src="https://user-images.githubusercontent.com/23337266/180789482-0b7d2346-66f9-4f9c-b201-7108f1467a4d.png">

This would also be nice to be renamed, in MagazineIndexPage.tsx:
<img width="347" alt="image" src="https://user-images.githubusercontent.com/23337266/180789655-ba963f2b-ec7b-4c7e-930b-262

[2022-07-25 13:54] fernandolucchesi commented on #1148
We should also make sure the magazine type is added correctly to the sanity roles before deploying to production. I'll update the acceptance criteria

[2022-07-26 08:20] fernandolucchesi commented on #775
Probably fixed by Fotoware

[2022-07-26 08:25] fernandolucchesi commented on #957
Review if needed

[2022-07-26 08:33] fernandolucchesi opened #1213 "Event template contact list ingress not showing"
Are we using it at all? If not investigate if we can remove it

[2022-07-26 08:37] fernandolucchesi opened #1214 "Dependencies"

[2022-07-26 08:38] fernandolucchesi opened #1215 "1203"

[2022-07-26 08:38] #1215 closed

[2022-07-26 08:59] fernandolucchesi opened #1216 "Get access to different clouds"
Contact person is Keth Iren Brauth.

We need access to AWS and GCloud to be able to deploy the emergency website.

[2022-07-26 12:24] padms commented on #1049
Reverted.

[2022-07-26 13:15] meols commented on #1038
@fernandolucchesi I have tested again with this news https://web-global-test-equinor-web-sites-test.c2.radix.equinor.com/news/news-test-tuesday
- The English page was created 09:12 and published 09:15 (and not updated/published after that).
- The Norwegian page was created 09:20 and published 09:27
- When the Norwegian page was published 09:27, the English page got a modified date/time at the same

[2022-07-26 13:24] meols opened #1218 "Handling of anchors/deprecated anchors"

[2022-07-26 13:37] meols commented on #1218
It seems that now we can't edit or remove anchors added to the text block components. Therefore we can't copy a text block component containing an anchor and reuse it either, since we then will have identical anchors after copying the component (in the copied text component).
Is it decided that we only will have anchor links in the separate anchor link component, and not e.g. in the text block com

[2022-07-27 13:26] fernandolucchesi commented on #1038
I will move this to on hold. Atm there is a limitation with sanity internationalisation plugin to get the updatedAt right: https://equinor.slack.com/archives/C01A4BGNRMJ/p1658924207824719

[2022-07-27 13:29] fernandolucchesi commented on #1216
Status: reached out to contact person on slack and am waiting for reply: https://equinor.slack.com/archives/CBV2ELVTM/p1657627053831279

[2022-07-28 06:14] SvSven commented on #1116
Some feedback from editorial team:

For Fotoware UI:
- Can we create crop presets like 16:9 (to not have to write pixel size every time)?
- Can the select button be called OK or Select instead of Publish? (a bit strange to see the blue Sanity publish button behind the blue Fotoware Publish button)
- Can we avoid seeing the Smart folders and have thumbnails in the whole window?
- The search in the

[2022-07-28 11:34] fernandolucchesi commented on #1100
Waiting for plan upgrade to continue work

[2022-07-28 11:44] padms commented on #1212
There was no check for allowing only 'POST' requests for the forms, which further allowed parsing the JSON body which is null.

[2022-07-29 07:40] fernandolucchesi commented on #1100
Discuss with editorial what kind of plan do we need https://www.mux.com/pricing

[2022-07-29 07:46] #1049 closed

[2022-07-29 11:08] SvSven commented on #1212
Not sure why it was doing GET requests, but looks good to me 👍

[2022-07-29 11:14] SvSven commented on #1211
Looks good to me 👍
Can confirm that YouTube cookies are not set until the correct consent is accepted.

Also, here's the Cookiebot docs link about this just so we have it noted down on the issue for future reference:
https://support.cookiebot.com/hc/en-us/articles/360003790854-Iframe-cookie-consent-with-YouTube-example

[2022-07-29 11:18] SvSven commented on #1210
Can confirm that when changing the dataset to Japan locally, it chooses Japanese as the main language in the web 👍

[2022-07-29 11:26] SvSven commented on #1116
Fotoware does not broadcast the widget events to the `window.opener` parent, only to the `window.parent` which means it only works inside an iframe - as such I have done some (ugly) style overriding on the dialog to make the modal full-screen, which should help a good deal already.

Additionally I've made sure to pass the asset's title and description onto the Sanity asset document, similar to how

[2022-07-29 12:29] SvSven commented on #1148
Good catch on the magasin index page; copy paste error 😅
Have fixed the component names and the heading. It's not perfect yet, we should at some point come back here and refactor things more - the newsroom was never set up to have "shared" code/components so it's a bit of a mess still.

The roles I am not sure of, have not done anything with that yet.

[2022-07-31 15:24] fernandolucchesi commented on #1135
Hi @padms, left some comments for you in your commit.

A very important note is to not forget to use feature flags. We should "revert" this changes to deploy to prod on Monday, otherwise these will be in production before it gets reviewed by Mette.

[2022-08-01 07:35] fernandolucchesi commented on #1100
Waiting for Terje to come back to proceed with this.

[2022-08-01 07:56] fernandolucchesi commented on #1212
I see some unnecessary code duplication. What about extracting the validation block into a "validateFormRequest.ts" file / method ?

[2022-08-01 12:29] fernandolucchesi opened #1219 "Index files in algolia"
Add the possibility to search for files in the search bar.

[2022-08-01 12:41] fernandolucchesi commented on #888
@bhavi25, looks good! Only missing thing is the use of feature flags. Can you please add it to this?

[2022-08-02 08:09] fernandolucchesi commented on #1147
@padms, can you follow up on this one?

[2022-08-02 08:24] fernandolucchesi commented on #1148
Magazine Index page is not being displayed in the studio:
<img width="1054" alt="image" src="https://user-images.githubusercontent.com/23337266/182328321-a1de45b3-dce3-4d1a-bebb-bebccb23bb90.png">

[2022-08-02 08:25] fernandolucchesi commented on #1148
I've basically added it to here:

<img width="619" alt="image" src="https://user-images.githubusercontent.com/23337266/182328620-0908570d-2768-47c0-ba2c-9760a746840f.png">

[2022-08-02 08:56] #1211 closed

[2022-08-02 09:50] #1210 closed

[2022-08-02 14:25] fernandolucchesi commented on #1135
I believe having some grouped and others ungroup is very confusing UX-wise:

<img width="357" alt="image" src="https://user-images.githubusercontent.com/23337266/182397799-6cf05043-bdb5-4582-bfee-258235c3afd8.png">

I'd suggest we make the group property mandatory, and create a new group "Others". I would also suggest changing the "text icon" to a "folder icon", since they behave like folders now.

[2022-08-02 14:30] fernandolucchesi commented on #1134
Waiting for needed keys and address. To be provided by Hans-Henrik Kivsmose. Request is being followed up on slack.

Setup: https://www.dynatrace.com/support/help/setup-and-configuration/setup-on-container-platforms/docker/set-up-oneagent-on-containers-for-application-only-monitoring

[2022-08-02 14:34] fernandolucchesi commented on #1038
@meols, talked to sanity about this and the issue with the "updatedAt" field is already existent as of today, even when we use the custom date.

The way around it, is to publish the Norwegian document (or any other translation) right after the english document is published for the first time. This issue is not related to the publication date time, but a fault on how sanity deals with translations.

[2022-08-02 14:36] fernandolucchesi commented on #888
@meols @jorgol can any of you review this?

[2022-08-03 07:26] meols commented on #888
@fernandolucchesi - Looks good :smile: Testet on test (where it doesn't show) and dev (where it works). Great if you add a link to where to test :wink:

[2022-08-03 07:37] meols commented on #1038
Thanks @fernandolucchesi - then let's wait and just close this one :smile:

[2022-08-03 07:37] #1038 closed

[2022-08-03 12:04] fernandolucchesi commented on #1212
This is in prod already but waiting for code optimisation to close it

[2022-08-03 12:31] fernandolucchesi commented on #888
Nice! It was @bhavi25 first issue. 🎊

We also added a new column to the board (Feature flag / deploy). Now issues need to be moved there before closing. :)

[2022-08-03 12:49] fernandolucchesi commented on #1182
lets do it when we are able to host in a different close provider. I will close this issue

[2022-08-03 12:49] #1182 closed

[2022-08-03 15:25] padms commented on #1212
Done

[2022-08-04 10:24] fernandolucchesi opened #1223 "Updated Runbook for the Emergency Website"

[2022-08-04 13:19] padms opened #1224 "Fix console logs related to security headers in production"
![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/910a44e3-a4c5-44b6-a848-99aa517132df)

[2022-08-05 10:48] padms commented on #1135
Done

[2022-08-08 07:49] fernandolucchesi opened #1225 "Update SSL certificates for southkorea .co and .co.kr"
Reminder to update in December (when it expires)

[2022-08-08 08:00] fernandolucchesi commented on #1116
Hi @meols @nicholas-haggerty @jorgol, can you please review this one on https://studio-global-test-equinor-web-sites-test.c2.radix.equinor.com/

[2022-08-08 08:10] fernandolucchesi opened #1226 "Create tags for magazines"
We should have a tag system similar to the tag system we have with news. Magazine tags should be indexed, and added as a filter in the magazine landing page.

Acceptance criteria:
- [ ] Update roles (rules) in sanity

[2022-08-08 08:19] jorgol commented on #339
We should also review current wording for article date on the news templates, as the current text can be misunderstood and interpreted as functionality to set future date:
"Publication date and time. Date and time of _when the article will be published_"

[2022-08-08 08:19] fernandolucchesi commented on #1100
Contact MUX and investigate how the video count works

[2022-08-08 12:35] fernandolucchesi commented on #1135
@padms, looks good! Possible enhancement is to order items alphabetically.

[2022-08-08 12:37] fernandolucchesi commented on #1212
Looks good! :)

[2022-08-08 12:43] fernandolucchesi commented on #1009
Looking good @bhavi25 ! 👍

[2022-08-08 12:49] fernandolucchesi commented on #1125
Hi @bhavi25, left a couple of comments for you, please check :)

[2022-08-08 13:59] padms commented on #1135
Done

[2022-08-08 14:08] bhavi25 commented on #1009
@meols @jorgol This is available in https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com
Can any of you review this?

[2022-08-09 08:14] fernandolucchesi commented on #933
Should be indexed together with "News", and tags/country tags should be used for filtering.
Ex: https://www.equinor.com/where-we-are/uk-news

[2022-08-09 08:55] #1159 closed

[2022-08-09 08:57] fernandolucchesi commented on #1077
Probably #1134

[2022-08-09 08:58] fernandolucchesi commented on #1076
Being done already

[2022-08-09 08:58] #1076 closed

[2022-08-09 09:19] fernandolucchesi commented on #1141
not hapenning anymore

[2022-08-09 09:19] #1141 closed

[2022-08-09 14:10] padms commented on #1135
@meols @jorgol https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/settings;textSnippets;snippet-group-Others

Text Snippets are grouped by component or feature. Some misc text snippets are under 'Others' folder.

[2022-08-09 14:32] jorgol commented on #1135
Great improvement!

[2022-08-10 08:08] #1156 closed

[2022-08-10 08:17] fernandolucchesi commented on #1148
Reminder to add exclude from search

[2022-08-10 08:27] #1212 closed

[2022-08-10 08:41] #888 closed

[2022-08-10 08:52] bhavi25 commented on #1125
@meols @jorgol This is available in https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com
Can any of you review this?

[2022-08-10 09:33] padms commented on #1147
@meols @jorgol  The magazines need the ingress text ( as it is in the email template). Currently, we dont have a separate text block for ingress in the magazine template.

We can extract the ingress from the text component added in page section and use it in the mail. Should we look for the ingress in the first texblock on the page and warn if it is missing?

[2022-08-10 11:08] padms opened #1228 "Preview for local news crashes when local news document is not published."

[2022-08-10 11:09] #1228 closed

[2022-08-10 11:21] padms commented on #1212
Closing this went live with https://github.com/equinor/energyvision/discussions/1227

[2022-08-10 11:30] jorgol commented on #1147
Would it be a better option to add ingress as a separate field like on the news template? Could ask Nick for input as well, but I'm unable to tag him now for some reason.

I think we should also add a warning if it's missing whether we choose the one or the other solution.

[2022-08-10 11:39] padms commented on #1147
@NickHaggerty1 Need your inputs on this.

[2022-08-10 11:53] NickHaggerty1 commented on #1147
@jorgol @padms I guess the easiest option is to extract the ingress from the first text block, but it does make sense to have a separate ingress field on the Magazine template. This could either be the same text as the first text block ingress or something written independently (and hopefully shorter). the additional advantage would be to use this field to display an ingress on the Magazine landin

[2022-08-10 17:15] fernandolucchesi commented on #1148
@meols @jorgol, can you please review this one?
https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/misc;magazineIndexPage;magazineIndex

https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/search?query=magazine&tab=magazine

https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine

Please keep in mind that adding a new

[2022-08-11 11:14] fernandolucchesi commented on #1213
Hi @meols, it is being used. You can check a example of it being used at https://equinor.sanity.studio/desk/event;7f18b53e-0a2f-4250-b888-4006533854b9

[2022-08-12 07:48] fernandolucchesi opened #1229 "Create KB document for Equinor.com"
A document similar to https://equinor.service-now.com/selfservice?id=kb_article&sys_id=1249b4e287489550c83765390cbb35b4 should be created for our team.
This is needed for us to be compliant.

[2022-08-12 07:59] fernandolucchesi commented on #1037
Hi @bhavi25, I left some comments for you, please check :)

[2022-08-12 08:01] fernandolucchesi commented on #1151
Hi @padms, please add the link on where this can be found :)

[2022-08-15 10:37] meols commented on #1116
Thanks @fernandolucchesi - this is approved (but we need to continue a dialogue with Fotoware regarding some comments from the editorial team)

[2022-08-15 11:40] #1135 closed

[2022-08-16 06:00] padms commented on #1151
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/editorial-documentation/using-the-sanity-studio

https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/editorial-documentation

All the links can be found under 'Editorial Documentation' menu in dev

[2022-08-16 06:27] padms commented on #1147
@NickHaggerty1 Its easy to add a separate field. I will add it

[2022-08-16 09:22] meols commented on #1147
Sounds good @padms - agree with comments from you and @NickHaggerty1 that it's beneficial to also be able to use the ingress in the cards/on the landing page, and for search.

[2022-08-16 12:52] meols opened #1234 "Friendly captcha icon missing text alternative - siteimprove issue"
Siteimprove is reporting as an accessibility issue that we are missing a text alternative for the friendly captcha vector image. Comment from @fernandolucchesi from Slack:  _This “widget/icon” is implemented by friendlycaptcha, not by us (we import this box from their code). So the ideal would be to create an issue on their codebase so that they update and fix it on their end. Alternatively we can

[2022-08-16 13:09] meols commented on #1029
@padms - please specify which link to unpublished pages we can share with stakeholders (if this is for me to test)

[2022-08-16 13:10] meols commented on #1213
@fernandolucchesi - we should display it, and it should be optional. Then we have more options to format the text.

[2022-08-16 13:29] padms commented on #1029
@meols You can pick any draft document and click on "Preview" tab, there is a button at top right corner like this ![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/cf2966dc-51c8-48cd-8e69-bc82cc19d769) which will copy the shareable url to clipboard.

[2022-08-16 13:33] fernandolucchesi commented on #1029
@meols for example: https://studio-global-test-equinor-web-sites-test.c2.radix.equinor.com/desk/news;464977d8-9ef2-4e8e-b736-1ecdf8715b55%2Cview%3Dpreview

[2022-08-16 21:15] fernandolucchesi opened #1235 "Render FactBox h3 only if title exists"
Ref: https://equinor.slack.com/archives/C01MU3H6G0Y/p1659354643996759

[2022-08-17 08:57] meols commented on #1148
@fernandolucchesi - when searching for "second magazine" it looks like I don't get a hit with the text Nothing found showing, but there is a hit in the magazine tab, which isn't easy to see (and probably not good for accessibility)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/f831316c-adaa-4fa3-94e8-47fd836e65e3)
Will we (can we) get the cards/promo look instead of th

[2022-08-17 09:05] meols commented on #1147
@fernandolucchesi - some questions to the subscription, not sure where to add them - so putting them here :smile:
- if I forget to activate (change to green) the send to subscribers when publishing a magazine article, do I then unpublish, activate the "switch" and republish the page - or do I just activate and publish (not needing to unpublish)
- When I do an update after a magazine article is pub

[2022-08-17 10:11] fernandolucchesi commented on #1037
Hi @meols @jorgol, can you please check this one?
Now archived news also contain the language switch: https://web-global-test-equinor-web-sites-test.c2.radix.equinor.com/en/news/archive/sale-tommeliten-king-lear

[2022-08-17 10:23] fernandolucchesi commented on #1148
Hi @meols, we can for sure improve UX for search, specially now that @NickHaggerty1 is back. However I'd suggest that these UX improvements are handled by a different issue.

As for the templates, It was agreed before that since we didn't have a custom template (design wise) for Magazine, using the same as Topic Page was a good start, and that is why there is no date/custom date (since topics don'

[2022-08-17 10:26] fernandolucchesi commented on #1147
@padms:
[code]

[2022-08-17 10:28] fernandolucchesi commented on #1147
Will work the same way as for the news:

-  Unpublishing -> publishing will (re)distribute.
- Re-publishing without unpublishing will not distribute.

[2022-08-17 11:13] NickHaggerty1 commented on #1148
@meols Feel like there are quite a few different points you are raising here relating to magazine. There has been no internal chat (as far as I know) on the requirements for magazine so suggest we do that so we cover all the different elements and then create issues relating to Magazine. There are points relating to  Magazine template. Magazine landing page. As well as search display. For me the U

[2022-08-17 11:19] padms commented on #1147
I added a separate ingress field which is searchable from global search and magazine index page. But the ingress is itself not visible on the magazine page.

[2022-08-17 11:53] meols commented on #1147
Thanks @padms - the text in the ingress field should also be added to the newsletter text in the emails to subscribers. Can it be moved to the top (between SEO and title) and renamed to:
**Description** Shown in newsletters and promotions.
 This field should also be mandatory to fill in.
@NickHaggerty1

[2022-08-17 13:29] meols opened #1236 "Improve search results page"

[2022-08-17 13:36] meols commented on #1236
When performing a search which give hits/results in only one tab, e.g. magazine, the user see NOT FOUND..... , since it is currently the search results for Topic that is default shown.

- If there is results in only one tab, that tab should be underlined and the search results list should be shown.
- If there are search results in more than one tab, we should see the results from the left-most tab

[2022-08-18 07:37] fernandolucchesi commented on #1100
Also waiting for: https://equinor.slack.com/archives/C01A4BGNRMJ/p1659952633026379

[2022-08-18 07:38] fernandolucchesi commented on #775
@meols, do we still need this after fotoware?

[2022-08-18 10:54] fernandolucchesi commented on #1116
@SvSven is runbook updated?

[2022-08-18 10:57] #1116 closed

[2022-08-18 10:59] meols commented on #1009
@bhavi25 - thanks, looks good :smile:

[2022-08-18 11:19] fernandolucchesi commented on #1148
Wait to deploy - do not turn on feature flag 🎏

[2022-08-18 13:28] meols commented on #1037
@fernandolucchesi - thanks, great! :thumbsup:

[2022-08-18 13:42] meols commented on #1125
Thanks @bhavi25 - looks great :smile:

[2022-08-18 13:53] meols commented on #1029
Thanks @padms and @fernandolucchesi - happy that this is solved! :smile:

[2022-08-18 13:58] meols commented on #1151
Thanks @padms - this is really great :thumbsup: :smile: I will go through this more thoroughly and share with the editorial team a well, so let's keep the card in the acceptance lane for a while.

[2022-08-18 14:03] meols opened #1237 "Add Promote magazine to the promotion component"
As an editor I want to be able to promote other magazine stories and/or topic pages.
Please update the promotion component with the following:

- Add Promote magazine as an option:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/8e784aff-3463-40c4-9245-8b2163937982)

- Editors should then be able to either select magazine tags, or manually select magazine and topic pages

[2022-08-18 14:15] fernandolucchesi commented on #1151
As a "bonus" there will be no need to click on the "Open Preview" menu button to make the preview tab work properly ;)

[2022-08-18 14:16] fernandolucchesi commented on #1029
As a "bonus" there will be no need to click on the "Open Preview" menu button to make the preview tab work properly ;)

[2022-08-18 15:43] fernandolucchesi commented on #1209
https://github.com/sanity-io/document-internationalization/issues/59

[2022-08-19 12:55] padms commented on #1209
Didnt find any issue

[2022-08-21 15:37] fernandolucchesi commented on #933
Hi @padms, left a couple of comment in your commits

[2022-08-21 15:53] fernandolucchesi commented on #1063
@padms please check my comments :)

[2022-08-21 16:16] fernandolucchesi commented on #1147
@padms looks good, if needed, could you also add the ingress to the editor's documentation? :)

[2022-08-21 16:17] fernandolucchesi opened #1242 "Unify dataset helpers from web and studio"

[2022-08-22 08:12] fernandolucchesi commented on #1134
https://equinor.service-now.com/selfservice?id=ticket&table=sc_req_item&sys_id=8c6f32691b73891053382136604bcb16

[2022-08-22 08:18] SvSven commented on #1055
Discussion with Sanity: https://equinor.slack.com/archives/C01A4BGNRMJ/p1651575842291029

[2022-08-22 09:36] SvSven commented on #1116
Runbook has been updated ✅
I'll create a diagram to better show how all the things are connected as well.

[2022-08-22 10:49] padms commented on #1147
Added to the documentation.

[2022-08-22 11:12] meols commented on #1100
@fernandolucchesi - I have requested youtube numbers from Line: In total 1/8/21 til 1/8/22 = 132,751 views (More than12 sek).
What counts as a view on YouTube? Each time a viewer intentionally initiates the playing of a video on their device and watches for at least 30 seconds, that counts as a view. Pretty simple! If you play your own video, that will be counted as a view.
![image.png](https://im

[2022-08-22 13:58] meols commented on #1147
@padms @fernandolucchesi - can you please add some information on the dialogue you have had with brandmaster.
- Are newsletters triggered, and is the Description text (ingress text) shown in the newsletter?
- I suggested above to change the text for the Ingress field to **Description**, to avoid confusions with the Ingress in the text components. Can you please do that update.

[2022-08-23 06:22] padms commented on #1147
Attaching the screenshot of the magazine letter attached by brandmaster. ![Screenshot 2022-08-16 at 10.23.03.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/a2d74bcc-35d3-42eb-b1fa-6748469639df)

[2022-08-23 08:20] #957 closed

[2022-08-23 08:23] fernandolucchesi commented on #1158
Do we want to keep using it?

[2022-08-23 08:33] fernandolucchesi opened #1243 "Create missing Ad.Groups roles in Azure for the satellites"
## Global:
 - [x] Editor
 - [x] Sub Editor
 - [x] Local News Editor
## Argentina:
 - [x] Editor
 - [x] Sub Editor
## Brazil:
 - [x] Editor
 - [x] Sub Editor
## Fondene:
 - [x] Editor
 - [x] Sub Editor
## Japan:
 - [x] Editor
 - [x] Sub Editor
## South Korea:
 - [x] Editor
 - [x] Sub Editor
## Storage:
 - [x] Editor
 - [x] Sub Editor
## Germany:
 - [x] Editor
 - [x] Sub Editor
## Celtic Sea:
 - [x]

[2022-08-23 08:36] fernandolucchesi opened #1244 "Make hover over of files display equinor.com instead of sanity.io"

[2022-08-23 08:36] SvSven commented on #1219
If we want to change the URL structure for files from the Sanity CDN (for example https://cdn.equinor.com) we should do that before we index them in Algolia.

[2022-08-23 08:38] SvSven commented on #1219
We should _probably_ also group the files into a separate tab for the search page.

[2022-08-23 08:39] SvSven commented on #1218
Check to see if we can add new anchor with the same value as a deprecated anchor

[2022-08-23 08:46] SvSven commented on #1184
Had previously started on a checklist, still a work in progress: https://github.com/equinor/energyvision/wiki/Sanity-Studio-upgrade-testing

[2022-08-23 08:52] SvSven commented on #1234
Should make an issue/PR in the FriendlyCaptcha repository to fix this, then upgrade our dependency once that is merged in and published.

[2022-08-23 08:52] SvSven commented on #1244
Need to contact Sanity to set up alias for CDN links.
Not sure how involved the process is, but it is something they support.

[2022-08-23 08:54] SvSven commented on #472
Do we still need/want Azure Insights? Especially now that we are working on enabling Dynatrace

[2022-08-23 08:57] fernandolucchesi commented on #741
Waiting for the design of the title

[2022-08-23 09:17] fernandolucchesi commented on #1224
https://developers.google.com/tag-platform/tag-manager/web/csp

[2022-08-23 09:17] fernandolucchesi commented on #1224
#1109

[2022-08-23 09:20] fernandolucchesi commented on #1121
Design to be provided soon...

[2022-08-23 09:36] padms commented on #933
Changes done as per suggestions

[2022-08-23 09:49] padms commented on #1213
LGTM

[2022-08-23 10:26] #1209 closed

[2022-08-23 10:26] #1029 closed

[2022-08-23 10:26] #1125 closed

[2022-08-23 10:26] #1037 closed

[2022-08-23 10:26] #1235 closed

[2022-08-23 10:26] #1009 closed

[2022-08-23 12:28] fernandolucchesi commented on #933
@padms just one minor comment, otherwise looks good

[2022-08-23 12:28] fernandolucchesi commented on #1213
@meols, can you please test how it looks now? :) https://studio-global-test-equinor-web-sites-test.c2.radix.equinor.com/

[2022-08-23 12:29] fernandolucchesi commented on #1149
@padms, can you link the commit to the changes?

[2022-08-23 13:35] fernandolucchesi commented on #1226
Hi @bhavi25, a few comments:

## Needs change

1. We have all the files inside newsroom1 folder, even tho some are related to Magazines. I suggest extracting the common files into the "shared" folder.

<img width="250" alt="image" src="https://user-images.githubusercontent.com/23337266/186165608-02908a3b-2910-416a-90a9-272ea88477cb.png">
Then files related to the magazine should be moved out of th

[2022-08-23 13:48] meols commented on #1213
Thanks @fernandolucchesi - looks great :smile:

[2022-08-24 05:36] padms commented on #1149
Pushed it with a wrong commit message https://github.com/equinor/energyvision/commit/a32d6a858053a3b448ec1fb336f9807ce2582aa3

[2022-08-24 06:25] padms commented on #1063
Updated description and icon

[2022-08-24 09:07] fernandolucchesi opened #1247 "Enable magazine paths on production"

[2022-08-24 09:55] #1247 closed

[2022-08-24 09:55] #1213 closed

[2022-08-24 15:10] fernandolucchesi commented on #1226
@bhavi25 left a new comment for you =)

[2022-08-25 19:57] fernandolucchesi commented on #933
@padms Looking good! You can move to Acceptance :)

[2022-08-25 19:58] fernandolucchesi commented on #1063
LGTM! :)

[2022-08-26 06:02] padms commented on #933
@meols Local news article are now searchable from dev. Currently any local news article published in production are searchable from global search and newsroom. [ dev ](https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/news).
Please also find the local market filter in the newsroom.

[2022-08-26 06:07] padms commented on #1063
@meols ![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/f0119b35-12dd-4b4f-b88e-4d94ab301b93) Added toggle to select recent past events and a field to specify number of events to show. If left blank, all past events will be shown.

[2022-08-26 06:30] padms commented on #986
Below are the links which has text block with static links ( linking to archived news )
1. https://www.equinor.com/where-we-are/germany
2. https://www.equinor.com/investors/the-equinor-share
3. https://www.equinor.com/energy/hydrogen
4. https://www.equinor.com/no/energi/hydrogen
5. https://www.equinor.com/energy/mariner
6. https://www.equinor.com/energy/hywind-tampen
7. https://www.equinor.com/no/

[2022-08-26 07:01] padms commented on #986
Pages with Promotiles having static links
https://www.equinor.com/no/energi/elektrifisering-av-plattformer
https://www.equinor.com/energy/electrification-of-platforms

[2022-08-26 08:00] padms commented on #986
@meols Above are the links to pages that have static links to archived pages. Do we need these links to archived pages?

[2022-08-26 08:06] padms commented on #1218
Made the deprecated anchor writable only to clear the old value.

[2022-08-26 12:30] fernandolucchesi opened #1249 "Create architectural contract for Emergency Website"

[2022-08-26 12:54] SvSven commented on #1242
Looks good from me - it's a lot of small changes but from what I can see it should be good.

[2022-08-26 12:57] fernandolucchesi commented on #933
@padms, quote from mette on slack:

I just found a bug and believe it is related to that. The ingress is not being parsed correctly when indexing in algolia:

<img width="639" alt="image" src="https://user-images.githubusercontent.com/23337266/186908509-39f012ef-8ef9-4aaa-b7d7-9ef9aea6db7f.png">

[2022-08-26 19:08] fernandolucchesi commented on #1226
Left a couple more comments =)

[2022-08-28 19:58] fernandolucchesi commented on #1149
Looks good but you forgot a type check.. left a comment :)

[2022-08-28 20:28] fernandolucchesi commented on #1218
Changes were applied only to the anchor component inside Accordion. There are a lot more places where the `anchorReferenceField` is used. I believe what you have to do is to add the rule in the `anchorReferenceField` component itself?

I am also not sure if I agree with the logic, did you check if adding a new anchor with the same value as the old one works? If it does we probably don't need to ch

[2022-08-29 07:54] meols commented on #1226
@fernandolucchesi - we would like to display tags on the magazine template and the magazine landing page. The display should be limited to max 5 tags at any time (5 "promoted" tags). We would like to create a "hierarchy" in the magazine tag list, so that we can have a longer list, but have 5 of them visible/promoted on the pages. Is that possible? Editors should be able to, at any time, to select/

[2022-08-29 08:00] fernandolucchesi opened #1250 "Create architecture contract for the disaster recovery website"

[2022-08-29 08:33] padms commented on #1218
I like this suggestion

Editors can modify the existing value in the deprecated anchor field. The field is disabled if there is no value, to prevent use if that deprecated field.

They can also modify an existing value of deprecated field. ( A warning will be shown not to use the field).

[2022-08-29 08:38] meols opened #1251 "Magazine landing page"
We need a separate landingpage for the Magazine stories, which is a one off template. This page should be created in two steps, with banner options as version 2.
**Version 1** will be:

- SEO - as today's topic

- hero banner (as today) at the top

- #1268: NEW tag list displayed horizontally, including magazine search to the right. This should show the 5 (or fewer) "promoted tags selected by edit

[2022-08-29 08:40] fernandolucchesi commented on #1250
duplicate of #1249

[2022-08-29 08:40] #1250 closed

[2022-08-29 09:11] meols commented on #1251
We need a separate landingpage for the Magazine stories, which is a one off template. This page should be created in two steps, with banner options as version 2.
**Version 1** will be:

- SEO - as today's topic

- hero banner (as today) at the top

- NEW tag list displayed horizontally, including magazine search to the right. This should show the 5 (or fewer) "promoted tags selected by editors ( #

[2022-08-29 09:12] meols opened #1252 "Magazine template version 2"

[2022-08-29 09:26] meols commented on #1252
The MVP magazine template has been set up, and this is a description of the the next update for it.
Additional requirements for the magazine template:

1. Horizontal tag list, as described in #1251. If users select All stories, they should go to the Magazine landing page, down to the tile list of all stories. If they select a specific tag, they should go to the magazine landing page, down to the t

[2022-08-29 09:45] padms commented on #1149
@meols The icon field in Icon and text component does not allow non svg files now.

[2022-08-29 10:00] padms opened #1253 "Draft events getting indexed"

[2022-08-29 10:17] padms commented on #933
Ingress is not indexed properly both for news and local news .

[2022-08-29 11:07] padms commented on #1253
Fixed in this commit 06d7d4fa0b4001b0c9b6af188d3b534dd7ea5045

[2022-08-29 12:54] NickHaggerty1 commented on #1251
@SvSven @fernandolucchesi
Mobile and Desktop sketches in Figma (magazine landing page): https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5977%3A90557

Reach to discuss if/when needed

[2022-08-29 15:36] meols commented on #1063
@padms - when testing, I don't get all the upcoming events. I have created one new event and changed the date on two existing ones:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/f32051c5-d7dc-49b4-8e49-99d8d8d5485d)
I published the events pages 20-40 minutes ago, and they still don't show up. Agree with comment from @fernandolucchesi above, that a calendar icon would b

[2022-08-30 05:53] SvSven commented on #1237
@fernandolucchesi @padms @bhavi25 this should be ready for technical review

I've added support for promoting magazine articles using tags and by selecting them individually.
Currently you can only select magazine articles, not both magazine articles and topic pages as I feel we really shouldn't blur the lines between components too much. If we do need to have this mix, I would suggest updating th

[2022-08-30 05:55] padms commented on #1063
@meols  The route for the new event is not created. Only those events which has a route will be shown in the promotion.
 I was not able to reproduce the spacing issue. I will try to do some more tests.

[2022-08-30 05:56] SvSven commented on #1157
Not sure what there is to review here for us, I guess making sure everyone that needs to have access has access?
I'm happy with the chosen tool at least; it's simple to use and in line with Equinor policy.

[2022-08-30 05:57] SvSven commented on #1071
We tried out the rollback yesterday for a minor issue; seemed to work for the web, but not for the studio.

[code]

[2022-08-30 05:58] SvSven commented on #1253
Looks good to me ✅
Wish there was a simple setting or something for this with Sanity/GROQ

[2022-08-30 07:41] fernandolucchesi commented on #1157
This has been solved ✅

[2022-08-30 07:41] #1157 closed

[2022-08-30 07:42] fernandolucchesi commented on #1151
@meols can we close this one? And create new ones to improve / modify documentation when needed?

[2022-08-30 07:47] #1162 closed

[2022-08-30 08:13] fernandolucchesi commented on #1252
@meols, I suggest we close this without deploying to prod, and do the requested changes in the other issue. The work that has been done here will work as a base for #1251.

[2022-08-30 08:15] fernandolucchesi commented on #1226
@meols, I suggest we close this without deploying to prod, and do the requested changes in the other issue. The work that has been done here will work as a base for #1252

[2022-08-30 08:15] fernandolucchesi commented on #1253
@padms, feel free to close this when cleanup in algolia is done :)

[2022-08-30 08:18] padms commented on #1253
Deleted draft event indexes from algolia.

[2022-08-30 08:18] #1253 closed

[2022-08-30 09:57] padms commented on #1218
@meols The deprecated anchor fields in the TextBlock and Accordion components are now made editable with a warning. However if the anchor field is cleared.. the field becomes read only ( simply it is not possible to use deprecated field if its empty )

[2022-08-30 13:25] padms commented on #1234
https://github.com/FriendlyCaptcha/friendly-challenge/issues/133 created an issue here.

[2022-08-31 08:26] fernandolucchesi commented on #1063
Spacing issue might be related to screen size. It is important to keep in mind that this issue exists from before too, and not entirely related to this story (UI hasn't been modified in this issue).

I'd suggest if there is a UI modification to be done in the event cards, that this is done in a separate issue @meols @padms

[2022-08-31 10:42] fernandolucchesi commented on #1237
Looks good to me ✅

[2022-08-31 10:43] NickHaggerty1 commented on #1137
@meols Relating to this maybe. needs to be looked at, at some point!

[2022-08-31 10:50] fernandolucchesi commented on #1137
Relates to your feedback @meols #1063

[2022-08-31 10:56] fernandolucchesi commented on #1140
@NickHaggerty1 can you assist me on this one?

[2022-08-31 11:00] fernandolucchesi commented on #933
Hi @padms, now we are displaying the whole ingress in the search results... I don't think this is correct, it should display only the part of it that contains the text:

<img width="694" alt="image" src="https://user-images.githubusercontent.com/23337266/187663706-a5a12da6-698e-404c-a023-ba1bd7d8b816.png">

and this has been deployed to prod already, we should be extra careful when doing changes t

[2022-08-31 11:04] NickHaggerty1 commented on #1140
Sure @fernandolucchesi I can try. Though this related to the work done by Victor at the start of the year. Im not sure I   this was ever merged back to Figma. I would assume the correct H3 size is on the TOPIC / MAGAZINE / HOME templates. So if the news is different to this, then I think you can just change the News template to match, as there shouldnt be a difference.

[2022-08-31 11:21] fernandolucchesi commented on #1203
Warnings are gone. I believe this vulnerabilities were in the radix ecosystem, and they have fixed it, not in our docker app.
<img width="935" alt="image" src="https://user-images.githubusercontent.com/23337266/187667247-09d2c624-1d12-43cd-89fc-016e994c1b1f.png">

[2022-08-31 11:21] #1203 closed

[2022-08-31 11:24] fernandolucchesi commented on #1244
Follow: https://equinor.slack.com/archives/C01A4BGNRMJ/p1661942713783609

[2022-08-31 11:26] fernandolucchesi commented on #1244
We need to add these DNS records:

[code]

@padms, can you please handle the RITM ticket?

[2022-08-31 12:48] SvSven commented on #1055
A suggestion from Sanity was to try and return an object with the `paths` property, which should tell the Studio which field to display the validation at.

[code]

Doesn't seem to fix it however. The validation still works, but doesn't display the error on the field level; only in the drop down at the top of the document.

[2022-08-31 13:46] fernandolucchesi commented on #1164
Extra space at the bottom of the content was also removed:
<img width="1058" alt="image" src="https://user-images.githubusercontent.com/23337266/187693830-068dc76a-aac0-4910-a583-30d93f6dc109.png">

[2022-08-31 15:06] fernandolucchesi opened #1255 "Add localNews and magazine types to redirects"

[2022-09-01 06:25] padms commented on #933
Missed to add ingress in the attributes to snippet property.

[2022-09-01 06:53] padms commented on #1244
RITM2583605, RITM2583601, RITM2583593

[2022-09-01 08:32] fernandolucchesi opened #1256 "Change priority of redirects in middleware"

[2022-09-01 08:42] meols commented on #1147
Thanks @padms

[2022-09-01 09:30] fernandolucchesi commented on #933
@padms, looks good to me

[2022-09-01 11:32] fernandolucchesi opened #1257 "Disable search auto deployment to prod"

[2022-09-01 11:35] NickHaggerty1 opened #1258 "Add an option to display two column to the TEXT BLOCK for links and downloads"
Occasionally we will have a need to display alot of links. This could be solved by having an option to choose to display with two columns. Suggestion for how it should look for editors attached (although if you have a better idea please advise) And sketch of expected outcome

[2022-09-01 11:41] NickHaggerty1 commented on #1258
![link component two column.png](https://ima![text block 2 column links.jpg](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/3a2cb2ba-524e-4ef9-905d-159116e39613)ges.zenhubusercontent.com/62e8c66dc59ea7c87816be13/1254cf2c-f249-4f1c-b199-f55df87f607b)

[2022-09-01 11:42] NickHaggerty1 commented on #1258
![text block 2 column links.jpg](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/9c8e2bbf-44a1-4bd3-883b-ed16fb136b1d)

[2022-09-01 11:42] NickHaggerty1 commented on #1258
![link component two column.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/b2213e0a-149c-4a57-93e0-f215b3c5e37a)

[2022-09-01 12:06] meols commented on #933
@fernandolucchesi @padms - in addition to having the local news indexed - which looks good  now :thumbsup: - we would like to list them in a separate tab in the search result, and not have them showing on the newsroom page. I assume you want that on a new card, and that this card should be moved, since the indexing task is OK?

[2022-09-01 12:23] fernandolucchesi commented on #933
Hi @meols, this was done together with news due to a decision made on the sprint planning from 9.8.2022.

If the logic is to be changed we should use this same card before going into prod

[2022-09-02 05:12] padms commented on #1244
CNAME entry added. Not sure if we should request for SSL certificate, as the server is hosted by sanity.

[2022-09-02 07:57] fernandolucchesi opened #1259 "Improve DNS-processes documentation"
We should have the documents written in a format / language that both the COM team and the technical team understands.

- [x] Remove old external domain
- [x] Create a new external domain
- [x] Add a CNAME for an existing domain
- [x] Create a SSL certificate for a new domain
- [x] Renew a SSL certificate for an existing domain
- [x] Abbreviations
- [x] Basic DNS knowledge
- [x] Contact informatio

[2022-09-02 08:13] padms commented on #986
@meols Please take a look at the comments above.

[2022-09-02 08:37] #1207 closed

[2022-09-02 11:16] meols opened #1260 "Re-activate equinor.com.au"
- [ ] Create service-now ticket
- [x] Add redirect inside middleware
- [x] Modify yaml file to add ssl.
- [x] Once deployed add the ssl certificate in radix

[2022-09-02 11:18] meols commented on #1260
Can you please reactivate equinor.com.au and point it to the Australia page, that we now have updated and published: https://www.equinor.com/where-we-are/australia

[2022-09-02 11:47] padms opened #1261 "Review Cookiebot reports."
Cookiebot scans equinor.com and other satellite sites every month and generates a report. The report contains the cookies scanned for that website and highlights if a cookie is set with out the user's consent.

These reports must be reviewed and mitigate any violations.

-

- [x] We should let the COM team aware in case settings are missing inside the CMS
- [ ] Verify if code is installed correctl

[2022-09-02 13:02] fernandolucchesi opened #1262 "Delete CDN Purge from Azure"

[2022-09-05 07:44] fernandolucchesi opened #1264 "Upgrade dependencies"

[2022-09-05 08:06] fernandolucchesi opened #1265 "Add documentation for Editors about shareable link"

[2022-09-05 08:08] #1151 closed

[2022-09-05 12:29] SvSven commented on #1140
Not sure I understand the purpose of the `h2Heading` and `h3Heading` components here - seems to me like the only difference is the `size` attribute on the main `Heading` component?

Admittedly I haven't looked at this part of the code in a long time, so is using these components just bringing it in line with the rest?

[2022-09-05 12:44] meols commented on #1140
@SvSven - we really don't see a difference, but please make news H3 the same as on other pages if you find some differences in the code. @NickHaggerty1
Topic page:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/771a65fe-b145-4095-95b7-a3d0aa3c81c4)
News page:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/d02d36c7-80b9-43a7-aba1-4d74c3a4f5b7)

[2022-09-05 13:23] meols opened #1266 "Full width image no text top banner"
Figma: https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=1511%3A0

[2022-09-05 13:46] fernandolucchesi commented on #1140
Yes, the other components are using it, so this is to make sure that when we update it in one place, it updates all the components.

[2022-09-05 13:48] fernandolucchesi commented on #1164
@meols @NickHaggerty1, this is ready to be tested on global-development or global-test

[2022-09-05 13:50] fernandolucchesi commented on #1226
LGTM ✅

[2022-09-05 15:04] meols commented on #1218
Thanks @padms  - this was a good solution :thumbsup:

[2022-09-05 15:14] meols commented on #1149
@padms @fernandolucchesi  - two questions to this:
1. Is it possible to not be able to choose "All files" when uploading a file. Editors now can change to "All files" and see many file types and choose e.g. a .png or .jpg, but nothing happens after that.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/8579c4fc-ac1c-48bb-bdd6-fbe20dbe7eed)
2. Is it possible to link direct

[2022-09-05 15:26] meols commented on #1063
Thanks @padms - looks good. And thanks for reminding me of the routing :thumbsup:
Let's revisit the #1137 in a near future @fernandolucchesi :smile:

[2022-09-05 15:36] meols commented on #1237
Thanks @SvSven and @fernandolucchesi - looks good, but referring to @SvSven's  comment above,
@NickHaggerty1 - can you please comment on the "not mixing magazine and topic" issue and whether we should change "the Topic Page Promotion to make that a more generic "Promote Page"", as @SvSven suggests .

[2022-09-05 15:38] meols opened #1267 "News template in dev"

[2022-09-06 06:04] SvSven commented on #1267
@meols This should already be fixed - we missed something with one of the feature flags that hid the News for the dev environment.

[2022-09-06 06:05] bhavi25 commented on #1226
@meols We now have the tag system for magazines similar to that of news.
https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/
Also these tags are indexed and added as a filter in magazine landing page.
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine

[2022-09-06 07:01] NickHaggerty1 commented on #1266
![50-50 example.png](https://ima![50-50 mobile.png](https://ima[Uploading... wide screen 50-50.png]ges.zenhubusercontent.com/62e8c66dc59ea7c87816be13/ff1da6b3-5434-4407-9cb9-1d607666e627)ges.zenhubusercontent.com/62e8c66dc59ea7c87816be13/7e7f7b7b-8cd3-4d31-b2e5-7e52a02eba2d)

[2022-09-06 07:02] NickHaggerty1 commented on #1266
Sketches can be found in Figma on TOP BANNERS tab

[2022-09-06 07:39] SvSven commented on #1051
No official React 18 support for reach-ui yet

[2022-09-06 08:20] SvSven commented on #1121
Figma designs: https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=1511%3A0

Notes:
- Drop ingress on mobile
- Imae should always be at the top on mobile

[2022-09-06 08:50] NickHaggerty1 commented on #1251
Landing page for is a good example: https://www.hydro.com/en/about-hydro/stories-by-hydro/

[2022-09-06 08:51] NickHaggerty1 commented on #1252
Hydro magazine article is a good example of the behaviour for selecting the tab from the bar and going back to Mag landing page: https://www.hydro.com/en/about-hydro/stories-by-hydro/hydro-continues-to-support-youth-and-adolescent-together-with-unicef/

[2022-09-06 08:51] SvSven commented on #1257
Search is currently automatically deployed on commits. We should disable this for the time being so as to avoid features being deployed that should not be deployed yet.

[2022-09-06 08:54] NickHaggerty1 commented on #1121
![50-50 example.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/72ebb33d-3129-47df-841b-bcf489816d5f)

[2022-09-06 08:54] NickHaggerty1 commented on #1121
![50-50 mobile.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/5f757e8e-364e-45a3-b24a-bb33ef0f5533)

[2022-09-06 08:54] NickHaggerty1 commented on #1121
![wide screen 50-50.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/e479b420-8052-4380-b479-5a6d1e83c069)

[2022-09-06 09:02] meols commented on #1267
Thanks @SvSven - now they're back :smile:

[2022-09-06 09:05] SvSven commented on #1258
What should the logic here be with regards to number of items per column? Just divide the total amount of items by 2?

Also how should the items be placed?

[code]

or

[code]

[2022-09-06 09:07] NickHaggerty1 commented on #1258
Yes, divide by two and if there is an odd one, eg 7. The 7th would be on one line, all alone... And placed 1-2, 3-4, 5-6

[2022-09-06 09:12] NickHaggerty1 commented on #1258
![two column odd number.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/3401e3bb-7e94-48e6-9eb4-ea79d21435a2)

[2022-09-06 10:40] SvSven commented on #1128
First recorded crash alert on Slack was 2021.12.09
Happened again on 2021.12.10, then nothing until 2021.12.20 where it crashed at 20:01 and did not report a resolve until 2021.12.21 at 09:22. It then proceeded to crash 4 times on 2021.12.21

Following that, no reported crashes until 2022.02.10 where it crashes once.

Then nothing until 2022.03.17 - which marks a point where it starts crashing muc

[2022-09-06 10:52] SvSven commented on #1128
On 2022.09.05 we had 2 replicas for the Brazil website crash at the same time, reported at 04:1 Norwegian time

Following that, we had the *studio* for Poland and Storage crash on the preprod environment _and_ the web part for the secret site in the prod environment crash at the same time, reported at 05:58. It was confirmed by the the editorial team that no one was using the secret site around th

[2022-09-06 11:16] fernandolucchesi opened #1268 "Horizontal tag component"
NEW tag list displayed horizontally, including magazine search to the right. This should show the 5 (or fewer) "promoted tags selected by editors ( https://github.com/equinor/energyvision/issues/1226 ), This tag list should also be implemented to the magazine template page.

For reference: #1251 https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5977%3A90557

[2022-09-06 11:23] fernandolucchesi opened #1269 "Latest magazine stories feed component"
Latest magazine stories feed shown in tile cards. The tiles should display the banner image, title and maximum two of the promoted tags. Tags should display alphabetically. If more than two tags are chosen, the first two should be displayed.

For reference: https://github.com/equinor/energyvision/issues/1251 https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5977%3A90557

[2022-09-06 11:29] meols opened #1270 "SEO issue: missing structured data markup"
To start with we can add this type for all https://jsonld.com/website/

The following are based on JSON LD generated by next-seo
- [x] **News Article / Article type JSON LD for news and local news pages** Required attributes are URL, title, images, date published, date modified, author name ( can be left empty), publisher name, publisher logo, description and body.
- [x] **Article type JSON LD for

[2022-09-06 11:31] fernandolucchesi commented on #1252
If I understood correctly, this will be automatically done when #1251 and #1121 are completed. If so, can we close this @meols ?

[2022-09-06 12:42] NickHaggerty1 commented on #1252
@fernandolucchesi No these are additional tasks that need to be added to the Magazine **article** template. Even though its the same horizontal tag bar as mapped out on 1251, That is a unique template for the magazine **landing page**, so the task will need to be added to the article template. This also goes for the Subscribe issue. Same task, but needs to be captured on both templates.

[2022-09-06 13:19] #1267 closed

[2022-09-06 13:20] SvSven commented on #1140
Sounds good ✅

[2022-09-06 13:21] SvSven commented on #1158
Seems like only the `Form` is missing in terms of the web components listed in `web/components/src`. Should be easy enough to add that.

Makes sense as well since we haven't really added any new base components in quite a while. Most work has been done on Sanity/Next specific components.

[2022-09-06 13:39] jorgol commented on #986
Thanks. I'll review all the pages manually and correct/remove where needed. Not that many :)

[2022-09-07 08:00] padms commented on #933
@meols Just to confirm,

- Local news should be indexed separately.
- It should not be searchable from the newsroom.
- It should be searchable from global search, and have a separate tab "Local news"

[2022-09-07 08:43] jorgol commented on #986
@padms I've now gone through all of the listed pages and replaced the static links. Can you do another crawl to be sure? If there are no hits, I believe we're ready to remove the static links feature.

[2022-09-07 09:37] padms commented on #986
@jorgol I think this page is left ( which is missing in the above list )
 https://www.equinor.com/investors/quarterly-results

[2022-09-07 09:48] jorgol commented on #986
Thanks, @padms. I've gone through this page and re-published now. As there were many links, could you re-check just to be sure?

[2022-09-07 11:23] meols commented on #933
@padms - we'll have a small discussion on some of this in our editorial meeting tomorrow. I'll update after that.

[2022-09-07 12:18] padms commented on #986
@jorgol  All the Q4 press release links are not updated. 5 of them

[2022-09-07 12:28] jorgol commented on #986
@padms You're right. Fixed. Please check again now.

[2022-09-08 07:21] SvSven commented on #1269
In order to display the magazine thumbnail, we need to index the hero image in Algolia. Relates to #1153

[2022-09-08 07:24] NickHaggerty1 opened #1271 "Quote component text colour doesn't change to white in the name field on the dark blue background"
![Screenshot 2022-09-08 at 09.22.00.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/71165a60-cf3e-4de9-8525-1f0d3f3b8801)

[2022-09-08 07:32] NickHaggerty1 commented on #1271
Example can be found on the front page of .com on 8/09/22

[2022-09-08 07:51] SvSven commented on #1271
Should be a quick fix. The author text is indeed not being inverted with the dark background, but this only happens if no author title is added. It should work if there is both an author name and title.

For whoever works on this, the problem is here: https://github.com/equinor/energyvision/blob/main/web/components/src/Quote/Author.tsx#L46

The text there should be wrapped in an element that conta

[2022-09-08 09:20] NickHaggerty1 commented on #1271
Yes, it was a slightly weird one because as you say, it worked fine when Name and Title were in place.

[2022-09-08 14:05] padms commented on #933
Pretty simple :) Please test in dev now. Local news and news with crude oil assays tag will not be shown in newsroom , but can be searchable from global search under the tab ' News'

[2022-09-08 14:18] fernandolucchesi commented on #1134
Finally ready :) this is going to be hard to review, I will ask the dynatrace people to give access to the whole team, let's keep this on hold for a while

[2022-09-09 05:50] padms commented on #1255
LGTM, I was able to create redirect for local news and magazine which I needed for linking in menu for the editorial documentation (earlier I was using static links :P).

[2022-09-09 05:53] padms commented on #986
Added feature flag in the query. Will clean up web after acceptance.

[2022-09-09 07:48] padms commented on #1260
[RITM2592520](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fequinor.service-now.com%2Fselfservice%3Fid%3Dticket%26table%3Dsc_req_item%26sys_id%3D9c36fdc68739dd14ea1854673cbb3535&data=05%7C01%7Cpadms%40equinor.com%7Cf5877461ac874c470fc708da9232d31f%7C3aa4a235b6e248d591957fcf05b459b0%7C0%7C0%7C637983044240364820%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6

[2022-09-09 07:57] fernandolucchesi commented on #1255
Hi @meols, this is ready to be tested at https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/

[2022-09-09 07:58] fernandolucchesi commented on #1158
We will need to add banner and banner variations. I'll invite for a meeting next week for us to decide if we keep updating it or not

[2022-09-09 11:36] meols commented on #933
Great! @padms :clap:
For the local news this looks great - visible in search, not visible on the Newsroom page. But still some questions on crude oil.
I published[ this news](https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/news/visible-test) tagged with crude oil 25 minutes ago, and it isn't visible in search (should be) or in newsroom (very good).
I also tagged[ this new

[2022-09-09 11:38] meols commented on #1255
Thanks @fernandolucchesi - looks great :smile:

[2022-09-09 11:47] meols commented on #1226
Thanks @bhavi25 and @fernandolucchesi - this looks good :smile:

[2022-09-09 11:56] padms commented on #933
@meols I triggered indexing for dev manually. Now you should be able to test the news with crude oil assays.

This news is already indexed, so it will be visible in newsroom unless it is deleted from the index.
Also, the news is excluded from newsroom only based on the topicTag. So setting subscription type to crude oil assays will not have any effect.

[2022-09-12 07:49] fernandolucchesi commented on #1237
@NickHaggerty1

[2022-09-12 08:47] fernandolucchesi commented on #1236
@meols @NickHaggerty1, what if the user deliberately clicks on "news", meaning that news is the only type the user is interested in searching for? should we then create a logic that if the user clicks in one of the tabs, the auto switching no longer applies?

[2022-09-12 13:54] fernandolucchesi commented on #986
LGTM

[2022-09-12 15:45] padms commented on #986
@meols  Option to add static urls is removed from call to actions in textblock, footer, menu, table and promotiles components. This can be tested in dev.

[2022-09-12 15:52] fernandolucchesi commented on #1258
Hi @bhavi25, left some comments for you

[2022-09-13 08:04] #1249 closed

[2022-09-13 10:09] padms commented on #1268
@NickHaggerty1 @meols Quick question here. The horizontal bar in the magazine template page should display the tags that are added to that page. Is this correct? or should we have separate tag list to display? ![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/cdf20008-e743-405b-addb-b851f63b606c)

[2022-09-13 12:40] fernandolucchesi commented on #1224
Can't find out a good solution without using `nonce`, nonce with nextjs is not so smooth yet, therefore moving it back to the backlog unfortunately. Setup used as example inside nextjs repo also did not work.

[2022-09-14 06:47] padms opened #1274 "Whitelist https://vds.issgovernance.com/ for equinorfondene.no"
https://www.equinorfondene.no/ansvarlig-forvaltning/stemmegivning , the page containing the iframe with this url.

[2022-09-14 07:56] padms commented on #1274
@fernandolucchesi  @SvSven Please review this

[2022-09-14 07:57] SvSven commented on #1274
Looks good to me 👍

[2022-09-14 08:14] NickHaggerty1 commented on #1268
@padms @meols @fernandolucchesi   It could be done separately like you have with a NEW display on each template. However this would mean the horizontal bar on each article would be editable. Correct? This is not really what we want. We were thinking more that in the MAGAZINE TAGS (where we create the tags) there would be a hierarchy option there instead (tick on /off to display in magazine bar for

[2022-09-14 08:16] NickHaggerty1 commented on #1268
Note we would still like the option to add other magazine tags to an article as you have already set up, so this doesn't change.

[2022-09-14 08:21] NickHaggerty1 commented on #1236
@fernandolucchesi Maybe Im not understanding, but a user doesnt get an option to choose a tab before the results are displayed? So in the example above, the results should show the Magazine (1). If a user **then** clicks on News (0) They should see the message 'Nothing found' Or?

[2022-09-14 08:29] NickHaggerty1 commented on #1237
@SvSven @fernandolucchesi @meols If thats the way you want to solve it, then sure. There still will be a need to only promote TOPICS. But we are adding the option to build a promo that can promote say one Sustainability TOPIC page and two Magazine articles on sustainability. So we need the mix (and I guess adding NEW to that mix makes it super flexible)

[2022-09-14 11:46] fernandolucchesi opened #1275 "Add 50 years anniversary urls to sitemap"

[2022-09-14 11:55] SvSven commented on #1257
Should we remove the

[code]

part as well? Not sure if this will cause any syntax errors or anything.

[2022-09-14 11:58] SvSven commented on #1158
Decision made on 2022.09.13 to keep storybook going forward and that we should have updating storybook as part of the acceptance criteria for new components.

[2022-09-14 11:58] fernandolucchesi commented on #1257
I am actually unsure. But I know like this works due to other scripts being done this way (PROD and TEST).

I can experiment without when I get some time

[2022-09-14 12:01] SvSven opened #1276 "add Form to storybook"
Relates to #1158

Currently the Form components are not in Storybook, we should add them.

[2022-09-14 12:02] SvSven commented on #1158
Issue for adding missing Form components: #1276

[2022-09-14 12:02] #1158 closed

[2022-09-14 12:17] SvSven commented on #1244
We need to remember to add cdn.equinor.com to the `next.config` and security headers like we did for cdn.sanity.io

[2022-09-14 14:36] fernandolucchesi commented on #1266
@NickHaggerty1 the 2:1 and full screen looks almost the same, is there any other preset you want rather than the ones listed?

[2022-09-15 05:59] NickHaggerty1 commented on #1266
@fernandolucchesi On the sketch you mean right? Bit hard to sketch full screen for all screen sizes. I assume thats something that will be set in the code? to be responsive to screen sizes? The priority would be the 10:3 (like the full width image component) and a full width 2:1.  Full width is less priority as this would be used rarely I think. Be great to see how a full screen could look if that

[2022-09-15 06:06] padms commented on #1234
Fix available in [release 0.9.6 ](https://docs.friendlycaptcha.com/#/changelog)

[2022-09-15 06:26] NickHaggerty1 commented on #1164
@fernandolucchesi Hey. Thanks, tested and approved

[2022-09-15 06:27] NickHaggerty1 commented on #1164
@meols FYI

[2022-09-15 06:28] NickHaggerty1 commented on #327
NIke corporate website. Nice example of looping, responsive video. https://about.nike.com/en/company

[2022-09-15 08:50] fernandolucchesi commented on #1236
and if they search for a new query after they click on "news"?

[2022-09-15 10:24] NickHaggerty1 commented on #1236
@fernandolucchesi Then it should behave as it does today. So if the NEWS results says nothing found and user starts a new search, the results would display based on tabs and numbers, the highlighted tab (underlined) would still be news.

[2022-09-15 10:26] NickHaggerty1 commented on #1236
![Screenshot 2022-09-15 at 12.24.30.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/ad6c1504-6c7e-40b7-ad12-90ba44a9e7b1)

[2022-09-15 10:26] NickHaggerty1 commented on #1236
![Screenshot 2022-09-15 at 12.24.21.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/a3cdcc4f-d63a-4517-9899-e62e7477e69b)

[2022-09-15 10:26] NickHaggerty1 commented on #1236
![Screenshot 2022-09-15 at 12.24.30.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/408613b8-b211-4b09-8cf6-b90ab88b32d7)

[2022-09-15 11:05] SvSven opened #1277 "Algolia"

[2022-09-15 11:13] SvSven commented on #579
Supposedly v3 of Sanity Studio will have much better TypeScript support - so maybe this will be added by default

[2022-09-15 12:39] padms commented on #1268
@NickHaggerty1  ![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/da6fa98a-4e13-4d60-a575-abd7a0095abf)
Created a menu item for this, which will be applied to all magazine pages.

[2022-09-15 12:44] meols commented on #986
Great! Thanks @padms

[2022-09-15 12:47] NickHaggerty1 commented on #1268
@padms This looks excellent I think @meols agree?

[2022-09-15 13:36] NickHaggerty1 commented on #1266
Yup @fernandolucchesi  Topic and Magazine. Obrigado!

[2022-09-16 08:01] fernandolucchesi opened #1278 "Custom error page when radix is down"
Feature requested: https://github.com/equinor/radix-platform/issues/747

[2022-09-16 11:16] #1274 closed

[2022-09-16 11:16] #1140 closed

[2022-09-16 11:16] #1255 closed

[2022-09-16 11:16] #1226 closed

[2022-09-16 12:32] #1234 closed

[2022-09-16 13:40] fernandolucchesi commented on #1236
Hi @NickHaggerty1, can you verify this one on global-development?

Other improvements were also done:
- Glitching when using backspace / typing was fixed
- Results will now take 400ms to update (this is to reduce the usage of algolia quota and consequently our bills - no need to update on every key stroke)

Please also check if the copying + paste of search urls is also working as intended

[2022-09-19 08:12] padms commented on #1149
https://equinor.slack.com/archives/C01A4BGNRMJ/p1662996122223379

[2022-09-19 08:49] NickHaggerty1 commented on #1236
@meols @fernandolucchesi Nice work.. All tested and approved

[2022-09-20 07:59] nilsml commented on #105
Project delivered. RITM closed.

[2022-09-20 07:59] #105 closed

[2022-09-20 08:08] SvSven commented on #1269
Took a while longer than expected, but this should be ready for review now.

For the image, I decided to go with indexing the actual `heroImage` object in Algolia and using the `Image` component the way we do everywhere else - this seems like the simplest approach and is in line with the rest of the project.

[2022-09-20 08:20] fernandolucchesi opened #1280 "Look into issues from SEO team"

[2022-09-20 08:22] meols commented on #1270
This seems to affect all our pages. See description in siteimprove:
https://my2.siteimprove.com/SEOv2/550893/52537632527/Recommendations/StructuredDataMarkupPages

[2022-09-20 08:30] #1024 closed

[2022-09-20 08:32] #1007 closed

[2022-09-20 08:40] fernandolucchesi opened #1281 "DIsallow /search.html"

[2022-09-20 08:49] fernandolucchesi opened #1282 "Create disaster recovery epic with small issues"
energyvision-internal#32

[2022-09-20 08:55] fernandolucchesi commented on #743
We will keep it as it is, everybody is happy :)

[2022-09-20 08:55] #743 closed

[2022-09-20 10:31] padms commented on #1265
LGTM

[2022-09-20 10:42] padms commented on #1134
![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/725198ac-d80e-41df-85cf-740e1b9dcd50)Cookies being set by dynatrace.

[2022-09-21 08:13] fernandolucchesi commented on #1138
we need a webhook that will be triggered **on updated** (watches the flag excludeFromSearch) to unindex documents, and triggered **on unpublished**.

[2022-09-21 08:34] fernandolucchesi opened #1283 "Investigate and list where we should add structured data"
Which categories are relevant and how can they be implemented on Equinor pages (templates / pages)?

Make a list of places where structured data can be added and add to #1270 description

[2022-09-21 08:34] #1280 closed

[2022-09-21 08:38] fernandolucchesi commented on #1252
https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5977%3A90557

[2022-09-21 08:42] fernandolucchesi commented on #1133
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Energy-Vision-5fb6386c578f1200222dd6c2/issues/equinor/energyvision/1133?planning-poker) with Zenhub @bhavi25 @SvSven @padms

[2022-09-21 08:44] fernandolucchesi commented on #1275
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Energy-Vision-5fb6386c578f1200222dd6c2/issues/equinor/energyvision/1275?planning-poker) with Zenhub @bhavi25 @padms @SvSven

[2022-09-21 10:50] padms commented on #1261
@fernandolucchesi @sven please review this. I modified code to block siteimprove script until consent for statistics is given

[2022-09-21 11:11] fernandolucchesi commented on #933
@meols pinging you just in case you forgot about this one

[2022-09-21 12:15] SvSven commented on #1271
@NickHaggerty1 should be fixed now - you can test it on the development dataset

[2022-09-21 12:32] fernandolucchesi opened #1285 "Add debounce to search in newsroom and magazine index"
The same approach done for /search page should be done to the newsroom and magazine index. We should add a debounce in order to avoid making API calls to algolia on every key stroke, otherwise our bill will skyrocket. 💸💸💸

[2022-09-21 13:10] #986 closed

[2022-09-21 13:10] #1236 closed

[2022-09-21 13:10] #1164 closed

[2022-09-21 13:13] fernandolucchesi commented on #1265
hi @bhavi25, can you provide the link so we move this to acceptance?

[2022-09-21 13:54] fernandolucchesi commented on #1258
Looks good @bhavi25 ✅

[2022-09-21 14:18] bhavi25 commented on #1265
@meols  Documentation for sharable preview link can be found here :
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/editorial-documentation/using-the-sanity-studio

[2022-09-21 14:21] bhavi25 commented on #1258
@NickHaggerty1 Text block for links and downloads has an option for displaying in two columns
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine/test1_magazine

[2022-09-21 15:09] fernandolucchesi commented on #1257
@SvSven we actually need this. Without we get a syntax error:

Missing property "on".yaml-schema: GitHub Workflow

and without workflow_dispatch we get incorrect path error

[2022-09-22 06:31] NickHaggerty1 commented on #1258
@bhavi25 @meols @fernandolucchesi Hey, looks great. thanks. Approved

[2022-09-22 06:57] padms commented on #1266
LGTM

[2022-09-22 07:30] meols commented on #1275
@fernandolucchesi - we had a question from TRY on when this issue can be fixed. Any input?

[2022-09-22 08:18] fernandolucchesi commented on #1275
Hi @meols, it will be fixed/released this sprint. It is not a complicated one so by next week it should be released

[2022-09-22 10:38] meols commented on #628
@fernandolucchesi - can we please look into this one in the next sprint?

[2022-09-22 11:47] meols commented on #1265
Thanks @bhavi25

[2022-09-22 11:53] fernandolucchesi commented on #628
Sure

[2022-09-22 12:04] meols commented on #933
Thanks @padms - all good :smile:
@fernandolucchesi

[2022-09-22 12:27] SvSven commented on #1285
LGTM ✅

[2022-09-22 12:28] SvSven commented on #1257
Weird, but then the whole syntax is a bit weird 😬
We can probably just close this one ✅

[2022-09-22 13:10] meols commented on #1275
@fernandolucchesi Great! Thanks :smile:

[2022-09-22 13:39] #1257 closed

[2022-09-22 13:41] #1265 closed

[2022-09-22 13:44] fernandolucchesi commented on #1266
@NickHaggerty1 can you please check this one? :)

[2022-09-22 13:46] fernandolucchesi commented on #1266
Available at https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk

[2022-09-22 13:47] fernandolucchesi commented on #1266
If "designer" role is required to modify these banners more work has to be done (design permissions conversation we had a while back)

[2022-09-23 10:54] SvSven commented on #1281
LGTM ✅

[2022-09-23 10:59] SvSven commented on #1264
Should this be in review already? There are still quite some outdated dependencies

[2022-09-23 11:17] SvSven commented on #1261
I don't have permissions to change my hosts file on my Equinor device, so hard to test cookiebot locally.

However I don't see the `https://siteimproveanalytics.com/js/siteanalyze_6003171.js` anywhere in the DOM anywhere on global-dev at radix 🤔

That being said, the commented out condition `&& window?.Cookiebot.consent.statistics` should fix prevent the cookies from being injected prior to consen

[2022-09-23 12:32] fernandolucchesi commented on #1264
I upgrade this one highlighted by snyk-bot

[2022-09-23 13:59] meols commented on #1259
@fernandolucchesi - can you please add a link to the documentation?

[2022-09-23 14:30] fernandolucchesi opened #1286 "Add webhook to clean up CDN cache of specific pages"
https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration
When a document in Sanity is published/updated, you could use a GROQ Webhook to rebuild a specific page by hitting the API for fresh data, while still using the CDN for your 60 second revalidation and static builds.

https://equinor.slack.com/archives/C01A4BGNRMJ/p1663666467602429

[2022-09-26 07:10] NickHaggerty1 commented on #1266
[Uploading... banner - title.png]

[2022-09-26 07:23] NickHaggerty1 commented on #1266
@fernandolucchesi @meols hey, as discussed on Friday I have added title / image text to the banner sketch. The spacing would follow the logic/grid for the default banner [banner - title.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/6c7723ad-74f5-4797-afed-ad9b3943c5fc)

[2022-09-26 07:24] NickHaggerty1 commented on #1266
![banner - title.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/300ddff3-586d-4409-ad7e-db3360941505)

[2022-09-26 08:12] meols opened #1287 "Error in the people promotion component"

[2022-09-26 08:27] meols commented on #1287
We see on pages with the people promotion that "something" has happened with the component recently. The component seems to expect an external link only, and gives an error when linking to internal pages and page updates can't be published. The component is used with internal links on pages e.g. for the board and the CEC, and currently it seems that we are not able to publish updates on these page

[2022-09-26 10:22] fernandolucchesi opened #1289 "Statoil redirects are 307 (temporary) instead of 301"
This is probably done in a domain level since we are not doing any temporary redirects inside our code. Investigate where this is being done, and how to fix it.

[2022-09-26 13:35] meols commented on #1149
@padms @fernandolucchesi - should this card be moved to the _Dependent on others_ lane for now?

[2022-09-27 07:52] nilsml commented on #1261
@padms will review this together with @fernandolucchesi

[2022-09-27 07:56] nilsml commented on #1128
@fernandolucchesi Did you here back from the Dynatrace expert?

[2022-09-27 07:58] nilsml commented on #1138
@padms to add more information including acceptence criteria to this issue

[2022-09-27 08:00] #1287 closed

[2022-09-27 08:01] #1285 closed

[2022-09-27 08:01] #1281 closed

[2022-09-27 08:10] #933 closed

[2022-09-27 09:39] SvSven commented on #1275
@fernandolucchesi this is ready for review

[2022-09-27 09:44] SvSven commented on #1244
Looks good to me, is working for me locally as well.

Will need to update here as well for release: https://github.com/equinor/energyvision/blob/main/web/pageComponents/shared/Hero/Hero5050.tsx#L70

We should probably also have this documented somewhere, so we know how/what/why and stuff.

[2022-09-27 11:02] #1264 closed

[2022-09-27 11:06] #1258 closed

[2022-09-27 11:06] #1271 closed

[2022-09-27 12:29] SvSven opened #1290 "Create magazine subscription component"
Relates to #1251

Figma design: https://www.figma.com/file/F2OnKFEoMwFaANMgeGRGqE/CMS?node-id=5977%3A90557

- Title
- Ingress
- Action
- Image
- Background colour

Component should be configured in Sanity on the Magazine index page only, and be displayed with the same comment on the landing page and on each magazine article.

[2022-09-27 18:46] nilsml commented on #1134
So we need to include the cookies set by dynaTrace to cookiebot?! @padms @fernandolucchesi

[2022-09-27 18:47] nilsml commented on #1268
Can you review this @fernandolucchesi?

[2022-09-27 21:39] fernandolucchesi commented on #1244
@meols can you please review this? https://web-global-test-equinor-web-sites-test.c2.radix.equinor.com/

For other domains .br .de .jp etcs it will also show equinor.com

[2022-09-28 00:11] fernandolucchesi commented on #1134
Yep! Will ask about it in the meeting tomorrow. I did not find a react library to use the functions mentioned in the docs.

[2022-09-28 00:39] fernandolucchesi commented on #1275
Hi @SvSven, please check my comments

[2022-09-28 07:52] fernandolucchesi opened #1291 "Review Magazine/Event roles in Sanity"
Editors should be the only one with access to Magazines.

[2022-09-28 23:50] fernandolucchesi commented on #1128
No, apparently we are going to have a meeting tomorrow with another person from Dt team.

[2022-09-28 23:58] fernandolucchesi commented on #1128
Heard today, CCed you on the email.

[2022-09-29 00:16] fernandolucchesi commented on #1268
@padms,

1. the border color you used is too dark compared to the ones in the design. In the design it is used #D3D7DA, we need to find a color var that is close to that.
2. when navigating from a magazine page to a tag that has no results (like innovation), the ALL tag is the one highlighted:
<img width="878" alt="image" src="https://user-images.githubusercontent.com/23337266/192910370-61d74b9d-8

[2022-09-29 00:59] fernandolucchesi commented on #1268
left comments in your commits. once you fix those i'll do a 2nd round of review

[2022-09-29 07:51] padms opened #1292 "Add new IP address in whitelist in siteimprove"
There is a mail from siteimprove to add new IP address in the list of whitelisted IPs
https://help.siteimprove.com/support/solutions/articles/80001011038

[2022-09-29 09:10] padms commented on #1260
equinor.co.au is redirecting now. Hence closing

[2022-09-29 09:11] #1260 closed

[2022-09-29 12:22] SvSven commented on #1275
Pushed some changes based on the feedback

[2022-09-29 13:44] fernandolucchesi commented on #1286
This is ready to be reviewed on https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/ and in the sanity.io webhook tab. Changes done in the studio should now be reflected blazingly fast to the web.

@TODO: Add 1782937891 webhooks when this is approved. One for each production dataset.

[2022-09-29 14:07] meols commented on #1244
@fernandolucchesi - the hover on files looks great - but is this also affecting images in some way? I don't see any images on the site: ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/89cc480e-38bf-4bda-ae24-6af2ac2d769b)

[2022-09-29 14:09] meols commented on #1244
I tried to open an image in a new tab and got this: ![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/858a807e-ea04-4075-a014-9d5044786a0b)

[2022-09-29 14:32] fernandolucchesi commented on #1244
are you using equinor's ethernet / wifi? We might need them to unblock the new url "cdn.equinor.com". @padms do you remember where we opened the request last time?

[2022-09-29 14:33] fernandolucchesi commented on #1244
On my end:

<img width="779" alt="image" src="https://user-images.githubusercontent.com/23337266/193060145-1af53949-99fd-435b-970a-57a5a2bced0a.png">

[2022-09-29 14:36] meols commented on #1244
Yes - I am at the Fornebu office today @fernandolucchesi

[2022-09-29 14:37] meols commented on #1244
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/5e4a028b-ea66-412c-9790-303c0d8848b8)

[2022-09-29 14:51] meols commented on #1244
Great! :thumbsup:

[2022-09-30 08:48] fernandolucchesi commented on #1275
LGTM ✅

[2022-09-30 08:48] fernandolucchesi commented on #1275
I don't think this need to be reviewed on acceptance column. lets just remove the flag and deploy

[2022-09-30 09:07] SvSven opened #1293 "crude oil update articles should not appear in "latest news" list on news articles"
The query here: https://github.com/equinor/energyvision/blob/main/web/lib/queries/news.ts#L93-L102

Should be updated to exclude the crude oil news tag.

[2022-09-30 09:23] fernandolucchesi commented on #1269
HI @SvSven, left some comments in your commits

[2022-09-30 12:31] fernandolucchesi commented on #1121
Hi @bhavi25, please check my comments

[2022-10-03 07:54] nilsml commented on #1259
We need to figure out where to put this documentation.

[2022-10-03 08:02] SvSven commented on #1293
It's a bit hard-coded with the tag name like that, but we'd have the same thing if we use the `_id` 😅

Looks good to me otherwise ✅

[2022-10-03 08:04] SvSven commented on #1269
Fixed the import and left some counter comments 😬

[2022-10-03 08:24] fernandolucchesi opened #1295 "Review secret website for the quarterly publication 28.10"
Acceptance criteria:
- [x] Duplication should work
- [x] Newsletter should work

[2022-10-03 08:35] fernandolucchesi commented on #1293
Yes, we can add this logic to the sanity component itself instead of harding coding it. Sounds clever I believe.

[2022-10-03 09:04] fernandolucchesi commented on #1293
@meols, can you please test this on the dev studio?

News tagged with 'crude-oil-assays' will not show up in the component anymore

[2022-10-03 09:30] fernandolucchesi commented on #1244
https://equinor.service-now.com/selfservice?id=ticket&table=sc_req_item&sys_id=0c322bf087521590e70032e83cbb35cb

[2022-10-03 09:55] fernandolucchesi commented on #1262
Ref #553

Deleted:
https://portal.azure.com/#@StatoilSRM.onmicrosoft.com/resource/subscriptions/a8b981a0-f92f-452c-90dc-d1226778e182/resourceGroups/EnvisRGDev/providers/Microsoft.Storage/storageAccounts/envisstoragedev/eventgrid

https://portal.azure.com/#@StatoilSRM.onmicrosoft.com/resource/subscriptions/a8b981a0-f92f-452c-90dc-d1226778e182/resourceGroups/EnvisRGDev/providers/Microsoft.Automation

[2022-10-03 11:36] fernandolucchesi commented on #1290
Hi @SvSven, looks very good! ✅ Just left a couple of suggestions for you.

I also think that the feature we discussed with Nick, about toggling on/off the footer component for specific magazine pages could be done together with this issue. What do you think?

[2022-10-03 11:38] fernandolucchesi commented on #1262
@nilsml, is there logs in azure where I can see these deletions?

[2022-10-03 11:39] SvSven commented on #1290
Ah right, I had forgotten about that one. Good point.

[2022-10-03 11:49] nilsml commented on #1262
Hmm, not exactly sure. Azure monitoring/insights perhaps, but doubt it.

[2022-10-03 12:37] fernandolucchesi commented on #1262
I see. Not so sure how this can be reviewed. Should I just close it?

[2022-10-03 12:42] nilsml commented on #1243
Which groups are missing @fernandolucchesi ?

[2022-10-03 12:59] fernandolucchesi commented on #1243
I've updated the issue description with the groups overview.

[2022-10-03 14:59] fernandolucchesi opened #1296 "Issue with people promotion's card"
Validation of internal link is not working as intended:

https://equinor.sanity.studio/desk/topicContent;9129713f-25d2-4b22-8c01-6ddfeed19e76

![image.png](https://images.zenhubusercontent.com/619cb66996a338308e2dd0b8/6460461f-d66d-46a1-a5d1-183d50beb75b)

[2022-10-03 15:27] padms opened #1297 "upgrade algolia dependencies"

[2022-10-04 06:06] nilsml commented on #1243
Process started. Waiting now for ServiceNow to create necessary groups in AD.

[2022-10-04 08:07] fernandolucchesi commented on #1292
Investigate if we need it

[2022-10-04 08:43] #605 closed

[2022-10-04 08:50] fernandolucchesi commented on #1153
It was decided that it is fine the way it is

[2022-10-04 08:50] #1153 closed

[2022-10-04 08:54] #1139 closed

[2022-10-04 08:55] fernandolucchesi commented on #1139
Most of the discussions about breadcrumbs are opinions and not best practices. We decided that for a corporate website such as ours, it is not needed.

[2022-10-04 09:24] fernandolucchesi commented on #1266
@padms, can you review the latest changes?

[2022-10-04 11:02] NickHaggerty1 commented on #1252
@fernandolucchesi @padms I know it is still work in progress, so feel free to roll your eyes and tell me ' WE KNOW OK' But I noticed the HEADER/TITLE comes between the full width banner and the horizontal tab bar on the magazine template. I would expect the order to be IMAGE / HORIZONTAL BAR / TITLE![magazine title above tabs.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/04776

[2022-10-04 12:46] fernandolucchesi commented on #969
This is an issue with lighthouse:
https://github.com/vercel/next.js/issues/20060
https://github.com/GoogleChrome/lighthouse/pull/12120

[2022-10-04 12:47] fernandolucchesi commented on #969
[gif...](https://www.google.com/url?sa=i&url=https%3A%2F%2Ftenor.com%2Fsearch%2Fnothing-to-do-here-gifs&psig=AOvVaw1mlj6W1-lLkIJCvfDU8oGG&ust=1664974004947000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJi8xdPNxvoCFQAAAAAdAAAAABAD)

[2022-10-04 13:08] fernandolucchesi commented on #833
We can trigger Algolia update with a webhook when creating/updating/deleting documents

[2022-10-04 13:50] fernandolucchesi commented on #1121
@bhavi25 left a suggestion for you. Up to you if you want to do it or not :) LGTM ✅

[2022-10-04 13:51] fernandolucchesi commented on #1269
@NickHaggerty1 should the view on tablet display two columns?

If not then this LGTM! 👍

[2022-10-05 07:41] SvSven commented on #1290
Have added the option to hide the footer component on individual articles ✅

[2022-10-05 08:09] SvSven commented on #1286
Changes seem to be taking at least 2 mins for me to be reflected in the web, when viewed on Radix at least. Definitely better than the 20+ mins some people were experiencing, but not sure I would call it blazingly fast 😅

[2022-10-05 11:13] SvSven commented on #969
👍

[2022-10-05 11:32] SvSven commented on #1296
Looks good, bit of an oversight that we didn't think of this when we implemented the link stuff.

Also you missed a refactoring of `parent?.isLink === true` on line 96

[2022-10-05 11:33] #969 closed

[2022-10-05 11:50] SvSven commented on #1297
From what I can see everything looks to still be working, so that's good 👍

[2022-10-05 13:50] fernandolucchesi commented on #1296
Hi @meols, can you test this on the test environment?

https://studio-global-test-equinor-web-sites-test.c2.radix.equinor.com/

[2022-10-06 07:12] padms commented on #1266
@fernandolucchesi  The full screen image is not working as expected. The image is not taking full height of the screen.

[2022-10-06 07:53] fernandolucchesi commented on #1244
@meols, can you please test this one again?

[2022-10-06 07:54] #1262 closed

[2022-10-06 07:54] fernandolucchesi opened #1298 "Delete old resourcers from Azure"

[2022-10-06 07:57] SvSven opened #1299 "add magazine as option to topic promotion"
Relates to #1237

Editorial team should have the option to promote magazine articles alongside topic pages in the same promotion

---

## Acceptance criteria

- [ ] Can select topic pages in Sanity
- [ ] Can select magazine articles in Sanity
- [ ] Cards for magazine articles and topic pages are rendered in the same promotion on the web

[2022-10-06 08:57] fernandolucchesi opened #1300 "Reduce unused javascript - webpack bundle analyzer & Increase data limit"
<img width="686" alt="image" src="https://user-images.githubusercontent.com/23337266/194268753-df99e12b-27d0-4659-85db-0731d4d7591b.png">

Investigate if our bundle analyzer is installed correctly and improve it if not.

---

Also used this issue to increase the data limit, avoiding that our console gets flooded with warnings:

https://github.com/vercel/next.js/discussions/40606

![image](https://

[2022-10-06 13:44] SvSven commented on #1299
The document preview in Sanity for the topic promotion might look rather convoluted, but because of the (incredibly bad) way that Sanity handles references in that function I was forced to do it this way, since the structure of the reference is different between magazine articles and topic pages (topic pages use routes, magazine articles do not).

[2022-10-06 14:20] bhavi25 commented on #1121
@NickHaggerty1 50-50 top banner is available for review:
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/test/topic-content-test1

[2022-10-07 06:45] NickHaggerty1 commented on #1121
@bhavi25 Looking GREAT. nice work. Tested on desktop and mobile. Just one small comment that we have the image caption and credit fields, but when filled in they dont display on the page (which I think is correct) Should we just hide these two fields? @meols @fernandolucchesi FYI

[2022-10-07 07:00] padms commented on #1268
1,2 and 3 fixed.

[2022-10-07 08:23] padms commented on #1269
@SvSven  @fernandolucchesi  With the new video banner option, the thumbnail image should look for alternative image from seo image I guess.

[2022-10-07 09:09] SvSven commented on #1269
That's actually a very good point, and will go for topic pages as well. We should have a fallback image for cards in that case - the open graph image for social media could be an option, but not sure how well that is used by the editorial team 🤔

[2022-10-07 10:25] NickHaggerty1 commented on #1269
@fernandolucchesi  Ipad/tablet 2 column display, yes.

[2022-10-07 10:28] meols opened #1302 "Create English + Welsh satellite site"
Acceptance criteria:

- [x] Add domain to cookiebot
- [x] Create Sanity Roles
- [x] Create Ad Group roles

[2022-10-07 10:30] NickHaggerty1 commented on #1269
@padms @SvSven @fernandolucchesi Yes good point on thumbnail image. Editorially then we should always use a back up image in addition, if using a video in the top banner. Think that is a good idea to use the SoMe open graph image as that place. I imagine the video top banner will only be used to solve certain pages (yes, on topic and magazine templates) so will be easy to manage on the editors sit

[2022-10-07 10:44] meols commented on #1302
Can you please create a new English + Welsh satellite site for Celtic sea? They are in a process with Anne Grete Ellingsen of securing domain(s), and will let us know as soon as possible which domain is the main domain, and if there are additional ones to redirect as well.

[2022-10-07 11:05] padms commented on #1261
Created a hook for this.

[2022-10-07 13:42] padms commented on #1299
![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/a240916a-03d9-49f3-889d-8cafc512e09f)

[2022-10-07 14:04] padms commented on #1290
LGTM

[2022-10-09 21:56] fernandolucchesi commented on #1266
Hi @padms, thanks :) can you please check again?

[2022-10-09 23:11] fernandolucchesi commented on #1268
Hi @padms, left a suggestion.

Otherwise, for #1, the color should be (--grey-30). I know the figma file says slate blue but if you look at the hex code it is actually from the grey-30.

Also when inside a magazine the "ALL" is always selected. I think the correct would be no tags selected, OR the tags belonging to the magazine itself selected.

[2022-10-10 07:16] padms opened #1303 "Slug field in news and magazine gets copied with English slug value as default."
While creating Norwegian version of news and magazine documents, the slug field gets a default value from the English version of the document. Unless the value is explicitly changed by clicking the generate button, it does not change the slug value.

English version of document
![image.png](https://images.zenhubusercontent.com/60ec03bee99549a0e2a093b7/482f5f73-9ecf-4dfd-9f16-7684b5001b24)

Norwegi

[2022-10-10 07:39] SvSven commented on #1299
Yeah that probably would be a good idea, good catch 😅
Though I see that @fernandolucchesi already fixed it.

[2022-10-10 07:57] SvSven commented on #1290
@nicholas-haggerty @meols this is the shared component between the magazine landing page and the individual articles - and is ready for review

[2022-10-10 07:59] meols commented on #1244
@fernandolucchesi - working at the Porsgrunn office today - images still aren't visible.
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/936ef460-97bb-444c-878c-2e2be0da8a89)

[2022-10-10 08:07] #1303 closed

[2022-10-10 08:07] padms commented on #1303
This is a feature not a bug. This is intended to allow same slug for different languages for sites like Japanese and Korean. Hence closing this.

[2022-10-10 08:09] meols commented on #1296
Thanks @fernandolucchesi - this looks good :thumbsup:

[2022-10-10 08:22] fernandolucchesi commented on #1256
<img width="1174" alt="image" src="https://user-images.githubusercontent.com/23337266/194824767-76f959ff-fa24-49d3-a151-04f9657145ab.png">
<img width="1177" alt="image" src="https://user-images.githubusercontent.com/23337266/194824825-31c0bca2-ac16-4f09-a06f-0590d3e27608.png">
<img width="1193" alt="image" src="https://user-images.githubusercontent.com/23337266/194824852-544631f3-6792-42d4-ac19-c9

[2022-10-10 09:25] fernandolucchesi commented on #1261
Left a few comments, please check =)

[2022-10-10 09:34] fernandolucchesi commented on #1244
Reopened a new ticket...
https://equinor.service-now.com/selfservice?id=ticket&table=sc_req_item&sys_id=9c971e0087e619d01b6564670cbb35e2

[2022-10-10 10:19] padms commented on #1269
There is an option in Mux to get thumbnail image from video using the playback id, we can make use of that thumbnail as well.
https://image.mux.com/WmGkrZ2jgfOfGuUHgKqUY7JZp021LitnPSqlRidZ1z8w/thumbnail.jpg

[2022-10-10 10:27] fernandolucchesi commented on #1121
Fields are now hidden @NickHaggerty1 =)

[2022-10-10 12:34] NickHaggerty1 commented on #1121
@fernandolucchesi I would say this approved... @meols what say you?

[2022-10-10 13:49] meols opened #1304 "Update Contact us form"

[2022-10-10 13:56] meols commented on #1304
We need to update the Contact us form with a new category, **Login issues**.
Request using this category should go to _Service desk IT_ assignment group in ServiceNow: https://equinor.service-now.com/nav_to.do?uri=%2Fsys_user_group.do%3Fsys_id%3Da4ed15756fdc1d00b2cbd6426e3ee4f4%26sysparm_view%3D
Do you need any additional information for this task @padms - assuming it will be a task for you :smile

[2022-10-11 05:38] padms commented on #1268
@fernandolucchesi  Please check now

[2022-10-11 06:09] padms opened #1305 "Renew ssl certificate for equinor.com"
Certificate for equinor.com expires on Nov 6, 2022

[2022-10-11 06:37] padms commented on #1266
@fernandolucchesi  Left a comment here https://github.com/equinor/energyvision/commit/2895d894881301cc6ab31e49c2329ee1a95e8b5d#r86410264

[2022-10-11 08:17] padms commented on #1289
NextResponse.redirect uses 307 by default. So, added 301 in the redirect params for DNS redirects.

[2022-10-11 08:27] meols commented on #1302
@fernandolucchesi @padms - this will be the domain for this site: **www.equinorcelticsea.co.uk** and they are in dialogue with Anne Grete Ellingsen on it. Can you please start "the process" needed for the domain.

[2022-10-11 09:00] SvSven opened #1306 "use opengraph image as fallback for thumbnails on topic & magazine cards"
Topic pages and magazine articles using the new video banner won't have a defined hero image; this is a problem when these pages are linked to with cards as we require (and should continue to require) an image.

We can use the open graph image for social media as fallback in these cases.
For the magazine landing page, we will need to add indexing of the open graph image in Algolia similar to how w

[2022-10-11 09:18] fernandolucchesi commented on #1266
Fixed the image src and left a reply about the width, please check

[2022-10-11 09:40] padms commented on #1289
@fernandolucchesi  Done

[2022-10-11 10:09] fernandolucchesi commented on #1268
Looks good! ✅

[2022-10-11 10:12] SvSven commented on #1269
I've added the opengraph image as a fallback in #1306

@fernandolucchesi has also nicely fixed the columns layout; so I think this is ready to be moved to acceptance?

[2022-10-11 10:16] SvSven commented on #1306
This is ready for technical review @fernandolucchesi @padms @bhavi25 @nilsml
It's a pretty simple change, most of the code changes are actually in the search indexer but those are also very simple and straightforward.

We need to do a deployment of the search code for this to work for the magazine index page.

[2022-10-11 10:20] fernandolucchesi commented on #1269
@SvSven Yass! ✅

[2022-10-11 10:23] padms commented on #1266
@fernandolucchesi Sorry for not adding all the comments at once.. Full screen image is not respecting hotspot. Not sure if this is intended.

[2022-10-11 10:31] SvSven commented on #1251
All of the relevant magazine issues relating to this are in review/acceptance - we should give the full page a good once-over to see if it's in line with the design and to make sure everything checks out.

[2022-10-11 12:26] padms commented on #1256
This can also be fixed without code changes by adding a redirect for
/en/supply-chain.html
/en/where-we-are/venezuela.html
/en/news/archive/20210408-sse-thermal-hydrogen-ccs-humber.html

[2022-10-12 06:28] SvSven commented on #1289
Looks good to me 👍

[2022-10-12 06:43] SvSven commented on #1299
@meols @NickHaggerty1

This is the change to the promotions discussed in (Add Promote magazine to the promotion component #1237), which was to add the magazine articles to the topic page promotion as an option - it's a small but probably nice change.

[2022-10-12 07:38] padms commented on #1261
@fernandolucchesi  Please check now..

[2022-10-12 07:44] padms commented on #1268
@meols @NickHaggerty1  Magazine tag bar is ready to be reviewed now. This component can be updated in the magazine index page, and will be reflected in all the magazine pages.

[2022-10-12 07:56] SvSven commented on #1256
@fernandolucchesi since you set up the redirects - what do you think is the best approach? Do it in code or do it in Sanity?

[2022-10-12 08:20] meols commented on #1121
@fernandolucchesi @NickHaggerty1 @bhavi25 - it looks great on topic page, but when testing on magazine, I don't see the Hero title or the Hero ingress - I only see the link (in preview). Tested on [this page](https://studio-global-development-equinor-web-sites-dev.c2.radix.equinor.com/desk/magazine;387294ff-0913-4fdd-8714-bb7c68b02bab)
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8

[2022-10-12 08:42] NickHaggerty1 commented on #1121
@meols I didnt test on magazine to be honest, but it should work exactly the same

[2022-10-12 08:59] fernandolucchesi commented on #1256
I think doing it in the code we prevent it from happening again.

@bhavi25, you can rewrite this:

`await getRedirectUrl(isDotHtml ? pathname.replace(DOT_HTML, '') : pathname, request.nextUrl.locale)` into:
`await getRedirectUrl(pathname.replace(DOT_HTML, ''), request.nextUrl.locale)`

[2022-10-12 09:06] fernandolucchesi commented on #1256
@bhavi25, when I mentioned feature flag I was thinking of feature flagging the Global dataset, since the .html logic was thought for the global website only.  (IS_GLOBAL_PROD || IS_DEV)

But I don't really think we will have .html use case for other datasets, so I'll go back in my words and say we don't need to feature flag this :P.

[2022-10-12 09:32] fernandolucchesi commented on #1121
Good catch @meols.

@bhavi25, it is also missing the edge case for magazine pages where the tag bar goes in between the component:
<img width="839" alt="image" src="https://user-images.githubusercontent.com/23337266/195306426-fca30721-4890-4c8c-9687-b234d00388c1.png">
vs
<img width="817" alt="image" src="https://user-images.githubusercontent.com/23337266/195306500-6e08918e-efc0-40a3-9a91-2ee7c5085

[2022-10-12 11:59] fernandolucchesi opened #1307 "Remove experimental search from studio"
Feature is buggy and breaks the search bar.

https://equinor.slack.com/archives/C01A4BGNRMJ/p1664192569467379

[2022-10-12 13:38] fernandolucchesi commented on #1128
@SvSven @nilsml, can you review the PR? I am hoping that not having pnpm on the container will save the day. Container image was also optimised by 8x

[2022-10-12 13:58] meols commented on #1293
@fernandolucchesi  - works at it should now - thanks! :smile:

[2022-10-13 05:27] bhavi25 commented on #1256
@fernandolucchesi I have made the changes.

[2022-10-13 07:09] padms commented on #1283
Added findings in #1270 description

[2022-10-13 07:33] padms commented on #1138
Updated run book.

[2022-10-13 07:56] #1134 closed

[2022-10-13 07:57] fernandolucchesi opened #1309 "Improve Dynatrace Installation"
Move everything to DT PRODUCTION environment / add it to the cookie bot with dtrum.enable()

~

Discuss if needed at all

[2022-10-13 08:31] fernandolucchesi commented on #1256
Looks good!

[2022-10-13 08:39] SvSven commented on #1283
I think that's a good start. Not sure if adding it for a people promotion causes any issues if there are multiple people promotions, but it's worth looking into. It's a shame they chose to have all the CVs as an accordion on a single page; we could otherwise add structured data on a per-person basis if everyone important enough had their own URL.

We should check with the SEO agency if they have a

[2022-10-13 10:30] meols commented on #1067
@fernandolucchesi - closing this one for now. We may revisit the issue at a later point

[2022-10-13 10:30] #1067 closed

[2022-10-13 10:34] meols commented on #741
@fernandolucchesi - we'd like to start with adding bold, italic and strikethrough. We'll discuss further on color options in the future.

[2022-10-13 10:40] meols opened #1310 "Big text component"

[2022-10-13 10:41] meols commented on #1310
To be further discussed and detailed out

[2022-10-13 10:42] NickHaggerty1 commented on #1310
![Screenshot 2022-10-13 at 12.40.49.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/a62fcd4d-dca7-437e-8011-a95e916848cc)

[2022-10-13 10:42] NickHaggerty1 commented on #1310
![Screenshot 2022-10-13 at 12.40.49.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/45448473-20ef-4b49-9487-d9aaadb2a65b)

[2022-10-13 10:48] NickHaggerty1 opened #1311 "Add Caption and credit fields to Full Width Image component"
We see the need to have optional caption and credit fields on the wide image also. This should be same as the Image component in terms of style.

Example to follow for placement of where the text should start from will be supplied.

[2022-10-13 10:53] NickHaggerty1 opened #1312 "Horizontal scroll for PROMOTION component on Mobile view"
We would like to have the option to display ALL VARIANTS of the Promotion component to be scrollable/swipeable on mobile view.

Should this be set to default ON? or will this impact on existing promotion examples?  And have the option to toggle off?

This should also include the News template example of promotion that pulls in the last 3 at the bottom.

[2022-10-13 11:06] NickHaggerty1 opened #1313 "Simple carousel component"
To solve certain communication needs we would like to implement a carousel component to display images and caption & credit.

Are there any accessibility issues to be aware before creating?

Optional title (h2)
Option to add multiple images (use Image component setup as basis)
Optional to add caption per image. Should/could this be character limited?
Optional to add credit per image.
Option to cho

[2022-10-13 11:28] padms commented on #1302
@meols We need translations for Cookiebot dialog text. I have listed the text[ here ](https://statoilsrm-my.sharepoint.com/:x:/g/personal/padms_equinor_com/EfBIFgfOkdFGmqGzju0hVUoBWc-bZAf9c0NGAUBYnCfCwg?email=meols%40equinor.com&e=fXzzmf)

[2022-10-13 11:32] NickHaggerty1 commented on #1251
@SvSven @meols @fernandolucchesi  @padms Hey. We are looking into the individual cards relating to this so will accept as we go. In general though we a missing some elements for the landing page. In particular banner image (with all the options that are also being worked on) Text block component between the banner and feed. Is this a separate task/card that hasnt been worked on yet?

[2022-10-13 11:33] NickHaggerty1 commented on #1251
![Screenshot 2022-10-13 at 13.32.37.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/c720bce1-2e60-4f16-a67e-03bc728896a7)

[2022-10-13 11:34] NickHaggerty1 commented on #1290
Approved good stuff.

[2022-10-13 11:35] NickHaggerty1 commented on #1268
Approved. Thanks

[2022-10-13 12:10] NickHaggerty1 commented on #1269
@fernandolucchesi @SvSven Hey.. Looks good. One small issue we have noticed - and it may be user error here - we added a tag to already published magazine articles and re published. The tag doesnt show on the landing page feed display. And also doesnt get captured as a filter (EG we added innovation to Mettes second magazine and it doesnt show)

[2022-10-13 12:12] fernandolucchesi opened #1314 "Review pipeline warnings"
The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-10-13 12:20] NickHaggerty1 commented on #1266
@padms @fernandolucchesi the screengrab attached highlights the issue with the title coming after the banner but before the horizontal bar

[2022-10-13 12:21] SvSven commented on #1269
Not user error - we don't automatically index things on the global-development dataset, and since the magazine landing page is generated with Algolia content those changes won't show there until we manually trigger the indexing.

Coincidentally I just did that as you posted this comment; since I made some more dummy articles to ensure that we would see/be able to test the pagination as well - so t

[2022-10-13 12:25] NickHaggerty1 commented on #1251
Dont forget about the issue relating to Header placement on the different banners also ref #1146 #1121

[2022-10-13 13:26] #1296 closed

[2022-10-13 13:26] #1289 closed

[2022-10-13 13:26] #1297 closed

[2022-10-13 13:28] fernandolucchesi commented on #1261
still missing a dependency in the dependency array:
<img width="628" alt="image" src="https://user-images.githubusercontent.com/23337266/195609754-41347bbd-2baa-401d-86d4-70ffc4ca788e.png">

[2022-10-14 09:53] NickHaggerty1 commented on #1251
![Screenshot 2022-10-14 at 11.51.50.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/7a968160-2ccb-4320-9b87-2395f75248f0)

[2022-10-14 09:57] padms commented on #1261
Missed that one. Done now

[2022-10-14 10:00] NickHaggerty1 commented on #1251
Hi After some thought and discussion with Fernando. We would like to adjust the order/structure for the Magazine landing page only. We felt that the horizontal bar might be too far away from the feed if we feature Title / Text / link between the two. So, as per the sketch above we would like:

- Banner options as Topic and magazine article templates
- Title (H1)
- Text options for H2 / H3 / paragr

[2022-10-14 10:00] NickHaggerty1 commented on #1251
@meols @fernandolucchesi @SvSven @padms FYI

[2022-10-14 12:47] meols commented on #1302
Thanks @padms for the file - I'll look into this together with Trude on Monday and send for translations. I hope (and assume :wink: ) that this isn't holding up anything in the process for setting up the site. We will start with the English content (as usual), and someone in the stakeholder end will handle content translations to Welsh afterwards.

[2022-10-14 12:51] fernandolucchesi commented on #1302
hi @meols , studio and web are ready to use:
https://studio-celticsea-equinor-web-sites-prod.c2.radix.equinor.com/
https://web-celticsea-equinor-web-sites-prod.c2.radix.equinor.com/

the mapping to the correct domain / ssl takes a bit longer since it is not dependent on us. @padms can you raise service now tickets for these?

[2022-10-14 12:52] fernandolucchesi commented on #1302
it is already possible to start creating content

[2022-10-14 12:55] meols commented on #1302
Great! :clap:
Thanks for the urls :smile:
@NickHaggerty1

[2022-10-14 12:57] meols commented on #1302
@padms - when raising a ticket for it, please note that the planned go-live date for this is 7 November. Can you please ask them to confirm if they are able to deliver for that date.
@fernandolucchesi

[2022-10-14 13:56] meols opened #1316 "Remove Stock text snippet from satellite sites"

[2022-10-14 13:57] meols commented on #1316
Can we please remove the "Stock API: NYSE time delay message" text snippet' from satellite sites. It is only relevant for the stock graphs, which only is in use on our investors page (in the global site).

[2022-10-17 05:17] padms commented on #1305
https://equinor.service-now.com/nav_to.do?uri=sc_req_item.do%3Fsys_id=d08e0a1587e611d4e06962090cbb3518

[2022-10-17 05:36] padms commented on #1302
https://equinor.service-now.com/nav_to.do?uri=sc_req_item.do%3Fsys_id=b9c3295a872ad194e70032e83cbb3597

[2022-10-17 07:05] SvSven commented on #1184
@fernandolucchesi @padms @bhavi25 @nilsml

Have expanded upon my previous checklist draft with a wiki page - let me know what you think: https://github.com/equinor/energyvision/wiki/Guide-to-upgrading-dependencies

[2022-10-17 07:39] SvSven commented on #1251
You should be able to see/test the pagination, I added a bunch of dummy articles: https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine

[2022-10-17 07:42] SvSven commented on #1114
This is an issue with React 18 and hasn't been fixed upstream yet:

https://github.com/algolia/react-instantsearch/issues/3441

https://github.com/facebook/react/issues/22796

Don't think there's anything we can do on our end with this yet - but it shouldn't cause any issues to have the warning.

[2022-10-17 08:13] padms commented on #833
@nilsml ready to be reviewed.

[2022-10-17 08:13] SvSven opened #1318 "pagination should scroll to the top of the page when changing page"
Currently when clicking on a different page in the pagination, it stays at the bottom of the screen - the UX should be that it scrolls to the top when navigating the pagination

[2022-10-17 08:18] fernandolucchesi opened #1319 "Temporarily redirect celticsea radix url to equinor.com"

[2022-10-17 08:18] SvSven opened #1320 "investigate adding algolia pagination to URL"
We do not currently store which page of the pagination the user is at in the URL. We should investigate how much effort it would be to do this and if it has any negative effects (SEO, SiteImprove, etc)

--

## Acceptance criteria

- [ ] Store page number in URL
- [ ] When sharing link with page number in URL, automatically set pagination to that page

[2022-10-17 08:19] fernandolucchesi commented on #1270
https://github.com/garmeeh/next-seo

[2022-10-17 08:22] fernandolucchesi commented on #1283
Closing this, created #1270

[2022-10-17 08:22] #1283 closed

[2022-10-17 08:27] fernandolucchesi opened #1321 "Cleanup and Reindex algolia content"
- [ ] Fix typo before reindexing content in search/IndexSanityContent/topic/mapper.ts
<img width="722" alt="image" src="https://user-images.githubusercontent.com/23337266/196924850-e373af90-d4fd-4e34-82ed-b607870bc3dc.png">

[2022-10-17 08:45] fernandolucchesi opened #1322 "Display magazine tag bar in between header components"
#1266 #1121

- [x] Improve title margin #1121

[2022-10-17 10:18] bhavi25 commented on #1121
@meols @NickHaggerty1 -Hero title and Hero ingress are in place now.

[2022-10-17 10:53] nilsml commented on #833
Reviewed and commented on the commit itself

[2022-10-17 11:33] fernandolucchesi opened #1323 "Link to another languages feature"
Add linking to another language support to different components:
- [x] CTA
- [x] Text Link
- [x] Promo sections in menu
- [x] Text Block
- [x] Teaser
- [x] Accordion
- [x] Promo tiles
- [x] Promotion
- [x] Table

[2022-10-17 12:01] NickHaggerty1 commented on #1121
@meols @bhavi25 Im still seeing the Title before the horziontal bar:
https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine/test1_magazine

[2022-10-17 12:03] fernandolucchesi commented on #1121
@NickHaggerty1, this will be fixed for this banner and for the full image banner in #1322

[2022-10-17 12:04] NickHaggerty1 commented on #1121
@bhavi25 On topic page it is working as expected, I think the padding between the Title and the text block is a bit too much though![50-50 banner.png](https://images.zenhubusercontent.com/62e8c66dc59ea7c87816be13/1bb428fd-ad30-41fe-ba6b-30aa9ad78fd5).

[2022-10-17 12:07] NickHaggerty1 commented on #1121
@fernandolucchesi @meols @bhavi25 Im still seeing the Title before the horziontal bar: https://web-global-development-equinor-web-sites-dev.c2.radix.equinor.com/magazine/test1_magazine

@NickHaggerty1, this will be fixed for this banner and for the full image banner in #1322

OK Great

[2022-10-17 12:41] fernandolucchesi commented on #1266
Hi @padms, I've just tested and it looks correct to me

[2022-10-17 13:46] fernandolucchesi commented on #1261
LGTM ✅

[2022-10-18 07:59] meols commented on #1323
@fernandolucchesi - we'd like the option in all components with link options:
![image.png](https://images.zenhubusercontent.com/5fbbf4f2bab8ae744cb6560f/45da7ae9-cc9b-417b-9e98-f8c210a70092)

[2022-10-18 08:03] SvSven commented on #628
@fernandolucchesi @padms @bhavi25

This is ready for review, I didn't add any feature flags for it since the feature was already there with dummy tags, so not sure if we need it featured flagged or not.

It works the same as the tags for the news, local news, magazine, etc - we can create and manage tags under "Settings" in the Studio.

[2022-10-18 08:19] #1223 closed

[2022-10-18 08:26] fernandolucchesi commented on #1131
Plan a workshop day

[2022-10-18 08:30] fernandolucchesi commented on #472
#1309 Decide on what to do monitoring-wise

[2022-10-18 08:34] fernandolucchesi opened #1324 "Mechanism to find unused assets"
### Feature Flagged

- [x] studio\src\lib\structure\items\AssetLibrary.js

[2022-10-18 08:39] #853 closed

[2022-10-18 08:45] #855 closed

[2022-10-18 08:49] SvSven commented on #1295
To be handled by @fernandolucchesi and/or @padms

[2022-10-18 08:51] meols opened #1325 "Preview showing English content in Norwegian structure when duplicating a page"

[2022-10-18 09:54] SvSven opened #1326 "Malin onboarding"
Let's give Malin a nice and welcoming onboarding! 🥳

--------
# Onboarding

- [x] Let's get productive!
    - [x] Add to slack channels
    - [x] Prepare list of nice first issues
    - [x] Setup and run code locally

---

- [ ] Meet the team!
    - [ ] 20 min 1-1 call with @SvSven
    - [ ] 20 min 1-1 call with @fernandolucchesi
    - [ ] 20 min 1-1 call with @padms
    - [ ] 20 min 1-1 call with

[2022-10-18 10:29] fernandolucchesi commented on #1295
<img width="621" alt="image" src="https://user-images.githubusercontent.com/23337266/196406377-891a6e49-a0f5-44f8-b2bd-af9ec90d7429.png">

everything working as it should =)

[2022-10-18 11:10] nilsml commented on #1326
This is a great list!

[2022-10-18 12:08] padms commented on #628
@SvSven Event promotion are not filtered based on event tags.

[2022-10-18 12:21] SvSven commented on #628
@padms Are you sure? They should be filtered 🤔 https://github.com/equinor/energyvision/blob/main/web/lib/queries/common/pageContentFields.ts#L309

[2022-10-18 12:24] padms commented on #1184
@SvSven I think we can also include webhooks and redirects in this list.

[2022-10-19 05:09] padms commented on #628
@SvSven I think so, but it is confusing that when I select past events and select tags, they are not filtered.

[2022-10-19 10:08] padms commented on #833
@nilsml Refactored :)

[2022-10-19 12:12] meols commented on #1121
@NickHaggerty1 - can you please check if your comments are captured here

[2022-10-19 12:13] meols commented on #1266
@NickHaggerty1 - can you please check if your comments are captured

[2022-10-19 12:18] NickHaggerty1 commented on #1121
@meols @fernandolucchesi @bhavi25 Hi I notice the spacing request for the title text above the first Text component has not been captured on the TOPIC or Magazine templates. Can you please take a look at the request above and lets us know if this captured elsewhere (I don't see the acceptance specified on 1322 either) I think this should be adjusted before deploy...

[2022-10-19 12:34] SvSven commented on #628
Ahh yes, you were correct - I forgot to add the filter to the query for past events. Have fixed this and refactored the structure of the code a bit.

Should be working now 👀

[2022-10-19 12:37] SvSven commented on #1318
I added a `scrollTo` to the pagination code. Unfortunately the `refine()` function from Algolia returns void, so we can't do a promise chain or anything like that; so instead I used a `useEffect`. Initially I was just running it immediately after `refine()` but then it scrolled up while in the background the list changed, which looked confusing and weird.

Might even be an idea to add a short 300m

[2022-10-19 13:01] SvSven commented on #1319
Looks good to me ✅

We should make a note to remove this once the celticsea site is launched.

[2022-10-19 20:39] fernandolucchesi commented on #1322
Hi @bhavi25 left some comments for you, please check :)

[2022-10-19 20:47] fernandolucchesi commented on #1318
Hmm I think adding the delay is nice. Tbh I don't like the scroll to the top, specially because we will probably have a big banner. Can we scroll to an #id and use the magazine tag bar as anchor point instead?

[2022-10-19 20:54] fernandolucchesi commented on #1319
@padms, if I understood correctly you raised a service now ticket pointing the equinorcelticsea.co.uk domain to equinor.com. So this logic is not needed... This would be needed in case it were pointing to https://web-celticsea-equinor-web-sites-prod.c2.radix.equinor.com/. But it as good thing that the request is pointing to equinor.com since we are on a deployment freeze and wouldn't be able to ha

[2022-10-19 20:55] fernandolucchesi commented on #1319
ref https://equinor.service-now.com/selfservice?id=ticket&table=sc_req_item&sys_id=9fde9e9287e25594e70032e83cbb3524

[2022-10-20 07:07] nilsml commented on #833
Really nice @padms! You are close to being a certified Functional Developer 🤓 Great work!

[2022-10-20 07:08] nilsml commented on #1138
Isn't this finished @padms?

[2022-10-20 07:54] fernandolucchesi commented on #1295
@meols everything seems to be working fine, can you please test it by duplicating into the dev dataset?

[2022-10-20 07:56] fernandolucchesi commented on #1318
https://dev.to/dagasatvik10/react-usescrollto-hook-3263

[2022-10-20 08:10] fernandolucchesi commented on #1305
Please escalate to knut 😬

[2022-10-20 08:16] fernandolucchesi opened #1327 "Investigate if we can index text with striketrough in algolia"
#741

[2022-10-21 06:48] padms commented on #628
@SvSven Is always empty when no tags are selected.

[2022-10-21 07:57] fernandolucchesi commented on #1306
LGTM ✅

[2022-10-21 08:46] SvSven opened #1328 "Investigate how to handle SVGs from Fotoware"
The icons and illustrations archive will be migrated from Brandmaster to Fotoware. According to Fotoware, their Export feature does not support SVG files which means our current asset-source integration is incompatible with this.

We need to figure out how to handle SVG files and other files that potentially do not work with Fotoware's export feature.

The main challenges we have with integrating

[2022-10-21 11:56] SvSven commented on #1318
@fernandolucchesi now using React context ✨

This is quickly becoming quite over-engineered but yeah 😅
Tried adding the ref to an element a bit above the actual results to compensate for the `position: fixed` topbar, but we can tweak that if necessary.

[2022-10-21 12:41] SvSven commented on #628
@padms it should now work again without tags - I don't like the way I had to solve it but I don't think there is a better/cleaner way of doing it in Groq 😕

[2022-10-23 18:54] fernandolucchesi commented on #1121
Hi @NickHaggerty1, added the request to to #1251